[2018-06-29 09:39] AnitaVPN commented on #1166
Having same issue when run with device , did anyone has any solutions ?

[2018-06-29 11:18] nateshmbhat commented on #5
See this site : https://stackoverflow.com/questions/507602/how-can-i-initialise-a-static-map

[2018-06-29 13:20] arled commented on #1156
Thanks @chrisbianca 👍

[2018-06-29 13:48] Salakar commented on #1252
@0paIescent android? iOS? Versions? 😛 The [tests for transactions](https://github.com/invertase/react-native-firebase/blob/master/bridge/e2e/firestore/transactions.e2e.js) are all passing so not sure what the difference is here.

[2018-06-29 13:51] Salakar commented on #1255
@OMP1024 please provide the error message not just the stack. Also please provide your versions of RN, RNFB etc

[2018-06-29 15:02] ecexplorer opened #1257 "[Android] Play Services isAvailable() doesn't update"
### Issue

After prompting the user to update Google Play Services (Android only), when the user comes back into the context of the app, I check `utils.playServicesAvailability`, and none of the values change (even in the event of an update to Play Services). Looking into the source, the culprit seems to be that `getPlayServicesStatus()` (https://github.com/invertase/react-native-firebase/blob/a09

[2018-06-29 18:55] code-matt opened #1258 "Firebase.h not found, manual install"
![screen shot 2018-06-29 at 2 50 20 pm](https://user-images.githubusercontent.com/17485082/42109527-e9c7d2ec-7bab-11e8-9734-85dd9b3aa6b6.png)

^ This is in a up to date create-react-native-app project thats clean besides this.

[code]

I have gone about manual installation in 2 ways, first creating a Firebase folder and manually linking everything.

The second I just installed the package and did

[2018-06-29 18:56] code-matt commented on #1258
I have managed to get around this locally (not sure how) by heavily messing with RNFirebase.xcodeproj build phases and settings.

That does nothing for me though as no one in the office can clone these repos and have them build since those changes do not persist.

[2018-06-29 19:00] drewandre commented on #1258
I'm experiencing the same issue with RN v0.55.0. I was able to install using pods but I would prefer to not use pods in this project. Any help regarding header/framework search paths would be great!

[2018-06-29 20:21] Ayiga commented on #1160
@Salakar I don't believe this affects `iOS`, only `Android`.

Based on the code in the [initial commit](https://github.com/invertase/react-native-firebase/commit/cc8799b465d1ff24da69ef0fab9e8c0b9b69de15#diff-316886985b34cbe89e03d6d8cd69c16dR128), `iOS` `database` `reference` creation only has one path.

Please let me know if you have any questions,

Thanks,

~ Ayiga

[2018-06-29 20:56] 0paIescent commented on #1252
Ah sorry, Android, RNFirebase: 4.2.0. It's super weird because I can stick a console.log in the transaction and that won't even run. I'm sure I'm just missing something, I'll take another look at it later tonight.

[2018-06-29 21:22] wasedaigo commented on #437
@mustivar I sent a PR with your change. It got merged:) thank you.

[2018-06-29 22:01] colelloa commented on #1258
Experiencing same issue - any help would be great

[2018-06-30 08:40] Ehesp commented on #1231
If you're still having issues please respond with some code usage and we'll pick this back up. Cheers.

[2018-06-30 08:40] #1231 closed

[2018-06-30 08:45] Ehesp commented on #1104
Closing this one due to lack of response - I'd suggest checking the path returned is correct and doesn't contain inconsistent data as per dethells response. If you still have no luck, we'll reopen and help investigate further.

[2018-06-30 08:45] #1104 closed

[2018-06-30 08:50] Ehesp commented on #1210
Hi @wbattel4607 this one will be tricky for us to debug without a replicated repo for us to work on. Are you able to create a barebones repository which triggers this issue and we can see if its directly related to this library or not?

Thanks

[2018-06-30 08:52] wbattel4607 commented on #1210
@Ehesp I recreated my RN project from scratch and now the problem is gone. I still don't know what the problem was but I'm past it now.

[2018-06-30 08:52] #1210 closed

[2018-06-30 08:54] Ehesp commented on #1241
@savvopoulos Could you try adding a network listener in RN (https://facebook.github.io/react-native/docs/netinfo.html) to check whether your device/app actually comes back online from a React Native sense? May not be related as the native SDKs should handle this but there has been a few related issues in the past.

[2018-06-30 13:19] ObidosDev commented on #1236
Looks like problem with context... but where you loose it I do not know. My problem was with redux-saga `yield call(firebase.messaging().requestPermission)` -> `yield call([firebase.messaging(), 'requestPermission'])`

[2018-06-30 17:45] judemanutd commented on #1238
@Ketn I don't see any code of a channel being created, neither is a default channel mentioned in your manifest file. You won't be able to create any notifications without a channel post nougat I think.

[code]

[2018-06-30 23:38] Ketn commented on #1238
@judemanutd Default channel exists in AndroidManifest.xml already. Must have missed putting it in while writing this post.

[code]

And I've tested on **Android 5.1.1**. This problem exists in all versions of android. For some reason, the headlessTask kills itself when the app is closed. Idk why though. Any way to figure out the reason?

[2018-07-01 04:37] judemanutd commented on #1238
@Ketn can you try it on an older device kitkat or below, I suspect this might be an issue with doze mode or battery optimizations.

[2018-07-01 10:32] Ketn commented on #1238
Using stock android. Notifications from all other apps work just fine.

[2018-07-01 12:43] Salakar opened #1259 "[Proposal][WIP] AdMob overhaul"
Hi all 👋

We're aware that AdMob support has fallen behind recently and we plan to address this by overhauling the module for a potential 4.x.x/5.x.x release which will include rewriting it to ensure that it provides the all the functionality in an easy to use and reliable manner.

This issue is a placeholder that will be updated as we have more details on what will be supported and how this will

[2018-07-01 12:44] Salakar commented on #437
Thanks for reporting this issue. We're aware that AdMob has fallen behind on React Native Firebase and would like to bring it up to speed again. I will close this issue for now and track it as well as other issues collectively over on the `AdMob overhaul proposal` to be addressed in a future release. See #1259

[2018-07-01 12:44] #437 closed

[2018-07-01 12:44] Salakar commented on #865
Thanks for reporting this issue. We're aware that AdMob has fallen behind on React Native Firebase and would like to bring it up to speed again. I will close this issue for now and track it as well as other issues collectively over on the `AdMob overhaul proposal` to be addressed in a future release. See #1259

[2018-07-01 12:44] #865 closed

[2018-07-01 12:44] Salakar commented on #1182
Thanks for reporting this issue. We're aware that AdMob has fallen behind on React Native Firebase and would like to bring it up to speed again. I will close this issue for now and track it as well as other issues collectively over on the `AdMob overhaul proposal` to be addressed in a future release. See #1259

[2018-07-01 12:44] #1182 closed

[2018-07-01 12:45] Salakar commented on #1077
Thanks for reporting this issue. We're aware that AdMob has fallen behind on React Native Firebase and would like to bring it up to speed again. I will close this issue for now and track it as well as other issues collectively over on the `AdMob overhaul proposal` to be addressed in a future release. See #1259

[2018-07-01 12:45] #1077 closed

[2018-07-01 12:45] Salakar commented on #953
Thanks for reporting this issue. We're aware that AdMob has fallen behind on React Native Firebase and would like to bring it up to speed again. I will close this issue for now and track it as well as other issues collectively over on the `AdMob overhaul proposal` to be addressed in a future release. See #1259

[2018-07-01 12:45] #953 closed

[2018-07-01 12:45] Salakar commented on #1218
Thanks for reporting this issue. We're aware that AdMob has fallen behind on React Native Firebase and would like to bring it up to speed again. I will close this issue for now and track it as well as other issues collectively over on the `AdMob overhaul proposal` to be addressed in a future release. See #1259

[2018-07-01 12:45] #1218 closed

[2018-07-01 12:46] Salakar commented on #651
Thanks for reporting this issue. We're aware that AdMob has fallen behind on React Native Firebase and would like to bring it up to speed again. I will close this issue for now and track it as well as other issues collectively over on the `AdMob overhaul proposal` to be addressed in a future release. See #1259

[2018-07-01 12:46] #651 closed

[2018-07-01 12:46] Salakar commented on #433
Thanks for reporting this issue. We're aware that AdMob has fallen behind on React Native Firebase and would like to bring it up to speed again. I will close this issue for now and track it as well as other issues collectively over on the `AdMob overhaul proposal` to be addressed in a future release. See #1259

[2018-07-01 12:46] #433 closed

[2018-07-01 12:46] Salakar commented on #442
Thanks for reporting this issue. We're aware that AdMob has fallen behind on React Native Firebase and would like to bring it up to speed again. I will close this issue for now and track it as well as other issues collectively over on the `AdMob overhaul proposal` to be addressed in a future release. See #1259

[2018-07-01 12:46] #442 closed

[2018-07-01 12:46] Salakar commented on #263
Thanks for reporting this issue. We're aware that AdMob has fallen behind on React Native Firebase and would like to bring it up to speed again. I will close this issue for now and track it as well as other issues collectively over on the `AdMob overhaul proposal` to be addressed in a future release. See #1259

[2018-07-01 12:46] #263 closed

[2018-07-01 12:56] Salakar opened #1260 "[Proposal][WIP] Storage improvements"
Hi all 👋

`storage()` has fallen slightly behind recently and we plan on improving the module for a 5.x.x release which includes improving it to ensure that it provides the all the functionality in an easy to use and reliable manner with better documentation and bug fixes.

This issue is a placeholder that will be updated as we have more details on what will be supported and how this will be struc

[2018-07-01 12:59] Salakar commented on #1232
Thanks both for reporting this issue and helping me debug the issue with a proposed fix.

I will close this issue for now and track it as well as other issues collectively over on the Storage improvements proposal to be addressed in a future release. See #1260

[2018-07-01 12:59] #1232 closed

[2018-07-01 12:59] Salakar commented on #791
Thanks for reporting this issue. We're aware that Storage has fallen behind slightly on React Native Firebase and would like to bring it up to speed again. I will close this issue for now and track it as well as other issues collectively over on the Storage improvements proposal to be addressed in a future release. See #1260

[2018-07-01 13:00] Salakar commented on #739
Thanks for reporting this issue. We're aware that Storage has fallen behind slightly on React Native Firebase and would like to bring it up to speed again. I will close this issue for now and track it as well as other issues collectively over on the Storage improvements proposal to be addressed in a future release. See #1260

[2018-07-01 13:00] Salakar commented on #302
Thanks all for reporting this issue and the discussion around it.

We're aware that Storage has fallen behind slightly on React Native Firebase and would like to bring it up to speed again. I will close this issue for now and track it as well as other issues collectively over on the Storage improvements proposal to be addressed in a future release. See #1260

[2018-07-01 13:00] #302 closed

[2018-07-01 13:01] Brumor opened #1261 "react-native-firebase and react-native-sound"
### Issue

Hey everyone !

I've been trying to use react-native-sound inside the Basic Starter Kit for react native firebase and I keep having errors, I'm pretty new to react native and have no clue what the problem is, here is what happen when I run react-native run-android:

thanks in advance for any help !

### Environment

1. Application Target Platform: Android
2. Development Operating System

[2018-07-01 13:01] Salakar commented on #775
Thanks for reporting this issue. This is something we're going to add support for.

We're aware that Storage has fallen behind slightly on React Native Firebase and would like to bring it up to speed again. I will close this issue for now and track it as well as other issues collectively over on the Storage improvements proposal to be addressed in a future release. See #1260

[2018-07-01 13:01] #775 closed

[2018-07-01 13:02] Salakar commented on #1177
Thanks for reporting this issue.

We're aware that Storage has fallen behind slightly on React Native Firebase and would like to bring it up to speed again. I will close this issue for now and track it as well as other issues collectively over on the Storage improvements proposal to be addressed in a future release. See #1260

[2018-07-01 13:02] #1177 closed

[2018-07-01 13:03] Salakar commented on #1200
Thanks for reporting this issue.

We're aware that Storage has fallen behind slightly on React Native Firebase and would like to bring it up to speed again. I will close this issue for now and track it as well as other issues collectively over on the Storage improvements proposal to be addressed in a future release. See #1260

[2018-07-01 13:03] #1200 closed

[2018-07-01 13:07] Salakar commented on #1261
@Brumor this is most likely an issue with your setup of `react-native-sound` - did you run the link command as per their readme? Check it's added to your settings Gradle as per their [manual install guide for android](https://github.com/zmxv/react-native-sound/wiki/Installation#manual-installation-on-android) if not.

[2018-07-01 13:07] #1261 closed

[2018-07-01 13:15] judemanutd opened #1262 "crashlytics.log is undefined"
### Issue
Using `firebase.crashlytics.log("test");` throws and error
[code]

### Environment

1. Application Target Platform: Android, untested on iOS

2. Development Operating System: Windows 10

3. Build Tools: Android Studio

4. React Native version: 0.55

5. RNFirebase Version: 4.2.0

6. Firebase Module: Crashlytics

`app/build.gradle`

[code]

`project build.gradle`

[code]

It is worth notin

[2018-07-01 13:16] Salakar commented on #1262
@judemanutd thanks for the issue, am I right to assume you're using typescript?

[2018-07-01 14:09] adirzoari commented on #530
@omgo  I'm facing the same issue. did you find solution?

[2018-07-01 14:33] judemanutd commented on #1262
@Salakar I am actually not, neither am I using flow.

[2018-07-01 14:35] gagaJay opened #1263 "Cannot read property 'collection' of undefined"
### Issue

Im using the sample app "react-native-firebase-starter" to try out the feature of firestore. I follow the instruction on the page and everything works just like the page said: Cloud Firestore module is enabled.
![screen shot 2018-07-02 at 2 24 22 am](https://user-images.githubusercontent.com/3827781/42135440-25330884-7d9f-11e8-94d6-4b3b4667e1cd.png)

But things changed when i try to uti

[2018-07-01 16:21] Ehesp commented on #1263
As per the [docs](https://rnfirebase.io/docs/v4.2.x/firestore/reference/firestore#collection) and web SDK, you need to call firestore which provides access to the methods:

[code]

[2018-07-01 16:21] #1263 closed

[2018-07-01 16:34] Ehesp commented on #1252
@0paIescent could you should show your code usage?

[2018-07-01 16:35] Ehesp commented on #1262
Will close this off, please try the above and let us know whether you still have the issue and we shall reopen.

[2018-07-01 16:35] #1262 closed

[2018-07-01 16:40] judemanutd commented on #1262
@Ehesp thanks, I didn't realise the mistake in the syntax.

[2018-07-01 16:58] Salakar commented on #1259
Quick poll; should Admob remain part of this library or should we break it out into it's own library?

Click one to vote:

[![](https://api.gh-polls.com/poll/01CHBCD3WJ4VT55B9BDR9X4ZJJ/Stay%20as%20part%20of%20React%20Native%20Firebase)](https://api.gh-polls.com/poll/01CHBCD3WJ4VT55B9BDR9X4ZJJ/Stay%20as%20part%20of%20React%20Native%20Firebase/vote)
[![](https://api.gh-polls.com/poll/01CHBCD3WJ4VT55

[2018-07-01 17:03] Salakar commented on #1257
@ecexplorer good spot, I guess the best thing for us to do would be move this to a callable method on the `utils()` module, will mean it becomes asynchronous though rather than synchronous like it is on the statics.

[2018-07-01 17:09] Salakar commented on #1060
Hi all, we'll look at adding support for this as part of the v5.x.x release cycle.

The first release for it will most likely just have built-in model support only. We can look at custom model support at a later date.

[2018-07-01 17:19] Salakar commented on #452
Thanks all for the solutions on this and the write-ups. Lets move this discussion over to https://github.com/invertase/react-native-firebase-docs/issues/76 which is a duplicate of this.

[2018-07-01 17:19] #452 closed

[2018-07-01 18:31] amanthegreatone opened #1264 "getInitialNotification not getting called when sending data message with app closed"
### Issue

I have setup this package as per the instructions in the documentation for both android and ios. I am sending data messages to my app through Postman.

Here is the body for the postman request for sample data message being sent:

[code]

For ios I am able to receive this message in the onMessage when the app is in foreground as well as in background. When I close my app and send some mo

[2018-07-01 20:38] Vaibhavmarch98 commented on #20
I faced the same prblm
soln
make a button-> on click-> reload
ask the user to verify after the user has been verfied
in reload do not run .reload() its not working
but manually sign in and sign out

[2018-07-02 03:18] kohchihao commented on #1245
Hey, any of yall got it working? I am still unable to get it to work.

my **build.grade**

[code]

[2018-07-02 07:52] kevindavee opened #1266 "Dynamic Link on iOS not is receiving parameter from URL"
Hi guys,

I want to ask. The URL receive by `.getInitialLink()` and `.onLink()` is different when the dynamic link URL is typed and click.

1st case:
- Type the link in safari
- Showed Preview page and I click the open the app button
- It redirect to my app and the url received is
https://yummybox.page.link/?link=<the long url which I can put parameters>&apn=...........etc.

2nd case:
I want to tr

[2018-07-02 07:54] gagaJay commented on #1263
That works now, so the doc sample is wrong. It would be good if someone can update it.

[2018-07-02 07:57] tclarke-scottlogic opened #1267 "Unable to load data when app is backgrounded (triggered by notification)"
If I get a push notification on iOS, I want to pull some related data from the Firebase database in the background, so my user can read their articles on the train.

I'm getting the appropriate onDisplayNotification event, and it's reliably triggering, but when I query the database, it doesn't load the relevant data until the app is foregrounded, by which time the user may be offline.

So how can

[2018-07-02 08:03] chrisbianca commented on #1263
@gagaJay Can you direct us to the documentation sample that you think is wrong?

[2018-07-02 08:12] chrisbianca commented on #1267
@tclarke-scottlogic This is related to: https://github.com/invertase/react-native-firebase/issues/971

In trying to simplify the messaging and notification process as part of v4, we had hidden some of the control that iOS offers when handling background messages and notifications.  We need to reinstate this functionality in a simple to understand manner.  I'm going to close this issue to remove th

[2018-07-02 08:12] #1267 closed

[2018-07-02 08:15] gagaJay commented on #1263
sure. Please check the link below, all examples within are importing firestore directly from 'react-native-firebase'.

https://rnfirebase.io/docs/v4.2.x/firestore/transactions

[2018-07-02 08:20] chrisbianca commented on #1263
Thanks, I've just updated here: https://github.com/invertase/react-native-firebase-docs/commit/5d6a3d6b206fb0303bf30424209a4e7250fc4e75#diff-10be5f2aea8b3783771475163db77ab0

This will take 10-15 minutes to filter through onto the docs website.

[2018-07-02 08:23] gagaJay commented on #1263
nice, i can see it now. good job!

[2018-07-02 08:29] tclarke-scottlogic commented on #971
Is there a recommended workaround for those of us with deadlines?
;-)

[2018-07-02 08:43] chrisbianca commented on #971
Depends how comfortable you are with native code? ;)

The methods of interest are these:

1) https://github.com/invertase/react-native-firebase/blob/master/ios/RNFirebase/notifications/RNFirebaseNotifications.m#L100
2) https://github.com/invertase/react-native-firebase/blob/master/ios/RNFirebase/notifications/RNFirebaseNotifications.m#L189

The challenge is identifying how the handler is responded

[2018-07-02 08:59] tclarke-scottlogic commented on #971
In order to make my deadlines, I am willing to make sacrifices, like learning new and exciting things.

[2018-07-02 09:21] kohchihao commented on #1245
Hi there, i just managed to solve this problem.

I opened `Android Studio` and look for `react-native-firebase` gradle file.

i updated the dependencies to
[code]

[2018-07-02 12:55] matt-oakes commented on #1258
Same issue for myself as well

[2018-07-02 14:02] ecexplorer commented on #1257
An asynchronous call would work just fine :) Thanks @Salakar

[2018-07-02 19:07] SamMatthewsIsACommonName commented on #1258
For what it's worth, I was also averse to using pods, but I've found in general the short term pain leads to long term gain when you start relying heavily on the firebase sdks, which are themselves always being updated with their own bug fixes etc.
For what it's worth, here is my working podfile (ignore any irrelevant libs, although the RN ones are neccesary):
[code]

[2018-07-02 20:06] code-matt commented on #1258
Maybe some of these other folks can but for me, not allowed to use Pods at work because of how they play with other packages and also git workflow in general with pods :(

[2018-07-03 04:32] SamMatthewsIsACommonName commented on #1258
Ah yeah I understand sorry

[2018-07-03 12:09] 28harishkumar opened #1268 "Notification does not received when app is closed"
### Issue

On android (oppo device), I am receiving notification only when app is either in foreground or in background but not when app is closed.

When app is in background `notificationDisplayedListener` does not work. It only show notification in notification drawer. `onNotificationOpened` is receiving data only when user clicks on notification. In other words, data will be lost if user doesn'

[2018-07-03 12:12] chrisbianca commented on #1268
@28harishkumar This is exactly how notifications work on both Android and iOS. Anything with a notification part will get intercepted by the Operating System and only passed to the application if it is already open, or the user taps on the notification.

If you want data to pass to the app without user intervention when the app is closed or in the background, then you need to look at sending a dat

[2018-07-03 12:12] #1268 closed

[2018-07-03 12:17] chrisbianca commented on #1264
@amanthegreatone These are data-only messages so they will never get passed to the `notifications` module so won't trigger `getInitialNotification`.  You should find that messages you send whilst the app is in the background or closed will trigger `messaging().onMessage` the next time the app is in the foreground.

If you wish to receive these whilst the app is in the background or closed, then yo

[2018-07-03 12:17] #1264 closed

[2018-07-03 12:18] chrisbianca commented on #1256
@ronak1992 You're using v3.3.1 - if you look at v4 there is much better support and documentation.

@anubansal92 are you also on v3.3.1?

[2018-07-03 12:19] chrisbianca commented on #1254
@tvtri96 Is there a reason you're doing `import @FirebaseMessaging` ?  There's nothing in React Native Firebase that needs this import.  You should simply be able to do `@import Firebase`

[2018-07-03 12:21] chrisbianca commented on #1242
Installation docs are here: https://rnfirebase.io/docs/v4.2.x/iid/android

Sounds like you haven't added the correct import statement

[2018-07-03 12:21] #1242 closed

[2018-07-03 13:16] anubansal92 commented on #1256
@chrisbianca I'm using v4, but I'm not getting a callback in onNotification() when I click on the notification.

[2018-07-03 15:05] chrisbianca commented on #1248
I've just added this option to both the `DocumentReference` and `CollectionReference` `get()` methods.  It will filter through as part of the next release.

[2018-07-03 15:05] #1248 closed

[2018-07-03 15:55] luskin opened #1270 "[Android] Firebase Analytics JAR not available"
### Issue

Many other of the plugins work but analytics cannot be found as per your installation instructions. Our app gradle for firebase is as follows:

[code]

but we receive the following error:
`Could not find firebase-analytics.jar (com.google.firebase:firebase-analytics:15.0.2).
Searched in the following locations:
    https://jcenter.bintray.com/com/google/firebase/firebase-analytics/15.0.

[2018-07-03 16:13] scottmas commented on #1248
You're a champion Chris!

[2018-07-03 17:23] scottmas commented on #1248
Am I reading the tests right though that the `cache` option is busted on Android? Do you think that's a google library issue?

[2018-07-03 18:30] amanthegreatone opened #1271 "onTokenRefresh being called every time the app loads"
### Issue
Every time the app loads onTokenRefresh is getting called. Seeing this on iOS simulator as of now. Will update if its the case with real devices also.

AppContainer.js
[code]

### Environment

Application Target Platform: iOS
Development Operating System: macOS High Seirra
Build Tools: XCode 9.4
React Native version: 0.54.2
React Native Firebase Version: 4.2.0
Firebase Module: Messaging

[2018-07-04 05:52] 0paIescent commented on #1252
Sure, I've reduced it all the way down to just the following to make sure I wan't missing anything:
`firestore.runTransaction(() => 'complete').then(result => console.log(result)`

but nothing ever gets printed to the console, when I copy and paste the example from the RNFirebase Docs even it doesn't run. I'm very confused, to the point that I want to just pull the existing data out, update it, an

[2018-07-04 06:32] Ehesp commented on #1255
Closing this one - please reply with the information needed and we'll be happy to reopen.

[2018-07-04 06:32] #1255 closed

[2018-07-04 06:43] Ehesp commented on #1252
@0paIescent if that is your actual code usage it would seem you are missing parenthesis, when calling `firestore`:

`firestore().runTransaction(() => 'complete').then(result => console.log(result)`

You can see an example of that in action here: https://rnfirebase.io/docs/v4.2.x/firestore/transactions

[2018-07-04 06:46] 0paIescent commented on #1252
Ah my bad, I've got a file with all my firebase constants so just exporting `auth() as auth`, `firestore() as firestore`. So it actually is running with `firestore().runTransaction...`.

[2018-07-04 06:53] Ehesp commented on #1252
Right ok no worries. Hmm, sorry if I'm covering the obvious but have you put a `.catch` statement on the end to see if any errors are throwing? A full code usage example would be really handy here!

[2018-07-04 06:55] Ehesp commented on #1205
Thanks for flagging - I'll look into this one, from a quick look I think you may be correct but will let you know for sure.

[2018-07-04 08:32] nopmengkoung opened #1272 "onNotificationOpened not working on Android (background/foreground)"
### Issue

When my app is closed and I tapped on notification getInitialNotification is working fine on both platforms, but on android when I tapped on notification and my app is in background/foreground onNotificationOpened didn't triggered. When my app in foreground I display a local notification.

[code]

### Environment

1. Application Target Platform: Both

2. Development Operating System: ma

[2018-07-04 10:05] afadili commented on #174
Please where did you put your code to track your events ?

[2018-07-04 10:38] ajangi commented on #1120
Is there any fixes found for this issue?

[2018-07-04 10:41] anubansal92 commented on #1256
@chrisbianca not getting a callback in onNotificationOpened. I'm running on iphone 8 11.3 simulator

[2018-07-04 12:13] vvusts opened #1273 "On android after installing app getInitialLink() is NULL"
### Issue

**This issue is when app is not installed on device.**

- On IOS press on dynamic link it opens store I install app, press open and `getInitialLink()` is called `url` parameter is ok.

- On Android press on dynamic link opens store I install app, press open and `getInitialLink()` is called but `url` parameter is `NULL`.

### Environment

1. Application Target Platform:

Android (5,6,7,8

[2018-07-04 15:32] bobmulder commented on #1248
@chrisbianca  do you have any indication when the next release will be?

[2018-07-04 20:47] vvusts commented on #1273
I have just debugged native code.
And I am getting `null` for `mInitialLink` in:
`nodeModules....react-native-firebase/android/src/main/java/io/invertase/firebase/links/RNFirebaseLinks.java`
Code:
[code]
How I did it.
I clicked on link on emulator.
Then I run debug from android studio which installed app on emulator.
Then this code was executed.

[2018-07-04 21:41] gidox commented on #1084
Thanks @SimonErich using long link works fine.

[2018-07-04 23:29] johnsonsu opened #1274 "[Android][Notification] Notification goes to tray silently when app in background/close"
### Issue

How can I present remote notifications received in a "head up" notification instead of going to the tray silently?

When app is running in the background or closed, remote notifications received from FCM goes to notification tray. There is no way/instruction to show as a "head up" notification (dropdown box from top of device). In the [Notification Introduction](https://rnfirebase.io/do

[2018-07-05 01:38] anhtuank7c opened #1275 "Crashlytics not installed natively on iOS"
### Issue
Crashlytics not installed natively

![simulator screen shot - iphone 8 plus - 2018-07-05 at 08 31 48](https://user-images.githubusercontent.com/3163410/42298106-5af759ac-802e-11e8-94a0-51447db1814f.png)

Pod install result

<img width="404" alt="screen shot 2018-07-05 at 8 32 41 am" src="https://user-images.githubusercontent.com/3163410/42298144-8f1eba4a-802e-11e8-9ba1-9134b006affa.png">

[2018-07-05 02:54] taeyzzz commented on #174
i apologize for that. that's my fault. i use wrong credential that why it not work

thank you

[2018-07-05 06:39] anhtuank7c commented on #1275
Sound i have to use `react-native link react-native-firebase` instead of integrate via `cocoapods`

[2018-07-05 10:38] thedc89 commented on #807
The problem occurs only when node modules for some other libraries are linked in Podfile. After I added all other libraries manually and do not run `react-native link`, it's all fine

[2018-07-05 10:39] thedc89 commented on #808
The problem occurs only when node modules for some other libraries are linked in Podfile. After I added all other libraries manually and do not run react-native link, it's all fine

[2018-07-05 12:10] danialepaco commented on #1271
I think it isn't a bug, you can store the first token you get and later when this listener is trigered you can compare... and if its diferent that's it NEW TOKEN!.. I do it this way in native ios code. Hope it helps

[2018-07-05 12:21] f0rr0 opened #1277 "Feature Request: Disable Crashlytics in Debug Builds on Android/iOS"
https://docs.fabric.io/android/crashlytics/build-tools.html#disable-crashlytics-for-debug-builds
https://docs.fabric.io/apple/crashlytics/advanced-setup.html#conditional-dsym-upload

[2018-07-05 13:23] Anum-Amin opened #1278 "Unable to Receive Silent Push Notifications on iOS"
I am unable to receive Silent Push Notification on iOS though I have followed all the steps provided in documentation from [messaging](https://github.com/invertase/react-native-firebase-docs/blob/master/docs/messaging/receiving-messages.md) and [notifications](https://github.com/invertase/react-native-firebase-docs/blob/master/docs/notifications/receiving-notifications.md). Same code is working fi

[2018-07-05 13:52] Salakar commented on #1277
Thanks for flagging, we're doing a custom init of Crashlytics in our internal re-write of it, so this should be supportable hopefully in a future release.

Will close and track in internal board and reply when it's being worked on / planned to be released.

[2018-07-05 13:52] #1277 closed

[2018-07-05 15:45] borapop commented on #1272
Same issue

[2018-07-05 15:53] johnsonsu commented on #1274
@haseebnaseem, we are currently using a custom foreground notification banner, not the system one. For that, we just listen to `firebase.notifications().onNotification()` and present our own notification base on the notification data we received.

For your case on foreground notification, I believe `firebase.notifications().displayNotification(notification)` should do the job if it works as expect

[2018-07-05 17:25] vvusts commented on #1084
@SimonErich @gidox can you please explan what is long link?
I also get initiallink null after install. Please for some example?

[2018-07-05 17:34] gidox commented on #1084
@vvusts  Firebase provides 2 types of links, one short and one long, the short would be something like pq58r.app.goo.gl/ug4K and the long link would be something like pq58r.app.goo.gl/?link=https awsomelink.com/home/&apn=com.hyper.bellezpa&isi=1174349708&ibi=com.Bellezpa.App&etcetc

[2018-07-05 20:41] n-scope opened #1279 "All links to premium kits are broken"
Hi,
I am not sure if it the right place to submit the issue, but it seems to me that all your links to your premium starter kits are redirected to https://rnfirebase.io/docs/v4.2.x/getting-started

So far I have tested:
https://rnfirebase.io/kits
http://invertase.link/get-started-premium
https://rnfirebase.io/kits/auth-starter

I hope you will be able to fix it soon ;) Inbetween could you tell wha

[2018-07-05 22:30] vvusts commented on #1084
My long link is like: https://myapp.page.link/?link=https://myapp.com/?code%3DGQUALI%26start%3Dtrue&apn=com.myapp.app&isi=1251208866&ibi=com.myapp.app
But same like short when press on link it open store I install app and open app link is null.
One strange thing on android store after install has “continue” button instead open and click onit become “open”.

[2018-07-05 22:39] tuomohopia commented on #449
I also can't get grouping to work, using _4.2.0_ too with _Android SDK 26_.
I wonder if `createChannelGroup` is the same as `createChannel` in the sense that it's safe to call again, so it could be called even everytime a message is received that should be displayed as a heads-up notif?

setVisibility also does not seem to be working but I think that's already a known issue, possibly fixed already

[2018-07-05 23:33] rostyys commented on #753
Getting the same issue - facebook login and firebase are set up.

The error is received after getting the credential, when retrieving user.

My implementation (basically what react-native-firebase docs say to do)

<img width="699" alt="screen shot 2018-07-05 at 4 30 25 pm" src="https://user-images.githubusercontent.com/6425523/42352710-0899cfbc-8071-11e8-875d-e99f7f3bf063.png">
<img width="614" al

[2018-07-06 08:16] Salakar commented on #1279
Sorry we're no longer offering premium starter kits for the time being. They may however be resurfacing in the near future.

Apologies for the inconvenience, we still need to remove a couple of links from the site still.

[2018-07-06 08:16] #1279 closed

[2018-07-06 08:26] bobmulder opened #1280 "[Android] App not running after upgrade | What are the compatibilities?"
Hi there!

I could not find any information about compatibility with Android / Google Play Services versions. After I migrated from 3.x to 4.2 for my React Native (Android) app the App isn't working anymore. I read the logs (logcat) and found the following errors:

[code]

After some reading on the web I think my phone (and emulator) do have a too low version of Google Play Services.

_Explanation

[2018-07-06 08:34] n-scope commented on #1279
Too bad, for solo developpers like me, it was a good way to provide support for your great work at this open source project, while speeding up my own projects !

Thanks for your answer anyway !

[2018-07-06 09:32] ochrstn opened #1281 "[iOS] Crashlytics null pointer crash"
### Issue

I followed the documentation to add Firebase and Crashlytics to my React Native project.

I used the following function to test the crash reporting:

`firebase.crashlytics().crash()`

On iOS this leads to a crash (**EXC_BREAKPOINT**) inside the library when accessing the Crashlytics singleton, which turned out to be a null pointer for me (RNFirebase.xcodeproj/fabric/crashlytics/RNFireba

[2018-07-06 10:35] Salakar commented on #1232
Fixed in #1195 - landing as part of v4.3.0

[2018-07-06 11:46] vvusts commented on #1273
Please check images. This is behaviour when debug.
You can see that after app install I have link for `pendingDynamicLinkData.getLink()` but `mInitialLink` is without value somehow.
![screen shot 2018-07-06 at 13 40 09 2](https://user-images.githubusercontent.com/25580183/42377252-d5d334f8-8122-11e8-9b34-0390a78923b4.png)
![screen shot 2018-07-06 at 13 40 21 2](https://user-images.githubuserconten

[2018-07-06 11:57] pragneshAliansoftware commented on #1267
Any fix for this issue? I am also facing this problem in v4.0.0

[2018-07-06 12:00] pragneshAliansoftware commented on #1256
@chrisbianca i have used onNotificationOpened , its not getting called in ios but gets called successfully in android

[2018-07-06 12:05] vvusts commented on #1273
Even if I do this:
[code]
in java code `mInitialLink` is always `null`.

[2018-07-06 12:41] vvusts commented on #1273
This is versions that I use:
[code]
I don't know if there is something important that I can write.

[2018-07-06 14:32] jpgarcia opened #1282 "[RemoteConfig] "Empty String" value is treated differently in IOS/Android"
### Issue
I'm using `firebase.config().getValues` to retrieve values from Remote Config.

What I found is that If you set an item in Firebase's console as `Empty String` it will be returned as follows:

**IOS**:
[code]

**Android**:
[code]

just to clarify: `No Value` works as expected retuning the following both in IOS and Android:

[code]

### Environment

1. Application Target Platform: **Both*

[2018-07-06 18:29] Nicholas1490 commented on #1272
Hi,

I am having the same issue.
The onNotificationOpened listener doesn't trigger when the app is in the background and I received the notification.

It triggers if the app is in the foreground.
getInitialNotification also triggers when the app is dead.

[2018-07-06 19:09] gugakatsi commented on #1138
any news guys?

[2018-07-07 00:09] Salakar commented on #791
@escobar5 confused as to where you're reading that `getMetadata()` has a `downloadURLs` property, none of the firebase docs for js, ios or android show that as existing:

https://firebase.google.com/docs/reference/ios/firebasestorage/api/reference/Classes/FIRStorageMetadata#file
https://firebase.google.com/docs/reference/js/firebase.storage.FullMetadata
https://firebase.google.com/docs/reference/a

[2018-07-07 01:18] Salakar commented on #739
@arminsal1 @EvanBacon have fixed this in my local branch, mime types are automatically detected correctly now and can also be overridden as above (though you won't need to do as above now as it'll be correct by default);

![image](https://user-images.githubusercontent.com/5347038/42405326-e75ebcf6-818b-11e8-85f8-586f948a3d08.png)

Will be part of 4.3.0 - thanks for reporting!

[2018-07-07 02:35] Salakar commented on #1200
@Haraldson thanks for reporting this.

Have just fixed this pending v4.3.0 release. For consistency all paths have been changed to be without a trailing slash as this was the least breaking change. Additionally `TEMP_DIRECTORY_PATH` was missing on android and has been added, was already there on iOS.

[2018-07-07 02:43] Salakar commented on #1177
@dethell I've added a check to automatically call decodeURI internally on put file - will be part of the [v4.3.0 release](https://github.com/invertase/react-native-firebase/releases/tag/v4.3.0) when ready.

[2018-07-07 02:52] Salakar commented on #302
@dethell @fungilation @waqqas; pushed up quite a few fixes/tweaks for storage in preparation for the [v4.3.0 release](https://github.com/invertase/react-native-firebase/releases/tag/v4.3.0).

The two relevant for this issue are:
  - Fixed content/mime type detection/customisation issues
  - added automatic check to decodeURI if necessary

Keep and eye out for the v4.3.0 release.

Thanks for the fe

[2018-07-07 03:34] Salakar commented on #1138
Might have something for this, will push a potential `fix` to master tomorrow if anyone would be available to test it that'd be great.

[2018-07-07 04:01] taeyzzz commented on #1138
I just updated Gradle to 4.4 and everything working good

Thank you

[2018-07-07 04:01] #1138 closed

[2018-07-07 12:06] IljaDaderko opened #1283 "React 0.56 support"
### Issue

Updating to react native v0.56.0 requires flow bin update to ^0.75.0 which results in following errors
[code]

### Environment

1. Application Target Platform: iOS

2. Development Operating System: macOS High Sierra

3. Build Tools: Not needed

4. `React Native` version: 0.56.0

5. `React Native Firebase` Version: 4.2.0

6. `Firebase` Module: firestore, storage

7. Are you using `typesc

[2018-07-07 13:42] Salakar commented on #1283
@IljaDaderko rn 56 has backwards compatible breaking changes so support for it will only land in v5.0.0, we have started work on it in this branch already: https://github.com/invertase/react-native-firebase/tree/react-native-56

Thanks for the heads up!

---
Loving `react-native-firebase` and the support we provide? Please consider supporting us with any of the below:

  - 👉  Back financially via

[2018-07-07 14:14] ShinsukeWatanabe commented on #975
@Jonovono

https://rnfirebase.io/docs/v4.2.x/installation/ios#1.2.-Initialise-Firebase
[code]

[2018-07-07 14:59] lucasgray opened #1284 "Realtime Database blocking UI Thread [Android]"
### Issue

Having issues with any call to either snapshot or observe entries in firebase blocking my UI thread on android.  I would expect my call to firebase not to block the react native UI threads.  Animations and renderings pause for 1 - 3 seconds while the firebase data is retrieved.

For example, this code

[code]

Produces this output - we see that it took a bit to retrieve the node

[code]

[2018-07-07 15:10] hegelstad commented on #1155
@chrisbianca can you confirm if it is a part of 4.3.0?

[2018-07-07 16:08] Salakar commented on #1155
@hegelstad yes it will be part of v4.3.0

---
Loving `react-native-firebase` and the support we provide? Please consider supporting us with any of the below:

  - 👉  Back financially via [Open Collective](https://opencollective.com/react-native-firebase/donate)
  - 👉  Follow [`React Native Firebase`](https://twitter.com/rnfirebase) and [`Invertase`](https://twitter.com/invertaseio) on Twitter
  -

[2018-07-07 16:12] hegelstad commented on #1155
@Salakar I'm severely struggling with this issue. Using `yarn add https://github.com/invertase/react-native-firebase#build-issues` doesn't seem to work.

Do you have a minimal example of which versions that works together?

[code]

[code]

[2018-07-07 16:50] hegelstad commented on #1107
@MacKentoch are you using react-native-maps? In `node_modules/react-native-maps/lib/android/build.gradle` set base and maps version to `15.0.1`.

[2018-07-07 16:57] hegelstad commented on #1138
@Salakar Can I test this tonight?

I am getting error:

`RNFirebaseFirestore.getDocument got 5 arguments, expected 4`.

[2018-07-07 17:16] amanthegreatone commented on #1271
that is how i am restricting redundant calls to send the token to my server yes. but i dont think this is intended behaviour. or is it?

[2018-07-07 19:55] lekeCoder commented on #453
for me, pod update did not do the magic but

 `react-native update`

worked

[2018-07-08 14:22] erandagan commented on #1271
I don't think that this is the expected behaviour - the method says onToken**Refresh**, and the token wasn't at all refreshed, it was simply retrieved. I'm seeing this issue on real devices, too.

Quoting the [firebase docs](https://firebase.google.com/docs/cloud-messaging/android/client):

Most important part of the quote is "whenever a **new** token is generated"

I think the current implementat

[2018-07-08 14:38] Salakar commented on #1138
@hegelstad it was just a speculative fix, given that it now works for @taeyzzz and yourself now it probably won't change anything :P

v4.3.0 will be released on Tuesday.

---
Loving `react-native-firebase` and the support we provide? Please consider supporting us with any of the below:

  - 👉  Back financially via [Open Collective](https://opencollective.com/react-native-firebase/donate)
  - 👉  Fo

[2018-07-08 14:46] jskidd3 commented on #1271
I agree with @erandagan. If `onTokenRefresh` is invoked at the start by design then it should be renamed as its current name suggests that it will be include a new tkoen. As stated above, by storing the token and checking its value we're effectively doing what you'd expect the function to do anyway. The `onTokenRefresh` function is behaving more like "onTokenRetrieved".

[2018-07-08 15:01] erandagan opened #1285 "[Docs] getToken does not really require messaging.requestPermissions"
The [messaging reference](https://rnfirebase.io/docs/v4.2.x/messaging/reference/Messaging#getToken) section in the docs states for `getToken`:

In fact, `getToken` works without requesting the user's permissions.
Quoting the [FCM iOS docs:](https://firebase.google.com/docs/cloud-messaging/ios/client)

So getting a registration token isn't bound to getting the user's permissions, as a token is gene

[2018-07-08 15:36] Salakar commented on #721
@lslima91 @perrosnk @bhakta0007 @adirzoari @DrFlavour Have just pushed up Android support for this to master, would be great if you could try it out and let me know all is ok.

[code]

Worth noting that forceResend will do nothing on the first attempt and signing in with/verifying a phone number - subsequent requests will use it however.

---
Loving `react-native-firebase` and the support we provi

[2018-07-08 15:39] erandagan opened #1286 "getToken resolves to null if called too early"
### Background
- `messaging.getToken` returns a `Promise<string>`, which should resolve to a valid FCM token OR reject with an error (eg. timeout).
- Getting the FCM token is an asynchronous operation
- The current implementation of `getToken` on iOS looks something like this:
[code]
### Issue
When `getToken` gets called very early during the **first launch** of the app, it may resolve with null-i

[2018-07-08 15:42] adirzoari commented on #721
@Salakar  I would be happy to check it.
I just need to call verifyPhoneNumber with same values but in forceResend =true?

[2018-07-08 15:51] Salakar commented on #721
@adirzoari yes, something like:

[code]

---
Loving `react-native-firebase` and the support we provide? Please consider supporting us with any of the below:

  - 👉  Back financially via [Open Collective](https://opencollective.com/react-native-firebase/donate)
  - 👉  Follow [`React Native Firebase`](https://twitter.com/rnfirebase) and [`Invertase`](https://twitter.com/invertaseio) on Twitter
  - 👉

[2018-07-08 15:57] adirzoari commented on #721
auto verify timeout will send automatically sms in 60 seconds?

[2018-07-08 16:00] Salakar commented on #721
Auto verify timeout is how long on android the automatic sms verification should wait for a message to be received and auto verify itself - as in without the user having to input the code, before failing and falling back to waiting for the user to submit the code manually.

If you don't need to change this you can leave it 😛

---
Loving `react-native-firebase` and the support we provide? Please co

[2018-07-08 17:36] lucasgray commented on #1284
Hey @Salakar, it's kinda big - average 500kb on that page, once I grab it from firebase I cache it in redux - my initial suspicion was that I was just doing too much generally updating state/props but after bringing the data into redux every subsequent render is much smoother.  I have another use case that pulls less data, but using something like,

[code]

multiple times - much less data on every

[2018-07-09 06:05] itome commented on #1249
I had exactly same issue and forked this repository to make workaround in native code, But I hope I can fix it with only javascript code. Any ideas can be helpfull.

[2018-07-09 06:17] 0paIescent commented on #1249
The way I fixed it was by adding an else if to the addEntry function in
`com.facebook.react.bridge.Arguments.java` like this:

[code]
This resolves the issue entirely since JS automatically converts
stringified JSON into a JS Object.

On Mon, Jul 9, 2018 at 1:05 AM itome <notifications@github.com> wrote:

[2018-07-09 06:30] itome commented on #1249
@0paIescent Thank you for your answer!! It is better way to fix this issue.
And I have one additional question, did you fork react native project or download source to your project to fix the code? I don't manage react-native source code under git, so my local change won't be applied to other project members.

[2018-07-09 06:31] 0paIescent commented on #1249
l just used the source code from node_modules and built the archives from that.

[2018-07-09 06:39] itome commented on #1249
@0paIescent Thanks.

[2018-07-09 09:44] yangnana11 commented on #1274
Hello,

Do you have any head up for this? Mine also goes to silent mode, it's silent, not show for background and foreground mode in Samsung galaxy note 5, and only problem with foreground mode with Samsung galaxy s7.
And by the way, I applied this and it can't get the body info (I've got undefined) but if foreground it's correct.
[code]

[2018-07-09 09:47] yangnana11 commented on #1272
Hello,

It trigged for me though. But it doesn't get the  notification data correctly, I've got undefined if it got when it goes background
[code]

[2018-07-09 11:59] vvusts commented on #1273
I created a new project with all latest libraries and again same problem.
I posted project to: https://github.com/vvusts/firebaseDynamicLinksDemo
Summary this is new project, only android configured.

[2018-07-09 12:21] Salakar commented on #1249
@0paIescent @itome have pushed a fix for this as part of React Native Firebase, could you try https://github.com/invertase/react-native-firebase/commit/af43576da5ad8d1f32ea988ba7872b1cd1ae376d locally and let me know how you get on, thanks!

---
Loving `react-native-firebase` and the support we provide? Please consider supporting us with any of the below:

  - 👉  Back financially via [Open Collect

[2018-07-09 14:24] vomchik commented on #1272
the same problem :(

[2018-07-09 15:33] escobar5 commented on #791
I can't find it, maybe it was removed in some version, I looked into my code and I'm not using that property anymore. I'm constructing the URL like this:

[code]

[2018-07-09 15:36] Salakar commented on #791
@escobar5 ok I'll close this issue for now then. Thanks for your responses

[2018-07-09 15:36] #791 closed

[2018-07-09 17:40] johnsonsu commented on #1274
@yangnana11 I'm not sure about the `body`, but `notificationOpen.notification.data` is working fine for me.

Is there any `react-native-firebase` dev looking into this at the moment? Perhaps @Salakar
or @chrisbianca?

[2018-07-09 17:51] vomchik commented on #1272
my problem was in this `.MainActivity` class
[code]

i forgot about this `super.onNewIntent(intent);`

[2018-07-09 17:52] vomchik commented on #1230
@rajatyadav hey, maybe it will be useful for you https://github.com/invertase/react-native-firebase/issues/1272#issuecomment-403564399

[2018-07-09 20:31] Nicholas1490 commented on #1272
@vomchik didn't work for me :(

I was really hoping this was the solution.
I remember using that snippet of code from another notification plugin and I took it out.

[2018-07-09 20:50] Salakar commented on #1273
@vvusts let me know how you get on with your release build after tonights screenshare, should in theory be working now.

For others; we used the `App Link Assistant` (**always ignore step 2 on it**) in Android Studio to configure / verify the links are working; `Tools` -> `App Link Assistant` and then uploading the SHA256 from the generated DAL file to the firebase console app. Worth noting you ca

[2018-07-10 00:21] luskin opened #1288 "RemoteConfig Fetch Duration causes "null" error"
### Issue

When using RemoteConfig with RNFirebase an error is thrown when you enter a "duration" into the fetch method:

`await firebase.config().fetch()` <- Throws no error
`await firebase.config().fetch(0)` <- Throws "null" error
`await firebase.config().fetch(60)` <- Throws "null" error

According to the docs you should be able to pass in a second duration value into the fetch call, 0 seconds

[2018-07-10 01:34] itome commented on #1249
@Salakar Thank you for fixing. I downloaded the commit and every thing works well in my local computer!!

[2018-07-10 01:40] 0paIescent commented on #1249
@Salakar I'll give it a try here in a bit, thanks for making that by the way. If I had the time I would've tried to push something up but oh well.

[2018-07-10 03:43] 0paIescent commented on #1249
Fixed it! Thanks for all the help! @Salakar

[2018-07-10 05:59] saloni-springct commented on #1230
Hey, @rajatyadav I got this working.
Yes, launchMode is singleTop.
I had to set the **notification.android.setAutoCancel(true);** to clear the notification from system tray.

[2018-07-10 07:05] Salakar commented on #1249
@0paIescent @itome no worries! 4.3.0 will be released later today. Thanks for testing :ok_hand:

---
Loving `react-native-firebase` and the support we provide? Please consider supporting us with any of the below:

  - 👉  Back financially via [Open Collective](https://opencollective.com/react-native-firebase/donate)
  - 👉  Follow [`React Native Firebase`](https://twitter.com/rnfirebase) and [`Inver

[2018-07-10 07:05] #1249 closed

[2018-07-10 08:06] Salakar commented on #1288
@luskin thanks for the report, have you got the specific stack trace that throws a null error on Android, you can get it from adb logs; would be helpful to debug our end.

---
Loving `react-native-firebase` and the support we provide? Please consider supporting us with any of the below:

  - 👉  Back financially via [Open Collective](https://opencollective.com/react-native-firebase/donate)
  - 👉  F

[2018-07-10 08:17] Salakar commented on #1284
@lucasgray for tests could you get the RN performance monitor active and then on a blank screen of your app get the data as above and watch the frame rates, just want to confirm with no UI whether the FPS still tanks for 1-3 seconds like above; meaning it's most likely a performance hit from parsing on native.

[2018-07-10 09:47] rajatyadav commented on #1230
@vomchik my code is same as you suggested,

    @Override
        public void onNewIntent(Intent intent) {
        super.onNewIntent(intent);
        setIntent(intent);
    }

Not working for me. `My issue is only on one state, when the app is in foreground`. In that case 'onNotificationOpened' not working

[2018-07-10 10:13] saloni-springct commented on #1230
Hey @rajatyadav

Do you have this in your AndroidManifest?

<service android:name="io.invertase.firebase.messaging.RNFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

[2018-07-10 10:53] MakeAndyBetter opened #1289 "getInitialNotification() returns null if app opens after notification banner is gone"
### Issue

Notifications are received in Foreground/Background/Closed State.

If I receive a notification while the app is closed and I then open the app via the app icon, the initial notification is null even though there was a notification received.

### Environment

1. Application Target Platform:

IOS

2. Development Operating System:

macOS High Sierra

3. Build Tools:

Xcode 9.4.1 (9f2000)

[2018-07-10 10:57] gaultierq commented on #1084
I cannot manage to make it work either. Here is the step I follow :
- uninstall my app from my device
- click on the link: `https://funapplocal.page.link/?link=https://funapp-staging.herokuapp.com/lists/cec61bf0-a41d-4949-8504-783484f36cf8&apn=it.funapp.mob.debug&isi=463472154&ibi=it.funapp.mob.debug` from a notepad
- link is opened in chrome, then redirect to the playstore, but cannot find the ap

[2018-07-10 11:44] vvusts commented on #1273
Hi, thank you @Salakar for all help on this issue.
The only thing that is required to be changed in module code is:
[code]
I will leave it like this for now if I uncomment it initial link again doesn't work (_I returned all other changes_).
**SHA256** is also important to be mentioned when it's updated firebase console cache it so need to wait a few minutes.
@Salakar already wrote about other stuf

[2018-07-10 14:37] Salakar commented on #1273
@vvusts good to hear you've got your app released and working, that long screenshare session last night was worth it in the end then 😄

Might be worth us removing that `isInvitation` check, not entirely sure what it's achieving to be honest. Could leave the checking up to users in JS land as an invite is still a link technically... e.g. the following could be done in JS land:

[code]

Will close a

[2018-07-10 14:37] #1273 closed

[2018-07-10 14:41] Salakar commented on #1084
Please see if https://github.com/invertase/react-native-firebase/issues/1273 is relevant here. Also it's worth using Android Studio's `App Links Assistant` to get the correct SHA256 to upload to the Firebase Console and to test it - it's very useful - see my comment on that issue.

[2018-07-10 15:23] gaultierq commented on #1084
when visiting [https://funapplocal.page.link/.well-known/assetlinks.json](https://funapplocal.page.link/.well-known/assetlinks.json) I get (I changed the app name):
[code]
Also, I don't get any warning after adding `&d=1` to my long dynamic link

[2018-07-10 16:06] luskin commented on #1288
Weirdly enough I'm not seeing any error in logcat. Given the following code this is the error I am receiving (again, this only happens when I put an integer parameter in `fetch()`.

[code]

<img width="335" alt="screen shot 2018-07-10 at 9 02 38 am" src="https://user-images.githubusercontent.com/5702322/42522524-3184f034-8420-11e8-8eef-2bdbd1219b09.png">

![screenshot_20180710-090213](https://user

[2018-07-10 18:50] rach676 opened #1290 "Plugin/Preset files are not allowed to export objects"
### Issue

I am running npm build ios after following the turtorial and am getting the following error

[code]

<img width="407" alt="screen shot 2018-07-10 at 2 52 54 pm" src="https://user-images.githubusercontent.com/29984469/42531065-fabd69c4-8450-11e8-8074-8e1da6fcc569.png">

### Environment

1. Application Target Platform:

IOS

2. Development Operating System:

macOS High Sierra 10.13.5

3.

[2018-07-10 19:15] Salakar commented on #1290
Hi @rach676, sorry about this but we don't support React Native 56 yet, it was only released 3 / 4 days ago and has quite a few breaking changes that we need to work around first before we can support it, we have started on this and it will land in React Native Firebase v5.0.0 in a week or two. RN versions < 56 are still fine.

Closing this issue for now and tracking on https://github.com/invertas

[2018-07-10 19:15] #1290 closed

[2018-07-10 19:50] nicolasdanelon commented on #1041
check this configuration. The intent-filter of MainActivity has android name: **android.intent.category.INFO**
[code]

[2018-07-10 21:12] anderswag commented on #1274
o_O

![image](https://user-images.githubusercontent.com/18016881/42537936-56af370e-8464-11e8-923e-31e619e7b542.png)

[2018-07-10 21:15] dengue8830 commented on #1272
in my case, i was missing the notification's data setup when building the notification
[code]

so, when tapping the notification data was undefined :P

[2018-07-10 23:04] Salakar commented on #1167
@NicolasHanzel thanks for this, fix is now live in the [v4.3.0 release](https://github.com/invertase/react-native-firebase/releases/tag/v4.3.0).

---
Loving `react-native-firebase` and the support we provide? Please consider supporting us with any of the below:

  - 👉  Back financially via [Open Collective](https://opencollective.com/react-native-firebase/donate)
  - 👉  Follow [`React Native Fireb

[2018-07-10 23:05] Salakar commented on #1249
@0paIescent @itome thanks for your help on this, the fix is now live in the [v4.3.0 release](https://github.com/invertase/react-native-firebase/releases/tag/v4.3.0).

---
Loving `react-native-firebase` and the support we provide? Please consider supporting us with any of the below:

  - 👉  Back financially via [Open Collective](https://opencollective.com/react-native-firebase/donate)
  - 👉  Follow

[2018-07-10 23:06] Salakar commented on #721
Support for this is now live in the [v4.3.0 release](https://github.com/invertase/react-native-firebase/releases/tag/v4.3.0).

---
Loving `react-native-firebase` and the support we provide? Please consider supporting us with any of the below:

  - 👉  Back financially via [Open Collective](https://opencollective.com/react-native-firebase/donate)
  - 👉  Follow [`React Native Firebase`](https://twitt

[2018-07-10 23:07] Salakar commented on #1232
Fix is now live in the [v4.3.0 release](https://github.com/invertase/react-native-firebase/releases/tag/v4.3.0).

---
Loving `react-native-firebase` and the support we provide? Please consider supporting us with any of the below:

  - 👉  Back financially via [Open Collective](https://opencollective.com/react-native-firebase/donate)
  - 👉  Follow [`React Native Firebase`](https://twitter.com/rnfire

[2018-07-10 23:07] Salakar commented on #739
Fix for this is now live in the [v4.3.0 release](https://github.com/invertase/react-native-firebase/releases/tag/v4.3.0).

---
Loving `react-native-firebase` and the support we provide? Please consider supporting us with any of the below:

  - 👉  Back financially via [Open Collective](https://opencollective.com/react-native-firebase/donate)
  - 👉  Follow [`React Native Firebase`](https://twitter.c

[2018-07-10 23:08] Salakar commented on #1177
Automatic `decoreURI` support is now live in the [v4.3.0 release](https://github.com/invertase/react-native-firebase/releases/tag/v4.3.0).

---
Loving `react-native-firebase` and the support we provide? Please consider supporting us with any of the below:

  - 👉  Back financially via [Open Collective](https://opencollective.com/react-native-firebase/donate)
  - 👉  Follow [`React Native Firebase`](

[2018-07-10 23:09] Salakar commented on #1200
@Haraldson thanks again for reporting this, fix is now live in the [v4.3.0 release](https://github.com/invertase/react-native-firebase/releases/tag/v4.3.0).

---
Loving `react-native-firebase` and the support we provide? Please consider supporting us with any of the below:

  - 👉  Back financially via [Open Collective](https://opencollective.com/react-native-firebase/donate)
  - 👉  Follow [`React

[2018-07-10 23:17] Salakar commented on #302
Fixes now live in the [v4.3.0 release](https://github.com/invertase/react-native-firebase/releases/tag/v4.3.0).

---
Loving `react-native-firebase` and the support we provide? Please consider supporting us with any of the below:

  - 👉  Back financially via [Open Collective](https://opencollective.com/react-native-firebase/donate)
  - 👉  Follow [`React Native Firebase`](https://twitter.com/rnfireb

[2018-07-10 23:17] Salakar commented on #1260
The issues linked above all have live fixes now in the [v4.3.0 release](https://github.com/invertase/react-native-firebase/releases/tag/v4.3.0).

New features / adding support for missing features will be done in the v5.x.x release cycle.

---
Loving `react-native-firebase` and the support we provide? Please consider supporting us with any of the below:

  - 👉  Back financially via [Open Collectiv

[2018-07-10 23:29] Salakar commented on #1245
Hi all,

Please see the versions of the SDK's listed on the v4.3.0 release notes - these have been tested to work; https://github.com/invertase/react-native-firebase/releases/tag/v4.3.0 and should solve this issue if matched up correctly.

Thanks!

[2018-07-10 23:29] #1245 closed

[2018-07-10 23:31] Salakar commented on #1270
@luskin looks like the docs for this on our end are wrong - for android you don't need to add the dependency, analytics is part of Firebase Core;

Remove the `implementation "com.google.firebase:firebase-analytics:15.0.2"` and you should be good to go! Will update the docs. Sorry about this.

---
Loving `react-native-firebase` and the support we provide? Please consider supporting us with any of t

[2018-07-10 23:31] #1270 closed

[2018-07-10 23:35] Salakar commented on #1270
Docs updated; https://rnfirebase.io/docs/v4.3.x/analytics/android

[2018-07-10 23:37] lucasgray commented on #1284
For sure, here is a video to demonstrate - I edited the page that gets transitioned to to be simply a `<View/>`, while the feed page before just links (via `react-navigation` by the way if it matters) to the new page that calls the same data as earlier.  The reducer does nothing, while the action simply calls the firebase ref.

https://drive.google.com/open?id=1DX-oBWKiLd_RtGHwHzQn73-cQQh9hzIO

Th

[2018-07-10 23:46] Salakar commented on #1284
@lucasgray ok thanks for confirming. A dump of the of data would be handy then I can replicate it exactly locally; as it could be something specific data wise that's bogging it down that could be better parsed/converted for example.

You could PM me a private link on discord or twitter if it's anything sensitive:
**Discord:** Salakar#1337
**Twitter:** mikediarmid

If not then a close as possible r

[2018-07-11 00:00] Salakar commented on #449
Re-opening to re-visit grouping issue, has been mentions on discord as well of it not working. Unless anyone can say otherwise or has it working for them?

---
Loving `react-native-firebase` and the support we provide? Please consider supporting us with any of the below:

  - 👉  Back financially via [Open Collective](https://opencollective.com/react-native-firebase/donate)
  - 👉  Follow [`React Na

[2018-07-11 01:33] nickmccomb commented on #1156
Downgrading to Java 8 didn't fix the issue for me.

[2018-07-11 01:48] smallex commented on #1232
Wonderful, thank you!

[2018-07-11 02:32] Eyesonly88 commented on #1122
I hit this issue as well.
I solved it by updating to the latest version of this library `"4.3.3"` and `pod update`.

[2018-07-11 04:00] haseebnaseem commented on #1274
The only thing that helped me was to use a remote message instead of a notification and add a headless service as mentioned in the docs to create a notification, when the app is in the background or closed, using that message.

[2018-07-11 06:04] smallex opened #1292 "Can't find variable: ThenableReference // ThenableReference is not defined"
### Issue

I just upgraded to RNFirebase v4.3.3 and now get the following error(s) when executing
`firebase.database().ref(somePath).push()`:

![screen shot 2018-07-11 at 14 10 30](https://user-images.githubusercontent.com/16029467/42552397-0674d68c-8517-11e8-8c07-c3288465d544.png)
![screen shot 2018-07-11 at 14 30 30](https://user-images.githubusercontent.com/16029467/42552398-06b08e02-8517-11e8-

[2018-07-11 07:06] nickmccomb commented on #1070
Thanks @rikur, your answer is the only thing that worked for me after hours of trying to fix this issue.

[2018-07-11 07:21] #1292 closed

[2018-07-11 07:22] Salakar commented on #1292
Have reverted this for now, needs tweaking given current build setup. Just published a patch version v4.3.4 with this in.

[2018-07-11 08:48] AndrewJack commented on #1122
There hasn't been any recent changes to the podspec. So I don't think this has been fixed, I'll re-test to check.

I'll try and submit a potential fix this week.

[2018-07-11 09:22] Ehesp commented on #1288
@luskin seems that you can no longer pass a `0` into fetch as it's getting throttled, but the error isn't being handled correctly.

I'll push up a fix to ensure a correct error is returned.

[2018-07-11 10:24] bilalsyed001 commented on #1273
@Salakar Any timeline for isInvitation fix on android? I can confirm the solution suggested by @vvusts fixes the issue. Adding an additional check for getInvitationId if its empty works for me:

`  private boolean isInvitation(PendingDynamicLinkData pendingDynamicLinkData) {
        FirebaseAppInvite invite = FirebaseAppInvite.getInvitation(pendingDynamicLinkData);
        if (invite != null && in

[2018-07-11 11:00] jorgifumi commented on #294
For me, this fix all my problems: https://github.com/orta/cocoapods-fix-react-native

[2018-07-11 12:10] Salakar commented on #1273
@bilalsyed001 yes please, the above as a PR would be great, I can merge and then do a patch release later today

[2018-07-11 12:44] bilalsyed001 commented on #1273
#1293

[2018-07-11 13:49] Salakar commented on #1273
@bilalsyed001 v4.3.5 published with your PR included, let me know if there's any further issues.

---
Loving `react-native-firebase` and the support we provide? Please consider supporting us with any of the below:

  - 👉  Back financially via [Open Collective](https://opencollective.com/react-native-firebase/donate)
  - 👉  Follow [`React Native Firebase`](https://twitter.com/rnfirebase) and [`Inve

[2018-07-11 14:33] NawazKhanMd commented on #73
@SteffeyDev Hi is your issue resolved, Cuz am suffering the same problem

[2018-07-11 15:41] luskin commented on #1288
@Ehesp - interesting, good detective work. This seems odd, what if you need to fetch the most recent config on appload (i.e. our example where we check if a force update is required via minimum version number?)

[2018-07-11 16:09] Ehesp commented on #1288
@luskin looking at this stack overflow response: https://stackoverflow.com/a/38639282/1001945

My guess is that it's probably not what remote config is designed for. It's more used for low priority changes in your app (color/text changes in A/B testing etc). For your use case I would recommend having an API endpoint which you ping on app start up to match against the current app version. I'll keep

[2018-07-11 16:11] luskin commented on #1288
That was our original plan but we were going to try and keep as much within the firebase ecosystem as possible. Thanks for your help, we will re-implement!

[2018-07-11 16:11] #1288 closed

[2018-07-11 19:37] aaronkchsu commented on #1166
Same issue here too!

[2018-07-11 22:38] 0paIescent commented on #1143
@dotmike May I ask why enabling and disabling persistence was removed? And if there is any other way to enable persistence for Authentication in the current version?

[2018-07-11 23:03] aaronkchsu commented on #1106
Hmmm same for me archive is failing, I can run the app on the simulator! It's been painful to try and fix haha! Help!

[2018-07-12 00:02] lyair1 commented on #1166
Same issue here, on this for 3 days, makes me think if I should take dependency on React Native Firebase in my app.

Please find a solution.

[2018-07-12 09:09] rajatyadav commented on #1230
Hey @saloni-springct, yes I have same code in AndroidManifest.

[2018-07-12 13:24] Ehesp commented on #1282
Just checked this, seems it's a native iOS SDK bug. I have filed a bug report with Firebase and will let you know the outcome.

There isn't really much we can do here, as zero is still a valid remote config value so we can't convert it our side.

[2018-07-12 13:24] #1282 closed

[2018-07-12 16:33] oferRounds commented on #1166
Any solution? @Salakar perhaps you have any workaround?

[2018-07-12 17:31] Strandfelt commented on #1012
Same issue here on 4.2.0. Any news?

[2018-07-12 17:51] oferRounds commented on #1106
any solution? someone?

[2018-07-12 20:07] SkyTreasure commented on #1149
I am also facing same issue, its not getting triggered when user clicks on the notification. How did you fix it?

[2018-07-12 21:06] SkyTreasure opened #1296 "Not getting callback to either onNotificationOpened or getInitialNotification()"
### Issue
 I am sending the data payload as follows -
[code]

I am receiving the notification in the bgMessaging.js and there I am creating the Notification() and pushing it into the tray. I am not getting any callback when user clicks on the notification.

Is this the right way of doing it or is there any other way ? Am i missing anything.

Here's the code for my bgMessaging.js

[code]

### Envir

[2018-07-13 01:15] aMarCruz commented on #1296
@SkyTreasure , try moving your onNotification* handlers out of bgMessaging

[2018-07-13 01:53] aMarCruz commented on #449
@Salakar , grouping is working to me. This is a feature of Android 7.0 and above, as [documented here](https://developer.android.com/training/notify-user/group).

In my case, I'm creating local notifications from remote messages. The trick is to create an additional notification that contains the notifications for that group.

This is the relevant code:

[code]

There's an [inbox-style](https://de

[2018-07-13 06:22] yangnana11 commented on #1274
@anderswag  I don't have permission to do that thing... I wonder why... because I replied I think..
@haseebnaseem Thanks, I think that is a good solution.

[2018-07-13 07:03] oferRounds commented on #627
Did anyone find solution? Facing the same issue

[2018-07-13 07:12] SkyTreasure commented on #1296
@aMarCruz  I removed it.
I have a HomeScreen.jsx where i am subscribing to topic and in that file i have the below method in the componentDidMount() . From the documentation, if payload has only data module. It should call getInitialNotification() if i am right? But **notificationOpen** is null when i opened the notification.
[code]

[2018-07-13 07:53] r00li commented on #627
I eventually did. I gave up on Cocoapods installation after the problem kept coming back, and just included Firebase manually (look at the Firebase installation guide). After that no more issues.

[2018-07-13 07:55] oferRounds commented on #627
Thanks @r00li!
Actually I was just able to solve it (finally) by removing the `use_frameworks` from the pod file, while using a 1.5+ version of cocoa pods, and adding the `, :modular_headers => true` for specific pods which depends on Obj-C code.

More info can be found here:
http://blog.cocoapods.org/CocoaPods-1.5.0/

[2018-07-13 09:43] yangnana11 opened #1297 "Not shown any head up on Samsung Note5, all goes to tray bar silently"
### Issue

Here is my build.gradile file
[code]

### Environment

1. Application Target Platform:

Galaxy Note5, Android version 7.0

2. Development Operating System:

macOS Sierra

3. Build Tools:
Webstorm, terminal command line.

[code]

4. `React Native` version:

[code]

5. `React Native Firebase` Version:

[code]

6. `Firebase` Module:

[code]

7. Are you using `typescript`?

No

---
My notif

[2018-07-13 10:10] aMarCruz commented on #1296
@SkyTreasure ,
I have never included `RemoteInput` in my notifications, nor custom actions. In a notification without these features and when the App is closed this is the life-cycle:

1. `bgMessaging` is called with the RemoteMessage
2. create local notification
3. user taps notification
4. **App opens**
5. `getInitialNotification` is fulfilled with the notification opened

Note: 1 y 2 is execute

[2018-07-13 12:22] Ketn commented on #1238
@judemanutd I'm sorry, I just checked. It is due to battery optimization issue. I am using OnePlus 5T (android 8.1.0) and I went to the battery settings to set it in "Not Optimised" mode for my app and I'm receiving notifications just fine. However, all other apps are in Optimise mode by default too, yet I receive notifications from them properly. Is there any way to understand why is this happeni

[2018-07-13 13:13] Salakar commented on #1012
Hey all,

Just published a fix for this in v4.3.6. Additionally if you face any linting errors in your own app about `[GradleCompatible]` or `[GradleCompatible]` you can disable them like I've just done on this commit on the starter:

https://github.com/invertase/react-native-firebase-starter/commit/00ec0d6a5136be7b17766242883125555280ecec#diff-dc46f9f5dfe204e394fb41395ccd03cfR99

[2018-07-13 13:13] #1012 closed

[2018-07-13 14:34] judemanutd commented on #1238
@Ketn are you sending your notifications with priority high

[2018-07-13 14:58] Ketn commented on #1238
@judemanutd Yes, I think so. I've tried sending both data-only and notification-only messages. Both have identical results (i.e. not working when app is killed and is in battery optimisation mode but working when in "not optimised" mode). This is the fcm message I send to fcm server from my server, in case you thin anything might be wrong with that?:

Data-only message
[code]

Notification message

[2018-07-13 16:52] judemanutd commented on #1238
@Ketn Yep, everything looks correct, I am actually surprised that you are having issues with notification on messages because that is directly handled by the system and doesn't even start your app up, data messages are the ones where the system notifies your app.

About firebase giving a success on response, that is pretty much correct, firebase confirms that it received the message not that it wa

[2018-07-13 18:11] SkyTreasure commented on #1296
@aMarCruz Thanks for the reply.
I have implemented as you suggested and as per the documentation.

Here is my code snippet(App.jsx, componentDidMount())-
[code]
The code is always hitting the else block i.e., the data is always `null`. That's the reason, it's not invoking `handleNotification` method.

The `handleNotification` function is exactly as per documentation and as what you've shared above

[2018-07-13 18:29] Ketn commented on #1238
@judemanutd I tried testing with device plugged in for charging. Still the same issue.

[2018-07-13 21:53] Rpaixao commented on #1230
+ 1

[2018-07-14 05:23] URvesh109 opened #1298 "Unsubscribe from all topic"
How can I unsubscribed from all topics instead of deleting firebase instance?

[2018-07-14 06:18] JulianKingman commented on #805
I had this issue after installing using pods. I ran react-native link after installing, and it seems to work now. It seems like I had to install it twice, which is odd, but hey, it works!

[2018-07-14 12:50] lkhgvsuren opened #1299 "confusing to install"
Can you guys make it easier to install? It's real confusing to install it.

[2018-07-14 12:52] Ehesp commented on #1299
Please let us know what exactly you're struggling with and we can update the documentation. Generally it's always going to be confusing if you're new to ios and android development.

I'll close this as it's a none issue but can discuss points here if needed.

[2018-07-14 12:52] #1299 closed

[2018-07-14 14:15] Salakar commented on #1298
@URvesh109 unfortunately there's no way of doing this without deleting your instance id; unless you manually track subscriptions yourself and store them somewhere to loop over at a later date and unsubscribe from them.

Please ask questions on discord or stack overflow, we're trying to keep issues to bug reports only, thanks!

---
Loving `react-native-firebase` and the support we provide? Please c

[2018-07-14 14:15] #1298 closed

[2018-07-14 15:17] vishal-android-freak commented on #1106
@chrisbianca could you please update us on this? Apologies but my production release is pending because of this 😅

[2018-07-14 16:32] GentryRiggen commented on #632
@JF-13 has the right answer as it will ensure each module beyond messaging will work. Thanks fam.

[2018-07-14 18:04] iRahulGaur commented on #1251
"Attempt to invoke virtual method", most of the time this means that you haven't defined a variable or something, you have declared it but not defined it. check if fcmToken is defined properly.
hope it will help!

[2018-07-14 20:32] arminsal1 commented on #739
@Salakar Thanks for all the work and improvements you put into this library! It's easily the most well-maintained and stable library I've had the pleasure of using in my react native projects.

I migrated to v4.3.6 successfully and attempted uploading a few files to test the storage fix. The .jpeg and .mov files had accurate MIME types, but the .gif continues to have a 'image/jpeg' MIME type when

[2018-07-14 20:43] Salakar commented on #739
@arminsal1 looks like it's [this code](https://github.com/invertase/react-native-firebase/blob/master/ios/RNFirebase/storage/RNFirebaseStorage.m#L237) in the `else` block that's causing the issue - it's meant to convert Hei/Heic files to jpeg.

Whats your thoughts on it automatically doing that - personally I don't think it should be converting any files as it's out-of-scope of Firebase Storage -

[2018-07-14 22:35] #739 closed

[2018-07-14 22:36] Salakar commented on #739
@arminsal1 right, fixed - 3rd times the charm they say 😄 v4.3.7 published with this in, please update and rebuild iOS and let me know how you get on.

Thanks

---
Loving `react-native-firebase` and the support we provide? Please consider supporting us with any of the below:

  - 👉  Back financially via [Open Collective](https://opencollective.com/react-native-firebase/donate)
  - 👉  Follow [`React

[2018-07-14 22:39] Salakar commented on #1251
@gabrieljo you'll need to update to "com.google.firebase:firebase-messaging:17.1.0" and also v4.3.x of React Native Firebase.

---
Loving `react-native-firebase` and the support we provide? Please consider supporting us with any of the below:

  - 👉  Back financially via [Open Collective](https://opencollective.com/react-native-firebase/donate)
  - 👉  Follow [`React Native Firebase`](https://twitt

[2018-07-14 22:39] #1251 closed

[2018-07-15 05:42] salmankhann commented on #1060
Hi @Salakar any updates on this?

[2018-07-15 07:59] miniofskidev commented on #1031
I Downgraded to Java 8 and everything seems to works fine

[2018-07-15 12:29] lkhgvsuren opened #1302 "Could not install the app on the device"
### Issue

### Environment

1. Application Target Platform:
Android

2. Development Operating System:
Windows 10

3. Build Tools:
Geny Motion

4. `React Native` version:

5. `React Native Firebase` Version:

6. `Firebase` Module:

7. Are you using `typescript`?
no

---

I followed Basic Starter Kit on official site. And when I try to npm run android, gives me an error below:
**Could not install th

[2018-07-15 12:41] lkhgvsuren opened #1303 "Requesting Starter Kit with create-react-native-app"
I create an app with create-react-native-app and run it with no problem. But I tried Basic Starter Kit on official site. And then it crashed. It would be very helpful if you provide a starter kit with create-react-native-app.

[2018-07-15 14:56] haseebnaseem commented on #1274
@yangnana11 it's not really a good solution because in ios, onMessage handlers are not called and payload needs to only have the `notification` object instead of the `data` object in case of messages. So currently the situation i am facing is as follows:
For Android:
When the app is closed, a notification message does not show heads.
When the app is in background, a notification message does not s

[2018-07-15 18:39] fullerlee commented on #738
I have the same issue - Build & Run work fine, Archive fails with "React/RCTBridgeModule.h" file not found.

package.json:
"react": "16.3.1",
"react-native": "0.55.4",
"react-native-firebase": "^4.3.7",

Disabled parallelized build, added FirebaseCore and React to the build scheme.  Still no joy.

Any ideas please?

Thanks

[2018-07-16 01:26] chris-divvito opened #1304 "checkActionCode - bug for iOS"
### Issue
Hi - I have a bug using checkActionCode - as far as I can tell it will be a general bug for any use of checkActionCode with codes for the reset password action. I don't know much more about Obj-C than I have discovered while trying to track this one down, or I would normally try to submit along with a PR to fix it.

So my use case looks like this:

[code]

(the use of `yield call()` is f

[2018-07-16 04:16] naoey commented on #1296
I've followed all the setup processes as described in RNF docs but can't seem to get `onNotificationOpened` or `getIntialNotification` to work either. I receive `onNotification` in which case when app is in the foreground nothing is displayed, so I create a local notification expecting `onNotificationOpened` to be executed when the user taps it, but absolutely nothing happens when tapped. The app

[2018-07-16 06:46] nopmengkoung commented on #1272
On my side this issue is solved by doing nothing. When I tested on debug mode its not working but after I running release its working. That's weird for me too.

[2018-07-16 08:40] Apak00 commented on #988
I have same issue I'm scheduling like below;
`export const scheduleNotification = (notification) => {
  const date = new Date();
  date .setMinutes(date .getMinutes() + 2);

  firebase.notifications().scheduleNotification(notification, {
    fireDate: date.getTime(),
  })
};
`
I get notifications when app is closed but no luck with foreground
and when I check for notifications with this:

`
fireba

[2018-07-16 09:35] vishal-android-freak commented on #1106
I can confirm deleting pods folder, pod lock files and xcworkspace file, remove ```use_frameworks``` from Podfile and reinstalling has fixed the issue. Will observe for few days and revert if I see some changes. Thankyou @oferRounds  👍

[2018-07-16 10:09] JanErikFoss commented on #751
I'm definitely listening to onAuthStateChanged but still having this problem.
Only on android, iOS works fine.

React Native 0.55.4
React Native Firebase 4.3.7

[2018-07-16 11:58] Apak00 commented on #988
I've spotted my mistake writing here might help someone;

I was removing listener which suppose to display notification in foreground.
`
firebase.notifications().onNotificationOpened((notificationOpened) => {
    console.log("notification is opened when app is open");
    if (notificationOpened.notification._notificationId === "dogum-gunu-notification") {
      Actions.happyBirthDay();
    }
    f

[2018-07-16 13:23] lmarti17 opened #1305 "Performance Monitoring - Custom Attributes"
### Issue

Hello, I want to use on top of Performance Monitoring, the **Custom Attributes** feature as seen in Firebase documentation (https://firebase.google.com/docs/perf-mon/custom-attributes) but I can't seem to find any equivalent support for this in the package.
Is it implemented in your package or do you plan to support this feature ?
Thanks !

### Environment

1. Application Target Platfor

[2018-07-16 13:29] rbsl-yasmin opened #1306 "the onNotificationOpened and getInitialNotification events are not triggered as I've used custom splash screen"
#155
I am using @krystiansliwa solution but it's not a proper fix. I am using the latest version and so does react native firebase have a fix for it or not?

[2018-07-16 13:57] lmarti17 commented on #1305
Thanks for the quick answer !
Any idea of the date for the 5.0 release ?

[2018-07-16 14:06] im-aditya opened #1307 "'Failed to display notificaton' on iOS"
### Issue

I am not able to trigger local / scheduled notifications on iOS.

My code:

[code]

Getting this error:

For local notification:

[code]

For schedule notification:
[code]

I was using [react-native-push-notifications](https://github.com/zo0r/react-native-push-notification) but I had to switch to firebase for some reasons. With the previous library local notifications were working fine.

[2018-07-16 15:18] aMarCruz commented on #1238
@Ketn , move the `<service>` tags in your AndroidManifest.xml to inside `<application>`

[2018-07-16 15:32] aMarCruz commented on #1296
@SkyTreasure , unfortunately the setup for all this is complex and the problem may be elsewhere. It would be better if you share a repo that reproduces the problem.

@naoey , this issue is related to conversion and display of notifications comming from _data-only_ messages but you are receiving notifications from the server, so please open another issue (I think it already exists).

[2018-07-16 17:01] Ketn commented on #1238
@aMarCruz I'm sorry but I didn't mean to say that it's my Manifest file just the content of it that hold relevance. My service tags are obviously under application tag otherwise I wouldn't be receiving notifications etc. even when app is in foreground or background.

[2018-07-16 20:42] AndrewJack commented on #1122
I've tested in my [test project](https://github.com/AndrewJack/react-native-firebase-starter/tree/demo/cocoapods_1.5) and our main one. This commit fixes the issue: https://github.com/invertase/react-native-firebase/commit/1d2757dc308c6dc51ecd81a6f91df5298bfb5342

Subspecs for the ios implementation may be a useful addition. and would save linking extra code that is not used. I will submit a pr wh

[2018-07-16 20:42] #1122 closed

[2018-07-16 20:54] Salakar commented on #1122
@AndrewJack apologies I forgot to tag this as fixed in the release notes and reply back here. Drowning in commits 🙈

Subspecs might be useful indeed, let me know how you get on and if you need anything, on here, discord or twitter.

---
Loving `react-native-firebase` and the support we provide? Please consider supporting us with any of the below:

  - 👉  Back financially via [Open Collective](http

[2018-07-16 22:42] damienix opened #1308 "Scheduled notifications not being rescheduled on phone reboot"
### Issue

In the commit https://github.com/invertase/react-native-firebase/commit/dbc5a2d54e2c43f9e812fe81823a1981534475d1 scheduled notifications were broken on Android.

As described in the comment attached to the commit https://github.com/invertase/react-native-firebase/commit/d193c6b688850bf72ba321b3238b39f463ae38be, `getDouble("fireDate")` won't load any value (as it's saved as `Long`) and w

[2018-07-16 23:16] evelynccordner commented on #1166
I was able to work around this issue by commenting out the 'use_frameworks' line in the podfile and adding `:modular_headers => true` for imported pods e.g. `import @FirebaseAuth;`

Podfile:
[code]

[2018-07-17 00:41] liamheneghan commented on #1308
@damienix as far as I can remember scheduling notifications had 2 paths.

1. `scheduleNotification(ReadableMap notification, Promise promise)` called directly when scheduling a notification from React Native.
2. `rescheduleNotifications()` called when the device has rebooted.

Each use a different method to build their `Bundle` for `scheduleNotification(Bundle notification, @Nullable Promise promi

[2018-07-17 02:58] arminsal1 commented on #739
@Salakar 3rd times the charm indeed, this fix did the job!

With regards to the library handling file conversion, I think the extent to which you currently have it is a good middle ground. I don't think there are many cases where further conversions would be necessary and the setup as is appears to cover any needs I personally would have. :)

[2018-07-17 04:32] im-aditya commented on #1307
I added a breakpoint to the Obj-C code and the error it is displaying is this:

<img width="724" alt="screen shot 2018-07-17 at 9 58 14 am" src="https://user-images.githubusercontent.com/3098218/42796520-444cf274-89a8-11e8-910e-e8db634810f0.png">

NSCocoaErrorDomain - code 4097
connection to service named com.apple.usernotifications.usernotificationservice

I don't know Obj-C so I have no idea wha

[2018-07-17 08:34] perrosnk commented on #853
Any updates on this?

[2018-07-17 08:36] perrosnk opened #1309 "Native Ads Advanced support"
Are native ads advanced going to be supported?

[2018-07-17 08:39] Salakar commented on #1070
If someone can create a reproducible repo that I can clone then I can debug locally on Java 10 and see if I can get a fix in place as a patch version.

[2018-07-17 09:51] dluksza commented on #1308
I've proposed https://github.com/invertase/react-native-firebase/commit/dbc5a2d54e2c43f9e812fe81823a1981534475d1 because I've got `ClassCastException` during my testing. It was on android 8.0 (AFAIR), didn't verified this on 5.0 therefore can't say how it is behaving. I also don't get any complains from my users so I assume that everything works fine.

[2018-07-17 10:00] raff90 commented on #1166
having same issue! its been a day and i am still stuck

[2018-07-17 13:18] leonchabbey commented on #988
Sorry I haven't come back here earlier but in my case adding a ```.setSound("default")``` made the local notification show in foreground on Android as well as on iOS.

[code]

[2018-07-17 14:55] rikur commented on #1070
@Salakar I'm sure you could use any existing project or examples. Make sure to require react-native-firebase 4.1.0+,  follow the instructions at https://github.com/invertase/react-native-firebase/releases/tag/v4.1.0 and try to `react-native run-android` with Java 9 or Java 10.

[2018-07-17 16:27] gaultierq opened #1311 "DynamicLinks: After stores, getInitialLink is undefined"
### Issue
Quick description of my problem :
- click on a short / long dynamic link
     ✔ redirected to the Appstore / Playstore
- install the app (from xcode / android studio)
- open the app, and call `getInitialLink`
     ✕ returns `undefined` on ios and android

Additional information :
- `performDiagnosticsWithCompletion` returns no error
- adding `&d=1`to the dynamic link returns no error
- n

[2018-07-17 22:36] damienix commented on #1308
@liamheneghan thanks for the helpful information. Your comment was there already :) I've just improved it a little bit. The PR is incoming in a few minutes!

In short, the original code was jus fine.

@dluksza correct me if I'm wrong, IMO your `try-catch` did absolutely nothing because `ClassCastException` is an internal warning from `Bundle.parseLong` while parsing `Double` type. In addition to t

[2018-07-18 02:38] Vindexus commented on #980
@chrisbianca can I ask what was the issue here? I'm encountering a similar issue with Firebase Auth in an Angular project and am having trouble narrowing it down.

[2018-07-18 03:18] seaver-choy opened #1313 "confirmResult.confirm() is not a function"
### Issue

I have been trying to use verifyPhoneNumber as a way for me to verify my user's phone number. However, when it comes to IOS, the reply from firebase confirmResult doesn't have the props confirmResult.confirm(verificationCode) which was what is written on documentation. I have been trying to get what PhoneAuthSnapshot returns, but I can't seem to find it in the documentation.

Here's my

[2018-07-18 09:54] Ehesp commented on #1309
It's being considered - there is quite a number of complications with it due to the way it has to be implemented. We can carry the discussion on https://react-native-firebase.canny.io/feature-requests/p/new-native-ad-format

Cheers!

[2018-07-18 09:54] #1309 closed

[2018-07-18 13:29] KyleCprt opened #1314 "Cloud Functions - httpsCallable error: Object cannot be encoded in JSON"
### Issue

Hello,
I implemented RN Firebase Cloud Functions module on my project and I have an issue on Android. I followed the instructions on the documentation and when I call this code:

[code]

I get the following error:
`Error: Object cannot be encoded in JSON: { NativeMap: {"uid":"xxx-xxx-xxx"} }`

When I put breakpoints in the native code 'RNFirebaseFunctions.java', it looks like the 'input

[2018-07-18 14:26] buraksak35 opened #1315 "Execution failed for task ':react-native-firebase:compileDebugJavaWithJavac"
![ekran resmi 2018-07-18 18 05 43](https://user-images.githubusercontent.com/39245976/42890401-6944f640-8ab5-11e8-9890-c1f82d0235db.png)

![ekran resmi 2018-07-18 17 15 41](https://user-images.githubusercontent.com/39245976/42887941-c7c98498-8aaf-11e8-875f-c633f701119e.png)

 React native android firebase install . Execution failed for task ':react-native-firebase:compileDebugJavaWithJavac

### En

[2018-07-18 15:45] Ehesp commented on #1314
Hello, thanks for the report.

Just tested this locally with the exact same code and I, unfortunately, can't replicate it.

[code]

Straight after this line (45), `input` is always returned correctly as a `HashMap` (see below), but in your screenshot, it shows it as a `NativeMap` - not sure how that can happen. Do you mind creating a quick test repository that reproduces the issue?

![image](https

[2018-07-18 15:50] Ehesp commented on #1313
Hello - when you are doing the following:

[code]

The `confirmResult` is going into redux and being modified/serialized (basically its removing the function). You're going to have to rework your flow with redux, keeping `confirmResult` unmodified outside of redux.

Any questions let me know, but I'll close this for now as it's a none lib issue.

[2018-07-18 15:50] #1313 closed

[2018-07-18 15:55] Ehesp commented on #1315
Duplicate of https://github.com/invertase/react-native-firebase/issues/1070

[2018-07-18 15:55] #1315 closed

[2018-07-18 16:00] Ehesp commented on #1303
Hello - we recommend checking out https://github.com/ueno-llc/react-native-starter for a more complete starter kit.

We have discussed a CLI for the starter kit but it's not at the top of our priority list right now sorry.

[2018-07-18 16:00] #1303 closed

[2018-07-18 16:03] Ehesp commented on #1154
Please refer to https://github.com/invertase/react-native-firebase/issues/1155#issuecomment-392818412 - the release notes of RNFB 4.3 on upgrading the Android `build.gradle` dependencies.

[2018-07-18 16:03] #1154 closed

[2018-07-18 16:36] seaver-choy commented on #1313
@Ehesp Hi, I moved everything into one class, and confirmResult.confirm() still returns as undefined. The error is that confirmResult.confirm is not a function.

Here is the corresponding code:

[code]

[2018-07-18 16:57] razvantodea14 opened #1317 "Android App is not open when clicking on the Notificaion"
### Issue

The notification payload:
[code]

The application can receive notifications, but when the click is performed on a single notification, the app is not opened. If the click is performed on a group of notifications the app is opened. This issue appeared recently and only on Android devices. The getInitialNotification callback is not triggered when the app is killed and neither onNotifcatio

[2018-07-18 20:40] Ehesp commented on #1305
@lmarti17 Not 100% sure on that yet sorry.

I've just pushed up some more changes including iOS support, typescript and also theres a 5.0 branch on the docs repo. Feel free to pull the changes in from the branch if you'd like to use them now. It's also now an open PR: https://github.com/invertase/react-native-firebase/pull/1316

I'll go ahead and close this issue for now, can track progress on the

[2018-07-18 20:40] #1305 closed

[2018-07-19 01:56] NiCRoZi commented on #398
Should change your windows property settings of the files in the folder.
![capture](https://user-images.githubusercontent.com/26320678/42916877-fac6d494-8b0f-11e8-8531-61a00830912d.PNG)

*Ensure the Read-only check-box in unchecked. then click apply.

[2018-07-19 03:17] SamMatthewsIsACommonName commented on #1275
I jsut got the same error trying to update, with auth. Will downgrade for now
<img width="328" alt="screen shot 2018-07-19 at 10 16 46 am" src="https://user-images.githubusercontent.com/21329063/42919595-e608cb34-8b3c-11e8-9315-42c3f1c66066.png">

[2018-07-19 06:56] anhtuank7c commented on #1275
https://rnfirebase.io/docs/v4.3.x/installation/ios#2.-React-Native-Firebase-Installation-Recommended-installation

[2018-07-19 06:58] SamMatthewsIsACommonName commented on #1275
in the release notes of 4.3.0 it talks about which pods to use... Not sure just saying to use link now instead is very constructive?

[2018-07-19 10:11] bashirpour opened #1318 "A problem occurred configuring project ':app'."
I am use rnfirebase messaging
And I followed all the steps [this links ](https://rnfirebase.io/docs/v4.3.x/messaging/android)

But this error returns

[2018-07-19 10:59] oferRounds commented on #1166
@raff90 I was manage to solve it, finally!
https://github.com/invertase/react-native-firebase/issues/1106#issuecomment-405030305

[2018-07-19 12:01] erandagan commented on #1286
Ping @Ehesp @chrisbianca @Salakar , could you have a look?

[2018-07-19 12:41] NarendraSingh88 opened #1319 "Not getting notifications when app is in background"
I have implemented **FCM** using **react-native-firebase**.
Though, I am getting push notifications but facing some weird behaviour of the notifications, i.e,

1 ) when in background,

is not getting called at all.
  Though, I am getting default status bar notifications

2) When in foreground, the method **firebase.notifications().onNotification** is getting called.

In console, I am getting warni

[2018-07-19 12:58] KyleCprt commented on #1314
Hello 👋

I created a repo: https://github.com/KyleCprt/rn-firebase-issue. You should be able to reproduce this issue

[2018-07-19 13:11] Stone2517 commented on #568
Hey @rtman,  Use this after querySnapshot.forEach

listItems.sort(function (a, b) {
        return parseFloat(a.lastMessage.order) - parseFloat(b.lastMessage.order);
      });
return listItems;

[2018-07-19 13:26] deathart opened #1320 "[Notification/Messaging] bigPicture & color in background/killed"
### Issue

Good morning, everyone,

Here I am trying to integrate notifications into my applications, until everything is fine,
I integrate a bigPicture & color and I have a problem:

In foreground, I'm no problem, but in background/killed I just have the title and the body that appears:

So already if the application is killed or in background, we can display a bigPicture? to know that the image

[2018-07-19 13:33] Salakar commented on #1286
@erandagan thanks for taking the time to put together this issue report and proposed solutions.

Could you try my updated `getToken` replacement for iOS below and report back if you continue to have this issue or if everything is OK. Once confirmed OK I can get this added into a release.

[code]

---
Loving `react-native-firebase` and the support we provide? Please consider supporting us with any

[2018-07-19 13:34] guitar9 opened #1321 "react native stucked at Loading from localhost:8081"
### Issue

I want to use firebase cloud messaging. I want to send a notification from my backend to user of the app.
I did all steps which are described in the documentation.
When i want to run the app i get this error message:

[code]

### Environment

1. Application Target Platform:

Android

2. Development Operating System:

Linux

3. Build Tools:

Android Studio: v.3.1.3
Android Sdk API 28 par

[2018-07-19 13:43] Salakar commented on #1320
Bienvenue 🇫🇷

Pourriez-vous fournir un exemple du code que vous utilisez pour créer vos notifications à l'aide de l'option "BigPicture"?

---
Comme `react-native-firebase` et le support que nous fournissons? S'il vous plaît envisager de nous soutenir avec l'un des ci-dessous:

- 👉 Faire un don via [Open Collective] (https://opencollective.com/react-native-firebase/donate)
- Suivez-nous: [`React Na

[2018-07-19 13:44] ollieh-m commented on #525
@Salakar I've called `firebase.database.enableLogging(true)`, but am not getting anything in the logs about firebase database. Is there any more detail you could give about how to enable logging - in particular I'm trying to see why database rules are violated. Many thanks!

[2018-07-19 13:51] deathart commented on #1320
Hey, super un français :p

Oui bien sur voici le code :

[code]

Comme je disait c'est que en killed/background ça ne fonctionne pas mais en foreground, aucun soucis

j'ai essayer :
[code]

[code]

Par contre il y à que onNotification qui est appeler
[code]

Merci à vous

[2018-07-19 13:52] Salakar commented on #1070
@rikur on JDK 9~ myself and all still working - couldn't reproduce hence why I was wondering if anyone could drop a repo for me to clone. 😸

I will, however, give Java 10 a go at the weekend and report back.

---
Loving `react-native-firebase` and the support we provide? Please consider supporting us with any of the below:

  - 👉  Back financially via [Open Collective](https://opencollective.com/r

[2018-07-19 14:19] Salakar commented on #525
@ollieh-m if you're not already; you need to call `firebase.database.enableLogging(true)` before any usage of `database()` for it to work correctly.

I'd suggest calling it directly after importing `react-native-firebase` - outside of any classes/components.

[2018-07-19 14:39] Salakar commented on #1320
Comment envoyez-vous le message? De la console Firebase?

Les messages contenant une propriété 'notification' sont automatiquement gérés par le système d'exploitation Android en arrière-plan ou lorsque l'application est fermée.

Pour personnaliser entièrement la manière dont la notification est affichée en arrière-plan, vous devez envoyer uniquement des messages de données, puis créer la notificat

[2018-07-19 14:48] deathart commented on #1320
J'envoie via un script en NodeJS

[code]

[2018-07-19 14:48] guitar9 commented on #1321
updated     compileSdkVersion to version 27. Now i get error cant find this things in meta in Android Manifest. So I commented out.
Tried to run it again. Now it stucked at 0% in bundeling.
Tried to run it with android studio get error Failed to find byte code for com/google/firebase/database/DatabaseReference$CompletionListener

Have uninstalled android studio and android sdk. Installed it again

[2018-07-19 14:51] deathart commented on #1320
Le problème c'est que j'ai remarquer que :

[code]

Est jamais appelé, donc je peux pas construire moi même la notification

[2018-07-19 14:55] Salakar commented on #1320
Oui c'est le problème si vous supprimez "notification" de la charge utile et mettez vos champs `body` et` title` dans l'objet de données, alors vous serez bien de créer une notification personnalisée avec une "BigPicture" dans votre "HeadlessTask"

Voir ce lien sur comment configurer correctement votre tâche:

https://rnfirebase.io/docs/v4.3.x/messaging/receiving-messages#4)-(Optional)(Android-onl

[2018-07-19 15:20] guitar9 commented on #1321
yesterday i tried https://github.com/zo0r/react-native-push-notification and https://github.com/evollu/react-native-fcm but there i had issues, too and nobody answered to my issues. This is my last hope

[2018-07-19 15:45] deathart commented on #1320
Justement j'ai suivie, mais c'est toujours pareille voici mon bgNotification.js :

[code]

[2018-07-19 15:48] guitar9 commented on #1320
can you upload a simple project without google-services.json with your implementation of firebase to github? I dont get it run with android...

[2018-07-19 15:50] deathart commented on #1320
No impossible, it's private sources for a company. I'm sorry.

[2018-07-19 15:51] liorbraginsky92 commented on #650
I've got error when run react native project using firebase.
gradle build error in android studio

[2018-07-19 15:54] guitar9 commented on #1320
mmh okay. can you look at my issue https://github.com/invertase/react-native-firebase/issues/1321 or create a new little example project with the implemtation of Notification?

[2018-07-19 16:01] guitar9 opened #1322 "Simple Example App of implementation for Notification"
Is it possible to make a simple example app of implementation for push notifications?
Where i only change the google-play-services.json and change the package name.

[2018-07-19 16:02] deathart commented on #1320
Yeah, I followed everything, and I just reviewed everything. It's OK.

[2018-07-19 16:54] guitar9 commented on #1320
@deathart which sdk version do you use? which verison have you in compileSdkVersion and tagetSdkVersion in build.gradle?

[2018-07-19 19:13] MahmoudShaeer commented on #988
@mitchellbutler i do this but get error could not send notifications ? :\

[2018-07-19 20:48] guitar9 commented on #936
any updates? have the same problem...

[2018-07-19 21:30] guitar9 commented on #1322
I found a github repo with an exmple.. https://github.com/invertase/react-native-firebase-starter

Can be closed

[2018-07-19 21:30] #1322 closed

[2018-07-20 01:51] littlehome-eugene commented on #738
react-native 0.56.0 , I can't archive again..

It's not just react-native-firebase, other libraries seem to have the same problem.

[2018-07-20 07:21] brzonsea commented on #1289
This is happening for me in Android as well

[2018-07-20 07:24] deathart commented on #1320
My build.gradle :

[code]

[2018-07-20 07:34] deathart commented on #1320
@guitar9 : Yes I have looked at your issue, but I do not know this problem I begin in react-native

[2018-07-20 09:49] ollieh-m commented on #525
Thanks @Salakar,

I am calling firebase.database.enableLogging(true) as early as I can in the app lifecycle - in App.js. But I get nothing in the xcode logs about the firebase database.

I'm actually importing react-native-firebase in a couple of different places. One in a service object for managing auth, one in a service object for managing the db, and now in App.js in order to enable logging. I

[2018-07-20 10:16] #1308 closed

[2018-07-20 12:31] damienix commented on #1308
Sorry for being picky but @dluksza's last PR related to THIS have introduced this bug, not a fix :( His other recent PRs are not related to this I believe.

Thank you for merging my PR though.
Cheers

[2018-07-20 12:37] Salakar commented on #1308
@damienix just a little picky 😄 no worries. To clarify I meant [this PR](https://github.com/invertase/react-native-firebase/pull/1294) and it's related in terms of it being on the topic scheduling.

Thanks

[2018-07-20 19:39] mycoberago commented on #1258
I'm getting the same exact error.

I installed manually because it's an existing project and I'd like to avoid using Pods.

@code-matt can you remember any build setting changes you made?  I've spent so many hours researching and making updates to no avail.

[code]

Any help would be appreciated.

[2018-07-20 21:33] mycoberago commented on #1258
@drewandre did you ever fix your issues?

[2018-07-20 22:48] code-matt commented on #1258
@mycoberago Unfortunately there were so many, I cant not recall. I was messing with the header search paths in the RNFirebase.xcodeproj and also its link binary with libraries and copy . You would have to do this every npm install though and not practical.

[2018-07-21 01:18] mycoberago commented on #1258
Thanks @code-matt

[2018-07-21 13:05] ghost opened #1325 "Deprecated: firebase.User.prototype.signInWithEmailAndPassword in favor of firebase.User.prototype.signInAndRetrieveDataWithEmailAndPassword"
### Issue

When trying to login with RNFirebase i get this warning : Deprecated: firebase.User.prototype.signInWithEmailAndPassword in favor of firebase.User.prototype.signInAndRetrieveDataWithEmailAndPassword

[code]

/build.gradle

[code]

/app/build.gradle

[code]

### Environment

1. Application Target Platform:

Android 7.1.2

2. Development Operating System:

macOS Sierra High 10.13.4

3. Bu

[2018-07-21 13:11] Salakar commented on #738
@littlehome-eugene we don't support rn 0.56 yet, see https://github.com/invertase/react-native-firebase/issues/1283 - will be supported in v5 of React Native Firebase.

[2018-07-21 13:32] Salakar commented on #936
@esprehn it is easy to call `displayNotification` on an incoming message like you suggested;

Here's an example of how to do so:

[code]

Hope that helps!

---
Loving `react-native-firebase` and the support we provide? Please consider supporting us with any of the below:

  - 👉  Back financially via [Open Collective](https://opencollective.com/react-native-firebase/donate)
  - 👉  Follow [`React Na

[2018-07-21 17:53] vishal-android-freak commented on #1106
@Friis1978 remove ```use_frameworks!``` from pod file and delete Pods folder, lockfile xcworkspace, etc. and do ```pod install``` again

[2018-07-21 18:11] Salakar commented on #1284
Pushed up a change to address this,

Closing as this is now resolved pending release 👍 Thanks @lucasgray for reporting this and helping me test things on discord.

---
Loving `react-native-firebase` and the support we provide? Please consider supporting us with any of the below:

  - 👉  Back financially via [Open Collective](https://opencollective.com/react-native-firebase/donate)
  - 👉  Follow [`

[2018-07-21 18:11] #1284 closed

[2018-07-21 18:32] Salakar commented on #1317
@razvantodea14 could we see your `AndroidManifest` file contents?

Also, have you added the following: https://rnfirebase.io/docs/v4.3.x/messaging/android#Update-Android-Manifest ?

---
Loving `react-native-firebase` and the support we provide? Please consider supporting us with any of the below:

  - 👉  Back financially via [Open Collective](https://opencollective.com/react-native-firebase/donate

[2018-07-21 18:47] Salakar commented on #1306
@rbsl-yasmin I have no idea what you're on about 😄 this is why we have an issue template. #155 that you linked is also v2?

Please fill out the issue template correctly with a new issue or there are also similar issues like this so please try not to duplicate if you can.

[2018-07-21 18:47] #1306 closed

[2018-07-21 18:50] Salakar commented on #751
@gvillenave `verifyPhoneNumber` is the one you want for full control over the flow without reliance on `onAuthStateChanged`. 👍

See: https://rnfirebase.io/docs/v4.3.x/auth/phone-auth#verifyPhoneNumber

---
Loving `react-native-firebase` and the support we provide? Please consider supporting us with any of the below:

  - 👉  Back financially via [Open Collective](https://opencollective.com/react-na

[2018-07-21 18:57] Salakar commented on #1272
Duplicate of https://github.com/invertase/react-native-firebase/issues/988 and others.

Please check there and the many other duplicates of this issue for a resolution, specifically see this comment https://github.com/invertase/react-native-firebase/issues/988#issuecomment-383175789 for a complete reference example.

Some common causes on Android are:

 - you've not set up a notification channel

[2018-07-21 19:18] Salakar commented on #1304
@chris-divvito thanks for the detailed report and the debugging as well - really helpful 👍

Could you locally swap out that line with the below block, rebuild your app and let me know how you get on:

[code]

If all works well after that I can look into doing a patch version for the v3.3.x release line for you.

---
Loving `react-native-firebase` and the support we provide? Please consider support

[2018-07-21 19:39] Salakar commented on #449
@aMarCruz thanks for confirming and the detailed example. Will close this again.

[2018-07-21 19:39] #449 closed

[2018-07-21 19:42] #1008 closed

[2018-07-21 19:43] Salakar commented on #1233
Closing as a stale issue.

---
Loving `react-native-firebase` and the support we provide? Please consider supporting us with any of the below:

  - 👉  Back financially via [Open Collective](https://opencollective.com/react-native-firebase/donate)
  - 👉  Follow [`React Native Firebase`](https://twitter.com/rnfirebase) and [`Invertase`](https://twitter.com/invertaseio) on Twitter
  - 👉  Star this re

[2018-07-21 19:43] #1233 closed

[2018-07-21 19:45] Salakar commented on #1241
Closing issue due to no response. Can re-open on request if this is still an issue.

Thanks

---
Loving `react-native-firebase` and the support we provide? Please consider supporting us with any of the below:

  - 👉  Back financially via [Open Collective](https://opencollective.com/react-native-firebase/donate)
  - 👉  Follow [`React Native Firebase`](https://twitter.com/rnfirebase) and [`Invertase

[2018-07-21 19:45] #1241 closed

[2018-07-21 19:47] Salakar commented on #1247
Closing due to no response and unable to reproduce locally. Will re-open on request if this is still an issue.

Thanks

---
Loving `react-native-firebase` and the support we provide? Please consider supporting us with any of the below:

  - 👉  Back financially via [Open Collective](https://opencollective.com/react-native-firebase/donate)
  - 👉  Follow [`React Native Firebase`](https://twitter.com/

[2018-07-21 19:47] #1247 closed

[2018-07-21 22:20] JulianKingman commented on #805
Just kidding, the issue came back. I fixed the issue by adding the `RNFirebase` pod (as the error actually specifies).

Add to pod:
[code]

[2018-07-21 22:22] lucasgray commented on #1284
Great work @Salakar !

[2018-07-22 10:11] dsall opened #1326 "Having issues using firebase with android"
Hi guys,
I get this error when I try to run my app. ![]()![](https://i.imgur.com/sT9bSy1.jpg)

I followed all the instructions on the website as to adding the different modifications on the Java and gradle files but am still getting this error.

Am trying to implement phone authentication

Thanks

[2018-07-22 11:29] deathart commented on #1326
There is a problem on your Android/app/build.gradle file

Show your file

[2018-07-22 14:41] Evgen74 opened #1327 "storage downloadFile doesn't work"
### Environment

1. Application Target Platform: Android
2. Development Operating System: macOS Sierra
3. Build Tools: Android Studio 3.1.3
4. `React Native` version: 0.55.4
5. `React Native Firebase` Version:  4.3.7
6. `Firebase` Module: storage
7. Are you using `typescript`: no
---
I have a file on the cloud storage and I'm trying to upload it to the phone this way:

[code]
in the end I get an e

[2018-07-22 19:21] Gshock1 opened #1328 "Cannot create DynamicLinks on Firebase [React-Native-0.49.1]"
Hello,

I'm trying to create a dynamic link via firebase in my react native project, but i get a link which isn't valid.
Here is the code that I'm using:

        firebase.links()
        .createDynamicLink({
            dynamicLinkDomain: Globals.DynamicLinkDomain,
            link: "https://spark.page.link/qbvQ",
          androidInfo: {
            androidPackageName: Globals.androidPackageName

[2018-07-22 19:57] vishal-android-freak commented on #1106
@Friis1978 I am glad it is finally all good and working :)

[2018-07-23 03:13] willdady commented on #1272
@Salakar This is not a duplicate of #988. That issue is referring to notifications not appearing in the foreground when triggered by the app itself. This issue is about the `onNotificationOpened` **event** not firing after tapping the notification.

I'm sending messages via the Cloud Messaging console and they appear fine in the simulator however when pressing the notification the `onNotificationO

[2018-07-23 04:36] sowdri opened #1329 "error.credential is null if credential-already-in-use"
**Summary:**

According to the docs, if the `linkWithCredential` fails, then the `error` should contain `error.credential` which should be used in the subsequent call to `signInWithCredential`, but it's null.

**Quoted from the docs:**

I'm using phone auth with anonymous login. So all users are authenticated anonymously at first, and during login, are linked with the credentials created using pho

[2018-07-23 04:50] th-m commented on #1031
@miniofskidev I downgraded to java 8 and everything builds without error, but the app doesn't run

[2018-07-23 06:07] dsall commented on #1326
@deathart  Here is a copy of my app/build.gradle file:
`buildscript {
  repositories {
    maven { url 'https://maven.fabric.io/public' }
  }

  dependencies {
    classpath 'io.fabric.tools:gradle:1.+'
  }
}
apply plugin: 'com.android.application'
apply plugin: 'io.fabric'
apply plugin: 'com.neenbedankt.android-apt'

repositories {
  maven { url 'https://maven.fabric.io/public' }
}

android {
  c

[2018-07-23 06:08] dsall commented on #1326
`buildscript {
repositories {
maven { url 'https://maven.fabric.io/public' }
}

dependencies {
classpath 'io.fabric.tools:gradle:1.+'
}
}
apply plugin: 'com.android.application'
apply plugin: 'io.fabric'
apply plugin: 'com.neenbedankt.android-apt'

repositories {
maven { url 'https://maven.fabric.io/public' }
}

android {
compileSdkVersion 26
buildToolsVersion '26.0.1'

defaultConfig {
application

[2018-07-23 06:09] NarendraSingh88 commented on #1319
@Salakar so issue is in the way of creating channels only?

[2018-07-23 07:47] NirpE opened #1330 "Android actions example not working as expected"
### Issue

Following the tutorial of Android Actions - Adding a custom button will not give proper results when action is clicked. NotificationOpen.action is not `test_action`, instead it has value `android.intent.action.VIEW`

Note: onNewIntent() in MainActivity does contain proper action for Intent.

### Environment

1. Application Target Platform:

Both

2. Development Operating System:

macOS

[2018-07-23 08:10] leethree commented on #1283
We already upgraded our project to React Native v0.56. Should I use the current version (v4.3.6) or wait for v5? Is there anything known to break in v4 other than flow errors (which we can ignore)?

[2018-07-23 09:32] Salakar commented on #1283
@leethree there's this issues and all the ones linked above your comment e.g. there are issues with importing and using `react-native-firebase` in JS land due to breaking changes in the way the module is compiled with Babel; as it has been upgraded to v7:

![image](https://user-images.githubusercontent.com/5347038/43068837-6f1fb24c-8e63-11e8-8931-2e59661f045e.png)

Support will land in v5 in the n

[2018-07-23 09:45] leethree commented on #1283
@Salakar got it! we'll probably wait for v5 if it's coming soon.

[2018-07-23 10:08] NarendraSingh88 commented on #1222
@vvusts neither **onMessage** nor **onNotification**  is getting triggered for me. Can you please suggest how you made it working?

[2018-07-23 10:46] fattomhk commented on #1274
@haseebnaseem where should I create the notification for showing the heads when the app is in the background or not opened?

[2018-07-23 11:13] vvusts commented on #1222
@NarendraSingh88 if you didn't check once more installation documentation.
Don't forget anything in android manifest.
Make sure that your notification/message payload JSON is good.
And make sure that you didn't forget this part: https://rnfirebase.io/docs/v4.2.x/messaging/receiving-messages#4)-(Optional)(Android-only)-Listen-for-FCM-messages-in-the-background

[2018-07-23 11:45] nerjok commented on #1222
i got it working on android (as vvusts noted) onMessage() and manual notification display background/foreground. i have left onNotification() asside.

[2018-07-23 13:11] gabrielbull commented on #1272
@salakar Please re-open, we are all experiencing this issue.

[2018-07-23 13:51] Zain995 opened #1331 "Notification received but onNotificationOpened and getInitialNotification not fired in release mode when notification clicked in notification tray. Android"
Hi everyone,
I am able to receive notification in IOS and android and in IOS  onNotificationOpened and getInitialNotification is triggered when i receive notification from server but on android onNotificationOpened and getInitialNotification is not triggered so i am not able to redirect to another page based on data received in notification. I have searched a lot and looked every issue related to

[2018-07-23 14:09] NarendraSingh88 commented on #1222
@vvusts **onNotification** is getting triggered, but only when app is in foreground, but I am stuck for managing it in case of background. Though, the default status bar notification gets displayed in the background, but I need to navigate it to the specific screen on tapping / clicking the notification, and for that I need some callback like **onNotification** / **onMessage** in background as wel

[2018-07-23 14:41] maulikdhameliya opened #1332 "Error on ios when creating dynamic link :: create dynamic link failure *** attempt to insert nil object from objects[0]"
### Environment

1. Application Target Platform: **iOS**

2. Development Operating System: **macOS Sierra**,

3. Build Tools: **Xcode**

4. `React Native` version: **0.55.4**

5. `React Native Firebase` Version: **^4.2.0**

6. `Firebase` Module: **Firebase/DynamicLinks**

7. Are you using `typescript`?: **No**

###

Hello, I am trying to generate dynamic link on iOS but its not working and giving

[2018-07-23 14:45] theohdv opened #1333 "[DOC] different redirection for crashlytics setup doc"
### Issue

On https://rnfirebase.io, if you try to access the setup documentation of crashlytics from the home page you'll access this page: https://rnfirebase.io/docs/v4.3.x/crash/ios.

**But** from the documentation page: https://rnfirebase.io/docs/v4.3.x/, if you try to access the same page, it will redirect you on: https://rnfirebase.io/docs/v4.3.x/crashlytics/ios.

The problem is that the ins

[2018-07-23 14:55] kesha-antonov commented on #1106
Same here.
```'FirebaseCore/FirebaseCore.h' file not found``` when doing Archive

[2018-07-23 15:56] deathart commented on #1320
Hi I found for the background, actually you have to go through https://fcm.googleapis.com/fcm/send is not firebase admin (JS node)

On the other hand the killed, I have the notification but I can not modify it

[2018-07-23 17:03] Salakar commented on #1272
@willdady sorry I actually meant this was a duplicate of https://github.com/invertase/react-native-firebase/issues/1230 - can I close this in favour of the other one?

----

Hey @gabrielbull been a while! Small world... 😄

----

@yangnana11 this is correct, see the below section from the docs:
![image](https://user-images.githubusercontent.com/5347038/43091608-6c0f102c-8ea2-11e8-9043-4277def5f7bb.

[2018-07-23 17:09] Salakar commented on #1333
@theohdv Crash/Crash Reporting is the predecessor of Crashlytics - use Crashlytics, Crash is deprecated.

Thanks

[2018-07-23 17:09] #1333 closed

[2018-07-23 17:29] Evgen74 commented on #1327
I just had the wrong payment settings

[2018-07-23 17:29] #1327 closed

[2018-07-23 17:58] theohdv commented on #1333
Ok thanks ! But you should fix the redirection from the home page.

[2018-07-23 19:03] mishroom opened #1334 "hasPermission is not a function"
### Issue

I'm getting an error saying hasPermission is not a function. As per Issue #916 , I updated my react-native-firebase package to 4.0.0, and am now getting this error on my console:

![image](https://user-images.githubusercontent.com/16855482/43097253-56ae446e-8e70-11e8-96ab-b6c716325c18.png)

'RNFirebaseDatabase.on was called with 3 arguments but expects 2 arguments. If you haven't change

[2018-07-23 20:29] appli-intramuros commented on #1238
Hello,

Same problem here. Did you find any solution ?

Thanks.

[2018-07-23 20:39] haseebnaseem commented on #1274
@fattomhk use a headless js service, as mentioned in the docs, to intercept data only messages, and create a notification just like you do when the app is in foreground.

[2018-07-23 21:04] weepy opened #1335 "firebase.messaging().deleteToken is not a function"
Hiya,

firebase.messaging().deleteToken is unsupported, even though the documentation seems to mention using it.

is there a work-around ?  This is on latest RN with up to date everything. Also on iOS.

J

[2018-07-23 21:29] Maximell commented on #1306
I ran into an issue integrating notifications while using react-native-splash-screen. Removing the splash screen library allowed this one to function properly.

[2018-07-24 00:12] bramski commented on #471
Trying to use RNFirebase 3.3.1 I see this issue... any fix?

[2018-07-24 02:46] Zohaibmalikdev commented on #602
@chrisbianca and @paldepind i was having same issue with react-native-firebase, thanks for this fix i am glad to see project build successfully after upgrading and downgrading versions.

[2018-07-24 03:56] chris-divvito commented on #1304
Thanks @Salakar - that does indeed fix the issue for me

[2018-07-24 03:57] shahalRahman commented on #1086
Once you sent all the KeyStore settings as mentioned in the Facebook Document. In Android Studio, click on the gradle on the right side. Then app -> Tasks -> android -> signingReport . This will log SHA-1 , SHA-256 , MD5 etc.

[2018-07-24 06:02] #1332 closed

[2018-07-24 06:46] razvantodea14 commented on #1317
@Salakar This is the AndroidManifest file
`<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="***"
          android:versionCode="25"
          android:versionName="1.2.7">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.p

[2018-07-24 07:41] erandagan commented on #1258
See https://github.com/invertase/react-native-firebase/issues/1016#issuecomment-384027481 for more detailed manual installation steps.

[2018-07-24 08:50] Salakar commented on #1335
@weepy you can delete token on the iid module, see the iid docs here: https://rnfirebase.io/docs/v4.3.x/iid/reference/iid#deleteToken

Will get messaging updated to point to the same method internally or have its own method as it is now clearly supported.

Thanks for flagging :+1:

[2018-07-24 08:53] weepy commented on #1335
Thanks. Do you mean that I can delete the iid token and that will have the
same effect ?
On Tue, 24 Jul 2018 at 09:50, Michael Diarmid <notifications@github.com>
wrote:

[2018-07-24 09:41] Zain995 commented on #1149
@hoanghapo I am doing the same thing code is also same as you shared but i am not getting any issue on IOS but on android the things are working fine when in debug mode but nothing happens when i test using release apk. any help please.?

[2018-07-24 10:53] prasad456 commented on #1044
@loadedthief
even I can't run the app to the device, Can u tell if your problem solves?

[2018-07-24 11:33] vonovak opened #1336 "android Notification object ignores localization arguments"
We're using the fcm api to send push notification to devices (https://firebase.google.com/docs/reference/fcm/rest/v1/projects.messages#AndroidNotification) and we're using the `*_loc_key` arguments - eg. `title_loc_key` to send the key to the title string in the app's string resources used to localize the title text (and we do NOT use the `title` argument because we need the message localized whic

[2018-07-24 12:51] mycoberago commented on #1258
@erandagan thank you!! This did it!

[2018-07-24 15:04] sercanov commented on #1129
I encountered this case with a marketing tool which has their own notification handlers, so I needed to create another FirebaseMessagingService to handle pushes from that tool and let their SDK handle the payload.

I tried with following but couldn't even see the Log. Only log I get is `RNFMessagingService: onMessageReceived event received`

[code]

Related AndroidManifest.xml
[code]

Any idea why

[2018-07-24 17:22] #1336 closed

[2018-07-24 21:12] erandagan commented on #1334
The error you're getting on the device is caused by the fact you're unable to build your xcode project with the new native dependencies, thus having a mismatch between your JS RNFirebase and the native modules.

As for the issues with building your project, are you sure you're using the right pod version for firebase? Perhaps you're using newer pods than RNF 4.0 supports?

- Check your pod lock fi

[2018-07-24 21:19] erandagan commented on #1321
It's a bad idea to comment out (and really, make any changes) to files owned by libraries / generated by gradle.

Could you try upgrading appcompat to 27.x.x, along with setting both your compile and target versions to 27?
This should solve the missing resource error.

[2018-07-24 21:38] appli-intramuros commented on #1238
Slack app seems to have similar issues.
It seems to be due to battery optimization on android 6 and above.

https://get.slack.help/hc/en-us/articles/360001562747-Known-issues-with-Android-notifications

I dont know if is it possible to force an app not to be battery optimized by android.

[2018-07-25 00:18] rtman opened #1338 "Java Exception in 'NativeModules'"
### Issue

I just upgraded from 4.0.3 to 4.3.7 and I'm getting the following error when the app opens (after bulding successfully)

![rnfirebase_error](https://user-images.githubusercontent.com/20849135/43172605-db01cdae-8f64-11e8-927b-1e6e2e92508b.png)

Not sure what the issue is

Here is my app/build.gradle:

[code]

build.gradle

[code]

Thanks for your help!

### Environment

1. Application Ta

[2018-07-25 02:41] barjas opened #1339 "Storage PutFile returns downloadUrl as NULL"
### Issue
Firebase uploading the file but

Running the below code, will upload the file successfully to firebase storage. HOWEVER it return return  downloadUrl as NULL
[code]
### Environment
1. Application Target Platform:Both
2. Development Operating System: macOS
3. Build Tools: Xcode
4. `React Native` version: 0.55
5. `React Native Firebase` Version: 4.2
6. `Firebase` Module: Storage
7. Are you

[2018-07-25 05:47] fedeamura opened #1340 "W/FirebaseMessaging: Error while parsing timestamp in GCM event"
When the app is on foreground no notification is shown...
The logcat shows me this:

[code]

On background works well...
This is and example of the notification send:

[code]

[2018-07-25 07:39] Apak00 commented on #398
@NiCRoZi but you have to do this everytime, am I right? if so there is no perminent solution to this issue yet, is there?

[2018-07-25 07:42] NiCRoZi commented on #398
@Apak00  yes. I havent found any solution this far. I do gradlew clean everytime in android before i run react-native run-android

[2018-07-25 08:15] Apak00 commented on #398
@NickyMwangi  I might have found a solution, I'm not sure  but try adding your buildToolsVersion back. Like so, I added `buildToolsVersion "26.0.0"` to my app level `build.gradle` file.

[2018-07-25 09:29] #1320 closed, assigned to Salakar

[2018-07-25 10:09] dbyilmaz opened #1342 "Firestore onSnapshot event callback not firing"
### Environment

1. Application Target Platform: Android

2. Development Operating System:  macOS Sierra

3. Build Tools:

4. `React Native` version: 0.53.0

5. `React Native Firebase` Version: 4.3.7

6. `Firebase` Module: firestore

7. Are you using `typescript`? : no

---
This code block is not work.
[code]

`
[Firestore]: The behavior for java.util.Date objects stored in Firestore is going to c

[2018-07-25 10:12] hoangvuanhdevelopervn opened #1343 "How to remove notification on Android"
I use firebase to push notification, it's work fine but have two problems in my app:

1. I can't swipe to remove notification, must click to run app to remove it.
2. I must click each notification to remove it, and i think it's so bad. So how to swipe to remove a notification and when click one, all notification will remove?

That is my code:
[code]

[2018-07-25 13:01] thegreate commented on #855
![screenshot_1532523617](https://user-images.githubusercontent.com/6082909/43202314-cddf610c-9038-11e8-9854-392f7dbe6de7.png)
 I am facing this issue . Don't know how this happend.

[2018-07-25 18:50] kevboh commented on #1171
For people who are still seeing the captcha after turning on Push Notifications, I also had to turn on the "Remote notifications" Background Mode—you can do so in the Capabilities pane in Xcode.

[2018-07-26 01:14] rtman opened #1344 "RNFirebaseLinks + react-native-google-signIn openUrl setup?"
### Issue

Hey,

When setting up google auth (with react-native-google-signIn) it seems there has to be a modification to the openURL section of the appDelegate.m

I've tried to combine what I was using before with what is required from react-native-google-signin but tbh i don't know much about objective c. SInce this is the recommended way to do google auth with rn-firebase it'd be great to have

[2018-07-26 04:56] joaom182 commented on #1223
Same issue here, but the Android app UI freeze when call `firestore.set()` method too.

[2018-07-26 05:00] joaom182 commented on #1284
Same issue here, but the simple method `firestore.set()` causes UI Thread Blocking on Android too.

[2018-07-26 05:08] joaom182 opened #1345 "Firestore is causing UI Thread Blocking on Android"
### Issue

I'm trying to simple save my data with firestore, calling `firestore.doc('path_doc').set(docPayload, {merge: false})`, and this process has taking 5 ~ 7 seconds and is freezing the UI thread.
I don't have snapshots collection listener on the project, that may causes the UI freeze.

### Environment

1. Application Target Platform:
Android

2. Development Operating System:
macOS High Sier

[2018-07-26 06:18] abburi03 opened #1347 "Phone Verification"
Hi,

I am trying to just very phone using the library (Not provider linking) .  Do you support this feature?

[2018-07-26 06:36] nomikeeper commented on #1326
@dsall You only added Firebase-core package into your android project.

`implementation "com.google.firebase:firebase-core:16.0.1"`

you need to add the package you want to use individually, I think.
For example: if you want to use firebase-auth and firebase-analytics you need to add these lines

[code]
into your dependencies.

[2018-07-26 10:42] Salakar commented on #1223
@mgenov @joaom182 I'll push up something for this today/latest tomorrow to resolve this.

I did something similar recently for `database()` on this commit: https://github.com/invertase/react-native-firebase/commit/26338d8d6286bc83b597c6de2c25f6b904b68eec and the similar logic can be used here.

If you're interested; a before and after comparison of the UI for the db change can be seen [here](https

[2018-07-26 11:35] rajeshsmallarc commented on #294
@matyasfodor  worked for me.

Thanks

[2018-07-26 11:50] madeeha96 commented on #883
firebase
      .analytics()
      .logEvent("HomeScreen", {
        ec: "Screen Event",
        ea: "madeeha" + "is on Home Screen",
        el: "Home Screen",
        ev: null
      });

Here is my function and its not working

[2018-07-26 13:52] guitar9 opened #1349 "possible to make app size smaller?"
I only use Messaging, Admob and Notification. My Android app has a size of 27,21 MB only with this implementation with firebase. Is this normal? Can i make i smaller?

[2018-07-26 13:52] ektasahu027 opened #1350 "onshapshot() or get() both method not work....in firestore"
apply plugin: "com.android.application"

import com.android.build.OutputFile

def enableProguardInReleaseBuilds = false

android {
    compileSdkVersion 27
    buildToolsVersion "27.0.2"

    defaultConfig {
        applicationId "com.inquirr.inquirr"
        minSdkVersion 16
        targetSdkVersion 26
        versionCode 1
          multiDexEnabled true
        versionName "1.0"
        ndk {

[2018-07-26 14:10] Salakar commented on #1345
Closing as duplicate of https://github.com/invertase/react-native-firebase/issues/1223.

[2018-07-26 14:10] #1345 closed

[2018-07-26 14:30] joaom182 commented on #1223
@Salakar Thanks! This fixes will be a PR?

[2018-07-26 14:57] SkyTreasure commented on #1296
@aMarCruz  Hi i created a new firebase project and a new react-native app only to test this feature with the packages
"react": "16.3.1",
"react-native": "0.55.4",
"react-native-firebase": "^4.3.0"

    implementation "com.google.firebase:firebase-core:16.0.1"
    implementation 'com.google.firebase:firebase-messaging:17.1.0'

I copied the same code from my main project to this sample project.  Its

[2018-07-26 15:39] nickarora commented on #1274
We are having trouble with this as well.

[code]

The app remains in the foreground the entire time.
This notification goes directly to the system tray.
No heads up display.

Anyone have any idea what the issue here is?  @haseebnaseem @yangnana11

[2018-07-26 16:44] Salakar commented on #1350
Please correctly format your code snippets and also please provide an actual error stack using the android ADB logs as it's not clear what your issue is here?

Will re-open once it's been updated and you reply here.

Thanks

[2018-07-26 16:44] #1350 closed

[2018-07-26 16:46] Salakar commented on #1349
Please don't post the same issue multiple times. You've also created this same issue on the starter repo.

Also please ask questions like this on Discord - the GitHub issues are generally for bug reports.

Thank you.

[2018-07-26 16:46] #1349 closed

[2018-07-26 16:48] Salakar commented on #1347
@abburi03 hi, yes we do, please see the following documentation: https://rnfirebase.io/docs/v4.3.x/auth/phone-auth#verifyPhoneNumber

---
Loving `react-native-firebase` and the support we provide? Please consider supporting us with any of the below:

  - 👉  Back financially via [Open Collective](https://opencollective.com/react-native-firebase/donate)
  - 👉  Follow [`React Native Firebase`](https:

[2018-07-26 16:48] #1347 closed

[2018-07-26 16:52] krishnaraghavendra commented on #1347
@Salakar I tried doing that but how to verify code. I was able to send code to user and i have access to verificationID. Now how to check if code is valid.  There is no clear documentation for that

[2018-07-27 03:14] Mogust commented on #1212
i have a same problem here, i import the GoogleSignIn from react-native-google-signin and still got error "Cannot read configure property"

[2018-07-27 08:45] ektasahu027 opened #1351 "Firebase app has not been initialized..."
**Here is the error**

![screenshot_2018-07-27-14-13-45 1](https://user-images.githubusercontent.com/41745899/43311209-614e616c-91a7-11e8-92b7-cf75ecc52e6d.png)

**dependencies are**
[code]

[code]

[2018-07-27 12:04] khaniku commented on #1070
@Salakar Any feedback yet?

[2018-07-27 13:39] Gshock1 commented on #1328
Any help guys?

[2018-07-27 14:51] olivierlesnicki commented on #1126
Facing the same issue on iOS

[2018-07-27 17:01] Ehesp commented on #1314
@KyleCprt sorry I've been away - I'll get this looked at ASAP!

[2018-07-27 17:04] Ehesp commented on #1351
Have you included the `.json` file from the Firebase console into your project as per the docs? Also if you can, check the logcat messages from Android Studio which will tell you more about what's wrong.

[2018-07-27 18:48] dluksza opened #1352 "[ios][notifcation/messaging]FIRInstanceIDLogger formatMessageCode EXC_BAD_ACCESS KERN_PROTECTION_FAILURE"
### Issue

After migrating notifications in my app from `react-native-notification` to `react-native-firestore` I've started seeing strange issue on iOS. Don't have any clue why it is happening. Apart from changing this -middleware- library nothing else has changed. I'm still using the same texts in messages. But from time to time this error popup in crshlytics:

` +[FIRInstanceIDLogger formatMess

[2018-07-27 20:56] scottmas opened #1353 "Firestore blows up on GET {source: "cache"} if document exists in cache"
### Issue
When I request a document with {source: 'cache'} that already exists, the library blows up with a native error (not a nice wrapped one):

[code]
### Steps to reproduce:
[code]

### Environment

IOS
macOS Sierra
RN 54
RN FIrebase 4.3.5

Using Firestore 5.4.1 in my Podfile, which is super bleeding edge. I don't think that's the source of the problem though,  since after looking at the goog

[2018-07-27 21:05] Ehesp commented on #1353
Thanks for the report, will get this checked out. Can you easily replicate on Android to help debug?

Cheers

[2018-07-27 21:09] scottmas commented on #1353
To give some more detail, it only appears to happen for SOME documents. I haven't been able to figure out why some collections are borked and others aren't. Maybe a permission rules thing?

I haven't quite upgraded Android to the latest Firebase version, so let me do that and then get back to you if I can replicate it there.

[2018-07-27 21:14] Ehesp commented on #1353
Ok cheers - anything to fully replicate it every time would be super handy!

[2018-07-27 21:16] scottmas commented on #1353
Geez luis... It appears to be dependent on the local data being in a weird state. After I wiped my ios device, the issue goes away.

I don't understand how you guys do error catching, but at the very least wouldn't we expect RN Firebase to throw a JS error instead of blowing up on the native thread.

[2018-07-27 21:20] Ehesp commented on #1353
It should be thrown as a JS promise error into the catch, see: https://github.com/invertase/react-native-firebase/blob/master/ios/RNFirebase/firestore/RNFirebaseFirestoreDocumentReference.m#L50

If you do the following, does it catch it JS side?

[code]

[2018-07-27 21:21] scottmas commented on #1353
No, it doesn't. It only gets caught at the native level and makes the entire app crash.

[2018-07-27 21:23] Ehesp commented on #1353
Right interesting, it could be an iOS native bug which is crashing in their code as it's not handled.

When you say "It appears to be dependent on the local data being in a weird state", how exactly did you get it into the 'weird' state?

[2018-07-27 21:30] Ehesp commented on #1353
@scottmas in fact, could you try ensuring the 5.4.1 is installed and see if you can replicate?

There has been a few big bugs with [5.3.0](https://github.com/firebase/firebase-ios-sdk/issues/1548), and we've also had some cache issues reported on Discord with that version

[2018-07-27 21:31] scottmas commented on #1353
Yes, 5.4.1 is installed.

[2018-07-27 21:45] Ehesp commented on #1353
Yep it's a firebase issue then. Just had a quick chat with @Salakar and he agreed it should be raised on their side. The stack trace also points to it being internal to firebase.

[2018-07-28 06:10] joaom182 opened #1354 "[Android RN 0.52 - v4.3.8] Promise never return on call firestore.set and firestore.update"
### Issue

The follow code only fire `console.warn('Saving...')` in Android.
On iOS works fine, fire `console.warn('Saving...')` and `console.warn('Saved')`

[code]

### Environment

1. Application Target Platform:
Android

2. Development Operating System:
macOS HighSierra

3. Build Tools:
--

4. `React Native` version:
0.52.0

5. `React Native Firebase` Version:
4.3.8

6. `Firebase` Module:
Fires

[2018-07-28 06:22] smkhalsa commented on #1283
@Salakar any idea when v5 will land?

[2018-07-28 07:38] quantumcept commented on #958
@juanlet any idea why I get an error saying

'Error linking account', { [TypeError: null is not an object (evaluating 'user.linkAndRetrieveDataWithCredential')]

[2018-07-28 11:59] bhavneet0812 commented on #627
**Solved**

Install  **pod 'FirebaseCore'** instead of **pod 'Firebase/Core'**

[2018-07-29 17:48] laurachevalier4 opened #1356 "_firebase2.default.messaging(...).hasPermission is not a function"
### Environment
Xcode Version : 9.4.1
Development Operating System: macOS High Sierra
Application Target Platform: iPhone 6
`React Native` version: 0.55.4
`React Native Firebase` Version: 4.3.8
`Firebase` module: Messaging

### Issue

React Native build is failing in js console with `TypeError: _firebase2.default.messaging(...).hasPermission is not a function`. The app builds successfully in x-cod

[2018-07-29 18:47] JacobMGEvans commented on #745
@maheshsgr That link is 404, you could have given a sample of the code as well...

[2018-07-29 20:49] #1304 closed

[2018-07-29 20:53] Salakar commented on #1335
@weepy yes it should have the same effect.

[2018-07-29 20:57] Salakar commented on #1283
@smkhalsa hey; we're aiming for a release on the 7th. Thanks

[2018-07-30 05:31] ektasahu027 commented on #1351
@Ehesp thank you so much i resolve my issue it is shows some dependencies problems when i import my project into android studio than i resolve it now its working...

[2018-07-30 06:44] Ehesp commented on #1354
Thanks for the report. Do you have any specific security rules which may be effecting it?

Our tests for this are passing, however I'll check it manually - if that works, a reproducible project may come in handy!

[2018-07-30 07:14] CrazzzyDev commented on #73
facing same issue.

"react-native": "0.55.4",
"react-native-firebase": "^4.3.7",

[2018-07-30 14:40] SukhKalsi opened #1357 "Re: Firestore call causes folly::toJson error"
### Issue

Hello. I'm trying to use this library in conjunction with react-native-maps. The later package (which is in the community react repos!) is insistent on using Cocoapods and in fact doesn't work using `react-native link` (reference: https://github.com/react-community/react-native-maps/blob/master/docs/installation.md )...  which sods law is one of the unrecommended ways to use this librar

[2018-07-30 16:58] tclarke-scottlogic opened #1358 "Notifications causing react native to crash - String not being parsed"
### Issue

App is crashing on the iOS simulator when it receives data. This *appears* to be caused by incoming notifications in the simulator code, as it stops happening when this, but the bug is erratic.

This appeared to begin after I updated to High Sierra 10.13.6.

Exception thrown:
[code]

### Environment

1. Application Target Platform:

iOS

2. Development Operating System:

 macOS High Sie

[2018-07-30 17:00] tclarke-scottlogic commented on #1358
When this code is removed the crash appears to stop, but the app has to be uninstalled and reinstalled first, and the crash does not occur during this code's execution.

[code]

[2018-07-31 06:49] cod2017 commented on #1230
+1

[2018-07-31 07:45] Nima104 commented on #1342
Are you somehow changing the fields of the document specified by path?

firebase.firestore().doc(path).onSnapshot(callback) creates an event listener that only fires when you change any fields on that doc. From the guides:

[https://firebase.google.com/docs/firestore/query-data/listen](url)

[2018-07-31 08:33] kkusanagi commented on #183
As to update badge number in Android, you need to set code manually.
`firebase.notifications().setBadge(3);`

For IOS, set badge in payload can be done.

[2018-07-31 10:43] Ehesp commented on #1342
Hi @dbyilmaz could you show us any security rules around the `path` and also what data is at the `path` (please remove anything sensitive but keep the types, e.g. a date).

Our tests are passing for this so just want to see if we can replicate an edge case.

Cheers

[2018-07-31 11:02] Salakar commented on #1358
@tclarke-scottlogic thanks for taking the time to put this issue together.

Looks like the stack trace points to iOS crashing on receiving a message from FCM or whilst connecting to it at least.

As you state this has happened since upgrading your OS it looks like this could be caused by invalid builds; could you try the following:

1. On xCode run `Product` > `Clean` from the top menu
2. Close Xc

[2018-07-31 11:30] rendomnet commented on #1230
same here

[2018-07-31 11:35] delorenj commented on #677
I am having this exact same issue, but I am not linking `Firebase/Performance`. I am running out of ideas on how to fix this issue!  Super frustrating.  I can load ads through multiple mediation adapters, but using the iOS ad uit test id gives me an "internal SDK error" after loadAd().

[2018-07-31 11:56] Ehesp commented on #677
@delorenj have you checked the native iOS logs for anything more telling? The errors back from the SDK are less than helpful in a lot of cases, but sometimes the native libs throw out "console logs" with more handy messages.

[2018-07-31 13:34] joaom182 commented on #1354
What specifically do you mean by security rules?

[2018-07-31 13:37] joaom182 commented on #1223
@Salakar any progress?

[2018-07-31 13:41] Ehesp commented on #1354
On the Firebase console, you have anything specific in here:

![image](https://user-images.githubusercontent.com/842078/43463110-c16db2fc-94cf-11e8-9050-1f1a47c3a5b6.png)

[2018-07-31 15:00] OliverTheCoder commented on #682
I have followed the steps by @code-matt and it's still not working, I have also made sure that I have thoroughly followed the installation instructions at https://rnfirebase.io for android but I still see the red screen whenever I add the line: import firebase from "react-native-firebase". Any help would be much appreciated. thanks.

[2018-07-31 15:19] tclarke-scottlogic commented on #1358
@Salakar Already have done. I now have more information on the crash. It is down to `FIRMessagingDataMessageManager` expecting a dictionary when it's deserialised a string...

The lines in question are:
[code]

`po [message[kDataMessageNotificationKey] class]` in the debug console comes out as `__NSCFString`

`key` is `'e'`

message is:
[code]

[2018-07-31 15:24] tclarke-scottlogic commented on #1358
So this would suggest our server team is sending the wrong kind of data over the notifications?

[2018-07-31 15:38] Salakar commented on #1358
@tclarke-scottlogic indeed, it looks like your server team is sending a JSON string for the notification property.

E.g instead of:
[code]

They're probably sending something like:

[code]

Hope that helps.

[2018-07-31 15:41] tclarke-scottlogic commented on #1358
What's odd is that this appears to be the internal item called notification inside "data" rather than the top level notification.

[2018-07-31 15:45] tclarke-scottlogic commented on #1358
From server team:

[code]

[2018-07-31 15:50] tclarke-scottlogic commented on #1358
Oh, also, updated to firebase 4.3.1 and thus FirebaseSDK:

[code]

[2018-07-31 15:52] tclarke-scottlogic commented on #1358
So it's as if it's unfolded what was sent and we're getting a naming conflict?

[2018-07-31 15:54] Salakar commented on #1358
Hmm lets move this conversation over to your ios sdk issue https://github.com/firebase/firebase-ios-sdk/issues/1602.

[2018-07-31 15:54] #1358 closed

[2018-07-31 16:04] OliverTheCoder commented on #725
I also run to this issue guys, How do I fix this? any help would be much appreciated.. thanks
@littlehome-eugene @dmacmillan  @steelx

[2018-08-01 02:45] Bang9 opened #1359 "Notifications are not gone when I clicked them"
### Issue
I'm using now only using onMessage to display custom notification.
Everything works fine(foreground/background/closed), but delivered(in status bar) notifications are not disappear when I clicked them(app is going to open)
How can I kill them when I clicked👿

Is there other notification option that I dont know?
or have I to use onNotificationOpened with removeDeliveredNotification in my

[2018-08-01 03:45] joaom182 commented on #1354
@Ehesp nop

[2018-08-01 05:46] digrase008 opened #1360 "Could not determine the dependencies of task ':app:compileDebugJavaWithJavac'"
FAILURE: Build failed with an exception.

* What went wrong:
Could not determine the dependencies of task ':app:compileDebugJavaWithJavac'.

     Required by:
         project :app

While creating built it's working fine but when it comes to run the built that is after performing react-native run-android I am getting built got failed with the above message

Here is my built.gradle :

buildscript {

[2018-08-01 07:45] littlehome-eugene commented on #738
I'd like to share how I'm solving the header problem.

I see similar problems with other RN libraries other than RNFirebase.

I know it is weird but I believe xcode has a bug where it can't recognize the setting we set through `build settings` for the `Framework search path` and `build phases` for the `Link Binary with Libraries` .

When archiving fails, I do the following,

remove $(built_product

[2018-08-01 07:45] littlehome-eugene commented on #725
@OliverTheCoder please refer https://github.com/invertase/react-native-firebase/issues/738#issuecomment-409482220

[2018-08-01 08:58] Mogust commented on #614
i try @sturmenta solution but still getting error 💃

[2018-08-01 10:00] Ehesp commented on #1360
Have you run the link command? Seems as though it hasn't installed properly. E.g. check https://github.com/invertase/react-native-firebase-starter/blob/master/android/settings.gradle#L2 and other files for comparison.

[2018-08-01 11:57] Nitingadhiya commented on #1190
same issue in android device,
when click to notification window that time
getinitial method call but we have getting null response.
when we click to notification.
react-native V : 0.56.0
react: 16.4.1

[2018-08-01 17:34] OliverTheCoder commented on #725
Thanks for the quick feedback, I looked at the #738, however i'm running it on android not ios, I even created a new react-native project and followed the instructions for integrating react-native-firebase and also checked out their supported react-native versions but I still get the error: **RNFirebase core module was not found natively on android** even on the new clean project... what do I do n

[2018-08-01 19:12] Kingsta93 commented on #805
Still have this error. I have added RNFirebase to my pod file as above as well as running react-native link. Any ideas?

[2018-08-01 23:30] kolohelios commented on #1016
I wasn't able to do get what @loukandr suggests to work, but adding the Frameworks as individual files instead of the whole folder did work. Thanks to both @loukandr and @AndreiCalazans !

[2018-08-02 03:07] 8BallBomBom commented on #1359
Are you using the setAutoCancel android option?
If not have a look here.
https://rnfirebase.io/docs/v4.3.x/notifications/reference/AndroidNotification#setAutoCancel
`notification.android.setAutoCancel( true );`

[2018-08-02 03:32] Bang9 commented on #1359
Oh crap I missed that options, thx so much!

[2018-08-02 03:32] #1359 closed

[2018-08-02 05:54] rknell commented on #1357
Same problem, appears to be related to data coming down the line. Issue appears on both Android and iOS for me. Still trying to work out exactly the cause. Did you get to the bottom of it?

[2018-08-02 06:26] rknell commented on #1357
OK! Solved it for me!!!

Turns out I had a text field with the word Infinity... which got interpreted as the numeric value... Inifinity... changed it to a string in the firestore console and all is good! Hope you solve your issue.

[2018-08-02 09:27] Ehesp commented on #1354
@joaom182 thanks for checking. I'll check this out - there's currently some background work going on with Firestore for another issue which has required a few changes so I'll speak with Salakar on that.

[2018-08-02 09:29] Ehesp commented on #1357
@rknell Sounds an interesting one! Could you take a screenshot of exactly what you mean by the 'word Infinity' in the console?

@SukhKalsi could you show us what data you have on the ref, on the console?

[2018-08-02 09:54] Salakar commented on #1178
@Afsarunnisa @thejasreem thanks both for the stack traces.

@thejasreem could you provide us with a code usage sample as well for comparison to @Afsarunnisa's issue.

Weirdly all our tests for transactions [here](https://github.com/invertase/react-native-firebase/blob/master/bridge/e2e/firestore/transactions.e2e.js) pass fine so initially not something we can reproduce as this may be an edge case

[2018-08-02 10:14] Salakar commented on #1223
@joaom182 @mgenov @lucasgray @diehardest

This has been pushed up; please could you try out this branch:

https://github.com/invertase/react-native-firebase/tree/firestore-android-asynctask

A couple of people on discord have tested already;
![image](https://user-images.githubusercontent.com/5347038/43577903-28d80732-9645-11e8-9c00-be28877580bc.png)

Let me know how you get on, thanks.

---
Loving

[2018-08-02 10:37] Salakar commented on #1352
@dluksza I can only suggest based on the stack trace that it'd be best flagging this issue up on the `firebase-ios-sdk` repo - the stack trace points to only the iOS sdk internals.

Sorry if that's not very helpful. 🙈 Do tag this issue if you post an issue over there so people can follow it through.

---
Loving `react-native-firebase` and the support we provide? Please consider supporting us with

[2018-08-02 10:37] #1352 closed

[2018-08-02 12:03] AlanRedvike opened #1361 "no payload in getInitialNotification"
### Issue

Hi there, im implementing notifications in my app and came across this problem:
When i send a message from firebase console it is properly received in the emulator and i get the event in app.
If the app is in foreground mode i receive a proper payload in the onMessage handler (with notification's body text etc..)
However, if the app is in background mode and i try to get something throu

[2018-08-02 13:01] Salakar commented on #1361
@AlanRedvike thanks submitting and all the detail.

This is a duplicate of https://github.com/invertase/react-native-firebase/issues/1190 so will close this one and we can continue the conversation over there.

[2018-08-02 13:01] #1361 closed

[2018-08-02 13:54] scottmas commented on #1225
I will try that out! However, the 150ms-200ms lag actually occurs on both ios and android. This is with a query that contains only 1 docChange, so it's highly unlikely to be the async issue you describe.

[2018-08-02 15:35] Salakar commented on #1225
@scottmas inclined to agree with you as well in that case.

Lets start with iOS; what version of the Firestore pod are you running? There was a recent change on the ios-sdk that should have improved the performance of document querying on a collection; https://github.com/firebase/firebase-ios-sdk/pull/1533 - I believe this landed in v5.4.1 of the Firestore ios pod. The change was also ported to th

[2018-08-02 15:39] dluksza commented on #1352
This is helping a bit. Thank you for your time :)

[2018-08-02 15:40] #1351 closed

[2018-08-02 15:41] ollieh-m commented on #220
Hi,

I'm struggling with this issue - are there any examples of what the local path on the device should be.

The below is error-ing with `The specified device file path is invalid or is restricted.`:
[code]

Many thanks

[2018-08-02 15:52] DuduOP commented on #1031
@chrisbianca
You're right
Little tricks with jenv solved issue

[2018-08-02 18:41] vendramini commented on #1317
Some track.

When sending through firebase console, my app do open when I press it.
When sending through my php API (that sends to firebase), my app DO NOT open.

I compared the incoming information and noticed that from firebase console the `click_action` propertie came `undefined` and I'm setting it from my API. So I removed it to test and now my app is opening.

Why do a `click_action` properti

[2018-08-02 19:03] SukhKalsi commented on #1357
Thanks for the insight @rknell - glad you got it resolved 👍 deffo a data parsing issue for sure, unfortunately i have a lot of data in this Firestore (several hundred collections which each collection having about 25+ fields 🙈) -> inherited from an existing app so also need to be careful what i do (annoyingly Firestore doesn't have a export feature)

Interestingly once the initial request has gone

[2018-08-02 20:36] viniciusfont opened #1363 "With Phone Auth, reCaptcha page on the safari turns blank after checking"
### Issue

Only on iOS, using the **Phone Auth**, the _reCaptcha_ page on the safari turns blank after checking and does not return to the application.

I have been developing this application for 1 month, successfully logging on several times, and only today when I arrived at the office did the problem begin.

I already configured another GoogleService-Info.plist and the URL in Xcode.

### Enviro

[2018-08-02 20:53] handu commented on #1363
@viniciusfont Having the same issue, but only running on device. It works for me in the simulator ("react-native-firebase": "4.2.0", "react-native": "0.50.3")

[2018-08-02 21:05] viniciusfont commented on #1363
@handu Did the problem start today?

[2018-08-02 21:06] handu commented on #1363
@viniciusfont Yes, but it works for me now, I guess it was a tmp glitch in firebase service?

[2018-08-02 21:14] viniciusfont commented on #1363
@handu It worked, apparently it was a temporary problem indeed. I was losing my mind already! =D

[2018-08-02 21:14] #1363 closed

[2018-08-02 23:11] rknell commented on #1357
@Ehesp This is what I mean by "Infinity"

So this will work no problems (as it should!)
![screen shot 2018-08-03 at 9 03 46 am](https://user-images.githubusercontent.com/5875053/43615706-4bb95c58-96fc-11e8-87e6-43d1fc48ad19.png)

This however will crash the app when it tries to read the record:
![screen shot 2018-08-03 at 9 03 57 am](https://user-images.githubusercontent.com/5875053/43615712-565dc

[2018-08-03 00:15] SukhKalsi commented on #1357
So I managed to decipher what was happening by using the debugging tools in Xcode. My issue is pretty similar to yours @rknell but as you suggested was actually related to `NaN` values being populated (how the data go in like this is beyond me).

Due to the volume of data (which i certainly wasn't going to cleanse!), I made the following addition here:

[code]

Within this line:
https://github.com

[2018-08-03 02:44] dominicsavb opened #1364 "onNotificationOpened not working at iOS 11"
### Environment

1. Application Target Platform:

iOS

2. Development Operating System:

macOS High Siera

3. Build Tools:

iOS 11

4. `React Native` version:

0.55.4

5. `React Native Firebase` Version:

4.2.0

6. `Firebase` Module:

notification

7. Are you using `typescript`?

no

---

When I'm using local notification, and I used onNotificationOpened to know when notification is tapped and app

[2018-08-03 04:28] dominicsavb commented on #1364
Solved. The problem is found. I solved it with delete react-native-fcm configuration.

[2018-08-03 04:35] berpcor opened #1365 "React native firebase and standart firebase library onAuthStateChanged outputs different info."
Hello.

[code]
In case above i get AUTH-NO while

[code]
outputs AUTH-YES after app loading.
Is it normal?

[2018-08-03 06:47] AlanRedvike commented on #1190
any one with a solution ? i can't get this to work ;s

[2018-08-03 07:08] nomi9995 commented on #855
i have same issue
Error: this app is not authorized to use firebase authentication. please verifythat the correct package name and sha-1 are configured in the firebase console.

i have already added SHA-1 package name to firebase but could not resolve this error

[2018-08-03 07:09] nomi9995 commented on #1086
i have same issue
Error: this app is not authorized to use firebase authentication. please verifythat the correct package name and sha-1 are configured in the firebase console.

i have already added SHA-1 package name to firebase but could not resolve this error

[2018-08-03 07:10] nomi9995 commented on #1086
@adirzoari help me

[2018-08-03 07:11] nomi9995 commented on #1039
i have same issue
Error: this app is not authorized to use firebase authentication. please verifythat the correct package name and sha-1 are configured in the firebase console.

i have already added SHA-1 package name to firebase but could not resolve this error

[2018-08-03 07:13] digrase008 commented on #1360
yup I have run the link command also still stuck at the same stage from
last 2 days please help me out

On Wed, Aug 1, 2018 at 3:30 PM, Elliot Hesp <notifications@github.com>
wrote:

[2018-08-03 11:30] hoantp commented on #1317
I have the same issue and try removing the `click_action` from request, hope it's working. But I also wonder why `click_action` (maybe) is the problem. 🤒

[2018-08-03 11:55] badarshahzad commented on #1194
Hi, I am also trying to add the react-native-firebase but looking at this example https://rnfirebase.io/docs/v4.3.x/auth/phone-auth#signInWithPhoneNumber I am not sure where to add firebase  configuration

var config = {
    apiKey: "<API_KEY>",
    authDomain: "<PROJECT_ID>.firebaseapp.com",
    databaseURL: "https://<DATABASE_NAME>.firebaseio.com",
    projectId: "<PROJECT_ID>",
    storageBucke

[2018-08-03 12:08] LucasBassetti opened #1366 "Android realtime database fetching forever"
Hi,

My realtime database stops working in Android suddenly. No every simple query that I do the promise never return a result (gets stuck forever). Example:

[code]

The strange part that I didn't do nothing. It just stop working (iOS works fine). I tried a lot of stuffs to fix it:
- Update react-native-firebase
- Update android package from `12.0.0` to `16.0.1`
- Downgrade to a branch on github

[2018-08-03 13:33] razvantodea14 commented on #1317
@vendramini and @hoantp `click_action` was the problem in our case to.

[2018-08-03 13:39] RobertFOConnor commented on #1190
seem to be getting a similar issue :/ works for ios tho

[2018-08-03 14:33] #1366 closed

[2018-08-03 14:41] LucasBassetti commented on #1366
Believe or not the problem was fixed after I restarted my mac 😞

[2018-08-03 16:30] barbarosh commented on #1329
@Salakar your code use exception like this https://github.com/firebase/firebase-js-sdk/blob/master/packages/auth/src/error_auth.js but we should get an exception like this https://github.com/firebase/firebase-js-sdk/blob/master/packages/auth/src/error_withcredential.js with email and credentials

[2018-08-03 17:26] #1353 closed

[2018-08-03 17:51] skleest commented on #196
@lucianomlima wouldn't keepSynced keep syncing the location in background?

Best,

[2018-08-03 18:28] JacobMGEvans commented on #745
404 link

[2018-08-03 23:49] lucianomlima commented on #196
@skleest I'm not sure.

[2018-08-04 00:01] jozan commented on #1360
I solved this exact same problem by moving `google()` repository at the top of the list.

build.gradle
[code]

[2018-08-04 02:48] Salakar commented on #1329
@barbarosh the problem at the moment is that PhoneAuthCredentials aren't serializable both ways across the bridge, at least not on Android - @sowdri and I discussed this at length on the #authentication discord channel.

In short, we need to come up with a way of storing the token on the native side only and faking it on the JS side - with the real credential staying on native until it's consumed.

[2018-08-04 03:54] Salakar commented on #1317
If you're using a custom click action / defining one then you need to add a custom intent-filter in your `AndroidManifest` file e.g.in @razvantodea14 case above something like the below should work inside the main activity section:

[code]

The default behavior without a click action is to launch the MainActivity - which is why removing it works in the cases above.

Will close this issue now - tha

[2018-08-04 03:54] #1317 closed

[2018-08-04 04:11] Salakar commented on #1230
Can you guys confirm which one is the issue - in the foreground or the background?

Are you aware that `onNotificationOpened` is background only as specified in the tables [here](https://rnfirebase.io/docs/v4.3.x/notifications/introduction)?

For the foreground you need to be using `onNotification`.

[2018-08-04 04:12] Salakar commented on #1272
Closing in favour of #1230 - definitely a duplicate this time 🙈 see my [latest comment](https://github.com/invertase/react-native-firebase/issues/1230#issuecomment-410421843) there as well.

Thanks

[2018-08-04 04:12] #1272 closed

[2018-08-04 04:35] Salakar commented on #1238
@Ketn unfortunately on OnePlus phones I don't think there is anything you can do from your app to prevent the behaviour you're seeing - it will require your users to disable battery optimization for your app. [Notifications are highly reliable, except when device manufacturers interfere](https://onesignal.com/blog/manufacturers-interfere-with-reliable-notifications/) 🙈

Here's a table for referenc

[2018-08-04 04:38] #1238 closed

[2018-08-04 04:39] VKGraphics opened #1367 "RNFIRMessaging.h not found"
I used
"react-native": "0.55.4",
"react-native-firebase": "^4.3.8",

I follow [medium](https://medium.com/the-modern-development-stack/react-native-push-notifications-with-firebase-cloud-functions-74b832d45386)

I add this line on my AppDelegate.m
`#import "RNFIRMessaging.h"`

after I found out header file change to `RNFirebaseMessaging.h`

but its still throw an error.

[2018-08-04 04:41] Salakar commented on #1367
@VKGraphics that medium article is for a very old version of this library. Please use the setup docs here: https://rnfirebase.io/docs/v4.3.x/notifications/ios

Thanks

---
Loving `react-native-firebase` and the support we provide? Please consider supporting us with any of the below:

  - 👉  Back financially via [Open Collective](https://opencollective.com/react-native-firebase/donate)
  - 👉  Follo

[2018-08-04 04:41] #1367 closed

[2018-08-04 04:43] Salakar commented on #1306
@Maximell you should be able to move your intent filters to your splash screen activity if necessary on your AndroidManifest.

[2018-08-04 04:45] Salakar commented on #745
@JacobMGEvans see https://developer.android.com/studio/build/multidex

[2018-08-04 04:48] Salakar commented on #1366
Ah the old "Have you tried turning it off and on again" trick 😄

[2018-08-04 04:53] Salakar commented on #1365
@berpcor yes that is correct - the Native SDKs persist authentication - even after an uninstall and reinstall of the app in some cases. If you need there to be no auth then you'll need to log out the user.

Hope that helps.

---
Loving `react-native-firebase` and the support we provide? Please consider supporting us with any of the below:

  - 👉  Back financially via [Open Collective](https://open

[2018-08-04 04:53] #1365 closed

[2018-08-04 04:56] Salakar commented on #1357
@SukhKalsi @rknell would you be able to test if this is an issue on Android also?

I can potentially push up a small change to iOS to handle these correctly so you don't have to do any data changes. (@SukhKalsi thanks for the suggested change also)

---
Loving `react-native-firebase` and the support we provide? Please consider supporting us with any of the below:

  - 👉  Back financially via [Open

[2018-08-04 04:58] rknell commented on #1357
I can 100% confirm it's also an Android issue, iOS was where it was
reported for me. But Android was what I used to test it was resolved

On Sat., 4 Aug. 2018, 2:57 pm Michael Diarmid, <notifications@github.com>
wrote:

[2018-08-04 05:00] Salakar commented on #220
@ollieh-m see the examples here: https://rnfirebase.io/docs/v4.3.x/storage/reference/Reference#downloadFile

The argument passed to `downloadFile(here)` must be a full path to a directory on the local device - not the ref path (that's the path on Firebase Storage).

Hope that helps.

---
Loving `react-native-firebase` and the support we provide? Please consider supporting us with any of the below:

[2018-08-04 05:01] Salakar commented on #1357
@rknell ok cool, thanks for confirming. I'll look into adding support for these in a moment. 👍

[2018-08-04 05:03] Salakar commented on #1359
@Bang9 thanks for the love 👍

---
Loving `react-native-firebase` and the support we provide? Please consider supporting us with any of the below:

  - 👉  Back financially via [Open Collective](https://opencollective.com/react-native-firebase/donate)
  - 👉  Follow [`React Native Firebase`](https://twitter.com/rnfirebase) and [`Invertase`](https://twitter.com/invertaseio) on Twitter
  - 👉  Star this

[2018-08-04 05:14] Salakar commented on #1325
@freelancersunil `signInWithEmailAndPassword` merges with `signInAndRetrieveDataWithEmailAndPassword` in v5.0.0:

`signInAndRetrieveDataWithEmailAndPassword` gets removed and the output of `signInWithEmailAndPassword` becomes that of `signInAndRetrieveDataWithEmailAndPassword`. The same applies to all the other `AndRetrieveData` methods.

---
Loving `react-native-firebase` and the support we provi

[2018-08-04 05:28] Salakar commented on #1344
@rtman this is your error specifically:

[code]

You're most likely missing an import of RNGoogleSignin in your app delegate file - `RNGoogleSignin.h` I'd imagine.

---
Loving `react-native-firebase` and the support we provide? Please consider supporting us with any of the below:

  - 👉  Back financially via [Open Collective](https://opencollective.com/react-native-firebase/donate)
  - 👉  Follow [

[2018-08-04 05:28] #1344 closed

[2018-08-04 05:30] Salakar commented on #1321
Will close this issue as it's not specifically related to this library - feel free to continue the conversation though 👍

[2018-08-04 05:30] #1321 closed

[2018-08-04 06:15] Salakar commented on #1356
@laurachevalier4 welcome 🎉

Looks like you're importing the official Firebase JS SDK rather than this library:

[code]

Also; you you can remove `initializeApp` and it's config for the default firebase app; if you've setup the [`GoogleService-Info.plist`](https://rnfirebase.io/docs/v4.3.x/installation/ios#1.1.-Setup-GoogleService-Info.plist)(iOS) and [`google-services.json`](https://rnfirebase.io/

[2018-08-04 06:15] #1356 closed

[2018-08-04 06:24] #1223 closed

[2018-08-04 07:35] mikeywaites opened #1370 "GoogleService-Info.plist is not added to .xcworkspace automatically."
### Issue

### Environment

1. Application Target Platform:

ios

2. Development Operating System:

macOs Sierra

3. Build Tools:

Version 9.2 (9C40b)

4. `React Native` version:
"react-native": "~0.55.2",

5. `React Native Firebase` Version:
"react-native-firebase": "^4.3.8"

6. `Firebase` Module:
database, auth, messaging

7. Are you using `typescript`?
no

---

After many agonising attempt I fi

[2018-08-04 15:00] JacobMGEvans commented on #745
@Salakar I already got it sorted, thanks though.

[2018-08-04 17:10] nomi9995 commented on #751
i have also same problem

[2018-08-04 17:46] SukhKalsi commented on #1357
Thanks for looking into this @Salakar :) For this project I'm only targeting iOS (Android app was already built) so I've pretty much neglected the state of Android. I can try get a small project in Android with the same dataset (I would assume it'll behave the same - as @rknell confirmed on his project with `Infinite` issue).

[2018-08-04 19:32] berpcor commented on #557
Besides, no need to have a real iOS device for testing phone authentication. You just need to set test phone numbers and code in firebase settings.

[2018-08-04 21:05] sturmenta commented on #294
I deleted the "ios/build" folder and executed "react-native run-ios" and it worked!

[2018-08-04 22:55] luis-cosillo commented on #1086
someone could solve it I have exactly the same problem when signing the apk I do not work the authentication by phone

[2018-08-05 02:35] Salakar commented on #1283
@IljaDaderko @leethree @smkhalsa and anyone else - React Native ^0.56.0 support is on master for anyone feeling daring.

Would be helpful if anyone could try it - 0.56 broke our testing infra so it's going to take me a couple of days to re-write it all again 😭 - I have manually tested builds etc and all seems fine - including the flow issues above posted by @IljaDaderko

If you're on v4.3.x curren

[2018-08-05 02:54] Salakar commented on #1370
@mikeywaites welcome 🎉

You're right, the docs aren't overly specific, they could do with a mini guide I guess - will get something more specific/detailed added to the docs for the v5 release.

Will close this for now - am tracking internally 👌

[2018-08-05 02:54] #1370 closed

[2018-08-05 12:50] adirzoari commented on #1086
@nomi9995  please check my answer there
https://stackoverflow.com/questions/50085575/react-native-with-firebase-phone-auth-validation-failed

if it still not works to you, let me know.

[2018-08-06 06:29] dbyilmaz commented on #1342
@Ehesp Problem is security rules.  I edited security rules then work. Thanks @Ehesp 👍

[2018-08-06 06:29] #1342 closed

[2018-08-06 06:41] stonecold123 commented on #1230
@Salakar
`onNotification` isn't triggered on click when the app is in the foreground.
`onNotificationOpened` isn't triggered on click when the app is in the background.

`onNotificationDisplayed` works fine when notifications are shown.

I'm using react native navigation v2.

[2018-08-06 07:24] toytonic opened #1373 "Realtime Database Promise not resolving"
### Issue

Promise never returns a value. The following statement never resolves with any value since my update to the latest libs:

[code]

Same for remote config. Can't fetch or activate any values.

### Environment

1. Application Target Platform:

Android

2. Development Operating System:

macOS Sierra, 10.13.6

3. Build Tools:

SDK 26

4. `React Native` version:

0.56

5. `React Native Fireba

[2018-08-06 07:28] Ehesp commented on #1373
Make sure you give the emulator a restart first of all, sometimes it seems to disconnect and doesn't connect.

Second, are you checking to see if any error is thrown?

[2018-08-06 07:32] toytonic commented on #1373
Yes, I did both. Even restarted my mac after reading about this in a similar issue. Will update and check iOS today and see if it works there.

[2018-08-06 07:48] ollieh-m commented on #220
Great, thank you! That example pointed me to this, which is what I was missing: `https://rnfirebase.io/docs/v4.3.x/storage/reference/storage#Native`

[2018-08-06 10:13] Ehesp commented on #1373
Hmm - Can you check any security rules you have? They could be blocking the request and the error isn't flagging

[2018-08-06 11:46] rendomnet commented on #449
Not working for me.

[2018-08-06 11:51] toytonic commented on #1373
I'm not aware of having changed any of them:

[code]

BTW: iOS works after upgrading.

[2018-08-06 14:55] Ehesp commented on #1373
Sorry, I meant on the Firebase console, does `user/${uid}/info` have anything which may be stopping the request going through?

[2018-08-06 18:31] vendramini commented on #1317
Understood.

My previous library (react-native-fcm) works differently.

Thank you!

[2018-08-06 18:32] luizaugustocs commented on #959
@chrisbianca
Any news on iOS actions?

[2018-08-06 21:34] sturmenta opened #1374 "The event "firebase.messaging().onMessage" is not called on a real device"
### Issue

The event "firebase.messaging().OnMessage" is called in the simulator, but it is not called on the real device when a notification arrives

[notification arrives gif](https://drive.google.com/open?id=17M53YQY9sMlJx1PBNdAgCMCoCijP0iSw)

[event is not called gif](https://drive.google.com/open?id=1WKjq-bcudoLsT20P080PWPS2x86kP1U3)

[event is not called 2 gif](https://drive.google.com/open?

[2018-08-06 21:59] ntomallen commented on #515
Is there a particular reason that the URL doesn't get passed to the error message on the js side?

[2018-08-06 23:39] yeomann commented on #1155
ok, I had something similar scenario, my current react native firebase is: `"react-native-firebase": "^4.3.8",` basically my all configs are somewhat similar to @hegelstad  but I was still getting this error,
[code]

The error basically address that some other module is also relaying on Google play service, and it might have a default version which is conflicting with the one `react-native-firebas

[2018-08-07 01:39] raoneel commented on #1240
[code]

Still seeing this issue. I'm creating notification channels as described above, and I am receiving the notification. However, these are not heads up notifications as they should be.

[2018-08-07 05:09] sarathvad1811 opened #1375 "How to use crashlytics??"
There's no proper documentation how to use crashlytics... Please provide a proper documentation on how to use that....
TIA

[2018-08-07 08:01] toytonic commented on #1373
Really strange behavior which I haven't figured out completely. But I was able to fetch/set the data after resetting the user node in the firebase console. So it should not be related to react-native-firebase in general.

Still strange that iOS was working flawless. Will close the issue now and report back, once I find out more. Thanks a lot for trying to help anyways.

[2018-08-07 08:01] #1373 closed

[2018-08-07 10:10] cod2017 opened #1376 "firebase.config().fetch() returns error "Error: fetch() operation cannot be completed successfully.""
### **Issue**
Followed the below example using Remote Config. But I am getting error.
[code]

It returns an error : Error: fetch() operation cannot be completed successfully

![screen shot 2018-08-07 at 3 25 50 pm](https://user-images.githubusercontent.com/26476946/43769562-a1df0a0c-9a57-11e8-9477-8741e331695b.png)

### Environment

1. Application Target Platform: Android
2. Development Operating

[2018-08-07 11:59] Ehesp commented on #1376
Hello - the remote config SDKs throw back errors which are less than helpful at times. If you can, open up Android Studio and run your app in it's debug mode, and place a debug marker on [this](https://github.com/invertase/react-native-firebase/blob/master/android/src/main/java/io/invertase/firebase/config/RNFirebaseRemoteConfig.java#L149) line.

Or, check the logcat output, the internal SDK may l

[2018-08-07 13:31] Ketn commented on #1238
@Salakar - I understand that and setting "Don't Optimise" option helps but I also see apps like WhatsApp, Facebook, Twitter, etc. working fine without the "Don't Optimise" helps. I want to know why is that so. Is that random selection, based on app's battery usage or based on what criteria? Please give your input on that.

[2018-08-07 14:34] marcoschicote opened #1377 "Notifications launchMode"
Hi
I'm just getting started with RN Native Firebase an RN and I'm having trouble installing the library. I'm trying to use Notifications. The installation guide for Notifications says that I need to set the `launchMode` to `singleTop`. However, for compatibility with other libraries I need to keep the `launchMode` for `MainActivity` in `singleTask`. Can I use another activity with Notifications?

[2018-08-07 15:19] judemanutd commented on #1238
@Ketn I think that's due to whitelisting of apps by the OEM directly.

[2018-08-07 17:30] imdadahad opened #1378 "[FIRApp Configure] - libc++abi.dylib: terminating with uncaught exception of type NSException"
### Issue

Xcode crashes when attempting to run the app with error: `libc++abi.dylib: terminating with uncaught exception of type NSException`

This is after adding `[FIRApp configure];`  in `didFinishLaunchingWithOptions'.

### Environment

1. Application Target Platform:

iOS

2. Development Operating System:

macOS Sierra

3. Build Tools:

Xcode

4. `React Native` version:

0.56

5. `React Nati

[2018-08-07 18:06] luskin commented on #1174
Can we re-open? I am seeing this thousands of times and have combed through the documentation. The odd part is that it looks to be working (the functionality of the background handler) but still receiving tons of crashes on crashlytics, see attached:

<img width="1251" alt="screen shot 2018-08-07 at 10 59 25 am" src="https://user-images.githubusercontent.com/5702322/43793719-35e5e832-9a31-11e8-8c8

[2018-08-07 18:34] projectpublius commented on #1149
@SkyTreasure I was having issues with the iOS notification listeners as well on iOS 11.

@Salakar Fixed the issue by commenting out line 77 & 95 from `didReceiveLocalNotification` in the `RNFirebaseNotifications.m`:
`77: //if ([self isIOS89]) {`
`95: //}`

[2018-08-07 20:13] mitchellmcm27 commented on #613
Hopefully this has been fixed in Firestore 0.13.0 for iOS
https://github.com/firebase/firebase-ios-sdk/blob/master/Firestore/CHANGELOG.md

[2018-08-07 20:39] dolphinflow86 commented on #1230
+1

[2018-08-08 00:35] haseebnaseem opened #1379 "App receives dynamic links when run in debug scheme but not when run in release scheme"
### Issue

I have integrated the dynamic links sdk using react-native firebase. I tested the deep links by opening the url by tapping on them in a text message which lead to a screen displaying my apps name and the information along with the open button. Tapping the open button took me to the app store's page for my application. I then installed the app using xcode in a debug scheme. The dynamic l

[2018-08-08 04:26] gbenga504 commented on #1230
+1

[2018-08-08 04:28] gbenga504 commented on #1331
+1

[2018-08-08 08:35] phihungnv opened #1380 "child_added event fires when updating"
Hi all,

Anyone faces this problem and know how to fix ?

`ref().once('value', snapshot => {
            this.afterGetFirebaseData(snapshot)
        })`
`ref().on('child_added', (childSnapshot) => {
//
        })`

Thanks

Environment
Application Target Platform: Both

Development Operating System: macOS Sierra

React Native version: 0.55.4

React Native Firebase version: 4.2.0

Firebase Module: D

[2018-08-08 13:08] sujitpk-perennial opened #1381 "Not getting short dynamic url"
Hello Team,

     I am using dynamic link feature to create a deep link. I am able to create long link and able to share with the contacts.
    I tried to use createShortDynamicLink, but it is not working.
    Following is my code.

[code]

     In the above code I am not getting url. I checked the RNFirebaseLinks.java file from react-native-firebase and links folder, here I found the createShortD

[2018-08-08 13:38] Salakar commented on #1283
@timwangdev as requested;

![image](https://user-images.githubusercontent.com/5347038/43840377-7443a10e-9b18-11e8-9293-ac18731916b2.png)

[code]

As always please report any issues you find, additionally can you tag them `[next]` on your GitHub issue titles so I can pick them up easier.

[2018-08-08 14:43] vlimag opened #1382 "[Google login with firebase] - App crashes only on production"
I have an app on which the user can perform authentication by email or google.

The issue is that the user can perform login with email both on dev and production modes, or with --variant=release mode, but when the authentication is through google, the app crashes on production, but it works just fine on dev and with the flag --variant=release.

Any suggestion would be appreciate.

Thanks for the

[2018-08-08 18:58] alexichristakis commented on #1283
I just tried upgrading my project to the RC and im stuck getting the error:

[code]

but it looks like firebase.js isn't requiring such a module. I tried reinstalling the package with no luck.

[2018-08-08 19:19] Salakar commented on #1283
@alexichristakis can you try reset your rn packager cache, start it with `--reset-cache`

[2018-08-08 19:21] alexichristakis commented on #1283
@Salakar still no luck

[2018-08-08 19:33] Salakar commented on #1283
Can you try `npm i react-native-firebase@5.0.0-rc0` - specifying the version specifically?

[2018-08-08 19:40] alexichristakis commented on #1283
rolling back to an old branch and reinstalling now. maybe something got messed up the first time...

[2018-08-08 19:41] Salakar commented on #1283
Ok, am on discord as well if you still continue to have issues ping me on there and I can take a look

[2018-08-08 19:42] rhroyston commented on #334
You don't do `.then` on the `.signInAnonymously()` method. You watch the `.onAuthStateChanged()` observer.

[2018-08-08 19:47] vlimag commented on #1382
I've solved by including the google signing key on firebase console.
This key can be found on google play console.

[2018-08-09 07:18] #1382 closed

[2018-08-09 09:14] vikrantnegi opened #1383 "play-services-base Version collision with react-native-maps"
### Issue
When installing react-native-firebase with react-native-maps, I'm getting error as follows

`The library com.google.android.gms:play-services-basement is being requested by various other libraries at [[15.0.1,15.0.1]], but resolves to 10.2.4. Disable the plugin and check your dependencies tree using ./gradlew :app:dependencies.`

Which is due to the mismatch in the version of `'com.googl

[2018-08-09 09:34] nezaidu commented on #1374
anyone? :(

[2018-08-09 09:43] MacKentoch commented on #1198
Please open back this issue.

Upper solution is not a suitable solution.
In my case, I can't use another fresh Firebase project, I have to use the existing one that works well on web.

When I console.log the error in catch:

<img width="606" alt="capture d ecran 2018-08-09 a 11 38 03" src="https://user-images.githubusercontent.com/11223428/43891080-c32677dc-9bc8-11e8-89b4-a75b33b84ec8.png">

Switc

[2018-08-09 10:14] Ehesp commented on #1375
Crashlytics works out of the box once installed, and will automatically show any crashes a user experiences on console.

If you'd like to force your own, you can use the methods here: https://rnfirebase.io/docs/v4.3.x/crashlytics/reference/crashlytics

E.g:

[code]

[2018-08-09 10:14] #1375 closed

[2018-08-09 13:54] Friis1978 commented on #893
Anything new on this issue, still does not work for me.

`const ref = firebase.database().ref(`/users/${uid}/points`).push({
                  name: propValues.name,
                  address: propValues.address,
                  number: propValues.number,
                })
                .then(() => {
                  const key = ref.key;
                  console.log(key);
                })

[2018-08-09 14:19] Friis1978 commented on #893
Hmmm It actually worked without the then, so the problem is solved in my case.

Just thought that the reference key was based on what the promise returned, so I was using the 'then' to wait for that promise.

This is the answer:
`const ref = firebase.database().ref(dbref).push({
            name: propValues.name,
            address: propValues.address,
          });
          console.log(ref.key)

[2018-08-09 14:33] Salakar commented on #1055
All,

You can now test with fake/whitelisted phone numbers and custom codes by adding custom numbers and their corresponding authorisation codes on your Firebase Console.

See the following: https://firebase.google.com/docs/auth/web/phone-auth#test-with-whitelisted-phone-numbers

This also means you can test directly from an iOS simulator or Android emulator without Google Play Services installed.

[2018-08-09 14:51] Salakar commented on #893
@Friis1978 without the await is also correct as creating a new reference + id path via `push()` is synchronous/client sided, though I believe the web SDK supports await as well like you mentioned above so we still need to add support for that our end.

Are you able to test the following 3 scenarios on the Web SDK if you still have it handy and report back with the logs if possible, would be super

[2018-08-09 16:53] esomkin opened #1384 "iOS application closes with no error when trying to retrieve push message data attribute"
### Issue
Hi! I'am sending push messages to application with `react-native-firebase` and it look's wonderful ! Also, I need to receive some portion of data, so sending data something like this

[code]

I'am trying to listen open push message event as bellow

[code]
After 5 second left, application closes without any error message. If changing `Alert.alert(data.key);` with `Alert.alert(notification

[2018-08-10 03:05] wanbok commented on #1106
@NirpE Sorry for a late response. Everything that I used, works normally. But I use it with just a few functions.

[2018-08-10 06:14] esomkin commented on #1384
After some research, I found a solution
[code]
or
[code]

[2018-08-10 06:14] #1384 closed

[2018-08-10 08:08] digrase008 commented on #398
@Apak00 thanks your solution work for me . yes this is the issue with **buitdToolsVersion** try to track back on it. For me it's working properly on _**buildToolsVersion "25.0.3"**_ on **buildToolsVersion "26.0.0"** it is still creating issue some time

[2018-08-10 09:18] ygomezfinale opened #1385 "Error merging two existing accounts"
following this guide: https://firebase.google.com/docs/auth/web/account-linking In my web app I was able to merge two accounts into one with no problem, but when I try to do the same in my mobile app:

//action to recover from the auth/credential-already-in-use
// Get reference to the currently signed-in user
const { currentUser } = firebase.auth();
var prevUser = currentUser;
// Sign in user with

[2018-08-10 09:23] gkartalis opened #1386 "Client Callable Firebase Function fails with "Error: The data couldn’t be read because it isn’t in the correct format.""
Hello,
first of all thanks for the great work you're doing with RNfirebase!

### Issue

Client Callable Firebase Function fails with _"Error: The data couldn’t be read because it isn’t in the correct format."_ when deployed to regions other than us-central1 (tried Europe West and Asia).

**CF code:**
[code]

**RN App code:**

[code]

There is a note in the [docs](https://firebase.google.com/docs/f

[2018-08-10 10:20] BlakeRxxk opened #1387 "No such file or directory: libRNFirebase.a"
### Issue
Building my app in debug/release mode produce error
`no such file or directory: '/Library/Developer/Xcode/DerivedData/App-aqmvuabcxrupkgfjyogwyxrtzbvk/Build/Products/Debug-iphonesimulator/libRNFirebase.a'`
but real location of `libRNFirebase.a` is `Debug-iphonesimulator/RNFirebase/libRNFirebase.a'`

clean build and cleaning Derrived Data didn't help;
pod deintegrate didn't help;
upgradin

[2018-08-10 12:39] Ehesp commented on #1375
Anywhere in your app's lifecycle. For example right in the `componentDidMount` of your "root" component, or even outside of a component. As long as you set any values as soon as you're able to, they'll get sent with any subsequent crash reports.

[2018-08-10 12:57] vysotsky opened #1388 "Cannot archive project when using react-native-firebase"
### Issue

Seems like there is a conflict between embedded React Native and my version connected via CocoaPods.
When using `npm install`, it fails post install run phase and says that cannot resolve react native due to @providesModule duplication.
When using `yarn install`, I'm having lots of warnings like the following:
[code]
And these warnings prevent app from archiving (both iOS and android) b

[2018-08-10 13:29] ms4ever7 commented on #1388
+, same issue

[2018-08-10 19:40] hasanaktas opened #1389 "FieldValue.arrayUnion() and FieldValue.arrayRemove() APIs."
These two features are not working.

please update firestore...

[2018-08-10 23:02] abburi03 opened #1390 "'array-contains' support for firestore"
Hi,

Firstly thank you for wonderful library. I see that firestore has support for 'array-contains' in where clause, which is really helpful where clause when working with arrays. In RNFireBase docs I don't see that you are supporting it yet (Correct me If i am wrong) . If you are not supporting do you have any plans to support it in near future

For feature requests please visit our [Feature Requ

[2018-08-11 05:22] Stone2517 opened #1391 "How to Fetch firestore Docs in react native headless js using fcm data only messages when my app closed by user"
### Issue

### Environment
Android

1. Application Target Platform: Windows 10
2. Development Operating System: Android Studio version, Android SDK version
3. Build Tools:  0.55.3
4. React Native version: 0.55.3
5. RNFirebase Version: "^4.3.6"
6. Firebase Module:

My index.js file:
`
import { AppRegistry } from 'react-native';
import Switch from './src/Switch';
import bgMessaging from './src/bgMes

[2018-08-11 06:57] rendomnet opened #1392 "react-native-firebase and react-native-navigation-v2 android"
Does anyone have working project with react-native-firebase and react-native-navigation(wix) on Android?
Both of this plugins are heavily changing config files. And after a while only Android expert can understand what is happening.

Right now my App are very unstable under android. I have a lot of mixed settings in config files like build.gradle.

Maybe someone with stable "react-native-firebase

[2018-08-11 15:05] joshimbriani commented on #1387
How are you linking RNFirebase? Are you just running `react-native link react-native-firebase`? If you are, it might be worth trying to manually link that .a like step 2 in [the linking guide](https://facebook.github.io/react-native/docs/linking-libraries-ios).

[2018-08-11 17:16] Salakar commented on #1389
Firebase Android SDK support is still being worked on, we'll add support in v5 / when android SDK support lands.

[2018-08-11 17:16] #1389 closed

[2018-08-11 17:17] Salakar commented on #1390
Firebase Android SDK support is still being worked on, we'll add support in v5 / when android SDK support lands.