[2017-08-30 16:41] arminsal1 commented on #360
@chrisbianca Do you mean checking to see if my package name and SHA match what's in my Google Developer account?

[2017-08-30 18:31] AlexsanderManzoli commented on #352
It worked, brother, sorry for the delay I ended up getting involved in other projects here

[2017-08-30 18:57] Ehesp commented on #293
Closing this issue, if you have any further comments regarding it we'll be happy to open it again.

[2017-08-30 18:57] #293 closed

[2017-08-30 22:58] prescottprue commented on #278
@althurzard That worked for me!

[2017-08-30 23:04] comycos opened #375 "Error could not find com.google.firebase:firebase-"
### Issue
While I compile I get these errors:
[http://imgur.com/a/7w6pQ](url)
I get the same error for each module of react-native-firebase

### Environment

1. Application Target Platform: Android

2. Development Operating System:  Windows 10

3. Build Tools: Android Studio

4. React Native version:  0.47.2

5. RNFirebase Version: 2.1.3

6. Firebase Module: all

[2017-08-31 00:35] Salakar commented on #375
![image](https://user-images.githubusercontent.com/5347038/29900906-a6d8e9ec-8dec-11e7-98b6-fedf05513f15.png)

[2017-08-31 00:37] #375 closed

[2017-08-31 05:30] matejukmar opened #376 "Compile RNFirebaseMessaging.m fails for iOS"
### Issue

Using latest react native library (0.47.2) build fails for iOS with the following error:

[code]
I could not find any information about this error. I think I followed installation instructions correctly. My pod file looks like this:

[code]

There are some extra warnings after the error when compiling RNFirebaseMessaging.m:

[code]

### Environment

1. Application Target Platform: iOS:

[2017-08-31 07:10] apple9220 commented on #119
Hi, chrisbianca.
When does v3 release?

[2017-08-31 07:12] chrisbianca commented on #119
We don't have a specific date in mind - we are waiting on feedback on v3 to ensure there are no issues before releasing.

[2017-08-31 07:14] chrisbianca commented on #376
This is caused by the addition of LevelDB in the latest Firebase Database iOS library.  I have worked around this issue in v3, but will look at back porting the fix to v2.

[2017-08-31 07:26] chrisbianca commented on #376
I have just published version 2.1.4 which should address this issue, please let me know if you're still experiencing issues.

[2017-08-31 07:26] #376 closed

[2017-08-31 07:32] chrisbianca commented on #360
@arminsal1 Yes, exactly.  Validate that the package name in your AndroidManifest.xml is what is specified in the Firebase console project setup, and also that the SHA matches as well.

[2017-08-31 07:33] matejukmar commented on #376
Thanks Chris, for quick response, I can confirm that with 2.1.4 issue is fixed.

[2017-08-31 07:34] chrisbianca commented on #376
Fantastic, thanks for confirming!

[2017-08-31 07:36] johantenghamn commented on #373
Ok, seems to be working now, just took some time until the event popped up in the debugview :)
Thanks for the response!

One more question. How do I unset the user id? I'v tried with
`firebase.analytics().setUserId(null)`
and
`firebase.analytics().setUserId('')`

[2017-08-31 07:40] chrisbianca commented on #373
Check out: https://firebase.google.com/docs/analytics/debugview which explains how to turn on a faster update of the DebugView.

You need to set the userId to `null` to remove it.

I'll close this issue off now as you've confirmed it's working.

[2017-08-31 07:40] #373 closed

[2017-08-31 07:43] chrisbianca commented on #320
@Shinichi52 Apologies for the delay on this one.  I believe you should be able to remove the `sound` parameter completely to disable the sound.

[2017-08-31 07:43] #320 closed

[2017-08-31 07:48] chrisbianca commented on #270
@NachosSs I'm not sure there's anything else we can suggest here. @Ehesp has pointed you at the documentation to explain how this works - and this is based on how the native SDKs behave so we have no control over it.

Please let us know if you're still experiencing issues.

[2017-08-31 07:48] #270 closed

[2017-08-31 07:57] chrisbianca commented on #206
Unfortunately this is out of our control as we rely on the native SDK behaviour.  As the iOS documentation states, the set method will only resolve when the data has been committed to the Firebase servers.

https://firebase.google.com/docs/reference/swift/firebasedatabase/api/reference/Classes/DatabaseReference#/c:objc(cs)FIRDatabaseReference(im)setValue:withCompletionBlock:

[2017-08-31 07:57] #206 closed

[2017-08-31 07:59] chrisbianca commented on #244
I'm going to close this as the number of reports seem to have dropped off.  It's out of our control as it's an issue with the native SDK itself - if you come across this issue, I would suggest you contact Firebase directly to resolve.

[2017-08-31 07:59] #244 closed

[2017-08-31 08:00] chrisbianca commented on #319
Closing as @Ehesp has supplied a workaround.  Please re-open if you need further assistance.

[2017-08-31 08:00] #319 closed

[2017-08-31 08:07] chrisbianca commented on #365
@malikoum94 It sounds like either:

1) You don't have the correct permissions enabled: https://invertase.io/react-native-firebase/#/installation-ios?id=_32-enable-capabilities

2) Your remote notification message body is the wrong format.  Here's an example that's known to work:

[code]

If this doesn't help, please take a look at https://firebase.googleblog.com/2017/01/debugging-firebase-cloud-me

[2017-08-31 08:07] #365 closed

[2017-08-31 08:11] chrisbianca commented on #357
@rtman Have you tried your new approach for react-native-fcm with react-native-firebase?

The custom payload you mention is something that is a bit of a hot topic here at Invertase.  It's only supported on Android and goes against the general approach we have of keeping to the core FCM functionality, but we do currently have support.

Messaging as a whole is an area we want to spend some time with

[2017-08-31 08:21] chrisbianca commented on #356
I've updated the dependency to the latest version of Shortcut Badger for the upcoming v3 release

[2017-08-31 08:21] #356 closed

[2017-08-31 08:23] malikoum94 commented on #365
Hi,

All permissions are set like in the documentation.
The payload notification is good because it's work with other modules.
But if i set `FirebaseAppDelegateProxyEnabled` to YES i receive remote notification but `.onMessage` event didn't work and if i set it to NO the event work but it's impossible to show notification...

So i can't handle notification in foreground but in background it works

[2017-08-31 08:46] chrisbianca commented on #365
@malikoum94 When you say it works with other modules, what do you mean?

`FirebaseAppDelegateProxyEnabled` should definitely be set to yes as this simplifies the setup.  Otherwise you need to add further methods in as explained in the Firebase documentation.

When you say you can't handle notification in foreground, are you saying that it doesn't pop up a notification? Or that the `.onMessage` met

[2017-08-31 08:51] malikoum94 commented on #365
in the past i use react-native-fcm and it work in booth state (background and foreground).

ok for `FirebaseAppDelegateProxyEnabled` set to YES.

And in foreground i have nothing no pop up and `.onMessage` doesn't fire.

In the past with other module i use the `.onMessage` event for display the notification in foreground but now the event doesn't fire so i can't.

[2017-08-31 09:45] Salakar commented on #369
@SamMatthewsIsACommonName isn't this because facebook auth is disabled in your firebase console?

[2017-08-31 10:22] davieslee opened #378 "Duplicate module name: react-native-packager"
### Issue

Hi, I'm new to react native and trying to setup a project with `RNFirebase` but encountered and issue as shown below.

Podfile:
[code]

Error:
[code]

### Environment

1. Application Target Platform: iOS

2. Development Operating System: macOS Sierra

3. Build Tools: VS Code / Xcode

4. React Native version: 0.42

5. RNFirebase Version: 2.1.3

6. Firebase Module: Core

### Additional In

[2017-08-31 12:52] balesz opened #379 "[storage] Typo in UploadTaskSnapshot"
There are different property names in the the UploadTaskSnapshot native and javascript parts.
download**URL** in the Javascript/TypeScript part and download**Url** in the native part.

https://github.com/invertase/react-native-firebase/blob/master/index.d.ts#L237

https://github.com/invertase/react-native-firebase/blob/master/lib/modules/storage/task.js#L11

https://github.com/invertase/react-nati

[2017-08-31 13:53] arminsal1 commented on #360
@chrisbianca I went into my dashboard settings and the package name matches, but I don't have any SHA. Is that necessary for Firebase? The library worked for me without it before, but that was during v1.x so I'm not sure if that makes a difference.

[2017-08-31 14:36] comycos commented on #375
@Salakar Thanks!

[2017-08-31 15:24] sirilicious opened #380 "Issue with global variables and other libs"
I just came across the issue I described [here](https://github.com/layerhq/layer-websdk/issues/168).

The issue was caused by that [line](https://github.com/invertase/react-native-firebase/blob/ceedf9b85aed2f66954a3ccdcdf7e23e8715ee0e/lib/utils/log.js#L5) - IMHO using global variables is extremely dangerous. can you guys fix this?

[2017-08-31 16:11] Salakar commented on #380
@sirilicious Dangerous how exactly? ;p RN isn't the same as the web, it's a closed global with the only way to access it being via the apps code itself, there's no web console on the device, same thing applies for node server side apps. The 'danger' is only for websites (as there's a console), or apps that use `eval()` - when they shouldn't be.

Having said that, this was needed for bows to work a

[2017-08-31 16:11] #380 closed

[2017-08-31 18:23] GeorgeA93 commented on #119
@chrisbianca loving this, have been testing it for a few days now and everything is working as expected!

One quick query though, is it possible to say have a user signup with Facebook and then at a later stage have the user link their phone number through this process?

[2017-08-31 18:37] brunolemos commented on #119
[ANDROID] Did auto verification worked for you guys?

[2017-08-31 19:16] wbattel4607 commented on #119
@GeorgeA93 Firebase supports auth provider account linking (i.e., phone number + Facebook) but, to my knowledge, this is not *yet* implemented in this library. Someone please correct me if I'm wrong- we'd love to do the same thing with our app.

[2017-08-31 20:36] jpokrzyk commented on #376
I still have this issue in `2.1.4`. Seems to be in remote config for me though.

But it seems to only fail in xcode with that error. When I run `react-native run-ios` I can build and run it.

Let me know if you prefer I open a new issue.

![image](https://user-images.githubusercontent.com/4333958/29944078-033dd71a-8e6a-11e7-9985-d4b3e784a3cf.png)

[2017-08-31 21:55] chrisbianca commented on #119
@GeorgeA93 Glad things are going well!!  In terms of linking an account, RNFirebase does have link credential functionality, however the Firebase docs are a bit low on information about how this is meant to work with phone auth...

@brunolemos When you say does it work, do you mean:
1) How do you get it to auto-verify? - I had to install the latest version of google play services on my phone to ge

[2017-08-31 21:56] chrisbianca commented on #376
@jpokrzyk Sounds like a standard Xcode issue!  Try cleaning your project, restarting, cleaning the project again and then building!  Xcode can get itself in a bit of a mess...

[2017-08-31 22:24] xolen commented on #376
Hello @jpokrzyk, I was having the same issue a couple of minutes ago, did just as @chrisbianca says and it is working properly now. Hope cleaning can help you as well.

[2017-08-31 22:53] brunolemos commented on #119
@chrisbianca on my tests `onVerificationCompleted` was never called... I'm using [this code](https://github.com/invertase/react-native-firebase/issues/119#issuecomment-322346619) instead of your branch but I don't see why that wouldn't work. Maybe I missed some config step on AndroidManifest or other thing (local notifications, ...). Any clue?

[2017-09-01 00:13] brianhiss commented on #119
@GeorgeA93 I have the same requirements as you, except with anonymous users, then link to a phone authenticated user.

@chrisbianca I had success adding two small lines to V2 code in order to link my iOS users anonymous accounts to phone authenticated accounts. Below are the changes I made successfully.

### `ios/RNFirebase/auth/RNFirebaseAuth.m` ~ Line 479, in getCredentialForProvider(), after Gi

[2017-09-01 06:19] GeorgeA93 commented on #119
I got something working last night, happy to put together a PR and get some opinions. Pretty much did the same thing as @brianhiss but in V3. Again unsure on Android.

[2017-09-01 06:24] brianhiss commented on #119
@GeorgeA93 I was able to install V3 today with no issues, not sure why I was having issues yesterday.

Regardless, I made the same "hacks" noted above for v3, and my old code is working for sign-in and linkWithCredential.

Testing on Android now, haven't come across the SDK auto-verifying my phone, so should work as expected.

Would like a more permanent solution though. Hoping @chrisbianca can ad

[2017-09-01 07:06] chrisbianca commented on #119
@brunolemos Sounds like you don't have the latest version of Google Play Services installed on your device (not as part of your build) - I had to opt in to the beta to trick it into downloading a later version.  I believe you can install it manually too, though I'm not sure it's something I'd advise!

@brianhiss The best thing to do would be to create a PR with your changes.  I'm actually about to

[2017-09-01 07:08] chrisbianca commented on #360
@arminsal1 I'm really not sure what to suggest. You look to have done everything that's required to get it up and running.  All I could perhaps suggest is starting a clean project, adding RNFirebase to that and getting it working, then porting over anything that's different to your existing project?

[2017-09-01 07:26] brianhiss commented on #119
@chrisbianca Congratulations! Have a great trip.

@GeorgeA93 I did just complete my Android test and got everything working with my old code. For Android, I just added the one line below, much like I did for iOS in `RNFirebaseAuth.m`.

### android/src/main/java/io/invertase/firebase/auth/RNFirebaseAuth.java ~ Line 920, in getCredentialForProvider(), after Github

[code]

To run my three "hacks", I

[2017-09-01 07:26] GH974 opened #381 "error: RNFirebaseMessaging is not abstract and does not override"
### Issue
:react-native-firebase:compileReleaseJavaWithJavac
/Users/gh.mbp974/Documents/DEV_SITE/quizzApp/appv2/quizz/node_modules/react-native-firebase/android/src/main/java/io/invertase/firebase/messaging/RNFirebaseMessaging.java:34: error: RNFirebaseMessaging is not abstract and does not override abstract method onActivityResult(int,int,Intent) in ActivityEventListener
public class RNFirebaseMe

[2017-09-01 08:29] Ehesp commented on #381
@Salakar how is this erroring? The abstract method has been there for over a year on RN!

https://github.com/facebook/react-native/blob/master/ReactAndroid/src/main/java/com/facebook/react/bridge/ActivityEventListener.java

[2017-09-01 08:33] Ehesp commented on #329
Hi @jcarlosjl

Were you running tests against your app or just standard usage? I believe testID is applied to a component when accessibility is enabled, however I did think the ViewPropTypes would take care of this.

[2017-09-01 08:36] GH974 commented on #381
Is this my question? I don't know.
I install this plugins and follow your doc, and after i try react-native run-android and this error

[2017-09-01 08:37] Ehesp commented on #381
Nope was asking Salakar!

@GH974 On your terminal, could you run `react-native -v` please and let us know the version of react-native-cli

Cheers

[2017-09-01 08:38] GH974 commented on #381
Oh sorry...

react-native-cli: 2.0.1
react-native: 0.47.2

[2017-09-01 08:41] Ehesp commented on #381
@GH974 Ta, could you navigate to /node_modules/react-native-firebase/android/src/main/java/io/invertase/firebase/messaging/RNFirebaseMessaging.java

In there, could you check the `onActivityResult` exists for sanity please (should be at the bottom).

[2017-09-01 08:43] GH974 commented on #381
@Override
  public void onActivityResult(Activity activity, int requestCode, int resultCode, Intent data) {
    // todo hmm?
  }

  @Override
  public void onNewIntent(Intent intent) {
    // todo hmm?
    Utils.sendEvent(getReactApplicationContext(), "messaging_notification_received", parseIntent(intent));
  }

[2017-09-01 11:54] HugoKawamata commented on #52
That link is broken, is there a new example gradle file to reference? I am getting the same error.

[2017-09-01 11:54] Ehesp commented on #381
Hi @GH974

Your projects RN version is out-dated, so here's why & how to fix:

Your RN versions ActivityEventListener is looking for the method: `onActivityResult(int,int,Intent)`, which exists on RN versions <0.33:

https://github.com/facebook/react-native/blob/0.32-stable/ReactAndroid/src/main/java/com/facebook/react/bridge/ActivityEventListener.java

This was then changed in 0.33 to the current

[2017-09-01 11:56] #381 closed

[2017-09-01 11:58] Ehesp commented on #52
@HugoKawamata See https://github.com/invertase/react-native-firebase/issues/381

[2017-09-01 12:50] rodolfobarretoweb opened #383 "Detecting sync process"
Hello guys!
I have a question, is there a way to detect the sync process? I wish to put some load when my app is syncing with the server.

PS: I`m not using method on, so the first option is to get data from local storage

[2017-09-01 13:13] jpokrzyk commented on #376
Thanks for the quick responses! Yea I think xcode was the case. I saw those suggestions after I had gotten it working. I tried a bunch of version changes and stuff like that. But ultimately I restarted and cleaned a lot and those were probably the steps that actually got it working.

[2017-09-01 13:57] GH974 commented on #381
I have new error
Could not find com.google.firebase:firebase-ads:11.2.0.
     Searched in the following locations:
         file:/Users/gh.mbp974/Library/Android/sdk/extras/google/m2repository/com/google/firebase/firebase-ads/11.2.0/firebase-ads-11.2.0.pom
         file:/Users/gh.mbp974/Library/Android/sdk/extras/google/m2repository/com/google/firebase/firebase-ads/11.2.0/firebase-ads-11.2.0.jar

[2017-09-01 16:13] arminsal1 commented on #360
@chrisbianca Alright, it looks like that's my only choice at this point. Thank you, I appreciate your help

[2017-09-01 19:41] Salakar commented on #381
@GH974 from above screenshot:

![image](https://user-images.githubusercontent.com/5347038/29985231-f4a1f96a-8f55-11e7-8332-663d0ec70074.png)

[2017-09-02 03:27] GH974 commented on #381
Yes I added this. thanks its works

[2017-09-02 09:30] DavitVosk commented on #210
@csumrell Thanks a lot. You saved my day

[2017-09-02 20:53] DaBs commented on #233
This bug is still prevalent, even in 3.0.0-alpha2.

[2017-09-03 02:50] rtman commented on #357
@chrisbianca

I haven't tried this in react-native-firebase yet, good to know that there is support for it in the package! I will give this a go soonish, I need a bit of time to do other things first tho as I got caught up getting react-native-fcm working properly.

Yea it's been quite difficult to understand how all this messaging works, it would be better to use a package like react-native-fireb

[2017-09-04 15:14] SMJ93 opened #385 "iOS undefined is not an object (evaluating 'FirebaseAnalyitcs.SetCurrentScreen');"
First of all, great plugin! Works like a charm on Android!

### Issue

I am having some problems getting iOS working. I have installed Firebase analytics using the instructions provided. Everything seems to be installed correctly.

Firebase starts and creates an event in the native SDK (from the Xcode debug window):
[code]
If I look at the StreamView in Firebase Analytics I can see the user as exp

[2017-09-04 15:31] Salakar commented on #385
@SMJ93 weird one, https://github.com/invertase/react-native-firebase/blob/v2.x.x/lib/modules/analytics/index.js#L74 is the internals for that, not sure why there's a capital `S` in set current screen either on your error `undefined is not an object (evaluating 'FirebaseAnalyitcs.SetCurrentScreen');`

How are you initialising RNFirebase, also could we see your podfile also

[2017-09-04 15:57] SMJ93 commented on #385
Thanks for the quick response! Sorry yes that was a typo, in the code I used `RNFirebase.analytics().setCurrentScreen(page);`.

I haven't used a POD file. I have installed all of the SDK's and their dependencies manually from each of the PodSpec's and place them in a `ios/Pods` before manually linking them to the targets in `Frameworks and Libraries`: https://github.com/CocoaPods/Specs/blob/master

[2017-09-04 16:01] Ehesp commented on #385
@SMJ93 Are you not initializing Firebase before you use it?

Make sure you're calling initializeApp before: https://invertase.io/react-native-firebase/#/v2/usage

[2017-09-04 16:05] SMJ93 commented on #385
@Ehesp  Yes, I use `const RNFirebase = Firebase.initializeApp();` to initialise it and then call `RNFirebase.analytics().setCurrentScreen(page);` each time the user changes route.

[2017-09-04 16:50] Salakar commented on #385
@SMJ93 are you able to come on Discord and DM me, or twitter, I could screenshare and take a look - if you wanted.

[2017-09-04 17:01] SMJ93 commented on #385
@Salakar I've dm'd you on twitter. Thanks!

[2017-09-04 22:45] DavitVosk commented on #208
the same problem here. Has anybody solved this problem?

[2017-09-05 03:58] GustavoHGS commented on #381
Thanks a lot @Ehesp !! It worked like a charm!

[2017-09-05 04:59] lovince opened #386 "Unable to resolve module `react-native/Libraries/EventEmitter/EventEmitter`"
### Issue

Updated my project to RN 0.48.1 and React 16.0.0-alpha.12. The project compiles properly and but now getting red screen of death in the iOS Simulator - both from Xcode and with RN CLI - with the following error message:

Bundling `index.ios.js`  [development, non-minified, hmr disabled]  98.5% (766/772), failed.
error: bundling failed: "Unable to resolve module `react-native/Libraries/E

[2017-09-05 05:45] lovince commented on #386
Looks like EventEmitter.js was removed from RN as of 0.48, and is relying on [medikoo/event-emitter](https://github.com/medikoo/event-emitter) instead.

Temporarily fixed by following modifications in react-native-firebase/lib/modules/base.js:

`import EventEmitter from 'react-native/Libraries/EventEmitter/EventEmitter';`

to

`import EventEmitter from 'event-emitter';`

and

`SharedEventEmitter.a

[2017-09-05 07:58] Ehesp commented on #386
Yeah very annoying! That fix will work as a temp workaround in v2 however we can't apply that as it wont be backwards compatible. v3 addresses this when it's released!

[2017-09-05 08:01] Ehesp commented on #208
@devarthurribeiro You're not `off`ing correctly. See https://invertase.io/react-native-firebase/#/modules/database?id=unmounted-components

[2017-09-05 09:39] subugwriter commented on #119
For android if it goes to the auto verification flow (firebase.auth().onAuthStateChanged()), the user is automatically signed in after authentication. In this case It seems it's impossible to link the Phone number credential with a current account. Any suggestion on this? Can we have a api similar to Android  which returns a credential even in auto verify flow?

[2017-09-05 15:52] SMJ93 commented on #385
@Salakar, @Ehesp, we finally resolved this by removing the carot (`^`) from the `package.json` file.
`v2.1.3` works, but `v2.1.4` seems to be broken with RN `0.47.2`

[2017-09-05 17:31] jerolimov commented on #386
Can you release a 2.2 branch for RN 0.48+? :)

[2017-09-05 20:55] AaronVasquez opened #388 "[AdMob] Documentation broken?"
AdMob docs are empty: https://invertase.io/react-native-firebase/#/v2/modules/admob

[2017-09-05 21:07] Ehesp commented on #388
Please disable adblocker! Ironically huh

[2017-09-05 21:07] #388 closed

[2017-09-05 21:46] christophervalles opened #389 "Handling account-exists-with-different-credential errors does not return credentials or email within the error"
### Issue
Hi guys, I'm migrating from firebase web sdk to this library. On the web sdk, when calling `signInWithCredential` if the account is being used with another provider the sdk throws an error with code `auth/account-exists-with-different-credential` and the contents are `code`, `credential` and `email`. If one follows the steps at https://firebase.google.com/docs/auth/web/facebook-login you

[2017-09-05 22:36] fungilation commented on #386
I'm reproducing the same error on bundling/running on simulator. Since RN upgrade to 0.48.1

[2017-09-05 23:49] Salakar commented on #389
I do remember something about this when I wrote the new auth errors, couldnt find this functionality on the firebase native sdks, https://firebase.google.com/docs/reference/android/com/google/firebase/auth/FirebaseAuthUserCollisionException is the android counterpart to the error you mentioned above, but theres no way to get the credential from it. However there is `fetchProvidersForEmail` which i

[2017-09-06 00:18] christophervalles commented on #389
Yeah that's the one I was using on the web sdk but if the user performs a
Facebook or Google login you don't get the email as this is handled on
their modals etc that's why I guess it's returned as part of the error on
the web sdk. I obviously want to avoid asking the user for his email if the
login fails just so I can link it with the right provider. I guess this is
another inconsistency across F

[2017-09-06 00:32] Salakar commented on #389
You can get emails from borh of those though, you just need to request the correct scope, https://developers.facebook.com/docs/facebook-login/permissions/#reference-email for example

[2017-09-06 00:34] Salakar commented on #389
And ye there's quite a few inconsistency issues on the firebase sdks annoyingly, best to flag them with firebase directly, its what I do ha

[2017-09-06 00:37] SoldierCorp commented on #386
After using the fix that @lovince posted, now I have the following error, do you have any idea?

![screenshot_20170905-193122](https://user-images.githubusercontent.com/1775881/30089314-8df98eac-9271-11e7-872f-058c55e75691.png)

[2017-09-06 01:13] fungilation commented on #386
I'm not seeing this with @jerolimov's PR, but I'm only testing on iOS.

[2017-09-06 07:31] Ehesp commented on #386
@Salakar What do you want to do about this?

@SoldierCorp This is a different issue, there's plenty of these in the issues.

[2017-09-06 08:03] fungilation commented on #386
+1 to 2.2 branch for RN 0.48+

[2017-09-06 10:59] christophervalles commented on #389
Yeah, you are right. I spent yesterday so much time around these things that I forgot the basics :)

Thanks!

[2017-09-06 10:59] #389 closed

[2017-09-06 14:38] MathiasGilson opened #390 "'RCTDevMenu.h' file not found Compilation Error"
Cannot compile with RN v0.48.1 using CocoaPods
react-native-firebase v2.1.4

[2017-09-06 14:40] MathiasGilson commented on #390
I fixed it by explicitly importing DevSupport with the React pod
here is my Podfile
[code]

[2017-09-06 14:41] #390 closed

[2017-09-06 14:41] JackThomson2 commented on #390
Just hit this issue also. I tried removing the import and the line referencing it but the app crashes on load

[2017-09-06 14:42] MathiasGilson commented on #390
check my solution and tell me if it worked for you 😉
(I had already solved it so I closed the issue right after opening it)

[2017-09-06 14:44] JackThomson2 commented on #390
Haha just saw it and it built! Thanks for the help

[2017-09-06 19:00] lisbakke commented on #293
@chrisbianca Nope, didn't run `react-native link`. Does this module work for you on RN `0.46.x`?

[2017-09-06 20:09] alexwasner opened #391 "Firebase auth native sdk has not been included in your podfile - auth methods have been disabled."
I saw a previous issue that was closed because the solution was removing `use_frameworks!`. I am not using that and am still receiving this error. I have notifications working, but can't get the `.auth().signInWith...` working.

I've tried importing various auth files in my `AppDelegate`, but no luck. Everything builds just fine.

[code]

### Environment
1. Application Target Platform: iOS

2. Dev

[2017-09-06 21:39] lovince commented on #386
+1

[2017-09-06 22:19] Salakar commented on #386
Will release a version in the next hour or so with this patched to support 48 and previous versions, the PR above would break <48

[2017-09-06 22:20] arminsal1 commented on #360
Upgrading my project to RN 0.48 seemed to clean up whatever issue I was having and now it's running smoothly on Android with RNFirebase V3 😎

[2017-09-06 22:20] #360 closed

[2017-09-06 22:26] Ehesp commented on #391
Could you check that the auth pod has been installed in xcode? Also what does your Podfile.lock look like?

[2017-09-06 22:26] Ehesp commented on #360
I guess it was down to some file not being initilized somewhere - joys of RN!

[2017-09-06 22:37] alexwasner commented on #391
I just deleted and reinstalled all my `pods` and `node_modules` and still receiving the same error. Here is my lock file:
[code]

[2017-09-07 01:08] Salakar commented on #386
v2.2.0 is up.

[2017-09-07 01:16] Salakar commented on #389
No worries, good luck!

[2017-09-07 01:45] Salakar commented on #391
Derived cache data damn you! Closing =]

[2017-09-07 01:45] #391 closed

[2017-09-07 01:47] Salakar commented on #385
Have a feeling this was derived cache data in xcode screwing this up, similar to #391

[2017-09-07 01:47] #385 closed

[2017-09-07 01:50] Salakar commented on #383
Not possible as far as I know in either the firebase web sdk or the native sdk's sorry. RNFirebase server syncing won't affect your js code though as this is all done natively and not in JS, so load shouldn't be a problem.

[2017-09-07 01:50] #383 closed

[2017-09-07 02:02] #379 closed

[2017-09-07 02:13] Salakar commented on #378
This is a just warning in RN I believe, it doesn't break the build - the error in your screenshot means you're not running your packager.

Would suggest nuke your node modules directory and start again with a fresh npm install.

[2017-09-07 02:13] #378 closed

[2017-09-07 02:23] Salakar commented on #329
Closing due to no response, feel free to reply if this needs re-opening.

[2017-09-07 02:23] #329 closed

[2017-09-07 07:42] brandonkwong opened #392 "onDisconnect this.database is undefined"
### Issue

I am working with `react-native-firebase@3.0.0.alpha-2`, and when using `someRef.onDisconnect().remove()`, I caught the below error:
[code]
I think the following may need to be added:

"lib/modules/database/reference.js#L406"
[code]

"lib/modules/database/disconnect.js#L19"
[code]

### Environment

1. Application Target Platform: iOS

2. Development Operating System: macOS Sierra

3. Bu

[2017-09-07 10:03] Moshikol opened #393 "Build Failed"
I'm new to react-native with FireBase and I got  several errors on the build  that make it failed
the errors are in the PS
I'm trying to compile for Android and this is the   ##output:
Thanks in advance :)
![image](https://user-images.githubusercontent.com/19548879/30158138-e0310626-93cc-11e7-85e0-82c1f71fb8d5.png)

[2017-09-07 10:32] amitbravo opened #394 "Do I need to run pod update after updating library"
- just updated from 2.1.4 to 2.2.0
with npm i --save react-native-firebase@latest
Should I need to run cd ios && pod update every time after updating a library ?

[2017-09-07 12:08] dgruseck opened #395 "[Question] Firebase Pod 4.1.1 with leveldb-library"
Hi,

I just try to upgrade the firebase pods to version 4.1.1 and they need the leveldb-library pod.
The problem is when I try to build, the stdint.h from leveldb is used in Yoga.h but it thorws a error:
`This file should only be included when compiling with MSVC`
Has anybody seen that error before and knows how to fix it?

In version 4.0.3 everything is working because the leveldb-library is not

[2017-09-07 13:30] Salakar commented on #395
Ye it's an annoying thing at the moment with having leveldb on cocoa pods,

I'd suggest doing what a user on discord did as a work around:
![image](https://user-images.githubusercontent.com/5347038/30165736-031644ec-93d9-11e7-93fb-93a50d1e17c5.png)

Add it as a package script so you can re-use it if needed later:
`cd ios && rm -rf Pods/leveldb-library/port/win`

[2017-09-07 13:30] #395 closed

[2017-09-07 13:34] Salakar commented on #394
No you're fine for most minors and all patch versions, only on major versions would you need to do this, i.e going from v2 to v3 - as we then increase the minimum firebase sdk dependencies.

[2017-09-07 13:34] #394 closed

[2017-09-07 13:34] Salakar commented on #393
See https://github.com/invertase/react-native-firebase/issues/381

Also please fill out the issue template for future issues, we normally just close issues that don't follow the template otherwise. Thanks.

[2017-09-07 13:34] #393 closed

[2017-09-07 15:42] Salakar commented on #392
@brandonkwong thanks for flagging the issue. Have fixed it and published a new version with the `next` tag, if you could try it out that'd be great.

[2017-09-07 15:42] #392 closed

[2017-09-07 15:45] DaBs commented on #233
Right now, my symbolicated error stack is saying it's coming from [this line](https://github.com/invertase/react-native-firebase/blob/557face5eb52a872d4aed4dd4e711324a8a844e0/ios/RNFirebase/database/RNFirebaseDatabaseReference.m#L84).

[2017-09-07 17:11] Ehesp commented on #391
Is this fixed? @Salakar @alexwasner said it was still broke!

[2017-09-07 17:27] Salakar commented on #391
@Ehesp we screen shared - was xcode derived cache.

[2017-09-07 17:49] brandonkwong commented on #392
@Salakar Thanks! This is working now in `3.0.0-alpha.3`.

[2017-09-07 18:04] mikesurowiec commented on #233
I am getting a similar error - although it happens for me on iOS when I refresh the app.

My error stack is pointing [here](https://github.com/invertase/react-native-firebase/blob/557face5eb52a872d4aed4dd4e711324a8a844e0/ios/RNFirebase/database/RNFirebaseDatabase.m#L206) and [here](https://github.com/invertase/react-native-firebase/blob/557face5eb52a872d4aed4dd4e711324a8a844e0/ios/RNFirebase/datab

[2017-09-07 18:13] DaBs commented on #233
@mikesurowiec Thanks for also reporting - you're using a "standard" navigation, yes? Because then your error message suggests that it is probably related to the event emitter going lost somewhere.

[2017-09-07 19:02] mikesurowiec commented on #233
Yeah the navigation is done purely on the javascript side. I was upgrading from 2.x -> 3 and this is the only issue I've had so far. It's possible I have something else configured incorrectly, just weird that it works before a JS reload

[2017-09-07 20:51] comycos opened #396 "Failed to crunch file"
### Issue

I'm getting this error when I sync the project with Gradle files:
[https://imgur.com/a/uo0IN](https://imgur.com/a/uo0IN)
Gradle output:
[https://imgur.com/a/KLST3](https://imgur.com/a/KLST3)
and when I try to compile, I get:
[https://imgur.com/a/L8Fss](https://imgur.com/a/L8Fss)

Can I fix it? How?

I only installed the RNFirebase nothing else.
### Environment

1. Application Target Pla

[2017-09-08 02:06] esutton opened #397 "[ iOS ] _reactNativeFirebase2.default.analytics is not a function ?"
Out of the 6.3K installs / month, I admit I need help to  figure out how to install and use react-native-firebase.

After a day of effort, I am missing something.  I am a CocoaPod and Firebase newbie.

The following results in red box error:
[code]
![screen shot 2017-09-07 at 8 51 56 pm](https://user-images.githubusercontent.com/6115047/30192824-69a7961c-940f-11e7-83ba-0678f75a2fdb.png)

### Envir

[2017-09-08 06:41] Ehesp commented on #397
Hey, are you initializing firebase before you're using it? In the usage tab
in the docs (v2 not v3).

On 8 Sep 2017 03:06, "Eddie" <notifications@github.com> wrote:

[2017-09-08 09:13] DaBs commented on #233
For now, this doesn't seem to affect production, but it makes the development experience on iOS a living hell, as all of the event emitters are causing crashes. I've forked the repo and will be trying to fix it, possibly by implementing RNFirebaseDatabaseReference as an RCTEventEmitter instead of an NSObject

[2017-09-08 10:03] Salakar commented on #397
Try clearing your xcode derrived data - seems to be the bane of peoples lives lately on ios+firebase:

https://stackoverflow.com/questions/38016143/how-to-delete-derived-data-in-xcode-8

[2017-09-08 10:13] Salakar commented on #396
Failed to crunch file means studio can't process the file as the file path has reached the max file path line of the operating system. Yay for windows \o/

-> **Crude way** to solve it is move the project to some folder in the root of your drive, so  "D:\" in this case.

-> **Better way** is to change the build directory of your project in your `build.gradle` file (Project gradle file)

[code]

[2017-09-08 10:13] #396 closed

[2017-09-08 10:25] Salakar commented on #233
Are you both on v3? Gonna take a look and see what I can do about this on v3, if it works then I can backport.

[2017-09-08 12:07] DaBs commented on #233
Yup, v3 alpha 3 hereOn 8 Sep 2017 12:25 pm, Michael Diarmid <notifications@github.com> wrote:Are you both on v3? Gonna take a look and see what I can do about this on v3, if it works then I can backport.

—You are receiving this because you commented.Reply to this email directly, view it on GitHub, or mute the thread.

[2017-09-08 14:04] Jose4gg commented on #385
The @SMJ93 solution worked for me, Are you going to review this?

[2017-09-08 14:20] esutton commented on #397
@Ehesp Thank you! Thank you!

- Sadly I did not notice the published NPM package version did not match the github version.
- I also did not notice the **Version:** drop-down on the doc pages at upper-right.

Until v3 is published to NPM I expect this may catch developers new to react-native-firebase.

Perhaps  add a reference to the **v2 docs** be added to the README.md until v# is published?

v2

[2017-09-08 14:52] comycos opened #398 "Failed for task :app:processDebugGoogleServices"
### Issue

I'm pretty sure that this issue has been resolved before but I didn't find it.

I get this error while compiling: Failed for task :app:processDebugGoogleServices
Image: [https://imgur.com/a/VW56f](https://imgur.com/a/VW56f)

Sorry if I asked for something answered before and thanks!

### Environment

1. Application Target Platform: Android

2. Development Operating System:  Windows 10

[2017-09-08 15:05] esutton commented on #397
I can only find location down to the country resolution in Firebase Analytics console?

I expect marketing is going to make me go back to using Google Analytics.

[2017-09-08 16:45] Salakar commented on #397
![image](https://user-images.githubusercontent.com/5347038/30221740-64f4f0da-94bc-11e7-9e81-dccd5200a8e8.png)

I thought this would happen, so added that bar at the top a while back, guessing people are missing it heh, will think of something else. 🙈

Also Firebase analytics doesn't currently support geographic drill down at the moment, but you can easily use both GA and FB-A together, we've done

[2017-09-08 17:46] esutton commented on #397
@Salakar Thank you.

I'd hate to clutter your beautiful readme and docs, but I expect other new adopters of react-native-firebase may get caught in this as well.

I was using react-native-google-analytics-bridge a couple of days ago.

However, I had this nagging fear I might be missing out by not facing the future and switching to Firebase so I tried your react-native-firebase.

Using react-native

[2017-09-08 17:47] Salakar commented on #398
Most likely you have included 2 versions of google play services in your gradle files, check for any duplicates and remove the older version.

Also, you can use WIN + SHIFT + S - to screen capture on windows without needing to upload anywhere (goes direct to clipboard), saved me hours ha.

[2017-09-08 18:01] Salakar commented on #397
@esutton correct, I believe at the moment that's the only way to get down to city level is via BigQuery - bit 💩.

Worst case scenario using both is Firebase may eventually support it - then you can just drop the GA one anyway.

Also if this is a new project you might as well use v3 (can follow the migration guide from v2 to v3 there, nothing major), it's stable and will be the norm soon: http://in

[2017-09-08 18:06] esutton commented on #397
@Salakar  Is v3 currently stable enough for production use?

I am marching to an early October release date for iOS then November-ish for Android.

I was thinking about whether I should use v3 since this is a new app that has not made first release yet.

[2017-09-08 18:19] Salakar commented on #397
Several of us are using v3 for prod apps, check out the discord chat, couple of discussions on their about v3. Should also long since be released when October rolls on by.

But feel free to use either, no pressure, just looking for early adopters ha, is generally faster performance wise and lots of little QoL things baked in.

Migrating from v2 to v3 at a later date is just as easy so no worries.

[2017-09-08 18:19] #397 closed

[2017-09-08 18:21] comycos commented on #398
Thank for the tip 😄

I'm sure that I haven't any duplicate of google play services in my gradle files, but I tried to recompile and now I get another error.
![image](https://user-images.githubusercontent.com/7388957/30225614-6536174c-94d3-11e7-89c7-66e641f1039c.png)

That has any sense?

[2017-09-08 18:41] Salakar commented on #398
Can you paste both of your gradle files so I can take a look

[2017-09-08 19:03] comycos commented on #398
[build.gradle](https://gist.github.com/comycos/1d07e9ff5c8a4ab5cd27ca1eb286ab83)
[in app folder build.gradle](https://gist.github.com/comycos/8e4cc23a78a50684a601912ea94c7d51)

[2017-09-09 01:47] ynsgnr commented on #398
This issue about file acces. Deleting android/app/build folder usually solves it for me. Windows and its shenanigans :(

[2017-09-09 11:26] comycos commented on #398
Ok, I tried to delete the android/app/build folder and all seems to work fine but only the first time. When I recompile (without deleting the folder) I get:
![image](https://user-images.githubusercontent.com/7388957/30239671-1ef14268-9562-11e7-9a9b-acb553ca19a4.png)
as the first time.

I need to delete the build folder every time before run the project?

[2017-09-09 11:28] ynsgnr commented on #398
I guess yes, or try to find the process that locking that folder, its probably java gradle or npm then restart it

[2017-09-09 12:35] comycos commented on #398
I prefer to do a script that deletes that folder 😆
but this error shouldn't happen at least in react native 0.47.2 doesn't happen.

[2017-09-09 12:39] ynsgnr commented on #398
Even that script might fail due to admin rights issue. Its about windows OS it has very stupid way to manage user rights on folders

[2017-09-10 04:48] davieslee commented on #378
@Salakar thanks for the response. I've managed to run the build by deleting the `React` folder within the `Pod`.

[2017-09-10 12:27] mtt87 opened #399 "Cannot read property 'setCurrentScreen' of undefined / Analytics SDK not loaded"
### Issue
![simulator screen shot 10 sep 2017 14 12 50](https://user-images.githubusercontent.com/2150927/30249027-0a11a1fe-9633-11e7-981d-78fe89bbc2bc.png)

And underneath I can see this warning
![simulator screen shot 10 sep 2017 14 12 54](https://user-images.githubusercontent.com/2150927/30249028-11531218-9633-11e7-94c4-346cc8064a78.png)

I can't/don't wanna use cocoapods so I'm doing everythin

[2017-09-10 16:38] comycos commented on #398
I do not know if it has to do with the previous errors but when I try to create an account with email it throws me this:
![image](https://user-images.githubusercontent.com/7388957/30250826-752dae0c-9655-11e7-8a92-10a80433fd30.png)

I have a file to initialize firebase
`import RNFirebase from 'react-native-firebase'`
`const configurationOptions = { debug: true};`
`const firebase = RNFirebase.initia

[2017-09-10 17:55] ynsgnr commented on #398
At this point you should ask on stackoverflow because its not a bug
Anyway, you probably didnt implement google-services.json try to look at https://developers.google.com/android/guides/google-services-plugin

[2017-09-10 23:32] Salakar commented on #399
Try clearing your xcode derrived cache, usually the culprit, several articles on stack overflow on where to find it in finder, don't have one to hand on my phone sorry.

[2017-09-10 23:49] mtt87 commented on #399
I've done it already, both deleting the derived data and clearing the build folder...still not working 😢
<img width="506" alt="screen shot 2017-09-11 at 01 35 52" src="https://user-images.githubusercontent.com/2150927/30254087-54891a9a-9693-11e7-8d18-7a1cd6b1ddd1.png">
<img width="434" alt="screen shot 2017-09-11 at 01 35 15" src="https://user-images.githubusercontent.com/2150927/30254088-548a3632

[2017-09-11 07:45] hackable opened #400 ""RNFirebaseAdMobBanner" does not exist"
"RNFirebaseAdMobBanner" does not exist

### Issue

### Environment

1. Application Target Platform:  iOS

2. Development Operating System:  iOS

3. Build Tools: Xcode

4. React Native version: 0.48.2

5. RNFirebase Version: 2.2.0

6. Firebase Module:
admob

[2017-09-11 09:05] mtt87 commented on #399
If I use cocoapods it works fine but I really don't like cocoapods as it can create so many problems with other libraries.

Would love to make it work with a manual installation, and I'm happy to write down the instructions in the docs then 😄

[2017-09-11 10:03] Salakar commented on #399
https://github.com/invertase/react-native-firebase/issues/195

^-- Might help. Not installed without cocoapods myself. Have you correctly added them as linked libraries into your project - see the issue above.

[2017-09-11 10:35] grifotv opened #401 "[v3][analytics] Could not invoke RNFirebaseAnalytics.logEvent (Android)"
### Issue

Getting this error when calling Analytics method `logEvent` in Android. I followed all instructions listed [here](https://github.com/invertase/react-native-firebase/releases/tag/v3.0.0) and the `google-services.json` file is in the `/android/app/` folder.

<img width="510" alt="screen shot 2017-09-11 at 09 56 54" src="https://user-images.githubusercontent.com/435351/30269832-444e1726-96

[2017-09-11 11:04] Salakar commented on #401
Weird, sounds like your project is using an old version of Firebase/Play services - can you try invalidate caches on studio and rebuild?

[2017-09-11 12:10] grifotv commented on #401
@Salakar thanks for that. After invalidating caches on Android Studio some files changes, but it didn't fix the error, unfortunately.

- `/android/build.gradle` changed from `classpath 'com.android.tools.build:gradle:2.2.3'` to `classpath 'com.android.tools.build:gradle:2.3.3'`

- `/android/app/build.gradle` changed from `buildToolsVersion "23.0.1"` to `buildToolsVersion '25.0.0'`

- `/android/gra

[2017-09-11 13:22] Salakar commented on #401
Try upping your targetSdk version to 25?

[2017-09-11 13:31] Salakar commented on #401
Actually, here's something else you can try:

Add this to the very bottom of your `android/build.gradle` file:
[code]

This will force all subprojects into building with the same versions

[2017-09-11 14:47] grifotv commented on #401
@Salakar done both changes you wrote in your last two comments, but no luck :(

[2017-09-12 11:27] compojoom opened #402 "undefined is not an object (evaluating 'FirebaseModule.googleApiAvailability')"
Yes, I know! This has been reported like 100 times already... and I went through every reported issue.

My App is actually working, but it crashes in the simulator with ipad 2, ipad Retina, Iphone 4s, Iphone 5. The other simulators that I tried all work fine.
I've followed the pod instructions and here is my pod file:
[code]

and I tried updating my pods just in case:
[code]

in all cases it seems

[2017-09-12 16:00] soyangel commented on #400
Same error here also with iOS, but with React Native 0.44.0 & checked with RNFirebase 2.2.0 & 2.1.4.

[2017-09-12 16:08] crowd-studio commented on #400
Same error with iOS, React Native 0.45.1 & RNFirebase 2.2.0

[2017-09-12 18:19] nicholasstephan opened #405 ""'RCTDevMenu.h' file not found" on new installs."
### Issue

I'm struggling to get a brand new React Native app with react-native-firebase to build. Following the steps from:

    react-native init MyApp

then in the `ios` directory I `pod init` with the pod file:

    # Uncomment the next line to define a global platform for your project
    platform :ios, '9.0'

    target 'MyApp' do
      # Uncomment the next line if you're using Swift or woul

[2017-09-12 20:36] Chenjh1992 commented on #405
`DevSupport` add this to React subspecs, then run `pod install` again.
This work for me.

[2017-09-13 00:11] nicholasstephan commented on #405
Thanks!

But now I'm getting this one:

/Users/nicholasstephan/code/MyApp/node_modules/react-native/third-party/glog-0.3.4/src/base/mutex.h:105:10: 'config.h' file not found

[2017-09-13 10:07] soyangel commented on #400
I have fixed the error.

Open from Xcode: node_modules/react-native-firebase/ios/RNFirebase.xcodeproj

And now you need to add missing *.h & *.m files to the "admob" directory. You can do this drag&dropping  files from a finder (I unchecked the "copy" option in the dialog that appears).

Your admob dir should look like this:

![screen](https://user-images.githubusercontent.com/95073/30371650-83daa

[2017-09-13 15:58] SolutiLyon opened #407 "Firebase module breaks some import features from Webstorm"
### Issue
Because of :

[code]

It makes a conflict into Webstorm with react native imports then it can't know where to find 'react-native' components. That break the auto import & optimization of imports features.

[Screenshot](https://img11.hostingpics.net/pics/211299Capturede769cran20170913a768175343.png)

### Environment

1. Application Target Platform:
All

2. Development Operating System:
Ma

[2017-09-13 18:12] nicholasstephan commented on #119
@brianhiss. Thanks everyone for putting in the work on this.

I'm trying to implement, but just get the error:

[code]

when I try `signInWithPhoneNumber`. Can anyone point me in the right direction to get this working?

Any idea when this might make it into production?

[2017-09-13 21:21] javamonn commented on #119
For what it's worth, we recently got Firebase phone authentication working in a `react-native` project without needing to depend on the functionality being built into `react-native-firebase`.

[FirebaseUI](https://github.com/firebase/FirebaseUI) provides drop-in phone authentication interfaces for iOS and Android and is pretty easy to wrap to spawn it with a native-module call. It handles sending

[2017-09-13 22:25] jcharbo commented on #119
@javamonn that sounds awesome.  Can you provide some more info or maybe sample code on your integration?
thanks

[2017-09-14 00:37] dannyshisler opened #409 "import RNFirebase statement breaks compilation"
### Issue

I've set up the module exactly according to the setup guide, and my app compiles successfully - until I actually try and use it.

As soon as I add the import statement `import RNFirebase from 'react-native-firebase'` anywhere in the app:

I get a version of the error:
[code]

e.g. if I put the import statement in my App.js file I get:
[code]

I've seen regeneratorRuntime issues before r

[2017-09-14 02:56] stevenyap commented on #304
@g4laura Can you share your Java code on how you pass the Dynamic Link to React Native Linking?

[2017-09-14 08:24] bintoll commented on #119
Hello! Could someone help me please i have an error: "Remote notification and background fetching need to be set up for the app. If app delegate swizzling is disabled, the APNs device token received by UIApplicationDelegate needs to be forwarded to FIRAuth\'s APNSToken property.". Do i need to set up firebase cloud messaging for auth with phone for firebase? It is pointed that cloud messaging is o

[2017-09-14 08:24] Shinichi52 commented on #223
I'm has the same issue for IOS. On android working fine

[2017-09-14 08:28] eneskaya commented on #119
Yes, you need to activate Firebase Cloud Messaginf!

[2017-09-14 08:51] bintoll commented on #119
@eneskaya Thanks for fast answer, also could you tell me please is it possible to test it and debug this auth without generating APNs Auth Key (i do not have payed dev account now. So the question is can i test this method of auth without payed account? (how?)

[2017-09-14 08:57] SamMatthewsIsACommonName commented on #369
@Salakar sorry for the slow reply! No, it is enabled. It works if I use provider, and not if I use providerId. We have been using Facebook this whole time it was only switching to providerId that caused it to stop working.

[2017-09-14 09:09] eneskaya commented on #119
You need to have FCM enabled and correctly set up according to Firebase documentation (https://firebase.google.com/docs/cloud-messaging/ios/client). It's a security measure, to prevent scam. So, unfortunately you need a paid developer account for iOS developers program to even be able to test it.

Beste Grüße

Enes Kaya

[2017-09-14 09:54] bintoll commented on #119
@eneskaya Thank you very mush! You helped me a lot. I kindly suggest firebase developers to add some information about phone auth in the doc. I know that it is only alpha, but anyway, just some words will be good.

[2017-09-14 09:56] eneskaya commented on #119
Need to be patient with that ;) but glad I could help.

[2017-09-14 12:40] dannyshisler commented on #409
Apologies, I've discovered that this is an IntelliJ IDEA/Webstorm issue (see comments in https://blog.jetbrains.com/webstorm/2016/12/developing-mobile-apps-with-react-native-in-webstorm/). It works fine if I start debugging from the command line.

[2017-09-14 12:40] #409 closed

[2017-09-14 13:39] D1no commented on #119
@javamonn could you share the code you guys use to bridge and share firebaseUI? Offloading auth and all its checks sounds like viable idea.

[2017-09-14 14:35] noumantahir commented on #405
was having the same issue, added "DevSupport" to subSpecs, now I am getting a whole lot of new errors....

![screen shot 2017-09-14 at 7 34 40 pm](https://user-images.githubusercontent.com/6298342/30435681-ca3c7dde-9983-11e7-9ae8-d1a947a65186.png)

[2017-09-14 16:17] dannyshisler commented on #409
If anyone else comes across this problem the workaround for now is to use Chrome for debugging rather than Node.  The option can be set in the Run/Debug Configuration and requires version 2017.2.1 or higher.

[2017-09-14 21:42] designorant commented on #395
I've just ran into this myself.

This workaround can be added to `Podfile` as follows:
[code]

[2017-09-14 22:03] designorant commented on #405
@nicholasstephan See: https://github.com/facebook/react-native/issues/14382

[2017-09-14 23:41] lucianomlima opened #410 "Database reference update error"
### Issue

[code]
This codes works time ago. But now only return error below
[code]
### Environment

1. Application Target Platform: Android Lollypop

2. Development Operating System: macOS Sierra

3. Build Tools: Android SDK api 25

4. React Native version: 0.41.2

5. RNFirebase Version: 2.2.0

6. Firebase Module: Database

[2017-09-15 11:13] noumantahir commented on #405
just tried ios-configure-glog.sh in glog directory, cleaned and built again....

did not fix the problem.....still having same bunch of issues

[2017-09-15 11:43] designorant commented on #405
@noumantahir Quoting Olli from Discord:

[2017-09-15 12:04] Salakar commented on #369
Could I see how you're using it code wise?

[2017-09-15 12:38] maraujop commented on #119
Ok I'm trying to setup react-native-firebase@next to try Phone authentication and followed the instructions here https://invertase.io/react-native-firebase/#/installation-android for v3.x.x

Everything compiles, but when I start the app, before seeing anything I'm getting this error
[code]

![captura de pantalla 2017-09-15 a las 13 25 38](https://user-images.githubusercontent.com/252257/30482036-b

[2017-09-15 13:04] SamMatthewsIsACommonName commented on #369
Yesh sure:
Token comes from react native fbsdk

[code]

[2017-09-15 13:59] dannyshisler opened #411 "Android crash on receipt of message from FCM (possible resolution)"
### Issue

After successfully setting up the library and retrieving my FCM registration token I tried using the Firebase console to send my device a message.  On receipt of the message the app crashed everytime (in foreground and background mode) with nothing in the RN logs.

The Android logs showed the following:
[code]
I think I've fixed it by leaving the firebase-core reference  in `android/app

[2017-09-15 15:43] samuela opened #412 "RN 0.48.3 does not include `didFinishLaunchingWithOptions` in AppDelegate.m"
### Issue

The docs here: https://invertase.io/react-native-firebase/#/installation-ios?id=_21-add-the-required-pods indicate that one should add `[FIRApp configure];` to the `didFinishLaunchingWithOptions:(NSDictionary *)launchOptions` method. However, the most recent version of react native (at least) does not template out that method in AppDelegate.m. It would be better to include a full method

[2017-09-15 19:42] noumantahir commented on #405
@designorant nope, didn't help, exact same errors as before...thanks for the suggestion though :)

[2017-09-16 04:34] samuela opened #414 "React pod has been deprecated and build fails"
### Issue

The React pod, which is one of RNFirebase's dependencies, has been deprecated. A minimal Podfile looks something like

[code]

and running `pod update && pod install`, produces a warning

[code]

### Environment

1. Application Target Platform: iOS

2. Development Operating System: macOS 10.12.6

3. Build Tools: N/A

4. React Native version: 0.48.3

5. RNFirebase Version: 2.2.0

6. Fire

[2017-09-16 04:57] samuela commented on #414
Addendum: this causes builds to fail with RN 0.48.3, RNFirebase 2.2.0, and pods:
[code]

The react native packager produces

[code]

I'm confident that this issue is tied to the deprecation of the React pod, etc. but I cannot be entirely certain, and others' insights here would of course be appreciated.

[2017-09-16 05:12] samuela commented on #414
Ah, so the pod deprecation warning is because I am a fool and forgot the

[code]

section in my Podfile. However, the ambiguous resolution errors persist.

[2017-09-16 05:31] samuela commented on #414
Further edit: I was having build issues, but I was able to resolve them by adding `DevSupport` to the subspecs list for React:

[code]

Now the `react-native run-ios` build "succeeds." However, I'm still seeing the same bundling issue:

[code]

Here's the simulator perspective:
![screen shot 2017-09-16 at 1 30 15 am](https://user-images.githubusercontent.com/226872/30509445-aa823e7e-9a7e-11e7-9b4d

[2017-09-16 13:44] SoldierCorp opened #415 "Did you forget to use RCT_EXPORT_MODULE()?"
Hi!

I followed this guide https://invertase.io/react-native-firebase/#/v2/installation-ios step by step and when I compile my project I get succeed but when the app is running is delaying too much like 20 seconds and after that the following error comes up:

### Issue

[code]

This is my pod file

[code]

As you can see, I'm only using Analytics, Crash and Messaging.

And here you can see a scree

[2017-09-16 21:46] olivierlesnicki commented on #414
Seeing same issue as @samuela

[2017-09-17 07:55] olivierlesnicki commented on #414
For some reason the install process also creates a React folder under /ios/Pods, deleting it fixes the issue:
https://github.com/Microsoft/react-native-code-push/issues/745

[2017-09-17 11:47] 2rajpx opened #417 "Error on building"
### Issue
I got this error:
[code]
It's my `build.gradle` configs:
[code]
And this is my `app\build.gradle`:
[code]

### Environment

1. Application Target Platform: Android

2. Development Operating System: Ubuntu 16.04

3. Build Tools: 23.0.1

4. React Native version: 0.44.0

5. RNFirebase Version: 2.0.5

6. Firebase Module: N/A

[2017-09-17 16:16] irsyadmhdilham opened #418 "Local notification not showing in background"
Hello
I'm having a problem where the local notification doesn't show in background
as for the foreground is showing when I set a property `show_in_foreground: true`

here is my code
[code]
What are the property that I missing?

react native : 0.47
platform: android
react-native-firebase: v0.2
gradle build tool: 23.0.1

[2017-09-17 18:18] NathHorrigan opened #419 "Markdown issues in Android Docs"
Hello!! Thought I should let you know there is some incorrect markdown at https://invertase.io/react-native-firebase/#/installation-android?id=_2-link-rnfirebase that is causing weird output with code fences. :+1:

[2017-09-17 21:45] Salakar commented on #419
Thanks for flagging, think I see what the issue is, will sort tomorrow.

[2017-09-17 21:45] #419 closed

[2017-09-18 02:44] faahmad commented on #119
I'm getting the following error message: `TypeError: confirmResult.confirm is not a function`

I followed the guide above, did something change?

Here's my code (note* I'm using redux)
[code]

any ideas?

[2017-09-18 03:21] samuela commented on #414
@olivierlesnicki My understanding is that the /ios/Pods/React/ folder is brought into existence because of the

[code]

bit in the Podfile. Are you sure it's safe to delete it?

[2017-09-18 04:21] TikiTDO opened #420 "Phone auth can lose verificationId with no way of getting it back"
### Issue

When using firebase phone authentication, the app can lose a `verificationId` in between calls to `signInWithPhoneNumber` and `_confirmVerificationCode`.

This is touched upon in [this comment](https://github.com/invertase/react-native-firebase/tree/master/android/src/main/java/io/invertase/firebase/auth#L632).

Since `signInWithPhoneNumber` already passes the `verificationId` to JS-lan

[2017-09-18 07:30] chrisbianca commented on #411
I've updated the documentation to remove references to the unnecessary analytics dependency for both Android and iOS.

Thanks for raising.

[2017-09-18 07:30] #411 closed

[2017-09-18 07:57] chrisbianca commented on #119
I'm back in the country now, so should be able to pick back up on this over the next few days.  I'll try and pick up on the questions above that haven't already been answered:

@subugwriter Thanks for raising the linking issue.  Auto-verify on Android has been a right pain to deal with in a cross platform manner.  What I'm going to try and do is the following:

1) Update the current `signInWithPho

[2017-09-18 08:01] chrisbianca commented on #398
Looks like the original issue has been resolved, so I'm closing this issue.  Please shout if this isn't the case.

[2017-09-18 08:01] #398 closed

[2017-09-18 08:04] chrisbianca commented on #415
@SoldierCorp These are expected warnings - it's how we ensure that the Firebase modules can be imported as required, rather than having to add them regardless of whether they're being used.

I'd suggest that the delay is to do with React Native itself as the first warning relates to React Native, not `react-native-firebase`.  The warnings for `react-native-firebase` are logged out in a matter of m

[2017-09-18 08:04] #415 closed

[2017-09-18 08:07] chrisbianca commented on #355
Closing this as no response.  Please re-open with the information requested.

[2017-09-18 08:07] #355 closed

[2017-09-18 08:08] chrisbianca commented on #372
Closing this issue, please feel free to re-open if it's still an issue.

[2017-09-18 08:08] #372 closed

[2017-09-18 08:10] chrisbianca commented on #399
@mtt87 Curious to know which libraries cocoapods causes issues with?  I've found completely the opposite - that cocoapods is much more reliable than something like `react-native link`.  This is the reason that people like Google recommend it as the way to install the Firebase libraries.

[2017-09-18 08:16] chrisbianca commented on #420
@TikiTDO See: https://github.com/invertase/react-native-firebase/issues/119#issuecomment-330151028 for information about what we're proposing in terms of a more bespoke API.

We're aware of the fact that the verificationId can be lost as part of the lifecycle of the apps in Android - though this is already handled in iOS.

You can already make use of the verificationId yourself using a PhoneCreden

[2017-09-18 08:16] #420 closed

[2017-09-18 08:19] chrisbianca commented on #417
@2rajpx I'm afraid this doesn't sound like it's anything to do with `react-native-firebase` as we don't parse any XML files.  I'd suggest searching your codebase for `publicId` or `systemId` to see which is the culprit file and fixing as per the error message.

[2017-09-18 08:19] #417 closed

[2017-09-18 08:45] chrisbianca commented on #410
@lucianomlima Is there a corresponding error in the native logs?

[2017-09-18 08:46] chrisbianca commented on #400
Thanks for raising this.  I have just released version 2.2.1 which fixes this issue.

[2017-09-18 08:46] #400 closed

[2017-09-18 10:47] SoldierCorp commented on #415
Thanks but that's a weird thing because in another project with react-native-firebase installed, this is not happening not even the warning or the delay.

[2017-09-18 12:11] mtt87 commented on #399
@chrisbianca I don't think `react-native link` is reliable as well.
I think the most reliable way is the manual way.

The problem with cocoapods is that from my experience it can create problems when there is one library that needs to `use_frameworks` and another that doesn't.

Not to mention that it requires you to add another "layer" of software that can have issue.

Given that the manual way it

[2017-09-18 14:21] RedFu01 commented on #304
Hey @g4laura,
Following your suggestions works for me for opening the app, but on android i will receive `null` as url through the RN Linking Library. Do you have a fix for that?

[2017-09-18 14:49] Salakar commented on #419
This has been fixed now, may still be cached on your browser - just hard refresh if you need to.

[2017-09-18 22:36] cameronb23 opened #422 "'React/RCTBridgeModule.h' file not found"
### Issue

When attempting to build and push to TestFlight with RNFirebase through CocoaPods, I get this error:

`/Users/student/node/Dropday/node_modules/react-native-firebase/ios/RNFirebase/admob/RNFirebaseAdMobRewardedVideo.h:4:9: 'React/RCTBridgeModule.h' file not found`

I do know that this may have something to do with React-Native's breaking change, or at least that is what my research sugg

[2017-09-19 03:00] Shinichi52 commented on #418
Hi guy,
I have same problem. I can't show local notification when upgrade to v2. it's work fine with v1 :(
here is my code:
[code]
react native : 0.47
platform: ios
react-native-firebase: v2.1.4

[2017-09-19 05:20] maxbbb commented on #151
I was experiencing the same issue, and when sending a notification through a firebase cloud function or otherwise, I had code that looked like this.

[code]

but it turns out that if you want to append extra data to the notification your syntax has to look like this

[code]

not sure if the people experiencing this problem are already doing this but this fixed everything for me, hope it helps.

[2017-09-19 16:04] chiragpurohit71085 commented on #80
HI

RNFirebase.h
#import <React/RCTEventEmitter.h>

Causing

'React/RCTEventEmitter.h' file not found

Here is the entire log...

RNTemplateProjectFireBase/node_modules/react-native-firebase/ios/RNFirebase/RNFirebase.h:5:9: 'React/RCTEventEmitter.h' file not found

Please let me know if I am missing anything.

[2017-09-19 17:47] soutot opened #423 "Firebase database native sdk has not been included in your podfile only on device"
I'm trying to use react-native-firebase in my project and it's working just fine on Xcode simulator (tested on iPhone 6 and iPhone 7 - iOS 10.3). However, when I try to run the app on my device (iPhone 7 - iOS 10.3.3) it fails with a warning message

I tried to reinstall everything, but it failed in the same issue.

Here's my Podfile

[code]

Here's my podfile.lock

[code]

Here's my AppDelegate.m

[2017-09-19 18:30] christophervalles opened #424 "How to change the default icon in push notifications"
Just a simple question. How can I modify the icon used on the push notifications? Where is it stored?

[2017-09-19 20:17] soutot commented on #423
After spending a lot of hours on this, I figure out a way to solve it by deleting my DerivedData project folder.

File > Workspace Settings
or File > Project Settings

Then click on the grey arrow under Derived Data section (just after your path) and select your project folder to delete it.

Hope it helps someone else who struggles on this.

[2017-09-19 20:18] #423 closed

[2017-09-20 01:03] Alazoral opened #425 "Push.then is a promise, not the promise's then method"
### Issue

`database.ref('things').push('something').then` seems to return a Promise rather than the actual then method. The workaround is to use `then.then(() => ...)`

### Environment

1. Application Target Platform: iOS

2. Development Operating System: macOS Sierra

3. Build Tools: Xcode 9

4. React Native version: 0.46.4

5. RNFirebase Version: 3.0.0-alpha.3

6. Firebase Module: database

[2017-09-20 07:38] chrisbianca commented on #424
@christophervalles the icon is bundled as part of the app, and it's location differs depending on whether you're interested in Android or iOS?

[2017-09-20 10:33] christophervalles commented on #424
@chrisbianca I'm actually compiling for both.

[2017-09-20 10:57] Salakar commented on #425
Thanks for flagging, have pushed up a version that should fix this, can your try `3.0.0-alpha.4` and get back to me.

[2017-09-20 12:24] chrisbianca commented on #424
This is something that lives outside of RNFirebase, so it's probably best to have a search round online or on stack overflow for some help.

There's a decent Android guide here that I know of: https://documentation.onesignal.com/v3.0/docs/customize-notification-icons

[2017-09-20 12:24] #424 closed

[2017-09-20 13:14] plflanagan opened #426 "'_reactNativeFirebase2.default.auth()' is undefined"
### Issue
I have followed the iOS initialization directions a few times now and am encountering the same issue:
![simulator screen shot sep 20 2017 7 04 53 am](https://user-images.githubusercontent.com/9424428/30645181-1d9b9e36-9dd2-11e7-8ed3-d459c0b0f762.png)

Code at the LaunchScreen:
[code]

The `reactNativeFirebase2` seems odd to me. I had been using the web version of firebase previously; so

[2017-09-20 13:38] Ehesp commented on #426
You first need to ensure you're initializing firebase. Make sure you're on the v2 docs and not v3!

[2017-09-20 13:38] #426 closed

[2017-09-20 15:15] maraujop commented on #119
Thanks @chrisbianca for your answer.

It took me a while, but I finally found a cross dependency problem, another library was loading an older version of Firebase. It is now working good, as I've excluded dependencies from libraries and manually forced dependencies. [This article](https://medium.com/@suchydan/how-to-solve-google-play-services-version-collision-in-gradle-dependencies-ef086ae5c75f)

[2017-09-20 17:23] wbattel4607 opened #428 "[Question] Best place for setCurrentScreen in RN component lifecycle"
Do you have a recommendation for where exactly in the React Native component lifecycle to implement the analytics function `setCurrentScreen`? At first I figured it would go in `componentDidMount` but the docs do not specify whether or not Firebase automatically logs the currently visible screens. If it does, then `componentDidMount` or `componentWillMount` would be a good place to put it, but if

[2017-09-20 18:14] alexisbg opened #430 "Database error code"
### Environment

1. Application Target Platform: **Android**

2. Development Operating System: **Windows 10**

3. Build Tools: **Android SDK 23**

4. React Native version: **0.47.3**

5. RNFirebase Version: **react-native-firebase@2.2.1**

6. Firebase Module: **Database**

If I try to connect to a Firebase database but willingly without the required permissions, an error is throwed when the "on" l

[2017-09-20 20:20] Salakar commented on #430
Hello,

See the cancelOrCallbackContext arg on the docs: https://firebase.google.com/docs/reference/js/firebase.database.Query#on

2nd arg as a function will give you a correct error - if not then it might be a bug for us to look at, but should be working.

[2017-09-21 08:02] chrisbianca commented on #428
@wbattel4607 I'd suggest hooking into whichever navigation library you're using.  As you've described, introducing it at the component level doesn't give you accurate screen recording as you'll end up missing things like tab changes, or ending up with duplicate recordings when using the `render` method.

Previously, I've used ExNavigation (not had a chance to switch to react-navigation yet), and w

[2017-09-21 08:02] #428 closed

[2017-09-21 08:20] chrisbianca commented on #119
@maraujop Not sure how compatible we are with `react-native-fcm` nowadays as I've not tested recently.  In the past we have been, though obviously in the long term it would make sense to port over to the `react-native-firebase` which does offer messaging support and is something we will be focusing more attention on once phone auth is out of the way ;)

In terms of your error, I'd suggest clearing

[2017-09-21 08:37] alexisbg commented on #430
Thanks @Salakar for the clue.

Unfortunately if I call cancelOrCallbackContext parameter:
[code]

The error code is still the same digit:
[code]

[2017-09-21 08:48] NathHorrigan opened #431 "firebase.auth(...).getRedirectResult is not a function after setup (with redux)"
### Issue

I get the following error ` firebase.auth(...).getRedirectResult is not a function` after following the guide to setup library - I also followed the redux setup guide.

### Environment

1. Application Target Platform: Android

2. Development Operating System: macOS Sierra

3. Build Tools: Android SDK 26.0.1

4. React Native version:
react-native-cli: 2.0.1
react-native: 0.48.3

5. RNFir

[2017-09-21 08:56] chrisbianca commented on #431
@NathHorrigan `getRedirectResult` is not supported in `react-native-firebase` as it's not possible to use redirect-based sign in flows in React Native.  Assuming you're trying to do Facebook or Google sign in, you'll need to get the credential using a third party library, e.g. `react-native-fbsdk` or `react-native-google-signin`then use the `signInWithCredential` or `linkWithCredential` methods th

[2017-09-21 08:56] #431 closed

[2017-09-21 08:59] NathHorrigan commented on #431
But I'm not calling any auth methods. I have just setup and installed `react-native-firebase` - nothing else.

[2017-09-21 09:10] NathHorrigan commented on #431
Must have been some sort of cached file. The problem resolved itself after I resaved and built some files. Thanks for your help anyhow!

[2017-09-21 09:29] chrisbianca commented on #431
No probs

[2017-09-21 09:58] Salakar commented on #430
Just realised that you're on v2, there was a lot of work done on v3 (http://invertase.link/next) to standardise error codes across the board and to bring them in line with the web codes

[2017-09-21 10:28] Salakar commented on #430
In terms of the issue on v2, v3 is currently our main priority right now due to time constraints. Back-porting the error changes from v3 to v2 is also no small feat unfortunately.

We'll park this one for now and consider back-porting the changes at a later date. But v3 in general is in a far better state than v2, so definitely worth the switch :)

[2017-09-21 10:28] #430 closed

[2017-09-21 11:25] JackThomson2 commented on #414
Hi guys I had a similar issue with you but it was to do with archiving try adding this at the bottom of your pod file:

[code]

[2017-09-21 16:13] chrisbianca commented on #345
Added support for `onIdTokenChanged` to the upcoming v3 release.

@Salakar The other methods are detailed on the discrepancies document

[2017-09-21 16:13] #345 closed

[2017-09-21 16:26] soyangel opened #433 "Admob smart banner not resizing when changing screen orientation"
### Issue

Right now Admob Smart banners don't resize on Android when changing screen orientation. This is not a big problem when changing from portrait to landscape (add is smaller than width but can be centered). The worst case is when changing from landscape to portrait where the ad is cut.

To replicate just start the app in landscape mode and then rotate to portrait.

### Environment

1. Appl

[2017-09-21 16:34] ShunmugamAiyappan opened #434 "Is there a way, I could check the UUID is already available in Firebase ?"
=Is there a way, I could check the UUID is already available in Firebase ?

[2017-09-21 16:38] Ehesp commented on #433
Hey, what Size are you passing in?

On 21 Sep 2017 20:26, "Angel Luis Jimenez Martinez" <
notifications@github.com> wrote:

[2017-09-21 16:45] soyangel commented on #433
I have not set the size attribute so it should be a smart banner (as told in the docs).

[2017-09-21 16:46] chrisbianca commented on #369
@SamMatthewsIsACommonName I believe I've resolved this issue on v3.  It's not a straightforward back port, and we're focused on getting v3 out of the door at the moment so I'm going to hold off doing this on v2 if possible!

By the way, you can and probably should construct the credential as:
[code]

This will hide the internal representation from you and will work across both v2 and v3.

[2017-09-21 16:46] #369 closed

[2017-09-21 16:48] Ehesp commented on #434
The auth uuid? Why do you need to do that?

[2017-09-21 17:11] ShunmugamAiyappan commented on #434
I need to check whether the Phone is already been registered to Firebase / not

[2017-09-21 17:26] chrisbianca commented on #434
The only way you can do this is to try and register the user or sign them in, and see whether the account already exists or not.  This can be done using email and password, phone number or one of the other sign in methods.

[2017-09-21 17:26] #434 closed

[2017-09-21 19:21] ShunmugamAiyappan commented on #434
Okay thanks . I have done in that way.

[2017-09-21 23:18] SamMatthewsIsACommonName commented on #422
Hey just double to check are you bringing in the react pods as part of your setup?

[code]
That RNFirebaseAdMobRewardedVideo file has the new needed syntax (#import <React/RCTBridgeModule.h>) that was the breaking change in RN so it shouldn't be that I would imagine...

[2017-09-22 05:11] GH974 opened #435 "<GoogleMobileAds/GADAdDelegate.h> file not found"
### Issue

 Podfile error
/node_modules/react-native-firebase/ios/RNFirebase/admob/RNFirebaseAdMob.h:12:9: 'GoogleMobileAds/GADAdDelegate.h' file not found

### Environment

1. Application Target Platform: iOS

2. Development Operating System: macOs Sierra

3. Build Tools: Xcode

4. React Native version: 0.48.3

5. RNFirebase Version: 2.2.0

6. Firebase Module: admob

[2017-09-22 06:49] kishanj918 commented on #435
remove that line and it should work.

[2017-09-22 06:51] kishanj918 commented on #418
@irsyadmhdilham  on which phone you are testing?

[2017-09-22 06:52] chrisbianca commented on #435
As @kishanj918 says, as a temporary solution you can remove the line and everything will work as expected.

The latest version of the Google Ad SDK has removed this file. I’ll get a release out later this morning with a fix.

[2017-09-22 06:59] irsyadmhdilham commented on #418
@kishanj918 Xiaomi Redmi 4X

[2017-09-22 07:01] kishanj918 commented on #418
can you check that switch is enabled in permissions > Autostart > Your app?

[2017-09-22 07:02] GH974 commented on #435
Ok thanks, after remove this, i have found new error compilation

#0	0x0000000109efada1 in facebook::react::RCTNativeModule::invokeInner(unsigned int, folly::dynamic const&&) at /node_modules/react-native/React/CxxModule/RCTNativeModule.mm:109

[2017-09-22 07:09] Shinichi52 commented on #418
@kishanj918 can you run on IOS?

[2017-09-22 07:14] kishanj918 commented on #418
I haven't integrated cloud messaging in ios yet. I did admob.

[2017-09-22 07:57] chrisbianca commented on #435
@GH974 @kishanj918

Just published v2.2.2 which will resolve the initial issue.

@GH974 That doesn't look like a compilation error - we'll need more information, e.g. a proper stack trace to be able to help.  Feel free to open a new issue or try asking for some help on our Gitter.

[2017-09-22 07:57] #435 closed

[2017-09-22 08:04] chrisbianca commented on #414
Docs have been updated with @JackThomson2's fix above which has been confirmed to work in certain situations.  Please re-open if this is still an issue.

With v3 we are looking at getting `react-native link` to work again - unfortunately basic support provided by React doesn't give us the right level of customisation for Android, but we'll figure something out.

[2017-09-22 08:04] #414 closed

[2017-09-22 08:07] GH974 commented on #435
Ok thanks. I create new issue

[2017-09-22 08:15] chrisbianca commented on #412
@samuela I've just tried this using 0.48.3 and the `AppDelegate.m` does include the `didFinishLaunchingWithOptions` method as expected.

Did you perhaps use `create-react-native-app` to initialise your app?  In which case, this doesn't support native code out of the box, you need to eject (which I'm assuming will create this method for you)

[2017-09-22 08:15] #412 closed

[2017-09-22 08:18] chrisbianca commented on #410
@lucianomlima The issue is that you're returning the await, rather than the promise.  Your first method `firebaseUpdate` does not need to be async, and can just return the update, as follows:

[code]

[2017-09-22 08:18] #410 closed

[2017-09-22 09:12] SMJ93 commented on #304
@chrisbianca does this work for you with universal links? In the [Firebase iOS docs](https://firebase.google.com/docs/dynamic-links/ios/receive?authuser=1#open-dynamic-links-in-your-app) (6.) it says to add this code in addition to the URL scheme code you listed above:

[code]

[2017-09-22 09:43] GH974 opened #436 "Bug compilation React"
### Issue

After build and app launch, xcode stopped app, and generating error and opened this file Librarie/React.xcodeproj/React/CxxModule/RCTNativeModule.mm/RCTNativeModule::invokelnner(unsineg int methodId, const folly::dynamic && params)
[code]
=> Thread 6: EXC_BAD_INSTRUCTION (code=EXC_I386_INVOP, subcode=0x0

### Environment

1. Application Target Platform:  iOS

2. Development Operating Sy

[2017-09-22 12:09] NathHorrigan commented on #431
@chrisbianca Actually the error has reappeared but only when using remote JS debugging 😕

[2017-09-22 13:47] irsyadmhdilham commented on #418
@kishanj918 I've did switch the permissions in autostart. But still doesn't work 😭

[2017-09-22 17:43] hackable opened #437 "App crash due to banner component ad displayed on 32-bit iOS devices"
admob fails on 32-bit ios devices

``
 (void)sendEvent:(NSString *)type payload:(NSDictionary *_Nullable)payload {
    self.onBannerEvent(@{
            @"type": type,
            @"payload": payload != nil ? payload : [NSNull null],
    });
}
``

### Issue

### Environment

1. Application Target Platform:
iOS

2. Development Operating System:
macOS Sierra

3. Build Tools:
XCode

4. React Native v

[2017-09-23 03:55] #436 closed

[2017-09-23 08:08] Shinichi52 commented on #418
@irsyadmhdilham it's working fine for me on android. But on IOS it doesn't work.

[2017-09-23 10:31] NathHorrigan opened #438 "access_token is not for this project (Google Sign In)"
So I'm trying to signIn with but I'm getting the following error: `access_token audience is not for this project `

Here is my code:

[code]

### Issue

### Environment

1. Application Target Platform:  Android

2. Development Operating System: macOS Sierra

3. Build Tools: SDK 23

4. React Native version:
react-native-cli: 2.0.1
react-native: 0.48.3

5. RNFirebase Version:  2.2.0

6. Firebase Mod

[2017-09-23 14:03] Salakar commented on #407
This is correct as is though, webstorm user myself and as far as I remember when I first started this project webstorm would grind to a halt trying to resolve react and all it's dependencies . This also fixed a flow issue I think.

If you could confirm the above 2 things are no longer an issue then I'd be happy to change this.

The module inspection does cause far more issues than it's worth thoug

[2017-09-23 15:19] chrisbianca commented on #438
This sounds like a configuration issue.  Is the app that's being signed into using GoogleSignIn linked to your firebase project?

[2017-09-23 15:21] chrisbianca commented on #401
@grifotv Did you manage to get this resolved?  It does sound like you've not got the right google play services version

[2017-09-23 15:25] chrisbianca commented on #437
@hackable Is there an error at all? I believe that Apple have dropped support for 32 bit completely as of iOS 11

[2017-09-23 15:30] chrisbianca commented on #405
It seems like the original issue has been resolved.

@noumantahir It looks like you might have an out of date version of Firebase.  Can you check which version it is using?  If it's using 3.X then you need to do the following:

`pod outdated` - show the pods that are out of date
`pod update` - update pods to the latest versions

[2017-09-23 15:30] #405 closed

[2017-09-23 15:31] chrisbianca commented on #402
@compojoom Sorry for the delay in response on this one.  Are there any native errors in the logs at all?  I'm wondering whether it's a 32 bit issue - I believe all these devices you mention are 32 rather than 64 bit devices.

[2017-09-23 15:35] chrisbianca commented on #399
@mtt87 Any luck getting this working yet?

I'm going to close this issue, but please do submit some documentation once you have got the manual installation method working.  We will look to include this ourselves in the future, but at the moment we're very focused on getting the automatic install methods working seamlessly as this will help get people up and running more quickly.

[2017-09-23 15:35] #399 closed

[2017-09-23 15:39] chrisbianca commented on #370
@nikhilag Sorry for the delay on this one.  We've discussed this internally and we're not likely to expose a method specifically for use in third party libraries as it starts opening a can of worms.

You could get this working by tacking into some of the internals of the messaging module.  In v3, each module has an event emitter that you could use.

[2017-09-23 15:39] #370 closed

[2017-09-23 15:40] chrisbianca commented on #170
Closing this as we've got internal tasks for documentation.

[2017-09-23 15:40] #170 closed

[2017-09-23 15:42] chrisbianca commented on #357
I'm going to close this issue off as I think you'll be able to do what you want with `react-native-firebase`.  As an aside, we are going to dedicate some time to FCM support in the near future and try to simplify how it all works!

[2017-09-23 15:42] #357 closed

[2017-09-23 15:43] chrisbianca commented on #281
@CoderProject Sorry for the delay on this, are you still experiencing issues?

[2017-09-23 15:45] chrisbianca commented on #326
@gvimlan95 Are you still experiencing issues with this?  If so, please try the latest version of RNFirebase (2.2.2) - there have been a few tweaks to improve project compatibility since 2.1.0

[2017-09-23 15:53] chrisbianca commented on #233
Is this still causing you problems?

I'm really unsure why this is happening - I'm unable to reproduce on v3 at all, which makes it hard to try and resolve the issue. This issue used to happen on v2 because `RNFirebaseDatabaseReference` was part of the `RNFirebaseDatabase` file rather than it's own file.  Now that it's separate, the error that's being warned about shouldn't be the case.

@DaBs if

[2017-09-23 15:54] chrisbianca commented on #278
Seems like there's a valid workaround for those people who are experiencing issues, so I'm going to close this down.

[2017-09-23 15:54] #278 closed

[2017-09-23 17:04] hackable commented on #437
The app crashes on iphone 5c devices running on ios 10

[2017-09-23 17:37] fungilation commented on #302
Checking in again. Do you still need more details on reproducing?

[2017-09-23 18:59] Salakar commented on #425
Closing due to no response - seems to be working on tests now as well.

[2017-09-23 18:59] #425 closed

[2017-09-23 19:00] Salakar commented on #407
Have just tested both myself and it's all working - so i'll remove it for the next alpha release.

[2017-09-23 19:00] #407 closed

[2017-09-23 20:25] Salakar commented on #119
All,

So it's another day and another crack at this 🙈 (send help).

At the moment I have all the internals ready for the `verifyPhoneNumber` api - as @chrisbianca mentioned above. I have 2 api proposals for it however and would like to get a consensus from you guys on which one to go with for the final implementation.

----

### Implementation 1

This api goes with the general theme of how the fir

[2017-09-23 23:11] grifotv commented on #401
@chrisbianca after this issue I decided to go for the latest stable version `2.2.2`

[2017-09-24 00:36] plflanagan commented on #426
What if I would like to use v3?

[2017-09-24 10:39] chrisbianca commented on #426
v3 is still in alpha, if you're comfortable with the fact there may be a few issues, then follow the instructions here: https://invertase.io/react-native-firebase/#/

The latest alpha is v3.0.0-alpha.5

[2017-09-24 10:39] chrisbianca commented on #401
Ok, in which case I am going to close this issue.  We'll make sure everything is rock solid before a v3 release.

[2017-09-24 10:39] #401 closed

[2017-09-24 10:41] chrisbianca commented on #302
@fungilation Sorry, things have been a bit hectic our end, but this is very much on my list as soon as we get v3 out of the door in the next couple of weeks...  I think there should be enough information available for me to reproduce - I will shout if that's not the case.

[2017-09-24 10:43] chrisbianca commented on #437
@hackable In which case, can you please include the stack trace from the native logs at the point it crashes?  Without this it's very difficult for us to try and diagnose the problem.

[2017-09-24 10:44] chrisbianca commented on #410
What do you mean by it works in other projects in that way?
Regardless, my point is that `update()` returns a promise anyway, so there is no need for your async / await modifiers to use it in the way you have specified.

[2017-09-24 10:47] hackable commented on #437
The app crashes on iphone 5c with EXC_BAD_ACCESS ( code=1 address=0xc)  when onSize event is send using sendEvent

[2017-09-24 10:49] Ehesp commented on #437
@chrisbianca when I first tried to implement it on ios I was getting that error from the event emitter when the implementation didn't use the "Manager".

[2017-09-24 10:59] hackable commented on #437
Could it be an issue due to how floats are handled in 32-bit and 64-bit systems

[2017-09-24 11:01] chrisbianca commented on #431
Sounds like a weird caching issue to me, or there is something using it in the background.

As an FYI, this has prompted us to make some changes in v3 to make it clear which methods we don't support because the native SDKs don't support them.  This is one of them.

[2017-09-24 11:02] chrisbianca commented on #437
@hackable Yes, that's more than likely. Either @Ehesp or I will pick this up over the next few days and see what we can figure out.  If you're able to diagnose and fix yourself, a PR would be most welcome

[2017-09-24 11:14] hackable commented on #437
I would definitely love to contribute if i am able to get a fix would push a PR

[2017-09-24 11:16] Ehesp commented on #437
If the issue is the float conversion, it'll most likely be happening on the stringToAdSize method within the RNFirebaseAdMob.m file

[2017-09-24 13:19] lucianomlima commented on #410
As I said initially, it was working this way, with an async/await function.
Until now I have 2 apps, one works and another one don't.

[2017-09-24 15:17] Salakar commented on #119
All,

I've just pushed up the `verifyPhoneNumber` implementation (as @chrisbianca mentioned above).

This implementation gives you full control of the phone number verification flow on either platform as well as a flexible api to suite any UI flow and should be familiar to use if you've used things like storage `upload tasks` / database `on` listeners.

----

### Cross Platform Example

This code

[2017-09-24 15:34] fungilation commented on #302
Great! I'm not rushing, and I understand you want to take care of v3 first and test/fix against that after release.

[2017-09-24 15:44] compojoom commented on #402
Hey @chrisbianca
Is there a way for me to find out if the simulator is 32bit or 64bit?

I had a look at the debug window and the only things I see are:
[code]

I tested the app on a 4s device and it works just fine. So, maybe it is a simulator issue, but I don't have any of the other devices to test...

[2017-09-24 15:49] Salakar commented on #260
@fungilation would you mind creating this request over at https://react-native-firebase.canny.io/feature-requests

And we can continue discussion on this there etc at a later date.

Thanks

[2017-09-24 15:49] #260 closed

[2017-09-24 16:04] fungilation commented on #260
Done

[2017-09-24 16:14] Salakar commented on #260
Awesome, thanks

[2017-09-24 19:14] samuela commented on #412
@chrisbianca Interesting... I was using `react-native init` with no extra flags. I'm using Xcode v9.0. Perhaps there are some spurious Xcode/iOS settings that matter.

[2017-09-24 19:52] NathHorrigan commented on #438
Yes - Key's and Config files are correct and sha-1 hash is entered in firebase settings

[2017-09-24 20:53] g4laura commented on #304
@stevenyap
 I think the code I posted here was all of the java code I used for dynamic links, I did everything else in react native javascript

@RedFu01
Is it working on iOS?
If it's not working on iOS either.. Are you placing the React Native Linking code in your router? If not, doing that might help..

@SMJ93
I included this:
- (BOOL)application:(UIApplication *)application
continueUserActivity:

[2017-09-25 02:18] tmaly1980 commented on #278
@chrisbianca That's fine if this is closed but PLEASE update the install docs! Having to sift through GitHub issues to get RN modules working (because the docs are almost always incomplete) is one of my biggest frustrations with RN. Much appreciated!

[2017-09-25 07:32] chrisbianca commented on #278
@tmaly1980 We agree, don't worry, and we're working on ways to make the setup as painless as possible.

Unfortunately RN in itself is fragile and with multiple versions (most with breaking changes of various types) it's hard for module developers to keep up.  Everybody has different setups, different combinations of modules and libraries, which means often a fix for one set of people doesn't work

[2017-09-25 07:50] hackable commented on #437
In 64-bit devices its returning value of height as 0xb000000000000325 where as in 32-bit devices its returning as float (50)

[2017-09-25 08:03] qmegas opened #440 "firebase.messaging is undefined"
Hi,

I'm trying to use firebase cloud messaging, but `firebase.messaging` is `undefined` (on Android).
I followed all installation instructions, but it doesn't work. There is not errors during compilation.
What I'm missing?

Some check list:

`app\build.gradle` following lines added:
[code]

`settings.gradle` following lines added:
[code]

`MainApplication.java`:
[code]

### Environment

Developme

[2017-09-25 08:17] Salakar commented on #440
You need to export an intialized instance of firebase in JS, you can't import rnfirebase and just use it - not until version 3

[2017-09-25 10:08] qmegas commented on #440
@Salakar
I did that. Here is my code:
[code]

[2017-09-25 11:09] yashaRO commented on #440
I'm about to test it, but I'm thinking he meant this
https://invertase.io/react-native-firebase/#/v2/usage

`import RNFirebase from 'react-native-firebase';

const configurationOptions = {
  debug: true
};

const firebase = RNFirebase.initializeApp(configurationOptions);

export default firebase;`

You need to initialize literally RNFirebase in another file or something, and then the functions wor

[2017-09-25 11:12] maraujop commented on #119
Thanks @chrisbianca I finally managed to get it working. It was a bad iOS + cocoapods setup. Although it's true that search paths in react-native-fcm are too open and can cause trouble. Anyway, I finally got it working in both platforms. In the future, I will probably move into using one single app.

@Salakar i was trying to change my code to use this new `verifyPhoneNumber` flow. I believe that y

[2017-09-25 11:30] qmegas commented on #440
@yashaRO
Yes, you right. Missed that page in library documentation.

[2017-09-25 11:30] #440 closed

[2017-09-25 13:10] jcharbo commented on #119
@maraujop I'm using fcm as well.  Do you have any tips to share for getting it working?
thanks

[2017-09-25 13:56] mtt87 commented on #399
Unfortunately no at some point I gave up, it works as I said with cocoapods.
I might give it another try in the future and see if I can make it work, and update this discussion.

Thank you

[2017-09-25 13:56] Salakar commented on #119
@maraujop and others, just wait until we give the go ahead before trying to use verifyPhoneNumber, as you said the native parts are not there yet as they require a few more tweaks / testing and hooking up to the JS api.

My post was a heads up of what the new API is :)

[2017-09-25 14:02] jcharbo commented on #119
Thanks @Salakar , do you have an ETA?

[2017-09-26 07:38] bm-software commented on #338
Any news?

[2017-09-26 10:24] maraujop commented on #119
@Salakar Oh, I totally misunderstood your post, sorry, as you said you had merge the implementation I understood it was fully there.

@jcharbo Make sure your LIBRARY_SEARCH_PATHS looks like this:

[code]

Also make sure that you do `pod update` in your `ios` folder. If you have any problem, let me know what it is.

[2017-09-26 13:36] johnernaut commented on #414
Hi, I've added the fix described by @JackThomson2 for this in my Podfile, and I've confirmed that `Pods/React` does not exist, but I'm still getting the following error from the react packager:

[code]

Any ideas?

[2017-09-26 13:53] CoderProject commented on #281
Yes, still having the problem. When my app is completely closed on iOS and the notification with data message is clicked, there's no way that I can handle the data that is sent with the notification.

What am I doing wrong?

[2017-09-26 14:11] faahmad commented on #233
This is causing me issues in development as well. I can reproduce by changing a value in my firebase console.

this is my error message:
[code]

[2017-09-26 14:13] gurmukhp opened #441 "FCM Invalid Token"
### Issue

### Environment

1. Application Target Platform: iOS

2. Development Operating System: Mac OS

3. Build Tools: Xcode

4. React Native version: 0.48.3

5. RNFirebase Version: 2.2.2

6. Firebase Module: Messaging

I've generated a P8 file from Apple Member platform and uploaded it to Cloud Messaging in Firebase.

I have then got the token and saved it to Firebase database.

If I use this

[2017-09-26 15:20] wbattel4607 opened #442 "[Question] Does AdMob have to be reinitialized after app is reopened from background?"
### Question
AdMob works fine when I initially launch the app, but if I put it in the background (press home) and then later return to it the (rewarded video) ads no longer load. Do I have to reinitialize admob if the app is opened from the background? I initialize it in componentWillMount  but I'm not sure where/if it would make sense to reinitialize it.

EDIT: After further thought, maybe I shou

[2017-09-26 16:07] bm-software commented on #338
I've create a [PR#443](https://github.com/invertase/react-native-firebase/pull/443) that will add this feature.

[2017-09-26 16:53] #441 closed

[2017-09-26 16:55] gurmukhp opened #445 "Push Notifications broken iOS 11"
An update needs to be made to the completion handler to allow push notifications to be received on iOS:

**(void(^)(void)**

[code]

This allows push notifications to be received when app is in background, but for some reason when the app is in suspended state, the push notifications are never received. Any idea why this is?

Here's an example:

[code]

[2017-09-26 19:21] calclavia opened #446 "firebase.options.projectId is null on Android"
### Issue

I noticed that on Android firebase.options.projectId is always null. On iOS the value is correct and gives me my project ID.

### Environment

1. Application Target Platform:
Android

2. Development Operating System:
MacOS Sierra

3. Build Tools:
Android

4. React Native version:
0.43.4

5. RNFirebase Version:
3.0.0-alpha.5

6. Firebase Module:
Core

[2017-09-26 20:51] Bang9 opened #447 "[Q] Schedule notification interval doesn't work over the twice?"
### Issue

Hi, I want make function that alarm notification for every day
So, I used the **_fcm.scheduleLocalNotification()_**
It works very well, but just twice(only works on two days)
after the get two notifications, It doesn't work anything
scheduleLocalNotification doesn't support notification for every day?

It's my source code, thank you

[code]

[code]

### Environment

1. Application Targe

[2017-09-26 20:55] jmhuret commented on #233
I am working from v3 and I see the same issues as @faahmad. It appears that it's only an issue after doing a JS reload (live, or manual). If I've done a fresh install of the app from XCode, everything seems to work fine.

[2017-09-26 21:12] chrisbianca commented on #399
@mtt87 Great, thanks!

[2017-09-26 21:13] chrisbianca commented on #399
Also, it might be worth making a feature request here so that we can keep track of it: https://react-native-firebase.canny.io/feature-requests

[2017-09-27 00:23] cameronb23 commented on #422
Took me a while to get it figured out, but it seemed to be a weird mixture of my build phases/native modules and my Pods setup. Finally figured it out after a bunch of trying and retrying. Thanks 👍

[2017-09-27 00:23] #422 closed

[2017-09-27 03:57] lazyhoneyant opened #448 "How can I get a intanceId?"
I’ve converted from swift app to React native app.
In Swift app, It uses FirebaseInstanceID to store unique device id.

[In Swift]
messaging.apnsToken {
            InstanceID.instanceID().getID { deviceId, error in
……

To follow current backend structure, I need an instanceId.
Can I get instance id from ‘react-native-firebase’?

### Environment

1. Application Target Platform:  iOS

2. Developmen

[2017-09-27 10:06] Salakar commented on #446
@calclavia can you debug on this line on android: https://github.com/invertase/react-native-firebase/blob/master/android/src/main/java/io/invertase/firebase/RNFirebaseModule.java#L144

And see if appMapsList and then your project in that list has projectId correctly and not null. If it does then it's a JS issue, if it doesn't then it's a firebase android sdk issue, which would need flagging with f

[2017-09-27 10:09] bm-software opened #449 "Grouping notifications"
How can we group notifications?
I've seen the code of your library and the `setGroup` method is called on `NotificationBuilder` but my notifications are not grouped.

I'm using the following code to create a local notification:

    messaging.createLocalNotification({
        title: message.title,
        body: message.body,
        sound: message.sound,
        priority: 'high',
        click_act

[2017-09-27 11:29] chrisbianca commented on #338
@bm-software Thanks for the PR - it has now been merged and will be a part of the upcoming v3 beta.

[2017-09-27 11:29] #338 closed

[2017-09-27 12:13] lel1234 commented on #402
Had this issue on Android, using a real device.

I just run the command `react-native run-android`, it downloaded a bunch of dependencies and it ended up with an error, something like adb bridging failed, I ran it again, it gave me another error, and so on after a couple runs the build worked and the error disappeared.

TL;DR: Running `react-native run-android` 5 or 6 times fixed this error for me

[2017-09-27 14:21] hfossli opened #450 "Outdated documentation in RemoteConfig"
Hey! Thanks for creating this fantastic library! Awesome!

I might be mistaken, but it seems like the comments in this file are outdated.
https://github.com/invertase/react-native-firebase/blob/master/lib/modules/config/index.js

Current version: https://github.com/invertase/react-native-firebase/blob/98252266653a574cd692e0c6790463333003f342/lib/modules/config/index.js

### Issue

It seems to me t

[2017-09-27 14:35] morgerardo commented on #306
Any luck solving this? i'm having the same issue

[2017-09-27 17:08] #448 closed

[2017-09-27 17:58] NathHorrigan commented on #431
This is still happening on all 3 browsers that I have tested (Chrome Canary, Chrom Stable, Firefox Dev edition)

[2017-09-27 19:20] Ehesp commented on #442
Hmm, I can test this out properly. I'd imagine that the Admob SDK handles background state too to save battery/network. AppState should work though for now.

[2017-09-28 02:28] brandonkwong opened #451 "FirebaseMessaging not referenced"
### Issue

I am working with `react-native-firebase@3.0.0-alpha.5`, and when receiving remote notifications through `firebase.messaging().onMessage()`, I get an unhandled promise warning with the following:

[code]

Although these are just warnings, in some instances, we have experienced app crashes due to this.

I think the below needs to be fixed to properly reference `FirebaseMessaging` in `lib

[2017-09-28 08:31] JesperLekland opened #452 "[docs] Setup with staging / production project configurations"
### Issue

Hi! I was wondering how one would go about settings this up with different GoogleService-info.plist files? I have two configurations (Staging & Production), and for these I want the different plist files.

According to [this](https://firebase.google.com/docs/configure/) it's absolutely possible but I don't know how to do this with your wrapper.

Thanks in advance

### Environment

1. Ap

[2017-09-28 15:10] GuillaumeNachury opened #453 "Errors compiling iOS Project with Auth module on RNFirebase 2.2.2"
When adding the `Firebase/Auth' pod the project does not compile anymore and generate a lot of errors

pod file
[code]

Errors appear in RNFirebaseAuth.m
 * react-native-firebase/ios/RNFirebase/auth/RNFirebaseAuth.m:334:21: No visible @interface for 'FIRAuth' declares the selector 'confirmPasswordResetWithCode:newPassword:completion:'
 * react-native-firebase/ios/RNFirebase/auth/RNFirebaseAuth.m:3

[2017-09-28 18:17] akshetpandey commented on #452
The may I do it is create multiple schemes and buildTypes on ios/Android. Then as a build step copy over the right GoogleService-info.plist  file.

Each scheme has a custom property that specifies the filename

<img width="511" alt="screen shot 2017-09-28 at 11 15 14 am" src="https://user-images.githubusercontent.com/1213060/30983117-58daefe8-a43e-11e7-9d9b-55f51090606b.png">

Build Phases then ha

[2017-09-29 01:29] jlsuarezs commented on #445
I have the same issue, any help? Thanks.

[2017-09-29 03:14] hisokakei commented on #431
Faced the same issue if I enable Remote JS Debugging.

I didn't call any auth() method at all.

"react-native": "^0.48.3"
"react-native-firebase": "^2.2.2"

[2017-09-29 07:36] chrisbianca commented on #431
@NathHorrigan @hisokakei This looks like it's something internal to `react-redux-firebase` as per the below:

https://github.com/prescottprue/react-redux-firebase/blob/ed6b902aee8ca225b02e307b71ff1b93b4f9f6fe/src/actions/auth.js#L268

@prescottprue `GetRedirectResult` isn't supported by the native SDKs - how can these guys work around the issue?  It looks like there's a config flag which might be

[2017-09-29 07:38] chrisbianca commented on #453
Sounds like your project might be using an old version of the Firebase pods.  Can you check your Podfile.lock to see what version they're using?  It should be 4.X.X.

You can then run the following:

`pod outdated` - shows the pods which have newer versions available
`pod update` - updates all out of date pods

[2017-09-29 07:39] chrisbianca commented on #452
This is the approach we use too.  I'll leave this issue open so we can add some information to the docs.

[2017-09-29 09:24] GuillaumeNachury commented on #453
You are absolutely right, I had an outdated pod.
I ran a `pod update` and now the project compiles perfectly.

Thank you.
G.

[2017-09-29 09:24] #453 closed

[2017-09-29 12:42] bramus commented on #414
Referencing https://github.com/react-native-community/react-native-svg/issues/463

[2017-09-29 17:27] prescottprue commented on #431
@chrisbianca If we can know with confidence that it is this type of environment (i.e. an instance of `react-native-firebase` instead of regular `firebase`) than we could possibly call whatever interaction `react-native-fbsdk` needs. I would need to look a little more into it.

The current [`react-native` example for v1.*.* of `react-redux-firebase`](http://react-redux-firebase.com/docs/recipes/rea

[2017-09-30 07:34] dhansiddh commented on #304
I have created a npm module for iOS and Android for handling firebase dynamic links. You can look at this [https://www.npmjs.com/package/react-native-firebase-dynamic-links](url) for detail.

[2017-09-30 12:13] NathHorrigan commented on #431
So what is the temporary fix for this?? My firebase setup itself is working - I have a working google signin (with firebase) that works when not remote debugging.

[2017-09-30 12:15] #438 closed

[2017-09-30 12:15] NathHorrigan commented on #438
Issue resolved itself. I'm guessing some sort of backend issue?! 😕

[2017-09-30 13:15] Salakar commented on #304
@dhansiddh not that I'm complaining but why a separate module? Just means another thing to install :)

[2017-09-30 13:26] dhansiddh commented on #304
@Salakar I agree that it would be best if it is supported by react-native-firebase out of box. And that is what I am working on as of now. Until then I have created a module to help myself and other with the deeplink functionality for iOS and Android.

[2017-09-30 15:50] omer88 commented on #304
Hi @Salakar  and @dhansiddh , I'm currently also working on react-native-firebase dynamic link support, and I think I'm pretty close to finish it.

[2017-09-30 17:19] royisch commented on #304
@dhansiddh - your link is not working

[2017-09-30 18:22] Salakar commented on #119
My UI skills aren't amazing, but here's a gif of android working with auto verify included:

@maraujop this has been pushed up for android, you should be good to go now - will sort ios shortly.

![boop]
(https://cdn.discordapp.com/attachments/362972933921964032/363750216089731072/2017-09-30_19.12.37.gif)

[2017-09-30 18:57] tmaly1980 opened #454 "Storage delete"
Is there support for deleting files uploaded previously to a storage bucket? If so, what does that look like? The Web SDK has examples but nothing in the API docs here. Does that just translate/work with the Web SDK's API?

[2017-09-30 19:53] Salakar commented on #454
@tmaly1980 the overall purpose of this library is to mirror the web sdk as much as possible - so we only document the differences. You can delete as you would on the web sdk.

[2017-09-30 19:53] #454 closed

[2017-09-30 20:00] Salakar commented on #450
@hfossli this is just internal commenting for us - just shows the format of the data that the native module sends back the libs js counter part. See https://invertase.io/react-native-firebase/#/modules/config for the public docs.

[2017-09-30 20:00] #450 closed

[2017-10-01 05:10] dhansiddh commented on #304
@royisch I have updated the url. You can click on this [link](https://www.npmjs.com/package/react-native-firebase-dynamic-links) for detail

[2017-10-01 19:23] damienix commented on #407
I'm also affected. Removed flow.js file with this 'react-native' declaration which seems to solve the problem 👍

[2017-10-02 07:18] prescottprue commented on #431
@NathHorrigan Did you provide `enableRedirectHandling: false`? If you are using the most recent `v2.0.0-*` pre-release, it shouldn't be necessary.

Since it relates to your usage with `react-redux-firebase`, lets track solving it in an issue on there so that this closed issue does not keep getting updated.

[2017-10-02 08:37] Salakar commented on #407
@damienix it has been fixed in v3, beta landing tomorrow.

[2017-10-02 13:06] mtford90 commented on #278
I've tried all solutions in this thread and I'm still get this ART issue. I'll let you know if I figure out what's different about my setup that could cause this...

[2017-10-02 16:51] andfk opened #455 "[v3] startAt() error with v3.0.0"
Hi!
I found a bug happening on RN-firebase v3.0.0-alpha5 that happens if you add `.startAt()` in a query for `.on('child_added')` (maybe it happens with any event).
Im having this issue running the following one `firebase.database().ref('/places').orderByKey().startAt('123').on('child_added', this.handleNewPlace)`

Xcode error:
[code]
1. iOS
2. Development Operating System: Mac OS X 10.12.6
3. Bui

[2017-10-02 17:58] Salakar commented on #233
Hey all, think we may have stumbled onto a fix for this, I'll be pushing something up tonight for this in prep for tomorrow's v3 beta release.

[2017-10-02 17:59] Salakar commented on #446
@calclavia any update on this?

[2017-10-02 18:40] faahmad commented on #451
+1

[2017-10-02 18:45] damienix commented on #407
Great, thanks!

[2017-10-03 02:29] calclavia commented on #446
@Salakar Here's the output when I print it out in Java.

[code]

[2017-10-03 05:59] Rewieer commented on #48
I had this very problem with **react-native-maps**. My solution was to apply [this](https://github.com/airbnb/react-native-maps/issues/249#issuecomment-225785239).

[2017-10-03 08:35] barjas commented on #281
same here ... data returns undefined

[2017-10-03 08:50] #451 closed

[2017-10-03 10:26] Salakar commented on #446
Just checked this on my end, for me it's giving me the projectId value - can you check your google services .json file and see if the projectId field is in there? project_info > project_id on my json file.

[2017-10-03 12:12] bm-software opened #456 "Linker command failed with exit code 1"
After following [this](https://invertase.io/react-native-firebase/#/v2/installation-ios) guide to configure your library I'm getting a linker error.

I am trying to inclue RNFirebase in my project, but I'm getting a linker error. Please help me!

# **Environment**
Development Operating System (e.g. macOS Sierra, Windows 10): macOS Sierra
Build tools: XCode 8.3.3
React Native version: 0.48.4
RNFire

[2017-10-03 13:36] bm-software commented on #456
I've solved the problem and it wasn't releated to this libary. The ios project file was dirty after another library removal (react-native-fcm). I've manually removed the dependecy and now xcode can build successfully.

Sorry for the non-issue.

[2017-10-03 13:36] #456 closed

[2017-10-03 18:20] D1no opened #458 "[Feature] Firstore - Next generation DB by firebase? Integrate?"
Anyone who struggled with flattening out data in the original real-time database maybe appreciates the news: The firebase team has launched Firestore, a new DB that is a more structured and query-chaining tolerant database.

**Product**: https://firebase.google.com/docs/firestore/
**Blog Post (Difference)**: https://firebase.googleblog.com/2017/10/cloud-firestore-for-rtdb-developers.html
**Spec Di

[2017-10-03 18:27] Salakar commented on #458
@D1no v3 is live since the announcement with firestore support ;) https://invertase.link/rn-firestore

[2017-10-03 18:28] Salakar commented on #458
Can leave this open though for discussion I guess though, trigger happy closing of the issue there sorry.

[2017-10-03 18:29] amitava82 opened #459 "[auth] Error is not caught"
### Issue
I've managed to successfully setup react-native-firebase. However, it seems to be not handling errors. It never reaches `catch` block on error. Instead, throws red screen.

![screen shot 2017-10-03 at 2 27 02 pm](https://user-images.githubusercontent.com/1279530/31142047-23c195c0-a847-11e7-8954-efa8ab270127.png)

[code]

### Environment
iOS

2. Development Operating System:
 macOS Sierra

[2017-10-03 18:43] amitava82 commented on #283
Thanks @Salakar for quick response. This there any ETA for this? This is pretty critical since any error from firebase will crash the app (eg, wrong username/password). We want to use this in a production app in next 2 weeks but this turned out to be a blocker.

[2017-10-03 19:09] Salakar commented on #283
@amitava82 it's not any error, it's only errors that are client sided, i.e you give an empty string as an email address, or an invalid string as a path, as above. All other errors like wrong password etc are server sided, which means they'll go through the current logic just fine and reject the promise.

It's more of a case of validate your input :) however we're gonna add something in for this so

[2017-10-03 19:12] amitava82 commented on #283
This seems to be not the case. I entered an invalid username & password and the application did not catch error returned from server.

[2017-10-03 19:31] Salakar commented on #283
Define invalid? @amitava82

[2017-10-03 19:34] amitava82 commented on #283
wrong email/password.
If valid credentials are `test@test.com/password` and try to login with `test@test.com/pass` the server will throw error that is not being caught in catch block.

[2017-10-03 19:43] Salakar commented on #283
@amitava82 give me a moment and I'll take a look and make sure

[2017-10-03 20:14] D1no commented on #458
outch... sorry I'm an idiot. I somehow got lost between the release notes. lets keep this closed and pretend this never happened... 🐌

[2017-10-03 20:14] #458 closed

[2017-10-03 20:19] Salakar commented on #458
@D1no haha no worries, guess we're too quick on the ball 😸. Not much I can do about the releases on GH, they're ordered by when they were created rather than last updated, welp!

[2017-10-03 20:23] D1no commented on #458
ah, yeah... forgot that you guys keep the release tag on all past releases. Than you're right. Not my day today.......

[2017-10-03 20:33] calclavia commented on #446
@Salakar Yes. In my Android google services I have the project_id set correctly.

[2017-10-03 21:07] Salakar commented on #446
@calclavia just to confirm is this for the default app? Or is this a new additional apps you're initialising via JS?

[2017-10-03 23:09] calclavia commented on #446
@Salakar default app

[2017-10-04 05:52] wwwillchen commented on #458
Wow, really impressed with this team for being so on top of it! I've used v2 for a small project and it was easy-to-use, so I'm looking forward to trying out v3. Thank you!

[2017-10-04 14:50] mjmaix opened #460 "[v3] new react-native project not starting on run-android"
### Issue

Just created a new project via `react-native init`

I've completed the [Installation Android guide](https://invertase.io/react-native-firebase/#/installation-android)

Other changes I've made, used

used latest version of dependencies (11.4.2/3.1.1) instead of 11.2.0/3.0.0
[code]

**I've replicated the issue on a fresh project -> ** https://github.com/mjmaix/RNFirebase3
of course I didn

[2017-10-04 14:56] Ehesp commented on #460
What React version are you using?

[2017-10-04 14:59] mjmaix commented on #460
@Ehesp
I'm using
"react": "16.0.0-alpha.12",
"react-native": "0.48.4",

[2017-10-04 17:03] chrisbianca commented on #460
@mjmaix Are you sure that you're on react-native 0.48.4? The errors that you're getting relate to methods in the Android code that were removed in react-native 0.47.

[2017-10-04 17:10] farmingoz commented on #460
and me too

[code]

**Environment**
1. Application Target Platform: Android
2. Development Operating System: Window 10
3. Build Tools: Android Studio 2.3.3
4. React Native version:
 - react 16.0.0-alpha.12
 - react-native 0.48.3
5. RNFirebase Version: ^3.0.0
6. Firebase Module:
 - firebase-crash:11.4.2
 - firebase-messaging:11.4.2
 - firebase-perf:11.4.2

[2017-10-04 17:19] mjmaix commented on #460
@chrisbianca
Thanks for checking,

yes I'm sure. I tried it twice, [repo](https://github.com/mjmaix/RNFirebase3)

this is my global npm installations
[code]

[2017-10-04 17:52] southerneer opened #461 "Phone/SMS Auth - enable reCAPTCHA flow for devices with push notifications disabled"
### Issue

In #119 there was some mention of the fallback reCAPTCHA flow from the [Firebase Auth docs](https://firebase.google.com/docs/auth/ios/phone-auth#set-up-recaptcha-verification). Is it (or should it be) possible to trigger with the latest v3 of react-native-firebase?

The Firebase docs make it sound like it should "just work" in iOS by adding the `REVERSED_CLIENT_ID` from GoogleService-In

[2017-10-04 18:15] Salakar commented on #461
@southerneer I've been going through the motions of documenting / testing this end to end for the past couple hours, I'll respond once I've either confirmed the full process works or if I have to fix anything along the way.

[2017-10-04 18:20] jmhuret commented on #233
I just updated to v3.0.0RC1 and it this issue seems to be working now. Thanks for getting the fix in there.

[2017-10-04 18:21] Salakar commented on #460
Hey all, could you git pull from master and give it a go please?

[2017-10-04 18:27] farmingoz commented on #460
@Salakar
[code]

[2017-10-04 18:42] staufman commented on #414
If anyone else is seeing there, it may be because the block of code in the Podfile (see the post a few above this one) which removes React was added after running `pod install` once. In this case, the React pod will be in your `Pods/` directory and it will _not_ be removed after running `pod intall` again with the block of code that removes React. In short, try deleting your `Pods/` directory and

[2017-10-04 18:47] southerneer commented on #461
Great, let me know if you need me to test anything on my end. I'm actively working on this today too.

[2017-10-04 18:48] mjmaix commented on #460
@Salakar
I did `npm install https://github.com/invertase/react-native-firebase` then `react-native run-android`

[code]

I'll log off for now. thanks

[2017-10-04 18:54] chrisbianca commented on #460
@mjmaix @farmingoz The issue is in the way that you've set up the maven import in your `android/build.gradle`.  The new maven import has to be separate, so rather than this:

[code]
it should be:
[code]
@mjmaix Thanks for uploading your repo - this helped me identify what was different between your new project and one I created myself which worked fine!

We'll update the docs to make this clearer.

[2017-10-04 18:54] #460 closed

[2017-10-04 18:59] Salakar commented on #460
Docs and migration guides have been updated to reflect @chrisbianca 's response above. Thanks.

[2017-10-04 19:02] southerneer commented on #461
@Salakar I figured out what was missing from react-native-firebase, will submit a PR in a few minutes

[2017-10-04 19:03] Salakar commented on #461
Ah, awesome :)

[2017-10-04 19:17] southerneer commented on #461
Never mind, it was already good...

https://github.com/invertase/react-native-firebase/blob/master/ios/RNFirebase/auth/RNFirebaseAuth.m#L660

Looks like you added the `UIDelegate:nil` bit in a commit yesterday. That enabled the reCAPTCHA. Please publish to npm when you get a chance. And thanks for all your hard work!

[2017-10-04 19:21] Salakar commented on #461
Ah yes I did that change yesterday (https://github.com/invertase/react-native-firebase/commit/797780f795074cc18be4370768e50c8e0e370821), which means it's already on npm - the full v3 version has been out since the launch of Cloud Firestore

[2017-10-04 19:24] Salakar commented on #461
Out of interest, are you using `signInWithPhoneNumber` or `verifyPhoneNumber`?

Would you be able to give `verifyPhoneNumber` number a go if you haven't already used it, be good to get a couple other devices trying it. https://github.com/invertase/react-native-firebase/issues/119#issuecomment-331716624 Is the writeup of it - see the Basic Example bit - ios specific implementation

[2017-10-04 19:29] southerneer commented on #461
Using both...the app I'm working on uses Firebase Auth as the only auth solution (and as we're in the process of submitting to the app store we're getting rejected because there was no alternative for phones with push notifications disabled). I'll be testing this thoroughly for the next couple hours and will post here if anything unexpected turns up.

[2017-10-04 19:33] mjmaix commented on #460
Hi all,

Awesome support guys, really appreciate it :) Cheers!

btw,

I ended up adding on my `bundle.gradle` see new commits on my repo

[code]

[2017-10-04 19:36] Salakar commented on #119
Hey all, this is now part of the full v3 release (with Cloud Firestore 🎉 ) that we pushed out to npm yesterday. I'll be closing this issue now. I'm still working on the docs but for now please use this thread (https://github.com/invertase/react-native-firebase/issues/119#issuecomment-331716624 specifically) for implementation guides.

Please raise any new issues in separate github issues going for

[2017-10-04 19:36] #119 closed

[2017-10-04 20:04] Salakar commented on #461
Ok, no worries, feel free to make another issue if you come across any issues. We're also all on discord.

[2017-10-04 20:16] jcharbo commented on #119
Hi everyone, I appreciate your work on this but does anyone have an estimate on when this will all be ready for production?

[2017-10-04 20:19] Salakar commented on #119
@jcharbo

![image](https://user-images.githubusercontent.com/5347038/31197670-bb007804-a949-11e7-856a-00e8787745e2.png)

[2017-10-04 20:50] jcharbo commented on #119
awesome @Salakar , thanks!

[2017-10-05 03:41] sonnn commented on #306
I have the same issue with this and what i did to solve is put this code request for permission after `[[UNUserNotificationCenter currentNotificationCenter] setDelegate:self];` and before `return YES`

`if (floor(NSFoundationVersionNumber) <= NSFoundationVersionNumber_iOS_7_1) {
        // iOS 7.1 or earlier. Disable the deprecation warnings.
#pragma clang diagnostic push
#pragma clang diagnostic

[2017-10-05 15:03] gadfil opened #462 "Can't run application with RNFirebase"
Hi!
Thank you for your library
I cant install react-native-firebase
I have this error

Bundling `index.js`  [development, non-minified]  0.0% (0/1), failed.
error: bundling failed: ambiguous resolution: module `/Users/reed/WebstormProjects/chat/index.js` tries to require `react-native`, but there are several files providing this module. You can delete or fix them:

My Podfile:
platform :ios, '9.0'

[2017-10-05 16:05] mjmaix opened #463 "[v3-docs][iOS] The name of the given podspec `yoga` doesn't match the expected one `Yoga`"
### Issue

following this [instruction link](https://invertase.io/react-native-firebase/#/installation-ios?id=_22-add-the-required-pods) `pod install` returns

[code]

### Solution

instead of

`pod "Yoga", :path => "../node_modules/react-native/ReactCommon/yoga"`

use lowercase yoga

`pod "yoga", :path => "../node_modules/react-native/ReactCommon/yoga"`

### Environment

1. Application Target Pla

[2017-10-05 16:13] flaviocarvalho opened #464 "Phone Auth - phoneAuthSnapshot with null values"
### Issue

I was trying to setup phone auth (great work btw), and at first the only issue I was having was `onAuthStateChanged` not getting called after `firebase.auth().signInWithCredential(credential)`. My app is setup in a way that only `onAuthStateChanged` changes redux-store, after I restarted the app to try again, `onAuthStateChanged` got triggered and I logged in normally, but then when i t

[2017-10-05 17:09] jcharbo commented on #462
+1

[2017-10-05 18:35] jmhuret commented on #451
In the fix that was pushed, `FirebaseMessaging` was assigned to `NativeModules.FirebaseMessaging` instead of `NativeModules.RNFirebaseMessaging`

Is that correct? I had to use `NativeModules.RNFirebaseMessaging` or else I got errors for an undefined object.

[2017-10-05 18:45] jcharbo opened #465 "Firebase Phone Auth Captcha"
Am I correct in my understanding that the react-native-firebase implementation of Firebase phone auth has to use the web captcha?  If so, I consider that an really bad user experience for a native app.  Would implementing the native firebase auth library bypass this?  Are there any plans to do so?
thanks
Jeremey

[2017-10-05 21:51] southerneer commented on #461
@Salakar what did you mean by "I only pushed up verify as part of the full v3"? Should I therefore switch to using `verifyPhoneNumber`? We're in the process of getting through App Store review and keep getting rejected because the Apple testers never receive the SMS. They get past the verification step (where they would either get a background push notification or get the reCAPTCHA challenge) so t

[2017-10-05 23:08] embpdaniel opened #466 "Auth not working on Android"
This is probably a setup issue, but I can't for the life of me find the problem :(

I have configured my Android project to include Firebase Auth, following the setup instructions for Android. I then placed an anonymous sign in request in one of my components:

[code]

When I launch my app on Android (it launches with no errors or warnings, whatsoever), I see the log I added `>>>>>>>>>>>>>>>>>>>>>

[2017-10-06 06:11] Frexuz opened #467 "Firestore - dependency were found, but they required a higher minimum deployment target"
### Issue

[code]

Podfile
[code]
I've tried 8.0, 9.0, 10.0 etc.. as well as matching the target platform in Xcode's *'Deployment target'*

### Environment

1. Application Target Platform:
iOS

2. Development Operating System:
macOS Sierra

3. Build Tools:
Xcode 8.3.1

4. React Native version:
0.45.1

5. RNFirebase Version:
3.0.0

6. Firebase Module:
Firebase/Firestore

[2017-10-06 08:03] Frexuz commented on #467
Upgrading to RN 0.49.1 gives me
[code]

just testing removing "yoga" and "react", still gives me

[code]

[2017-10-06 10:16] devboy commented on #467
My Podfile looks like this:

[code]

and after a `pod update` it all worked fine

[2017-10-06 10:42] Frexuz commented on #467
that kinda worked (with capital Y in pod 'yoga'), but now installing the BoringSSL dependency fails:

[code]

I'm not sure if this is a RN-firebase issue? But can't find a solution on Google..

[2017-10-06 10:47] Ehesp commented on #466
Could you check logcat in Android studio and see if Firebase logging is saying anything?

[2017-10-06 11:03] devboy opened #468 "Firestore DocumentSnapshot doesn't support DocumentReference types"
### Issue

A document containing a field of type _reference_ is `null` in `data()`!

`users.docs[1].data() // {nickname: "ivan", friend: null}`

### Environment

1. Application Target Platform: iOS

2. Development Operating System: macOS

3. Build Tools: XCode 9

4. React Native version: 0.49.1

5. RNFirebase Version: 3.0.0

6. Firebase Module: Firestore

[2017-10-06 11:13] chrisbianca commented on #468
@devboy Thanks for flagging this, we must have missed reference data types with our initial implementation.

Have you got an example of how you created the document with a reference in the first instance?  It will really help us make sure we implement it correctly and add some tests.

[2017-10-06 11:17] gadfil commented on #462
Thank you

[2017-10-06 11:17] #462 closed

[2017-10-06 11:25] devboy commented on #468
@chrisbianca I actually created it via the Firestore UI.

[2017-10-06 11:40] chrisbianca commented on #468
Ah ok. Out of interest, what would you expect it to be once the library has loaded the data? A string?  It's not clear from the Firestore docs what their expectation is

[2017-10-06 11:44] devboy commented on #468
Good question. What does the web-sdk return? My expectation was for the data to joined together...

[2017-10-06 11:56] devboy commented on #468
I just checked, and the web-sdk does return a `DocumentReference`
![screen shot 2017-10-06 at 13 55 29](https://user-images.githubusercontent.com/158461/31276815-1d290dc0-aa9e-11e7-91ae-c66a12d9ece1.png)

[2017-10-06 12:19] GarimaMathur07 opened #470 "All firebase module's dependencies to be added mandatory"
I want to add only firebase analytics and cloud messaging module in app and want to use only these dependencies:
[code]
But at compile time it gives the errors for all remaining dependencies
[code]

So, how can i avoid remaining dependencies to be added in build.gradle file.

[2017-10-06 12:28] Salakar commented on #470
Please fill out the issue template, we can't help without it 🙈  For example it asks for your `build.gradle` files - which we need in this instance to help you debug your issue.

[2017-10-06 12:35] guysegal commented on #466
I think I'm having the same issue with `signInWithCustomToken`.

In my code I call `firabase.app("MY_APP_NAME").auth().signInWithCustomToken(token)`
and I don't get any success or failure input.

These are my logcat logs filtered for `RNFirebaseAuth`:

10-06 15:29:27.734 7815-8941/? D/RNFirebaseAuth: RNFirebaseAuth:initialized
10-06 15:29:30.911 7815-8945/? D/RNFirebaseAuth: addAuthStateListener
1

[2017-10-06 13:14] chrisbianca commented on #468
Thanks for confirming!  We'll have a think and try and add support for this as soon as we can

[2017-10-06 13:46] brianhiss opened #471 "'FirebaseInstanceID/FIRInstanceID.h' file not found from 3.0.0-alpha.5 to 3.0.0"
### Issue

Hey guys, wondering if anyone else is seeing the same issue as I am. I've been playing with this the last two days are narrowed it down to this [commit.](https://github.com/invertase/react-native-firebase/commit/a1534c23b84ad1b624aad2c05daa16ca97cb3ef4)

It's in: `ios/RNFirebase/messaging/RNFirebaseMessaging.m` adding `#import <FirebaseInstanceID/FIRInstanceID.h>`. It was added for this

[2017-10-06 14:22] SteffeyDev commented on #471
I found you can fix this by going to your project in the left hand side (not Pods), -> Libraries -> Codepush.xcproj -> Build Settings (I think) -> Framework Search Paths -> Add FIRInstanceID (seemed to be missing there but you can add in the same format as the other ones).  I was wondering why this didn’t work as well but it’s hit or miss for me.

[2017-10-06 14:25] devboy commented on #468
Thanks @chrisbianca

[2017-10-06 14:28] brianhiss commented on #471
@SteffeyDev Thank you for the quick response. I'm not using `Codepush.xcproj`, don't think that's a requirement for `react-native-firebase`.

My Framework Search Paths already include the reference to FirebaseInstanceID.

![screen shot 2017-10-06 at 5 25 40 pm](https://user-images.githubusercontent.com/1640257/31282559-a090eae4-aabb-11e7-81a6-703f99844efa.png)

[2017-10-06 14:43] SteffeyDev commented on #471
Oh sorry I put the wrong library name (I had issues with both), but you’re right, you do have it where it’s supposed to be.  It’s odd because I had the expect same issue but I guess your problem lies elsewhere. Maybe check you header search paths?

[2017-10-06 14:51] brianhiss commented on #471
@SteffeyDev I added my Header Search Paths, was playing in there as well. Attaching in case there is anything abnormal.

This was a brand new project today, `react-native init MyProject`, so it's a fresh `0.49.1`, fresh `node_modules` and `pod install`, so wouldn't think there would be legacy conflicts.

I did set `FirebaseInstanceID` in the Framework Search Paths to `recursive` and that will let

[2017-10-06 14:55] chrisbianca commented on #471
I think this may be an issue our end.  I've just pushed a possible commit to ensure that FIRInstanceID is included in the library's framework search paths.

Could one of you try installing the latest version of the repo by running:

`npm install --save https://github.com/invertase/react-native-firebase.git'

And let me know if that resolves the issue?

[2017-10-06 15:12] brianhiss commented on #471
@chrisbianca That seems to have worked for me.

I did a `Clean Build Folder`, `yarn add https://github.com/invertase/react-native-firebase.git` and `pod update` to make sure nothing was cached.

Thanks for jumping on that!

[2017-10-06 15:32] chrisbianca commented on #471
No problem - we'll get it included in a release very soon.  Just trying to get a few more bits in first...

[2017-10-06 15:32] #471 closed

[2017-10-06 15:34] chrisbianca commented on #466
I suspect that your play services are out of date...  Look through the `adb logcat` output for errors to that affect.

[2017-10-06 15:43] mjmaix opened #472 "[FIRApp configure] crashes app on ios simulator"
Running my RN app with `react-native run-ios` is working until integrating firebase on `ios/AppDelegate.m` file. After adding, the app crashes after showing (> 1 sec)

(did `pod update` and/or `pod install` after manually removing `Pods` folder)

See this this recording: http://recordit.co/Ry74pTUpmC

I'm using iPhone 6 (iOS 11.0) simulator

This is the system log
[code]

#### Steps to reproduce:

[2017-10-06 16:00] embpdaniel commented on #466
Logcat doesn't tell me much, however I tried it on a real Android device ( I was on an emulator before) and it works on the Android device. Leads me to a dumb question, does auth/Firebase work on an emulator? I guess I assumed it did since it works on the IOS simulator. Or perhaps I need to configure my emulator in some way to make it work? Maybe play services config as @chrisbianca suggests? Tota

[2017-10-06 16:19] chrisbianca commented on #466
Yes they do work on the emulator - if you join us on the Discord chat in the main react-native-firebase room, @Salakar talked somebody through how to make sure their play services were up to date earlier today...

https://discord.gg/t6bdqMs

[2017-10-06 17:35] iosdev-republicofapps commented on #472
@mjmaix are you able to get CRNA to work with npm 5?  I had to downgrade to npm 4.

[2017-10-06 17:56] mjmaix commented on #472
Fixed it, I opened the project on xcode using `.xcworkspace`, run the app
By doing this, the logs would remain even after the app crashed.

[code]
Missing `GoogleService-Info.plist`
Apparently, I have to use Xcode's Add files to project instead of copy pasting it on the folder.

similar to:
https://github.com/invertase/react-native-firebase/issues/247#issuecomment-315131432

Maybe we should update

[2017-10-06 17:56] #472 closed

[2017-10-06 18:11] mjmaix commented on #472
@iosdev-republicofapps I'm not using CRNA for that project. I only created via `react-native init`

[2017-10-06 18:45] mirkonasato opened #474 "Firestore serverTimestamp() not working"
Trying to set a document field to be the server timestamp with Firestore, following the [example in the Firebase documentation](https://firebase.google.com/docs/firestore/manage-data/update-data#update_fields_in_nested_objects):

[code]

Looking at the new document in the Firebase console what gets inserted is not actually of type `timestamp`.

When running the code on Android the field is of type

[2017-10-06 21:19] pulkitkkr commented on #466
I'm trying to use Phone Auth () for react-native, i have sha-1 and Google-services Both intact but still getting the following error
![firebase](https://user-images.githubusercontent.com/5182674/31298988-21371562-ab0a-11e7-88a4-e79dc71775f1.PNG)

[2017-10-06 21:40] pulkitkkr commented on #464
I'm facing the same issue
![firebase](https://user-images.githubusercontent.com/5182674/31299624-01891550-ab0d-11e7-90f5-c14105dd6d77.PNG)

[2017-10-06 21:41] DavidKuennen opened #475 "DexOverflow issue firestore"
I know this is propably the wrong place to ask this, but I have a problem after adding `compile "com.google.firebase:firebase-firestore:11.4.2"` to my build.

As soon as I add that, it also adds `com.google.common` among other things to my dex file, which is around 27k extra references, thus bursting through the 64k dex limit.

Does anyone know why that is or am I doing something wrong?

[2017-10-06 23:07] flaviocarvalho commented on #464
I was previously getting that error just after switching projects, added SHA 1, rebuilt google-services.json, enabled phone auth method and upgraded to blaze plan (not sure if related).. after doing this, it worked again like it used to

[2017-10-06 23:27] pulkitkkr commented on #464
I deleted the app (not Project) and re created for android with SHA-1 but still getting the same error

[2017-10-06 23:42] robdonn commented on #463
I'm running into this issue as well, but changing `"Yoga"` to `"yoga"` doesn't work for me, it still thinks it should be looking for `Yoga`.

[code]

[code]

[2017-10-07 00:08] pulkitkkr commented on #464
Just enabled the Spark Plan .... It's working now

[2017-10-07 00:44] Salakar commented on #464
@pulkitkkr I'll add this to the upcoming new documentation site as a note that you need to be on a paid plan for phone auth to work.

The brand new docs site isn't live yet, but if it helps both of you the start of the phone auth docs (still wip but stuff is there) can be accessed with this temporary URL:

https://invertase-default.firebaseapp.com/docs/v3.0.*/auth/phone-auth

Feedback on the new d

[2017-10-07 02:43] pulkitkkr commented on #464
@Salakar paid plan isn't necessary , tried it again with another app ... Seems to work fine now ,l... But upon phone verification As @flaviocarvalho mentioned snapshot is null

[2017-10-07 06:57] brianhiss commented on #466
I'm seeing the same thing as @pulkitkkr.

I am running on a physical device, HTC One, Android 5.0.2. Google Play Services (11.5.09) are up to date. All other Firebase services are working properly.

I do have SHA-1 fingerprint's in my Firebase Console for the `release.keystore` and `debug.keystore`. Just re-confirmed they match the key exports.

Package name is correct in Firebase Console and in `

[2017-10-07 07:02] brianhiss commented on #463
I had the same issue as @mjmaix, I used the same solution to fix the issue.

`pod "yoga", :path => "../node_modules/react-native/ReactCommon/yoga"`

[2017-10-07 07:32] brianhiss commented on #475
I can confirm the same issue. I have `react-native-firebase 3.0.1` installed, with all Firebase Services running, when I try to add in `"com.google.firebase:firebase-firestore:11.4.2"`, I can dex error like @DavidKuennen.

![screen shot 2017-10-07 at 10 28 42 am](https://user-images.githubusercontent.com/1640257/31305811-d5bbfc9c-ab4a-11e7-8a4c-89bc4a314e5e.png)

[2017-10-07 07:39] mjmaix commented on #475
same for me when I tried with all firebase services with `v11.4.2`

I have to add `multiDexEnabled true` and `dexOptions { javaMaxHeapSize "4g" }`

https://github.com/mjmaix/RNFirebase3/commit/e871aebfa3bfcf248209c61d79bde9bc5b756ef2

Would wan't to hear if there would be any problems from adding `multiDexEnabled true` or are there any other solution?

[2017-10-07 07:49] brianhiss opened #476 "iOS: Firestore gRPC conflict with pod 'Firebase/Firestore'"
### Issue

When I add in the `pod 'Firebase/Firestore'` into my working `react-native-firebase 3.0.1` fresh install, I get compile errors: `./ios/Pods/gRPC-Core/include/grpc/impl/codegen/gpr_types.h:43:3: Unsupported: typedef changes linkage of anonymous type, but linkage was already computed`

It seems that adding `pod 'Firebase/Firestore'` brings with it several additional dependencies like `gRP

[2017-10-07 08:02] brianhiss commented on #475
I can confirm the solution provided by @mjmaix works for me.

I'm able to now build with `"com.google.firebase:firebase-firestore:11.4.2"`, but I am also unclear if changing the setting `multiDexEnabled true` leads to any other issues.

[2017-10-07 08:17] DavidKuennen commented on #475
Seems like they are aware of the problem and are currently trying to reduce the sdk size: https://stackoverflow.com/questions/46614405/dexoverflowexception-after-adding-com-google-firebasefirebase-firestore11-4-2

I set it temporarily to multiDexEnabled (and changing Application to MultiDexApplication) and it's working again. Certainly not the solution I want, but I guess I'll just wait till they

[2017-10-07 08:17] #475 closed

[2017-10-07 09:54] turtec opened #477 "v.3.x throws error with RN48"
Hi there,

i'm getting the following error:

Unable to resolve module `react-native/Libraries/Core/ReactNativeVersion` from `..../node_modules/react-native-firebase/lib/modules/utils/index.js`: Module does not exist in the module map

I figured out, that ReactNativeVersion is part of RN 49, it not exits in RN 48.

Your documentation says v.3.x is compatible with RN48+.

[2017-10-07 10:28] DavidKuennen opened #478 "[firestore] RuntimeException "Cannot convert object of type" when trying to parse Map"
I'm getting a RuntimeException when trying to query by users in firestore.

**Setup:**
[code]

**Query:**
[code]

**Possible cause:**
I debugged my app and it seems like you're checking for Map.class in your `putValue`-function, but `users` is a HashMap:
![image](https://user-images.githubusercontent.com/7766565/31306907-02e643e4-ab5a-11e7-85cc-2384c09b2012.png)

After changing the condition to `v

[2017-10-07 10:45] flaviocarvalho commented on #464
@pulkitkkr Yeah spark plan is free and gives you `10K/month`, not sure if new projects starts with spark plan enabled or like a trial version
@Salakar New docs site looks awesome, I had only tried `verifyPhoneNumber`, gonna try `signInWithPhoneNumber` instead now, might even be simpler in my app, will let you know if that works

[2017-10-07 11:21] adyscorpius commented on #477
Faced the same issue as you did. Same config, and I was thinking I did something wrong.

[2017-10-07 12:11] Salakar commented on #478
Upgrade to 3.0.1 please, published a fix for this yesterday, should work then.

[2017-10-07 12:16] Salakar commented on #477
Pushed up v3.0.2 to fix this, should be fine now. Thanks for the report.

[2017-10-07 12:16] #477 closed

[2017-10-07 16:13] skizzo commented on #278
@mtford90 could you solve it? banging my head against the wall for 2 days now..

[2017-10-07 17:11] skizzo commented on #278
Okay, as mentioned before, this error gave me headaches for days. Anyway, here's the solution that finally worked for me:

1. Add `'ART'` after `'Core'` to the Podfile's React entry.
2. Close XCode, Simulator, and packager's terminal window.
2. Clear and reinstall, like, everything. In my case, this included using a little gem called [cocoapods-deintegrate](https://github.com/CocoaPods/cocoapods-d

[2017-10-07 17:12] chrisbianca commented on #474
@mirkonasato Thanks for reporting, it's something we're aware of.  We'll look to have this supported in a release next week.

[2017-10-07 17:15] chrisbianca commented on #278
I have good news for you, as of last nights v3.0.1 release, `react-native link` is supported for iOS and Android so you no longer need to set up React, Yoga, `react-native-firebase`, etc as Pods.  You do still need to have Firebase installed using pods as recommended by Google.

Check out the new installation instructions:

iOS: http://invertase.link/ios
Android: http://invertase.link/android

[2017-10-07 17:18] chrisbianca commented on #463
I have good news for you, as of last today's v3.0.2 release, `react-native link` is supported for iOS and Android so you no longer need to set up React, Yoga, `react-native-firebase`, etc as Pods.  You do still need to have Firebase installed using pods as recommended by Google.

Check out the new installation instructions:

iOS: http://invertase.link/ios
Android: http://invertase.link/android

I'

[2017-10-07 17:18] #463 closed

[2017-10-07 17:21] chrisbianca commented on #467
I have good news for you, as of last today's v3.0.2 release, `react-native link` is supported for iOS and Android so you no longer need to set up React, Yoga, `react-native-firebase`, etc as Pods.  You do still need to have Firebase installed using pods as recommended by Google.

Check out the new installation instructions:

iOS: http://invertase.link/ios
Android: http://invertase.link/android

I'

[2017-10-07 19:14] flaviocarvalho commented on #464
Okay I just tried with `signInWithPhoneNumber` and it works perfectly and much simpler, I guess this is a `verifyPhoneNumber` issue

[2017-10-07 19:32] #326 closed

[2017-10-07 19:33] Ehesp commented on #304
@omer88 how are you getting on?

[2017-10-07 20:38] omer88 commented on #304
Hi @Ehesp, the PR is going to be ready tomorrow.
This is my branch: https://github.com/rmrs/react-native-firebase/tree/omer_links

[2017-10-08 03:36] stocksp commented on #467
After following the latest steps here (thanks @devboy for the 'pods update')
I get this message and again for the 'release' target

[code]

my FRAMEWORK_SEARCH_PATHS looks like

[code]

Could someone please translate this message for me (what am I suppose to do?)  It looks to me like the setting has the `$(inherited)` flag.

[2017-10-08 06:59] Frexuz commented on #467
Still doesn't fix BoringSSL. Which part uses that as dependency? Firebase Core?

[code]

[2017-10-08 10:25] DavidKuennen commented on #478
I updated to 3.0.2 and it indeed seems to work now. Thanks 👍

[2017-10-08 10:25] #478 closed

[2017-10-08 10:28] DavidKuennen commented on #470
Did you add react-native-firebase with the option `transitive = false` in your build.gradle?

[code]

Without that, it will add all the dependencies within react-native-firebase, which is everything.

[2017-10-08 11:47] Salakar commented on #478
Cool, good to hear. Let us know how you get on with Firestore in general, be good to get some feedback on it =]

[2017-10-08 15:00] priyankinfinnov commented on #468
+1 need this.

[2017-10-08 15:29] psycura opened #479 "ANDROID: fetch from firestore crash the APP"
### Issue
Hello guys, and thank you for this awesome library.
I have an issue with fetching data from firestore.
i have this function:
[code]
so when i launch an app, the app is crashed , with no any message logged to console.
in the logcat of Android studio i found this error message:

and if i trying to fetch similar data through firebase.database(), everything work ok

why is this happen?

###

[2017-10-08 15:37] Salakar commented on #479
@psycura Pushed up a fix for this now,

Could you try installing the latest version of the repo by running:

npm install --save https://github.com/invertase/react-native-firebase.git

and confirm it's working now?

Thanks

[2017-10-08 16:13] psycura commented on #479
i did
 npm install --save https://github.com/invertase/react-native-firebase.git

also gradle complete build an app
but error still exist , now slightly different

[2017-10-08 16:23] Salakar commented on #479
@psycura hmm looks like another data type, do you have a sample of your data we could use?

[2017-10-08 16:36] psycura commented on #479
Structure is very simple:
3 root collections:

- decisions

- quizzes

- reporters
reporters include DOC`s:

{
    "reporters": {
        "GT1iukjZefZFbLmJvwXJ5fkB8mF2": {
            "address": "dfdsfsdf",
            "email": "test@gmail.com",
            "firstName": "Eugene",
            "id": "GT1iukjZefZFbLmJvwXJ5fkB8mF2",
            "lastName": "Asdfsdf",
            "manager": "",

[2017-10-08 17:28] Salakar commented on #479
Ah I guess then the type it's having trouble with is the refs, @chrisbianca is working on adding support for refs, see https://github.com/invertase/react-native-firebase/issues/468

I'll close this issue as the `Long` data type issue has been fixed, lets move the ref problem over to the other issue.

Thanks,

[2017-10-08 17:48] Ehesp commented on #465
Hey, no it doesn't require captcha. Check out our new WIP docs that explain one of the methods:

https://invertase-default.firebaseapp.com/docs/v3.0.*/auth/phone-auth

[2017-10-08 18:08] psycura commented on #479
Thank you, now another issue - i`ve deleted the fields with REF`s array, and now application don`t crash anymore, but, now she`s stuck on the .get() request.
And as you see in my code example i have this part:

[code]

so issue is, that app doesn`t display the console.log message - so i feel , like the .get method is not fired at all

[2017-10-08 22:52] Salakar commented on #479
No worries, we've all done that before :) keep an eye on the ref issue and we'll get it sorted as soon as possible

[2017-10-08 23:06] Salakar commented on #476
@brianhiss sorry for the slow reply, been a hectic release. Have you tried following the manual install steps for `tipsi-stripe` - they seem run a couple of link shell scripts against the xcode project - might be breaking something a long the way.

Short of that not much else I can suggest other than maybe make an issue on the official firebase/firestore google group (googlers are on there respond

[2017-10-09 05:58] GarimaMathur07 commented on #470
Thanks for the support @DavidKuennen It solved the issue completely 👍

[2017-10-09 05:58] #470 closed

[2017-10-09 07:35] chrisbianca commented on #467
Try bumping your minimum platform to 9.0 and see if that makes any difference?

[2017-10-09 10:33] brianhiss commented on #476
@Salakar @chrisbianca You guys have been amazing! It's been a hectic release, but you two have been on top of it. Many thanks.

Spent all morning on it, seems like it was header conflicts. Submitted a pull request to the other library (https://github.com/tipsi/tipsi-stripe/issues/131), but maybe others here experience it with another library.

I've noticed a lot of these conflicts between librarie

[2017-10-09 10:33] #476 closed

[2017-10-09 10:44] brianhiss commented on #464
@pulkitkkr @flaviocarvalho What did you guys do to get around the `SHA-1` error? I have a paid app (Blaze Plan), the app and code (`verifyPhoneNumber`) work perfectly in iOS, authenticating via physical iPhone. No matter what I do, I cannot get around the `SHA-1` error on Android. I've tried new keys, logging inside the Android code. I also only have one app on Firebase, so no conflicts between ap

[2017-10-09 10:47] flaviocarvalho commented on #464
@brianhiss You need to add your SHA-1 to the firebase console, in the android app dashboard:
Here is how you can get it: https://developers.google.com/android/guides/client-auth
https://stackoverflow.com/questions/39144629/how-to-add-sha-1-to-android-application

[2017-10-09 11:03] brianhiss commented on #464
@flaviocarvalho I've had my `SHA-1` key in Firebase for a while now. Actually have both the `debug` key and `release` key. Which one are you uploading to the console?

[2017-10-09 12:37] #465 closed

[2017-10-09 14:01] jcharbo opened #482 "phone auth AUTO_VERIFIED issue on Android"
Hi, I'm using the latest react-native-firebase in rn 48 on a real android device.

The first time I log in using verifyPhoneNumber everything works great.  The subsequent login attempts return firebase.auth.PhoneAuthState.AUTO_VERIFIED.  The contents of the return are null so my understanding of the docs is that I should ignore it and proceed normally.

Wouldn't proceeding normally mean waiting fo

[2017-10-09 14:25] flaviocarvalho commented on #464
@brianhiss `debug` I think, is your local `google-services.json` up to date with your project's?

[2017-10-09 16:13] ikonduktor commented on #437
Have the same issure. On iphone 4s debugger returns EXC_BAD_ACCESS (code=1, address=0xc).
The app is also crashes on iphone 5 ipad 2. All 32 bit devices.

[2017-10-09 19:03] Salakar commented on #464
Hi all, not ignoring this issue, I am looking into it, just a PITA to investigate phone auth issues as I get 24 hour blocked from firebase after too many attempts of using phone auth 🙈 , been blocked since yesterday, will get back to it once it lifts in the next couple of hours. Have a rough idea what the null value issue is.

[2017-10-10 01:40] Salakar commented on #482
Closing in favour of #464

[2017-10-10 01:40] #482 closed

[2017-10-10 02:02] Salakar commented on #466
Lets move the null values discussion over to #464.

@brianhiss not sure what I can suggest - this is the Firebase Android SDK returning this issue, are you able to try on another device? Might be the device is failing whatever checks the android SDK does.

Another thing I'd suggest is make sure billing is setup on the console your firebase project and you're on a paid plan - contrary to what other

[2017-10-10 02:06] Salakar commented on #466
@embpdaniel v3.0.2 has built in play store version validation checks, be worth upgrading to that and seeing if it flags up any version issues for you. See the release notes: https://github.com/invertase/react-native-firebase/releases/tag/v3.0.1

[2017-10-10 02:10] Salakar commented on #464
@pulkitkkr to go back to my previous statement, a paid plan is definitely required for phone auth:
![image](https://user-images.githubusercontent.com/5347038/31366393-8927eb1e-ad68-11e7-8cc7-7b8d94066587.png)

[2017-10-10 04:00] embpdaniel commented on #466
@Salakar I upgraded to 3.0.2, and well I tested it and it's working, sort of. The first time I ran it, it said it logged in, in `logcat`, and I saw there as a new user in the firebase console, however I was not sure if the user had been created right then, I think it was, I just wasn't 100% sure because I did not have the console open at that time. So I deleted the user from the console and ran it

[2017-10-10 04:06] pulkitkkr commented on #464
@Salakar In India, US and Canada it's free upto 10k SMS/month. I'm using it for free, can confirm that .....moreover I'm also facing an issue , phone auth work with release APK but not in debug mode

[2017-10-10 04:08] pulkitkkr commented on #464
@brianhiss try react-native run-android --variant=release ... In my case SMS services works in build mode but not in debug mode

[2017-10-10 04:50] brianhiss commented on #464
@pulkitkkr Appreciate that tip, unfortunately already tried all that before :)

@flaviocarvalho Appreciate all your contributions, I had already tried all of them. Just asking the community here in case I missed any of the obvious.

@Salakar Appreciate the insight and help, I know how busy you guys are on the core `3.0.x` release and don't have extra time to debug edge cases like this. I think it'

[2017-10-10 04:58] brianhiss commented on #464
@pulkitkkr I'm not an expert in Android, nor can I even get my own implementation to work with Android (iOS is perfect), but do you have both keys in Firebase Console?

You obvious have your release [`signingConfigs`](https://facebook.github.io/react-native/docs/signed-apk-android.html) setup in `android/app/build.gradle`:
[code]

Here is where I am Android illiterate, do you need to add in a `deb

[2017-10-10 07:12] Salakar commented on #467
Just an FYI: further discussion on this issue was had on [discord](https://discord.gg/772CjpK), see the pinned message from @frexuz in the `react-native-firebase` channel for the start of the conversation. Still no resolution, have asked for assistance on the official Cloud Firestore google group

[2017-10-10 08:00] lucasbento commented on #463
Just in case someone bumps into this (this is the first link on google when you search for that problem), I fixed mine doing the following:

#### `ios/Podfile`
[code]

[2017-10-10 09:07] Frexuz commented on #467
- Skipping BoringSSL problem for now, copying the Pods folder from a different computer where it worked.

Final Podfile that seems to work.

[code]

I think we can close this issue, since my error is now something else (Related to build failing looking for FirebaseAnalytics, what @Salakar said)

[2017-10-10 09:24] Salakar commented on #467
Ok will close this issue @Frexuz. If you get a response back from the google group or figure out the BoringSSL problem can you drop a message here or on discord, so we know what the resolution is for future reference.

Happy coding! :)

[2017-10-10 09:24] #467 closed

[2017-10-10 11:07] psycura opened #483 "ANDROID: Cannot convert object of type class java.util.Date"
Hello, guys and thank you for support.

I have another issue: Trying to query list of documents from collection:

[code]

and it crash my app, with error in logcat:

i have 2 fields of type TIMESTAMP in the document, and they cause to crash, when i delete them, everything work

### Environment

1. Application Target Platform: Android

2. Development Operating System: Windows 10

3. Build Tools: An

[2017-10-10 11:17] chrisbianca commented on #483
@psycura I am working on this as we speak - will hopefully have something up and running in the next day or so

[2017-10-10 11:18] #479 closed

[2017-10-10 11:18] chrisbianca commented on #479
@psycura As an FYI, the issue you saw with arrays of references is actually an issue with the Firestore SDK itself and how it is deserializing DocumentReference.

I have logged this with Google here: https://groups.google.com/forum/#!topic/google-cloud-firestore-discuss/bk3oX1RIleU

[2017-10-10 14:58] DavidKuennen opened #484 "[firestore] Differences between official realtime updates and implementation"
I noticed some differences / complications for the implementation of realtime updates between react-native-firebase and the official docs.

Example Code:

[code]

I noticed the following differences when using `docs.docChanges`:

Official | react-native-firebase |
--- | ---
`change.doc.data()` | `change.doc.data`
`change.doc.id` | `change.doc.path.split('/')[1]` 😅

1. Application Target Platform:

[2017-10-10 15:10] contata-mobile opened #485 "Unable to setup in react native 42"
Hey ,
I tried to setup react-native-firebase for RN 0.42 in ios and followed all the steps mentioned in docs
But everytime i try to build it fails with link error of
 _OBJC_CLASS_$_RNFirebaseDatabase  and alike error message for all the pods  i added .
i tried removing the xcode cache and pods install again and again but same kept on coming
steps i followed:
1. npm  install react-native-firebase
2

[2017-10-10 15:11] DavidKuennen commented on #485
You need at least RN version 0.48 for the latest react-native-firebase version.

See: https://invertase.io/react-native-firebase/#/?id=supported-versions-react-native-firebase

[2017-10-10 15:19] contata-mobile commented on #485
Thanks for the reply .
If i wanted to integrate with 0.42 or 0.43 is there some limitations or specific version on pods and react-native-firebase component that i can use ?

[2017-10-10 16:32] chrisbianca commented on #485
@contata-mobile Checkout the table here for supported versions: https://github.com/invertase/react-native-firebase#supported-versions---react-native--firebase

[2017-10-10 16:32] #485 closed

[2017-10-10 16:35] chrisbianca commented on #483
@psycura I've just pushed up support for Dates, DocumentReference, GeoPoints. It would be great if you could test with the latest version of the code and let me know if there are any issues before we release over the next few days.

You can install by doing the following:

`npm install --save https://github.com/invertase/react-native-firebase.git`

Please re-open if there are still issues with Dat

[2017-10-10 16:35] #483 closed

[2017-10-10 16:36] chrisbianca commented on #468
@psycura I've just pushed up support for DocumentReference, Dates, GeoPoints, etc. It would be great if you could test with the latest version of the code and let me know if there are any issues before we release over the next few days.

You can install by doing the following:

`npm install --save https://github.com/invertase/react-native-firebase.git`

Please re-open if there are still issues wit

[2017-10-10 16:36] #468 closed

[2017-10-10 16:50] chrisbianca commented on #484
@DavidKuennen Good spot!  I've just resolved this and pushed up a change which will be released in our next patch release.  In the meantime, you can try it out by doing the following:

`npm install --save https://github.com/invertase/react-native-firebase.git`

[2017-10-10 16:50] #484 closed

[2017-10-10 16:51] psycura commented on #483
Thank you , chrisbianca, for so operative work.
I`ve added 2 test fields to my document - timestamp and reference,
the good news is that app not crashing anymore,
the not so good news, is that fetched data not include this fields... strange

[2017-10-10 16:55] chrisbianca commented on #483
Have you created the Document in JS or in the console?
Can you show me how how your Document is structured and the JS code that you're using to retrieve it?

[2017-10-10 16:55] psycura commented on #483
UPD: Sorry my fault, made a changes in a wrong place - everything work like a charm )))

[2017-10-10 16:55] chrisbianca commented on #483
Excellent! :D

[2017-10-10 17:04] psycura opened #486 "ASYNC/AWAIT support"
Hello, guys.

Another issue.
In original firebase web sdk , i was able to chain a requests to firebase db with async/await , for example:

in STORE file:
[code]

and call them as:
[code]

and it works as expected - fetch quizzes, after it fetch decisions, and after fetch , toggle loading to false.
now , with this library, both functions fired at the same time, and loading toggle before they comple

[2017-10-10 17:38] DavidKuennen commented on #484
Great, thanks @chrisbianca.
I can use it like I do right now, so I'll wait for the next release and then just switch out a few lines of code. 😉

[2017-10-10 23:40] andersryanc opened #488 "Cloud Firestore get document API docs are incorrect"
### Issue

I've been testing out the Cloud Firestore (beta) today and noticed that your documentation around the documents get method doesn't appear to be correct. On this page: https://invertase.io/react-native-firebase/#/modules/firestore the code snippet directly under the Documents headline seems to return a promise and does not use the callback.

**Current Docs**
[code]

**Should be changed t

[2017-10-11 00:54] Salakar commented on #488
@andersryanc thanks for that, we'll sort.

https://rnfirebase.io/docs/v3.0.*/firestore/reference/DocumentReference is the new WIP documents site - has a much more complete API reference, if it helps feel free to use this site instead of the current docs. We'll be switching over soon.

[2017-10-11 00:59] #488 closed

[2017-10-11 04:24] adamonkey opened #489 "Realtime Database returns int instead of long"
### Issue
This happens with iOS only. The large numbers (timestamps) I store in realtime database get returned as int, so they become mod 2,147,483,647, and sometimes become negative. Is this an issue with the library? Strangely, the problems gets fixed if I Reload the javascript, but reloading doesn't happen in production so the problem is always there.

Edit: the database node reference is kept

[2017-10-11 05:29] contata-mobile commented on #485
@chrisbianca  Thanks for the details i tried v2.0.3 but the issue i am getting is ad follows

<img width="563" alt="screen shot 2017-10-11 at 10 52 45 am" src="https://user-images.githubusercontent.com/28640087/31423545-163cdcb6-ae73-11e7-9026-0ada3ec4dfdb.png">

the added only firebase/core pod
and even crosschecked my pod with demo provided for the same version
If i add other pod same error come

[2017-10-11 05:35] JSafaiyeh opened #490 "Warning: Module RNFirebaseAuth requires main queue setup"
`Module RNFirebaseAuth requires main queue setup since it overrides init but doesnt implement requiresMainQueueSetup. In a future release React Native will default to initializing all native modules on a background thread unless explicitly opted-out of.`

How can I resolve this warning? It occurs on app startup.

[2017-10-11 05:37] fungilation opened #491 "[RN 0.49+] `requiresMainQueueSetup` needed for main queue setup, with constantsToExport"
OS:
- [x]  MacOS

_Platform:_
- [x]  iOS

### Console warning:
Module RNFirebase requires main queue setup since it overrides `constantsToExport` but doesn't implement `requiresMainQueueSetup`. In a future release React Native will default to initializing all native modules on a background thread unless explicitly opted-out of.

Same for several other Firebase modules.

<img width="1170" alt="scre

[2017-10-11 05:46] Salakar commented on #490
Lets move this into #491 - we'll sort there.

[2017-10-11 05:46] #490 closed

[2017-10-11 05:48] Salakar commented on #491
Thanks for flagging and with a PR to use as reference 👍 we'll sort for next patch release.

[2017-10-11 09:59] bobmulder commented on #334
Is there any update on this issue? Facing the same...

[2017-10-11 10:03] chrisbianca commented on #485
@contata-mobile what versions of the pods do you have installed?  You can see this in your `Podfile.lock` file

You might want to try updating them by running:

`pod outdated` - shows which pods have updates available
`pod update` - updates to the available pods

[2017-10-11 11:27] flaviocarvalho commented on #464
@brianhiss I just checked my `android/app/build.gradle` I don't have that signingConfigs like you do.

The only thing I have that is related to release/debug is:

[code]

[2017-10-11 12:23] contata-mobile commented on #485
Thanks alot @chrisbianca
I  re-setup cocoa in my project and everything started working fine using
gem install cocoapods
I revisited #321 for the same

[2017-10-11 13:50] jsdario commented on #159
Hi there,

It is definitely possible on Android devices, and it's an OS level decision. iOS does not allow this kind of operation. Also important to remark that it works only with _silent push notifications_.

I used to have this with `react-native-push-notification` and I wonder if someone has achieved the same with this library.

Some references:
https://github.com/evollu/react-native-fcm/issues

[2017-10-11 17:01] jean9696 opened #492 "Cannot convert java.util.Date"
### Issue

Hi, I'm trying to use firebase with react native on android with invertase/react-native-firebase but I have some dates in my firestoreDataBase and it stops my application everytime because of this error:
`Cannot convert java.util.Date`
I really don't know how to fix this since I do not know where this is handled in Java

My code to get my documents is as following
[code]

Thank you for

[2017-10-11 17:24] jean9696 commented on #492
I got a workaround with this in FirestoreSerialize.java line 200
[code]
But I'm sure that there is a proper way to do this !

[2017-10-11 17:39] brianhiss commented on #464
@flaviocarvalho Thank you, always helpful to see more. I used the [React Native Android Signing Guide](https://facebook.github.io/react-native/docs/signed-apk-android.html) to setup my `signingConfigs`, and it seems everything is working.

I'm going to reach out to Firebase Support. My guess is my Android device is blocked, or my account is locked out for some reason.

Let me know if you come acro

[2017-10-11 17:57] jcharbo opened #493 "phone auth android error"
Hi everyone, I'm using the latest react-native-firebase with rn 48 on a real android device.  The first time I call signInWithPhoneNumber everything works great.  If I then signout and call it again I get the error "JSON.stringify cannot serialize cyclic structures." but then everything proceeds and works successfully.  Does anyone have any insight?

[2017-10-11 18:40] mackenziemance opened #494 "Dev Tools crash"
### Issue

on iOS app builds but crashes when opening remote debugger, this only happens when library is installed.

<img width="571" alt="screen shot 2017-10-11 at 2 42 42 pm" src="https://user-images.githubusercontent.com/24738013/31459895-9e2be986-ae92-11e7-8beb-3d4ace39429c.png">

throws this error

<img width="681" alt="screen shot 2017-10-11 at 2 21 45 pm" src="https://user-images.githubuser

[2017-10-11 19:27] DavidKuennen opened #495 "[firestore] Keeping firestore connected"
I don't know whether this is an issue with firestore, firebase in general or the implementation, but I noticed the following problem:

Whenever I disable internet access on my emulator or mobile phone while being in my app and then activate internet access again (while still being in my app), document writes are not being completed and I also don't receive updates on my listeners anymore until I k

[2017-10-11 19:33] Ehesp commented on #492
Hey thanks for reporting. @chrisbianca is currently working on the data type conversions and believe this one is todo.

[2017-10-12 06:48] chrisbianca commented on #492
@jean9696 This is actually fixed, pending a release which we'll hopefully get out at some point today.  Just trying to get another couple of bits sorted at the same time.

[2017-10-12 08:09] chrisbianca commented on #486
@psycura I don't think your use of aysnc / await is quite correct in your code.  You're awaiting things that aren't promises, e.g. `data()` which is a synchronous method.

The following should work:

[code]

[2017-10-12 08:09] #486 closed

[2017-10-12 08:18] chrisbianca commented on #491
I've just fixed this, pending a release later today

[2017-10-12 08:18] #491 closed

[2017-10-12 08:33] psycura commented on #486
thank you

[2017-10-12 08:44] chrisbianca commented on #233
I have just pushed up a fix for this and released as part of v3.0.3

[2017-10-12 08:44] #233 closed

[2017-10-12 08:47] chrisbianca commented on #492
This is now released as part v3.0.3

[2017-10-12 08:47] #492 closed

[2017-10-12 08:48] chrisbianca commented on #474
I have just released this as part of v3.0.3

[2017-10-12 08:48] #474 closed

[2017-10-12 08:51] chrisbianca commented on #484
This is now live as part of the v3.0.3 release

[2017-10-12 08:51] chrisbianca commented on #483
This is now live as part of the v3.0.3 release

[2017-10-12 08:52] chrisbianca commented on #468
This is now live as part of the v3.0.3 release

[2017-10-12 08:53] chrisbianca commented on #494
@mackenziemance If you check out the updated iOS installation instructions, you no longer need to set up React, Yoga and RNFirebase as pods.  Give that a go and hopefully this issue will go away.

[2017-10-12 09:53] eggybot opened #496 "No visible @interface for 'FIROptions' declares Issue"
### Issue
I got this issue when building via XCode on RNFirebase.m

[code]

along with this 8 issues

[code]

### Environment

1. Application Target Platform:
iOS

2. Development Operating System:
OSX Xcode

3. Build Tools:

4. React Native version:
0.49.3

5. RNFirebase Version:
3.0.2

6. Firebase Module:
pod 'Firebase/Core'
pod 'Firebase/Analytics'
pod 'Firebase/Auth'
pod 'Firebase/Messaging'
po

[2017-10-12 09:57] chrisbianca commented on #496
@eggybot Check which versions of the Firebase pods have been installed in your `Podfile.lock`.  It could be that you have an older version.  In which case, run the following:

`pod outdated` - will check which pods have new available versions
`pod update` - update to the latest version of pods

[2017-10-12 10:02] chrisbianca commented on #493
@jcharbo can you attach a code snippet showing how you are using `signInWithPhoneNumber`?

[2017-10-12 10:05] chrisbianca commented on #461
I believe that @Salakar merely meant that `verifyPhoneNumber` was added after `signInWithPhoneNumber` as a more customisable version of the functionality.  His change should have enabled reCAPTCHA support so I believe that this can be closed as solving the initial problem.

If you're experiencing other problems, could you open a new issue with details?

[2017-10-12 10:05] #461 closed

[2017-10-12 10:41] lukaleli commented on #445
I have no push notifications on iOS 11.0.2 as well...

[2017-10-12 10:47] chrisbianca commented on #495
In short, I don't really know!

With the Realtime Database, we are aware of some issues with RN and it re-establishing the connection as it goes online and offline.  The way around this was to listen to the AppState and manually tell the database to `goOnline` and `goOffline`.

Unfortunately, Firestore doesn't have the same methods available to it, so the same approach wouldn't work here.  To chec

[2017-10-12 10:54] lukaleli commented on #445
I found related issues on SO:
https://stackoverflow.com/questions/46391818/fcm-push-notifications-do-not-work-on-ios-11
https://stackoverflow.com/questions/46391818/fcm-push-notifications-do-not-work-on-ios-11

[2017-10-12 10:56] diennguyentien opened #497 "Wrong Tried to register two views with the same name RNFirebaseAdMobBanner"
ExceptionsManager.js:65 Invariant Violation: Tried to register two views with the same name RNFirebaseAdMobBanner
* for each sreen I register admob as below:
[code]
I hope someonce can help

* Target Platform: only tested on android
* Development Operating System: MacOS
* Build Tools: Android Studio
* React Native version: 0.49.0
* RNFirebase Version: 3.0.2
* Firebase Module: Admob

[2017-10-12 11:05] Ehesp commented on #497
When you say for each screen, are you using a navigator or are they on the same view?

[2017-10-12 11:11] chrisbianca commented on #445
Thanks @lukaleli, those SO articles indicate that this is a Firebase SDK issue which has been resolved in the latest version of the `FirebaseInstanceID` pod.  Check that you're running at least version 2.0.4.

Please re-open if you think there are still RNFirebase specific issues.

[2017-10-12 11:11] #445 closed

[2017-10-12 11:29] lukaleli commented on #445
I am on 2.0.4 and the problem still persists...

[2017-10-12 11:42] jean9696 commented on #492
@chrisbianca Wow thank you for your reactivity !! 👍

[2017-10-12 13:05] jcharbo commented on #493
Hi @chrisbianca , I can give you more code if necessary but this is where the error occurs:

[code]

[2017-10-12 15:04] alfonsodev opened #498 "messaging.getInitialNotification gets react-native-navigation event instead of notification payload"
### Issue
- With the application closed, I send a push notification to my device.
- I press on the notification and the app opens
- on `componentDidMount` of the first component, I do call
[code]
unexpectedly the variable `notification` contains `react-native-navigation` data instead of the expected, notification payload
[code]
☝️  This is `react-native-navigation` data, is it posible that this mo

[2017-10-12 15:40] mackenziemance commented on #494
Ahhh perfect, thanks a bunch @chrisbianca

[2017-10-12 15:40] #494 closed

[2017-10-12 16:56] theohdv opened #500 "[Android][messaging] No notification heads up"
### Issue

This is for **Android** only.
**Android notification heads up** are never displayed (app killed or in background).
My notifications are directly displayed in the notification tray.
I tried by setting "priority" (normal & high) but nothing changed.

Here the format of my notifications:
[code]

I would like something like that:

![image](https://user-images.githubusercontent.com/26060802/

[2017-10-12 17:15] vzhen commented on #410
Same issue here,  version 11.0.4. It works for a week and suddenlly not working with this error. I am not using any async

[2017-10-12 17:19] vzhen commented on #410
@lucianomlima  Did you find any solution ?

[2017-10-12 17:41] vzhen commented on #410
@lucianomlima  I figured it out. Please check firebase security rules.

[2017-10-12 18:50] southerneer commented on #461
Gotcha, thanks for clarifying @chrisbianca . At the time I reopened this issue  I was grasping at straws because our app was getting rejecting from the Apple App Store. The tester/reviewer couldn't get the expected SMS (or so they claimed). Once a different tester tried the app, though, everything magically resolved itself so I think it was more user error than anything that was wrong with Firebas

[2017-10-12 18:51] DavidKuennen opened #502 "[firestore][v3.0.3] Setting with property-value "undefined" results in error"
It's because this is being send (notice `isNewDay` is empty):
![image](https://user-images.githubusercontent.com/7766565/31513446-b0cccc16-af8e-11e7-9359-51301ca95d16.png)

And [here](https://github.com/invertase/react-native-firebase/blob/master/android/src/main/java/io/invertase/firebase/firestore/FirestoreSerialize.java#L250) you're trying to `.getString("type")` of `isNewDay`, which results in

[2017-10-12 19:08] patrickkempff commented on #151
Any solution? I have the same problem, I am trying to use the library in conjunction with react-native-navigation

[2017-10-12 19:53] Ehesp commented on #500
Could you try to add the `show_in_foreground` prop, like our tests here: https://github.com/invertase/react-native-firebase/blob/ceedf9b85aed2f66954a3ccdcdf7e23e8715ee0e/tests/src/tests/messaging/messagingTests.js#L138

[2017-10-12 19:55] Ehesp commented on #498
Well this is a strange one! Will check it out. Could you also show us your android manifest please?

[2017-10-12 20:08] BraunreutherA opened #503 "Storage - undefined is not an object (evaluating 'this._module._native')"
### Issue

Hi I'm using the firebase storage module an receive the following error:

`undefined is not an object (evaluating 'this._module._native')`

It seams the error comes from here:

[code]

[2017-10-12 22:28] Salakar commented on #503
@BraunreutherA could we see your usage code?

One possible way I can see this happening is if something is overriding context on the function in your code, or going through redux is messing the context up (if you're going through redux that is). 'this' in that function is no longer 'StorageReference' but something else.

[2017-10-12 22:37] BraunreutherA commented on #503
I used it like this in a redux-saga

[code]

I also tried this version:

[code]

which produced the same problem

[2017-10-13 01:17] diennguyentien commented on #497
Hi @Ehesp, I using a navigator, I created a admob component, for each screen, I import and used it

[2017-10-13 04:25] doc-phily commented on #80
@chiragpurohit71085 Did you manage to find a workaround? I've been stuck on the same issue for three days now.

My project builds just fine before I add RNFirebase, the moment I add RNFirebase, building with xcode fails with 'React/RCTEventEmitter.h' file not found.

[2017-10-13 04:39] waqqas commented on #302
@chrisbianca I am facing the same problem. I am uploading an image using RNFirebase v 3.0.2 and instead of the content of the image, the server uploads a jSON with "name","size" and "contentType" keys. The putFile() returns an error "an unknown error has occurred."

Any help to resolve the issue would be welcome

[2017-10-13 04:55] shameemz opened #504 "Android installation issue"
### Environment

1. Application Target Platform: Android
2. Development Operating System:  macOS Sierra
3. Build Tools:
Android Studio version:2.3.3
4. React Native version: 0.49.0
5. RNFirebase Version: 3.0.1
6. Firebase Module:  All modules.

/rnapp/node_modules/react-native-firebase/android/src/main/java/io/invertase/firebase/auth/RNFirebaseAuth.java:640: error: getCurrentActivity() is not publ

[2017-10-13 07:42] chrisbianca commented on #504
@shameemz See: https://github.com/invertase/react-native-firebase/issues/460#issuecomment-334255092

[2017-10-13 07:42] #504 closed

[2017-10-13 07:44] chrisbianca commented on #80
If you're using v3.0.X, then you no longer need to use pods for React which will minimise the chance of these errors.  Otherwise, there are lots of issues already closed which discuss different ways of solving this problem, i.e. cleaning Xcode derived data, etc

[2017-10-13 07:46] chrisbianca commented on #496
Can you paste the contents of your `Podfile.lock`?

[2017-10-13 07:57] chrisbianca commented on #502
@DavidKuennen Undefined is an interesting one to deal with.  Would you expect this to act as if the field was `null`?  The alternative would be for it for it to act as if you'd specified `firebase.firestore.FieldValue.delete()` and remove the field completely.

I'm leaning towards the first approach, given that the `delete()` functionality is so specific.

[2017-10-13 08:02] chrisbianca commented on #493
@jcharbo There is nothing in our code base for `signInWithPhoneNumber` which should call JSON.stringify, so I'm fairly sure this is a problem in your code.

What is your `this.codeSent()` method doing?

[2017-10-13 08:03] chrisbianca commented on #445
@lukaleli Have you had them working previously with RNFirebase or is this a new set up?

[2017-10-13 08:10] chrisbianca commented on #502
Ok, for the time-being I've set `undefined` to act as `null`.  If anybody thinks this is the wrong approach please let me know and we can look at changing.

@DavidKuennen I've pushed this up - we'll probably do a release later today with it in.

[2017-10-13 08:10] #502 closed

[2017-10-13 08:14] DavidKuennen commented on #502
Hmm interesting question. In the previous versions of RNFirebase it wasn't setting the value at all in firestore when I send undefined. But that was only upon creation of a document. I don't really know what happend when I changed an existing value to undefined, since I don't remember ever doing that.
If it'd be necessarry to use `firebase.firestore.FieldValue.delete()` to remove that field, it is

[2017-10-13 08:19] chrisbianca commented on #502
I think we need to be explicit with it's behaviour rather than just omitting the field. Otherwise, as you mention, when `merge` is specified, there could be some ambiguity with how the field is handled.  The user could set the field as `undefined` on the JS, do a merge and the field would retain it's previous value.

I haven't got anything set up with the official Web SDK to see how it's handled t

[2017-10-13 08:22] DavidKuennen commented on #502
Alright, I'll let you know when I find out or have new information regarding this case.

And thanks for fixing the bug @chrisbianca. :+1:

[2017-10-13 09:35] lukaleli commented on #445
Nope. This is a new setup. It works for different iOS versions and Android, though.

[2017-10-13 09:57] urajat opened #505 "Timezone ignored in server timestamp value"
### Issue

In Firestore, when I use `FieldValue.serverTimestamp`, the timestamp value is set correctly on Firestore including the timezone. But when I read it back, the timezone information sent by Firestore is discarded and interpreted as UTC without the value itself being converted. This results in the timestamp value being offset by the local timezone again.

**Code to reproduce the issue**

[c

[2017-10-13 10:06] leethree opened #507 "[iOS][messaging] Main Thread Checker: UI API called on a background thread: -[UIApplication registerForRemoteNotifications]"
### Issue

iOS complains `registerForRemoteNotifications` is not called on UI thread by RNFirebaseMessaging:
[code]
### Environment

1. Application Target Platform:
iOS

2. Development Operating System:
macOS Sierra

3. Build Tools:
Xcode 9.0

4. React Native version:
0.48.4

5. RNFirebase Version:
2.2.3

6. Firebase Module:
messaging

[2017-10-13 10:23] pricetula opened #508 "Unresponsive app failed installation."
### Issue
I have correctly followed the installation guide, The app builds and installs then becomes unresponsive and closes up without any error thrown.

android/build.gradle
// Top-level build file where you can add configuration options common to all sub-projects/modules.

buildscript {
    repositories {
        jcenter()
    }
    dependencies {
        classpath 'com.android.tools.build:grad

[2017-10-13 10:36] chrisbianca commented on #508
@pricetula Use the `adb logcat` command to view the device logs.  There'll be an exception logged which explains why the application crashes.

[2017-10-13 10:39] chrisbianca commented on #505
PR has been merged pending release

[2017-10-13 10:39] #505 closed

[2017-10-13 10:46] theohdv commented on #500
I tried but it did not change anything. But I think this property is only for localeNotification not for remote one.
And I want the heads up to display when the app is in background or and it has been killed not when the app is in foreground (Remote notification behavior).

[2017-10-13 10:59] theohdv commented on #500
I just noticed that this is a duplicate of #357 but i would like to not use the "custom_notification" approach, is there a proper solution now to do that? (if not, can close the issue)

[2017-10-13 11:05] bjornbjorn commented on #467
Hi guys, just wanted to chip in here cause I think I know what @Frexuz issue is.

I had that same error when trying to install BoringSSL with Cocoapods (```sed: -e expression #1, char 1: unknown command: `.'```) and found out that it was a non-standard version of ```sed``` which caused it.

If you're on OSX you should use ```/usr/bin/sed```. If you do a ```which sed``` you'll probably see that you

[2017-10-13 11:32] doc-phily commented on #80
@chrisbianca  Thank you for the prompt response. I built my project with `create-react-native-app` then ejected to ExpoKit (as described here - https://docs.expo.io/versions/latest/guides/expokit.html) in order to use react-native-firebase. After ejecting to ExpoKit it looks like expo uses pods for react - here's the Podfile created automatically after ejecting

[code]

[2017-10-13 12:32] doc-phily commented on #80
Adding more modules as described in the documentation results in the same error in other files too. I added `pod 'Firebase/Firestore'` to my Podfile right after `pod 'Firebase/Core'` ran `pod update`, deleted the DerivedData directory in xcode and reopened xcode using `open myproject.xcworkspace`. When i clean and build I get the same error this time in the file RNFirebaseFirestoreDocumentReferenc

[2017-10-13 13:51] jcharbo commented on #493
Thanks @chrisbianca , you were right, it's on my end.  Sorry for the bother.

[2017-10-13 13:51] #493 closed

[2017-10-13 17:33] BCGen opened #509 "firestore data structure change after RNFirebase update from 3.0.2 to 3.0.3"
### Issue

after I update RNFirebase from 3.0.2 to 3.0.3, and use firestore function add, set, and update, like under:

[code]

the data should be

![1](https://user-images.githubusercontent.com/24768017/31558101-27c4fd8a-b07e-11e7-912b-b63a89f99929.png)

but became

![2](https://user-images.githubusercontent.com/24768017/31558182-78dea07c-b07e-11e7-91f9-c61a93331a5e.png)

### Environment

1. Appl

[2017-10-13 17:44] chrisbianca commented on #509
@BCGen I think your native code might be out of sync with the client side code.  Have you definitely rebuilt your Android app since updating to 3.0.3?  Not just restart the packager?

`RNFirebaseFirestoreDocumentReference.java` should have the following line in it twice:

`Map<String, Object> map = FirestoreSerialize.parseReadableMap(RNFirebaseFirestore.getFirestoreForApp(appName), data);`

It wil

[2017-10-13 17:55] BCGen commented on #509
Yes, I forgot rebuild!
after rebuild the problem was solved.
Thank you very much.

[2017-10-13 17:55] #509 closed

[2017-10-14 04:24] JSafaiyeh opened #510 "Upgraded from 2.2 to 3.0 database_sync_event"
I am getting the error upon application initialization.

`database_sync_event is not a supported event type for RNFirebaseDatabase. Supported events are: database_event, database_error, database_transaction_event`

How can I resolve this?

[2017-10-14 06:27] cjam commented on #468
Just ran into this and I updated.  I can confirm this is working in v3.0.3, thanks for fixing this guys!

[2017-10-14 09:05] chrisbianca commented on #510
@JSafaiyeh Please fill out the issue template, it's there to help us help you.  Otherwise we have no way of knowing which platform you're seeing errors on, etc.

[2017-10-14 17:43] Druux commented on #496
Have to deal with the same issue (pod update didn't help).
Issue: No visible @interface for 'FIROptions' declare the selector 'initWithGoogleAppID:GCMSenderID:'

Any suggestions?

[2017-10-15 15:34] atlanteh opened #512 "firestore query startAfter throws exception"
This is actually sort of two issues:

1) When running the following code it fails:
[code]
![screenshot_20171015-182330](https://user-images.githubusercontent.com/3952700/31586294-a16741f2-b1d7-11e7-9e41-f88947b42ff6.png)

2) When I try to only take ```query = query.startAfter(last.data().startTime)``` I keep getting the same data.

### Environment

1. Application Target Platform: Tested only on An

[2017-10-15 17:32] neverlan opened #513 "Unable to resolve module ./internals"
### Issue

<img width="335" alt="capture d ecran 2017-10-15 a 19 28 45" src="https://user-images.githubusercontent.com/5860671/31587289-7d96e7e8-b1df-11e7-9faf-205f7944aecd.png">

### Environment

1. Application Target Platform: iOS
2. Development Operating System: macOS Sierra
3. Build Tools:  Xcode 9.0
4. React Native version: 0.49.3
5. RNFirebase Version: 3.0.3

[2017-10-15 17:34] Ehesp commented on #513
Is the file there in your node modules directory?

[2017-10-15 18:30] neverlan commented on #513
Yes the file is there :)

[2017-10-15 18:38] eggybot opened #514 "pod Issue required for Firebase Cloud messaging and Analytic"
### Issue
When I enabled this 2 option ob my GoogleService-Info.plist
`IS_ANALYTICS_ENABLED` and `IS_GCM_ENABLED`
I got this errors
[code]
it is asking me to install Google/CloudMessaging and Google/Analytics on pod. But do I already enable it using this 2 services 'Firebase/Analytics' , 'Firebase/Messaging'?

do I need to install the Google services along side with firebase?

thanks,

### Environ

[2017-10-15 18:57] #496 closed

[2017-10-15 22:11] mackenziemance opened #515 "FAILED_PRECONDITION when using where and orderBy together"
When querying a collection with .where().orderBy() I get the FAILED_PRECONDITION error code. I've tried orderBy before where and querying different collections all instances produce this err for me. Both methods work on there own. Can someone reproduce ?

Dev Tools output

    Error: Firestore: Operation was rejected because the system is not in a state required for the operation`s execution. (fir

[2017-10-16 00:15] jparr721 opened #516 "RNFirebase core module was not found natively on iOS"
Issue

I am experiencing an issue with Jest when trying to run my tests on a react native application. Currently I have the stock tests inside of the suite, but the code doesn't even reach there when I run npm test. Essentially, it says this:

[code]

I don't really understand the issue or why this is breaking because the code itself is working fine and I have no issues using this library, but for

[2017-10-16 03:28] mackenziemance commented on #515
Misread the docs, sorry for the non-issue.

[2017-10-16 03:40] mackenziemance commented on #515
btw I'm using the equality operator and getting the error

<img width="800" alt="screen shot 2017-10-15 at 11 34 04 pm" src="https://user-images.githubusercontent.com/24738013/31594200-8ab1775a-b201-11e7-8115-5cfba2edad39.png">

[2017-10-16 06:14] lazyhoneyant opened #517 "[iOS] messaging().getInitialNotification() doesn't work."
When my app is running on background or killed completely, I send a push notification.
iOS shows the notification banner which I sent.
Then I've touched the banner and awake the app.
At that time, invoked not messaging().getInitialNotification but messaging().onMessage.
Only trigger onMessage from push notification.
To use getInitialNotificaton(), Is there another thing to do?

I put these code in

[2017-10-16 08:04] chrisbianca commented on #510
Closing this. Please re-open the issue with the issue template details if you're still having problems.

[2017-10-16 08:04] #510 closed

[2017-10-16 08:13] chrisbianca commented on #516
@jparr721 Take a look at this issue for some pointers with how to get RNFirebase working with Jest: https://github.com/invertase/react-native-firebase/issues/162

I'll close this for now - please comment on #162 if you need any more help.

@Ehesp @Salakar note for us to add this to the documentation

[2017-10-16 08:13] #516 closed

[2017-10-16 08:16] chrisbianca commented on #515
@mackenziemance Can you add the snippet of code that you're running?  Please include the `.where` and `.orderBy` conditions,

[2017-10-16 08:24] chrisbianca commented on #514
@eggybot You should use the `GoogleService-Info.plist` file that is downloaded from the Firebase console and not edit the file directly yourself.

You definitely shouldn't need to add `Google/CloudMessaging` and `Google/Analytics` to your Podfile. These are old libraries that have been replaced by the Firebase equivalents.

[2017-10-16 08:24] #514 closed

[2017-10-16 08:28] chrisbianca commented on #503
@BraunreutherA I tried to reproduce this over the weekend and failed - `putFile` was working just fine without any issues.  I'd suggest that you try and put a breakpoint in the code to see why `this._module` is returning null.

[2017-10-16 10:13] theohdv opened #518 "[messaging] Background notification behavior"
### Issue

When I received Remote Notification and my app is in background, the notification is displaied in the notification tray (normal behavior).

If I click on the notification, it opens the application and `onMessage()` is called and the notification object has all the data properties I sent.

But if i open the application not by clicking on the notification but by clicking in the applicatio

[2017-10-16 12:26] alfonsodev opened #519 "[iOS] [Auth] version v3.0.3 fails to build with RNFirebaseAuth"
When using `Authentication` on *iOS* project using `react-native-firebase` v3.0.3,
the application fails to build, with the below error messages, I've replicated the same issue on my local computer and on my automated build system (bitrise.io).
By commented the related code the app compiles without any additional issue.

❌  /Users/vagrant/git/node_modules/react-native-firebase/ios/RNFirebase/auth/

[2017-10-16 12:29] chrisbianca commented on #519
@alfonsodev Can you check which versions of the Firebase pods are being installed by looking at the `Podfile.lock`?  Generally this happens when it's installing an old (pre 4.0) version of the Pod.

You can run:

`pod outdated` - Run this first to refresh the cache and check which pods are out of date
`pod update` - Update all out of date pods

[2017-10-16 12:48] alfonsodev commented on #519
Thanks @chrisbianca for the quick response,
indeed that was the problem, after running `pod update` the build worked.
For reference this was the result of running `pod outdated`
[code]

[2017-10-16 12:48] #519 closed

[2017-10-16 13:42] Frexuz commented on #467
[code]

already correct :/

[2017-10-16 13:47] Frexuz commented on #467
Finally found it! You could possibly add this to your requirements or something:

which sed
/usr/local/bin/sed
➜  starteam.com git:(iss39-employee-onboarding) ✗ brew unlink gnu-sed
Unlinking /usr/local/Cellar/gnu-sed/4.4... 3 symlinks removed
➜  starteam.com git:(iss39-employee-onboarding) ✗ which sed
/usr/bin/sed

Somehow I had an uncompatiable version of sed, someone found it here:
https://githu

[2017-10-16 13:49] Frexuz commented on #467
Sorry, sent it to the wrong email :D

But thanks!!

[2017-10-16 15:20] ManuelThomas commented on #516
I've got the same issue. I'm not using Jest

[2017-10-16 15:33] shubhangi-asgola opened #520 "[Android]: DuplicateFileException: Duplicate files copied in APK META-INF/maven/com.squareup.okio/okio/pom.xml"
I am trying to integrate react-native-firebase to my project. I followed all the setup instructions.  Initially I got some errors. On searching I found it required google play services to be updated. Errors were gone after update.
Then I face duplicate dependency issues for which I excluded play-services from specific modules using them and included them in dependencies. Part of my build.gradle de

[2017-10-16 15:44] cluny85 commented on #356
Still happen this problem with the last version. I don't know why because i can see ShortcutBadger exported like a Library in the react-native-firebase project.
Didn't work also adding the compile on the build.gradle of the main project.
Could be my version of gradle (2.3.3)? is necessary to have 3.0> ?
Thanks