[2017-12-05 15:42] Ehesp commented on #666
Yeh not your entire component.

What error is it throwing?

[2017-12-05 15:48] minhtamwebmaster commented on #666
On Tue, Dec 5, 2017 at 10:42 PM Elliot Hesp <notifications@github.com>
wrote:

Did not find any errors. Ads are not visible. Show only d emo ads

[2017-12-05 15:54] Ehesp commented on #666
Not really much I can do to help you. It'll be throwing an error if it doesn't show, which will probably say what the issue is anyway.

[2017-12-05 23:45] luskin opened #669 "PhoneNumberAuth Credential not working in signInWithCustomToken"
### Environment

1. Application Target Platform: Both

2. Development Operating System: macOS High Sierra

3. Build Tools: Xcode 9.2

4. React Native version: 0.50.3

5. RNFirebase Version: 3.1.0

6. Firebase Module: auth

I am trying to do sms auth in our app. Everything has worked great up until the very end when I receive back the credential from the line:
`const credential = firebase.auth.Phon

[2017-12-05 23:51] luskin commented on #669
had to use signInWithCredential!

[2017-12-05 23:51] #669 closed

[2017-12-06 02:10] jsm opened #670 "Cannot Find Module 'react-native-firebase'"
### Issue

Hey I'm having trouble importing after upgrading to 3.1.1 and from looking at it, it doesn't seem to have an index.js file?

### Environment

1. Application Target Platform: Both

2. Development Operating System: High Sierra

3. Build Tools:

4. React Native version: 0.49.3

5. RNFirebase Version: 3.1.1

[2017-12-06 07:16] Ehesp commented on #670
Have you tried nuking your node modules and installing?

[2017-12-06 07:36] jsm commented on #670
@Ehesp Looking at the tag here: https://github.com/invertase/react-native-firebase/tree/v3.1.1 (also on latest master) there isn't an index.js file either. Unless I'm missing something

[2017-12-06 07:41] jsm commented on #670
Looks like it was moved into the lib directory with this commit: https://github.com/invertase/react-native-firebase/commit/fbe73f5dcb09715d3bbc7e4e127ac508a9bd3efe

Is that valid and I'm just not importing it right somehow?

[2017-12-06 08:02] jsm commented on #670
Nvm it was an issue with typescript: https://github.com/invertase/react-native-firebase/pull/671

[2017-12-06 08:02] #670 closed

[2017-12-06 08:26] felixus95 commented on #661
+1 ! works fine on Android. Don't receive my link on iOS.

[2017-12-06 10:13] assurancetourix opened #672 "Typo in the Auth Starter Kit page, the price need to be corrected"
Hello,

Many thanks for the good job with react native firebase.

I have just seen the Auth Starter Kit is sold 75$
https://rnfirebase.io/kits/auth-starter

It is an issue as it should probably be 7.5$

Taken seriously, if it is really that price of 75 $, it is way too much in my humble opinion. Or I hope the price will include other kits.

[2017-12-06 10:19] tirrorex commented on #667
Also installing the module via yarn fails :

yarn add v1.3.2
info No lockfile found.
[1/4] 🔍  Resolving packages...
warning react-native > connect@2.30.2: connect 2.x series is deprecated
error Error parsing JSON at "https://github.com/invertase/react-native-firebase/package.json", "Unexpected token w in JSON at position 0".

[2017-12-06 10:21] chrisbianca commented on #672
@assurancetourix how long do you think it would take to build the same functionality yourself?

[2017-12-06 10:21] #672 closed

[2017-12-06 10:54] assurancetourix commented on #672
Hi chrisbianca, probably several days or weeks alone, but if everyone can contribute it is not the same model. I was just hoping this kind of samples would be free so that the community could also make it evolve. Or at least with a more reasonnable cost,

Not my will to start a vain discussion, but I really think 75 is too much, but maybe that's because I am an independant.

Good luck!

[2017-12-06 11:06] chrisbianca commented on #672
You're right, it is a couple of weeks work and whilst we'd love to give the starter kit away for free, we need some way of funding and justifying the vast amount of time that the three of us spend building, maintaining and supporting the underlying **free** `react-native-firebase` library.  The starter kit is one way of doing this and will allow us to continue making the library better for everybo

[2017-12-06 11:24] brunoro commented on #515
@agersoncgps the URL won't show up on `react-native log-android`, as it has the `RNFSCollectionReference` tag instead of the `ReactNativeJS` one. Run `adb logcat` and you should get the full error.

The line you're looking for should look like this: `RNFSCollectionReference: com.google.firebase.firestore.FirebaseFirestoreException: FAILED_PRECONDITION: The query requires an index. You can create i

[2017-12-06 11:40] Ehesp commented on #657
As Salakar mentioned, your code isn't correct. The below should work, note the defaults, fetching & activating.

You can check a full example here: https://rnfirebase.io/docs/v3.1.*/config/example

[code]

[2017-12-06 11:40] #657 closed

[2017-12-06 13:56] minhtamwebmaster commented on #651
"A single interstitial instance can only be shown once. If you want to display another, create a new one."

Please guide me to initialize a new audience and show my ad more than once.

[2017-12-06 14:47] Ehesp commented on #651
You just create a new instance of it, like so:

[code]

[2017-12-06 14:53] minhtamwebmaster commented on #651
That means I have to create multiple ad units. Is that justified?

2017-12-06 21:47 GMT+07:00 Elliot Hesp <notifications@github.com>:

[2017-12-06 15:02] Ehesp commented on #651
Just call it with the same ID? It's an iOS limitation of admob, just has to be re-created each time.

[2017-12-06 15:10] minhtamwebmaster commented on #651
When I can not throw the ball into the hole, I'm advertising. Android works
very well, but ios only shows once. Please guide me.

Source code:
https://drive.google.com/file/d/1RqRUd13jnKu0dCg72JniVfNRoLfsbs5w/view?usp=sharing

2017-12-06 22:02 GMT+07:00 Elliot Hesp <notifications@github.com>:

[2017-12-06 15:14] Ehesp commented on #651
I'm not downloading your app sorry. I'll take a look at the iOS problem when I can, quite busy at the moment. Feel free to create a PR to fix it.

[2017-12-06 15:24] minhtamwebmaster commented on #651
Thank you. Check me out when I have time

2017-12-06 22:14 GMT+07:00 Elliot Hesp <notifications@github.com>:

[2017-12-06 16:09] tirrorex commented on #332
For people that have troubles to build this on swift, the solution of @kyle-ssg works, just add firebase through your podfile and add ${BUILT_PRODUCTS_DIR} recursive to RNFirebase target framework search paths.
It's a workaround but it works so...

[2017-12-06 16:11] tirrorex commented on #667
For people that have troubles to build this on swift, the solution of @kyle-ssg works(https://github.com/invertase/react-native-firebase/issues/332), just add firebase through your podfile and add ${BUILT_PRODUCTS_DIR} recursive to RNFirebase target framework search paths.
It's a workaround but it works so...

[2017-12-06 20:33] assurancetourix commented on #672
Said like this that's convincing:-)
By the way this kind of starter kit for Cloud Messaging could reach its audience.
All the best!

[2017-12-06 23:59] mitchellmcm27 commented on #613
@chrisbianca Sorry for the delay, my Macbook has been unable to boot lately. I have to repair it. I do still plan to put the breakpoints in the iOS SDK and see what's going on.

[2017-12-07 02:28] c0d3blooded commented on #622
+1

I'm also running into this issue with no 'use_frameworks!' lines in my Podfile.

Pods have been added and installed (and re-installed/updated), GoogleService-Info.plist file has been added, and project has been already linked.

Why would this error come up if the RNFirebase pod has been deprecated?

**Environment**

Application Target Platform: iOS
Development Operating System: macOS Sierra
Bu

[2017-12-07 09:17] munkhorgil opened #673 "App automatically restarted after update in Firebase"
### Issue
In my firebase I have 3 json objects such as **user**, **userInfo**, **structure**. When I update or set data in **user** json every device using my app automatically restarts itself but structure and userInfo are fine. Log as follows I am using router-flux

[code]

[code]

### Environment

1. Application Target Platform: Both

2. Development Operating System: macOS Sierra

3. Build Tool

[2017-12-07 09:25] Ehesp commented on #673
Can you show us the logs on XCode at the point it crashes please?

[2017-12-07 09:28] munkhorgil commented on #673
@Ehesp There is no error. But in debug I got this
[code]
And app starts in root scene.

[2017-12-07 09:31] munkhorgil commented on #673
@Ehesp I send user state to editcontact as props and then I updated the user objects propperties. Can it be the reason?

[2017-12-07 09:34] Ehesp commented on #673
Looks like an issue with your code. Never used `router-flux` but it sounds like you're re-rendering a component and then it's also trying to re-render the routes which have already been declared.

[2017-12-07 09:34] #673 closed

[2017-12-07 10:31] marcorm commented on #282
Please can someone tell me how is it possible i've got this issue only on iPhone 4s and on iPhone 5?
From iPhone 5s on it works...

[2017-12-07 11:10] chrisbianca commented on #568
Ok, new test case added (https://github.com/invertase/react-native-firebase/commit/b099d13730711ac02d2a49e96f40f7cad54a20fe) which uses the following ref.  Note that it uses a where and orderBy on different fields.

[code]

1) It sets up an `onSnapshot` listener, which returns 5 items initially, in the correct order.
2) It then adds a new item to the end of the collection.
3) The `onSnapshot` list

[2017-12-07 11:13] chrisbianca commented on #602
@paldepind just noticed that you said you're using version 0.50.3 - there is a known issue caused by some breaking changes in RN which they have been unwilling to engage in conversation about.  I'd suggest following: https://github.com/invertase/react-native-firebase/issues/636

[2017-12-07 11:13] #602 closed

[2017-12-07 11:32] CharlieHawker commented on #39
@raduflp can you confirm 3.1.0 definitely works for you? I'm seeing no persistence of data submitted when offline and app closed (killed) or device restarted before re-connecting, even if I re-trigger a push to the same refs after I restart the app...

[2017-12-07 11:46] paldepind commented on #602
@chrisbianca Thank you for the response. Is there any solution besides downgrading React Native?

[2017-12-07 11:51] chrisbianca commented on #602
Unfortunately, we're still trying to come up with the best way forward.

If we remove the .podspec file, it would fix the issue for new users, but would break backwards compatibility for people that have been using the .podspec file to link their library in the past.

In the short term, if you unlink the library `react-native unlink react-native-firebase`, then delete the .podspec file in `node_mo

[2017-12-07 12:24] paldepind commented on #602
I did the following

1. `react-native unlink react-native-firebase`
2. `rm node_modules/react-native-firebase/RNFirebase.podspec`
3. `react-native link react-native-firebase`
4. Cleared derived data (just in case)

Now the app compiles without errors 😄 I have not tested notifications yet. But the fact that it compiles probably means that it works.

That is really nice. Deleting the podspec isn't t

[2017-12-07 12:31] chrisbianca commented on #602
Glad you're up and running!
Yes, we've had plenty of problems caused by RN over the past year, but we'll figure something out!

[2017-12-07 12:37] chrisbianca commented on #611
I've just added this functionality which will be released as part of v3.2.0: https://github.com/invertase/react-native-firebase/commit/a03c445e0c4a5391fd203dd3cca6b40f94d05c68

[2017-12-07 12:37] #611 closed

[2017-12-07 12:41] chrisbianca commented on #650
Not heard anything further on this so hopefully the guide has helped - please re-open if you're still having problems.

[2017-12-07 12:41] #650 closed

[2017-12-07 12:44] chrisbianca commented on #656
@paloman Check out https://blog.invertase.io/getting-started-with-firebase-authentication-on-react-native-a1ed3d2d6d91 for some pointers on how to get started.

This functionality definitely works, so I'm afraid it's something in your code. I'm closing this as it's not an issue with the underlying library. I suggest asking on Stack Overflow to see if anybody is able to spend more time going throug

[2017-12-07 12:44] #656 closed

[2017-12-07 13:07] kukko opened #674 "No virtual method getProjectId()Ljava/lang/String; in class Lcom/google/firebase/FirebaseOptions;"
I completed the installation steps which was listen on this site:
`https://rnfirebase.io/docs/v3.1.x/installation/android`

But when I run the following command:
`react-native link && react-native bundle --platform android --dev false --entry-file index.android.js --bundle-output android/app/src/main/assets/index.android.bundle --assets-dest android/app/src/main/res && react-native run-android`

I

[2017-12-07 15:10] tirrorex commented on #667
Well, workaround works for building but project fails to archive, false hope.

[2017-12-07 15:22] raduflp commented on #39
It fixed the issue on Android, but in my app I still have this issue on iOS Release build only.
At the same time I could not reproduce the issue using the example app, so it must be a configuration issue with my project or maybe some weird incompatibilities with other packages when the code is minified.

I'll investigate a bit more in the next couple of days and I'll get back to you

[2017-12-07 15:50] tirrorex commented on #76
@erikaxel Did you manage to make it work by any chance?

[2017-12-07 17:27] kyle-ssg commented on #667
@tirrorex  Do you get the same error on archive? I've published a couple apps with this since finding this issues

[2017-12-07 18:05] tirrorex commented on #667
@kyle-ssg the only thing react-native link does is adding the path for react-native-firebase in the podfile.
(by thre way i did tried that, and it fails because the framework cannot find firebaseCore headers)
My project is in swift which seems to be the root cause for all my issues ?
Don't know if anybody manage to build this properly with a swift project.

I spent too much time on this already, i

[2017-12-07 19:21] connercms opened #676 "First onSnapShot makes application temporarily freeze"
### Issue

I am using the react-native-firebase ^3.1.1 and react-native ^0.49.5. A user of my application has variable permissions to territories. For example, User A may have permission to just territory 1, while User B may have permission to territory 1, 2 and 3. When the application starts, I set up snapshot listeners to listen for changes to the documents that correspond to the territories the

[2017-12-08 02:09] gvillenave commented on #568
That's really odd, this is still happening consistently for me. Example of query:
[code]

As soon as I remove the "orderBy" clause (I also tried with a single "where" instead of multiple), the query works as expected, but adding the "orderBy" always returns "Operation was rejected because the system is not in a state required for the operation's execution". Could it be a bug on Firebase's side, wo

[2017-12-08 02:22] gvillenave commented on #568
Found the issue! Turns out that Firestore needed indexes for these queries. I found out because I have some cloud functions that use similar queries and I saw the error message in the logs there. These queries work fine on the client too now after adding the indexes.

@chrisbianca Ideally the React Native client should show the same error message in that case, right? Is this something missing in R

[2017-12-08 02:23] rtman commented on #568
@chrisbianca
Hmm that is interesting, but since so many people are encountering this scenario something must be up. I'll see about providing reproducible code and a data sample.

@gvillenave
You're seeing an actual error message? I don't see anything in logcat or console. Are you sure it's the same issue as the one I've posted?

[2017-12-08 02:26] rtman commented on #568
@gvillenave just saw your post, that is a separate issue that was tracked [here](https://github.com/invertase/react-native-firebase/issues/515)

[2017-12-08 08:47] mustivar opened #677 "AdMob Rewarded Video not loaded on iOS released app on Device"
### Issue

Hi I've developed a react-native app and took the advantage of admob module of this library while showing ads.

AdMob Rewarded Video Ads not loaded when app is released and installed on device(even app is now available on app store)

Because of this problem we also defined another network (AdColony) to AdMob Mediation and device can successfully receive AdColony rewarded video ads.

I t

[2017-12-08 10:03] tirrorex commented on #667
Dirty solution that works even for archive is to import all needed sources (.h and .m files, NOT the folders) inside my project.
Will do for now but i am open to any working suggestion :)

[2017-12-08 12:19] Ehesp commented on #677
Heya, can I see your code to display the video?

[2017-12-08 12:34] jwrubel commented on #519
`pod outdated` then `pod update` fixed my problem as well. Funny, this was a brand new Cocoapods install only a couple of days ago - I'm somewhat surprised it didn't pick up the newest versions of pods.

[2017-12-08 12:44] Ehesp commented on #519
@jwrubel welcome to ios development 🔪

[2017-12-08 12:56] mustivar commented on #677
Hi @Ehesp thanks for you reply.
I've tried to simplify my code by removing unrelated part.
Thanks.

[code]

[2017-12-08 12:58] jwrubel commented on #622
For anyone still having this issue - I fixed it following the instructions [here](https://github.com/invertase/react-native-firebase/issues/519#issuecomment-336871738). A brand new `pod init` `pod install` will not get the latest pods. To get the latest, run `pod outdated` - for reference my output was:
[code]
then `pod update`.

One that completed, my app launched with no errors.

[2017-12-08 13:24] Salakar commented on #622
These are also now in the troubleshooting ios installation docs now thanks to @jwrubel

@Vilitsa and @koansang is this still an issue for you?

[2017-12-08 13:37] jwrubel commented on #614
If this is still an issue for anybody on this thread, my solution was to run `pod update` and then `pod install` again. a fresh `pod install` on a new project doesn't pull the latest pods.

[2017-12-08 17:44] accordionpeas opened #678 "Android 8 - No notification shown for data-only messages and delay in firebaseMessaging.onMessage being called."
### Issue

Hi,

Since upgrading to Android 8 I am experiencing incorrect behaviour when sending data messages.

When sending a message with no "notification" key and a "custom_notification" key then two incorrect behaviours occur:

1) No notification is ever shown regardless of what state the app is in - foreground, background, killed.
2) There is a ~25 second delay between receiving a read-receip

[2017-12-08 21:49] heckchuckman commented on #622
Hi @jwrubel could you post your Podfile? I've been beating my head against the wall on this issue for hours with no result. Either React gets added which obviously breaks things or RNFirebase is missing and throws a red screen.

Many thanks!

[2017-12-08 22:15] heckchuckman commented on #622
Also, the `pod update` fix, as covered in the documentation, did not work for me. I still have the red screen error message referencing that the module was not found persists.

Thanks all!

[2017-12-09 01:59] Chenjh1992 commented on #661
I think what @Codeseer fixing here is the deferred deep linking (aka. pending deep linking) on ios. ios never process the deferred deep linking because only `applicaIon: openURL: options:` get called when deeplink get deferred.
Furthermore, the issue related to getting `/google/link/?dismiss=1&is_weak_match=1` more likely is a native Firebase library issue

[2017-12-09 07:30] benevbright commented on #536
Hey Salakar.
I'm looking for disabling 'offline persistence' for my react-native-firestore.
So it's not possible at this time?

[2017-12-09 07:37] benevbright commented on #623
I also wonder if I can disable offline persistence for my react-native-firestore app.
What I try to do is make my app to unable to send or cache when it's on offline and show error.

But I can't find the way that I see it can't be uploaded to firestore db now.
At that time, I want to show alert or something instead just storing data in cache and updating UI.

[2017-12-09 13:56] jwrubel commented on #622
Here's my Podfile - there's nothing much here really:
[code]
@heckchuckman what do you get when you run `pod outdated` ? After running `pod update` I now get the message `No pod updates are available.` but before I updated I got that list of updatable pods I posted above. If you run `pod outdated` and it says everything is up to date, I am afraid I'm at a loss to help beyond that.

[2017-12-09 15:36] heckchuckman commented on #622
After a bit of tooling around this pod file (snippet) worked for me after I deleted/cleaned all pods ... While this works, I'm a bit concerned I'll run into issues down the road because it looks like the React pod is being deprecated ...

  pod 'yoga', :path => '../node_modules/react-native/ReactCommon/yoga'
  pod 'React', :path => '../node_modules/react-native' , :subspecs => [
    'BatchedBridge

[2017-12-09 17:30] c0d3blooded commented on #622
I was able to get my app up and running with the recommended Podfile specs (just the Firebase pods) with the latest RN version (0.51.0).

It looks like there have been some changes to help RN work better with CocoaPods:
https://github.com/facebook/react-native/releases/tag/v0.51.0
https://github.com/facebook/react-native/commit/74146cb3158273921b768c97f229695e680ea82d

[2017-12-09 21:39] brunolemos opened #679 "Wrong path returned from snapshot reference"
### Issue

Running:
[code]

have different results between `javascript sdk` and `react-native-firebase`.

#### Javascript

`https://myappid.firebaseio.com/users/G2t491yrinOu7XUARHPTtXLUvZ93`

#### react-native-firebase

`users/G2t491yrinOu7XUARHPTtXLUvZ93/`

Until now, fine by be. But the critical part is when I get the path from a snapshot reference:

[code]

#### Javascript

`https://myappid.fir

[2017-12-09 22:04] brunolemos commented on #679
Fortunately I just found a workaround.

If I remove the last `/` from my database path, it shows the correct snapshot path:

[code]

[code]

That is indeed a bug :)

[2017-12-10 03:12] rafikn commented on #674
I ran into this same stacktrace before, I was missing
[code]
inside my `android/app/build.gradle`.

Also check if you have enabled Google's maven repo in your `android/build.gradle`.

[2017-12-10 18:33] kk1429 opened #680 "Firestore :- Paginate Data with Query Cursors"
I am trying to paginate queries and then populate my FlatList to enable infinite scrolling.

In the index.d.ts -> This is the function structure:

[code]

With the above in mind I am first saving the last doc.data() and then taking a field from it and then again getting more data from firebase in `onEndReached` function of the FlatList

[code]

And then in onEndReached I am doing this:
`const next

[2017-12-11 07:55] chrisbianca commented on #623
@benevbright Currently we don't have a way to disable persistence for firestore. It's on our roadmap but we haven't got to it yet

[2017-12-11 07:56] benevbright commented on #623
@chrisbianca Thanks for your response!

[2017-12-11 07:58] benevbright commented on #623
One more question, Is there a way to get "timeout callback" when we update, add and delete?
There is a promise callback for complete but none for timeout.
@chrisbianca

[2017-12-11 08:00] chrisbianca commented on #623
@benevbright no, this isn't something that's supported by the underlying API so we're not able to offer it.  You'd have to implement something bespoke to handle timeouts specifically, or rely on the Promise error.

[2017-12-11 08:01] benevbright commented on #623
Again, thanks for your response! @chrisbianca

[2017-12-11 08:03] chrisbianca commented on #568
@gvillenave Unfortunately, this error doesn't seem to make it into the `onSnapshot` error block so we're unable to return it back to the error handler.

@rtman I agree, there's certainly something strange going on, but without a reproducible example for us to investigate, then we're a bit stuck this end.  If anybody tracking this is able to extract a small data + code example that exhibits this be

[2017-12-11 09:41] chrisbianca commented on #636
We're still trying to come up with the best way forward.

If we remove the .podspec file, it would fix the issue for new users, but would break backwards compatibility for people that have been using the .podspec file to link their library in the past.

In the short term, if you run into this issue, you can do the following:

1. `react-native unlink react-native-firebase`
2. `rm node_modules/react

[2017-12-11 10:28] Kernael opened #681 "iOS : Cancel repeating notifications"
### Issue

On iOS only, I have trouble cancelling scheduled repeating local notifications.

I want to schedule a notification at, say, **today at 10:00am**, that will repeat itself every minutes, and when the notification is clicked, cancel every scheduled notifications, then schedule a new one at **tomorrow at 10:00am**.

If I cancel  with`.cancelLocalNotification('*')` and do nothing afterwards,

[2017-12-11 15:48] Mifayo opened #682 "RNFirebase core module was not found natively on Android, ensure you have correctly added the RNFirebase and Firebase gradle dependencies to your `android/app/build.gradle` file."
**file android/app/build.gradle**

    compile(project(':react-native-firebase')) {
        transitive = false
    }
    compile "com.google.android.gms:play-services-base:11.6.0"
    compile "com.google.firebase:firebase-core:11.6.0"
    compile "com.google.firebase:firebase-analytics:11.6.0"
    compile fileTree(dir: "libs", include: ["*.jar"])
    compile "com.android.support:appcompat-v7:23.0.

[2017-12-11 23:10] mustivar commented on #677
Hi @Ehesp any chance to check?
I've tried by removing default test device definition but still no luck.
I've also tried react-native-admob library and it seems same problem also occurs there
https://github.com/sbugert/react-native-admob/issues/214

it is still interesting that mediation ads can be served with same ad unit and release also works great on emulator

[2017-12-12 08:40] stefanedberg opened #683 "Firebase.messaging().onTokenRefresh doesn't fire"
### Issue

I'd like to use Firebase for push notifications and this is my setup:

[code]
Firebase.messaging().onTokenRefresh never fires and according to Xcode logs it seems like it tries to fire the event before my listener is registered, even though I'm doing it as early as I possible (even tried index.ios.js).

Just to clearify, this is when the app is installed on the phone and before I accept

[2017-12-12 10:35] paranat9221 commented on #294
@vsrboth I try to add yoga and react like you but I can't fix my problem, Can you explain me more how you fixed this

thank :)

[2017-12-12 16:07] hama commented on #632
@joegoodall1  how did you fix it ?  i have the same issue.

[2017-12-12 17:14] brunolemos commented on #632
Me too

[2017-12-12 17:20] chrisbianca commented on #632
@hama @brunolemos assuming you are using RN 0.50+, then please take a look at: https://github.com/invertase/react-native-firebase/issues/636

[2017-12-12 17:23] brunolemos commented on #632
@chrisbianca mine is 0.49.5

[2017-12-12 17:30] chrisbianca commented on #632
Do you have RNFirebase listed in your Cocoapods? Or have you used `react-native link`?

[2017-12-12 17:32] brunolemos commented on #632
I used link.

`Podfile`
[code]

`Podfile.lock`
[code]

[2017-12-12 17:44] brunolemos commented on #632
@chrisbianca If I rename `RNFirebaseMessaging` to `RNFIRMessaging` it works!

[2017-12-12 18:20] joegoodall1 commented on #632
Hi @hama,

These are the changes I made to get things working.

1) Run `react-native link react-native-firebase`
2) Ensure `  [FIRApp configure];` comes right after `  NSURL *jsCodeLocation;` as mentioned [here](https://rnfirebase.io/docs/v3.1.x/installation/ios#3.-Initialise-Firebase) (previously this was placed further down the file and was being called too late).

[2017-12-13 06:02] gaultierq commented on #595
Hello,
Any idea of when we will be able to use this library for messaging ?
Just to know if I should wait or find another solution.
Thanks for your hard work !

[2017-12-13 08:43] rbsl-rimjhim opened #684 "how can I attach image in push notification in IOS app"
I created a react native app for IOS and sending push notification successfully.
But now I want to send image as well. Can someone guide me how to achieve this?

[2017-12-13 12:33] pavanmehta91 opened #685 "onSnapshot does not fire for server event in Android. Works fine in IOS"
### Issue
[code]
Here to avoid multiple rewrites to my array I've differentiated the onSnapshot callback's call by local and server updates. In IOS the behavior is as expected. But in android the callback is only called once i.e for local event only.

### Environment

1. Application Target Platform:  Android

2. Development Operating System:  MacOS High Sierra

3. Build Tools: React-native run-and

[2017-12-13 14:56] BIWhitfield commented on #294
I have the code provided by @vsrboth on the 2nd of August in my PodFile and still get the error...

[2017-12-13 17:54] alorr10 commented on #645
@brooklyntronic can you explain in a little more detail how you fixed this?? Im having the exact same problem right now. Thanks!

[2017-12-14 03:50] connercms opened #686 "'RCTDefines.h' file not found and React (missing)"
### Issue

I have been following the guide to install for iOS and my build fails with error 'RCTDefines.h' file not found. In Xcode, if I go to Product > Scheme > Edit Scheme > Build, it shows React (missing). I found this issue https://github.com/invertase/react-native-firebase/issues/541 where @chrisbianca  posted a solution that involved adding the React pod to the pod file by adding
[code]
but

[2017-12-14 08:54] chrisbianca commented on #686
Looks like you're running into the issue caused by some changes in RN 0.50 with how `react-native link` works.  Take a look here for a temporary workaround: https://github.com/invertase/react-native-firebase/issues/636

[2017-12-14 08:54] #686 closed

[2017-12-14 08:58] chrisbianca commented on #680
@kk1429 Unfortunately not. This is a limitation of the underlying SDK which enforces that you need to specify an `orderBy` field to use the `startAfter`, `startAt`, `endAt` and `endBefore` methods.

[2017-12-14 08:58] #680 closed

[2017-12-14 10:01] bobmulder commented on #622
@c0d3blooded Can you show me what you've done and how your config looks like to help me and others? :) Getting crazy on RN 0.51.0 and RN Firebase 3.1.*

[2017-12-14 10:08] chinmaygit opened #687 "User Error TypeError: Cannot read property '_native' of undefined"
I am using signupwithphone with the redux saga.

while getting token error been thrown : User Error TypeError: Cannot read property '_native' of undefined

[code]

[2017-12-14 13:05] Ehesp commented on #687
This looks there's a scoping issue caused by redux saga. Unfortunalty we do not use it within our projects so do not know how it works.

I'd suggest opening this on Stack Overflow and seeking help there.

[2017-12-14 13:05] #687 closed

[2017-12-14 13:05] chrisbianca commented on #674
Closing as @rafikn is correct in his solution.  @kukko Please let us know if this is still causing you problems after making the suggested change.

[2017-12-14 13:05] #674 closed

[2017-12-14 15:12] connercms commented on #686
Actually I'm not sure where this issue lies. I will list my steps:
1. react-native init myApp
2. cd myApp
3. npm i --save react-native-firebase
4. react-native link react-native-firebase
    * Here I get error: command `link` unrecognized. Make sure that you have run `npm install` and that you are inside a react-native project. I have definitely just cd into the react native project I just created

[2017-12-14 16:19] connercms commented on #686
Created a new project, followed the steps below
1. react-native init awesome
2. cd awesome
3. react-native -v => react-native-cli: 2.0.1, react-native: 0.51.0
4. npm i --save redux
5. react-native -v => n/a not inside a react native project directory

Seems to be an issue outside this package.

[2017-12-15 01:35] pheromonez opened #688 "Typescript definitions not found (v 3.1.1)"
### Issue

Typescript definition file not found (with default Typescript settings) when using `react-native-firebase 3.1.1`. This is because the definition file is now located at `./lib/index.d.ts` rather than simply `./index.d.ts`, which is where Typescript expects to find it.

For anyone that needs it, the location of the definition file can be forced by including this in any file where `react-n

[2017-12-15 03:02] c0d3blooded commented on #622
@bobmulder Sure. My Podfile isn't much different than what's already been mentioned.
[code]
I'm also on react-native-firebase version 3.1.1.

You may also want to try deleting your Pods folder and Podfile ( and .lock), and re-initializing pods for your project:

pod init
*configure your Podfile*
pod install
pod update

Also try running react-native link after updating to RN 0.51.

[2017-12-15 07:50] ovaris commented on #677
Yeah, we have exactly this issue too, Rewarded video used work but now loading has suddenly stopped, using same version than @mustivar . `onAdLoaded` nor `onAdFailedToLoad` is fired.

[2017-12-15 08:01] bobmulder commented on #622
@c0d3blooded thank's! I managed to fix it before by removing the `ios` folder and start again initializing iOS, and adding RN Firebase again. It was sort of the same like you documented so I hope this will help people!

**So if you're stuck, remove the `ios` folder, run `react-native upgrade` and start all over again :)**

[2017-12-15 08:03] Ehesp commented on #677
If you run the production app on the simulator does it show?

[2017-12-15 08:16] mustivar commented on #677
@Ehesp for me yes Production app on the simulator works ok.
What is interesting that previous day I received an Admob rewarded video ad on device. it was a short Quicktime ad but thats all, nothing anymore.
I thought maybe it is something to related device settings but checked this on multiple devices.
Also I tried different mediation adapters and I'm able to get rewarded video ads from Chartboost

[2017-12-15 08:35] mustivar commented on #437
I checked this one a bit to publish a non-crashing app but temporarily found a way to stop processing requestAd if the device is 32bit. I created a patch for myself but it is a quick solution and not something neat.
[code]

Maybe will you add something more clever to the code to prevent crashes?
Thanks.

[2017-12-15 11:17] ovaris commented on #677
I digged deeper and verified with Charles proxy and running release build in real device that calls to google ad networks works just fine (https calls to https://googleads.g.doubleclick.net & https://statitic.doubleclick.net), I saw ads raw binary data etc, and no http error codes there.

So the question now remains, why callback is not called?

Using RN 0.51.0, RNFirebase 3.1.1, Firebase SDK 4.5.

[2017-12-15 11:22] mustivar commented on #677
@Ehesp I've tested release with Admob test ad unit id 'ca-app-pub-3940256099942544/1712485313' and I added my device id with addTestDevice and as a result I could see test ads on device so it seems device is able to show admob rewarded video without changing any implementation.
With test unit id I also see some logs in console

I also created a new Admob application with a different admob account

[2017-12-15 11:44] chrisbianca commented on #688
@pheromonez Thanks for raising this - a fix is ready to be deployed with the next release

[2017-12-15 11:44] #688 closed

[2017-12-15 14:21] mustivar commented on #677
Hi @ovaris did you check your production app on emulator as @Ehesp asked?
In my case it works on emulator.

[2017-12-15 15:59] tranquan commented on #595
@krystiansliwa wow, nice solution (y) I've just tried and it worked perfectly, thanks a lot

[2017-12-15 17:46] chrisbianca commented on #667
`react-native link` now supports `use_frameworks!` as part of v3.2.0

[2017-12-15 17:47] #667 closed

[2017-12-15 17:47] chrisbianca commented on #636
This has now been fixed as part of v3.2.0

[2017-12-15 17:47] #636 closed

[2017-12-15 17:48] chrisbianca commented on #622
Closing this as `use_frameworks!` is now supported as part of v3.2.0

[2017-12-15 17:48] #622 closed

[2017-12-15 18:02] tirrorex commented on #667
@chrisbianca you should wait for people to test that everything is working before closing issues mate

[2017-12-15 18:12] chrisbianca commented on #667
@tirrorex We choose to run the project by closing down issues as we release fixes.  This keeps our issues list as clean as possible rather than having to wait, sometimes weeks for confirmation of a fix.  By all means, feel free to re-open the issue if the new release isn't working for you, mate.

[2017-12-15 18:17] code-matt commented on #682
```RNFirebase core module was not found natively on Android, ensure you have correctly added the RNFirebase and Firebase gradle dependencies to your `android/app/build.gradle` file.```

Did you figure out a way to get past this?

I am in the same boat. It's working fine for iOS but I get this message on android as soon as I add ```import RNFirebase from 'react-native-firebase'```
in the component

[2017-12-15 18:26] code-matt commented on #682
Actually, I just got it building 5 mins after posting this. I followed the directions to the letter and

```import io.invertase.firebase.RNFirebasePackage;```
and
```new RNFirebasePackage()```

were never added to my MainApplication.java. What step was supposed to add these for me since its not mentioned in the install documentation ?

[2017-12-15 18:28] chrisbianca commented on #682
@code-matt this should be performed by `react-native link`?

[2017-12-15 18:30] code-matt commented on #682
I had done that step, not sure why its not working? I even did it on a clean project while I was trying to narrow down what was wrong and still had these errors.

Now that it is building, I see now when you are missing a firebase module, the error message is very descriptive and tells you there are imports and new lines missing from MainApplication.java.

 Perhaps the error message mentioned in th

[2017-12-16 03:09] Benjamin-Dewey opened #689 "Installing Database module causes build failure"
### Issue

I have my iOS build working with `'Firebase/Core'`, `'Firebase/Auth'`, and `'Google/SignIn'` modules. No issues. However when I add `pod 'Firebase/Database'` to my podfile and `pod update` just like what the install docs say things go wrong. Running `react-native run-ios` finishes with

[code]

Although the app still gets up and running on the simulator, trying to call `firebase.databas

[2017-12-16 07:35] ovaris commented on #677
@Ehesp @mustivar Yes, indeed it works on emulator running with release build! But not on dev emu, nor running on real device.

[2017-12-16 09:09] QQizi opened #690 "Create user with instagram tokens"
### Issue

I'm building an app which involve Instagram authentification.
I tried to follow this tutorial : [link](https://firebase.googleblog.com/2016/10/authenticate-your-firebase-users-with.html)
But the method createCustomToken() is not available in react-native-firebase.
How could i manage to create an account in Firebase based on the user Instagram's token or id ?

### Environment

1. Applica

[2017-12-16 13:16] projekt86 commented on #632
Hi!
I had the same problem. This is how I fixed:
I'm using react-native link not pods.

In Xcode:
1. Libraries/RNFirebase -> Build Phases:
    - add to headers RNFirebaseMessaging.h
2. Libraries/RNFirebase -> Build Settings:
   - In **packaging** section set **Public Headers Folder Path** debug and release to default (/usr/local/include)
3. Clean, Build

[2017-12-16 14:37] romreed opened #691 "FCM notifications not show"
### Issue

I send notification to my mobile and use
`firebase.messaging().requestPermissions();
        firebase.messaging().getToken()
            .then((token) => {
                console.log('Device FCM Token: ', token);
            });
        firebase.messaging().onMessage((notif) => {
                console.log('message', notif)
            }
        );`
and this code work but i not see no

[2017-12-16 15:50] Mifayo commented on #682
@code-matt i did that too and it works for me
i see after i linked a lot of library some libraries doesn't linked automaticly with react-nataive link :/ i just don't know why
thanks guys

[2017-12-16 15:58] bintoll commented on #465
Hello! I wrote like it is Described in docs, but it requests capcha. So the issue should be reopened

[2017-12-16 19:49] Ehesp commented on #689
Some of those Pods look quite out of date, the Firebase/Database one is 4.3.0 I believe - does your `pod outdated` not flag this?

[2017-12-16 20:10] Ehesp commented on #691
Hello - How are you sending them? Whats the data payload?

[2017-12-16 20:25] Benjamin-Dewey commented on #689
Running `pod outdated` gives me this

[code]

Running `pod update` updates nothing. Reinstalling cocoapods according to the instructions [here](https://stackoverflow.com/questions/34509310/cocoapods-pod-update-installs-old-pods) and trying again still does not get me the latest versions of the pods.

[2017-12-16 20:28] berkcoker commented on #613
I have the same problem actually. Only happens when a deletion is made. And I do get the same "First argument must be a function, observer or options error.

[2017-12-17 01:11] berkcoker commented on #613
@chrisbianca I just did some debugging and the ordering is in fact correct. I wonder why this is happening and if there is a solution.

[2017-12-17 02:32] gabrielvcbessa commented on #645
I am also getting this error

[2017-12-17 03:21] brooklyntronic commented on #645
Reinstall the module.  Look up the process in the firebase docs on setting up phone-auth.  From there you will be instructed to create various items within the apple developer console.  As well as that you must reset all of the variables and the JSON you receive from firebase.  To make a long story short, I reset the module and all of it's associated data.

[2017-12-17 15:00] dheinisch opened #692 "Cannot contact reCAPTCHA. Check your connection and try again"
Hi.
I'm getting the following error on the device when clicking on the 'signin' button:
![screen shot 2017-12-17 at 4 57 58 pm](https://user-images.githubusercontent.com/34349918/34080743-9b623cc6-e34b-11e7-915a-b8491b8607e5.png)

My code:

`import React, { Component } from 'react';
import { View, Button, Text, TextInput, Image } from 'react-native';
import firebase from 'react-native-firebase';

[2017-12-17 17:13] chrisbianca commented on #689
@Benjamin-Dewey You need to change your `Google/SignIn` pod to just `GoogleSignIn` - this is a newer pod which doesn't force older versions of Firebase to be downloaded.

[2017-12-17 17:13] #689 closed

[2017-12-17 17:16] chrisbianca commented on #692
@dheinisch I'm afraid this is a connectivity issue with Google and not something to do with `react-native-firebase`.  See: https://groups.google.com/forum/#!topic/recaptcha/IW5lTDhkPq4

[2017-12-17 17:16] #692 closed

[2017-12-17 17:22] dheinisch commented on #692
@chrisbianca this topic 2/12/2016.... and i don't see any solution in that topic for this problem...
Can you elaborate? i'm kind of lost right now..

[2017-12-17 19:27] Stas-Buzunko opened #693 "bug with actionCodeSettings"
1. Application Target Platform:
IOS

2. Development Operating System:
macOS Sierra

4. React Native version:
0.51.0

5. RNFirebase Version:
3.2.0

6. Firebase Module:
Auth
[code]
[code]
second one produces error
[code]
actionCodeSettings structure looks fine

[2017-12-17 19:28] Stas-Buzunko commented on #693
@chrisbianca could you please have a look at this?

[2017-12-17 21:39] Ehesp commented on #693
@Stas-Buzunko this will be looked at this week, thanks for the report.

[2017-12-17 22:52] mustivar commented on #677
Hi @ovaris @Ehesp I wanted to inform you about something.
I also had an issue after created this, my app stopped receiving ads. I've seen that I start to receive ads again after removing and reinstalling the app(or after erasing cleaning data in emulator)
I found a recent post on Google Mobile Ads SDK Developers group https://groups.google.com/forum/#!category-topic/google-admob-ads-sdk/ios/FPW3d4

[2017-12-17 22:52] #677 closed

[2017-12-18 01:53] amsul opened #694 "Uninstalling the app doesn't clear data cached by Firebase"
### Issue

Uninstalling the app doesn't clear data that Firebase caches - such as the logged in user.

As a result, what ends up happening is when a user removes the app and adds it again, they're already logged in. Not only is this a privacy concern, but it also causes issues such as not having an authorized Facebook session (if that was the authentication method) and so all requests to the Faceb

[2017-12-18 07:14] Ehesp commented on #694
I believe this is intended as it's storing the data on key chain. There's
an issue been raised elsewhere which I'll look for once I'm not on the
phone.

On 18 Dec 2017 01:53, "amsul" <notifications@github.com> wrote:

[2017-12-18 07:55] ovaris commented on #677
Thank you @mustivar! That was it, after commenting out `pod 'Firebase/Performance'` in Podfile, videos started to show again 💯 💯

[2017-12-18 09:18] chrisbianca commented on #692
@dheinisch My point was, this is an issue with the underlying Native SDK functionality and not something that we can influence within `react-native-firebase`.  You are better off raising an issue with Firebase, or asking on Stack Overflow.

[2017-12-18 09:21] chrisbianca commented on #465
@bintoll it will only use captcha on iOS if you haven't set up the silent notifications as detailed here: https://firebase.google.com/docs/auth/ios/phone-auth#start-receiving-silent-notifications

[2017-12-18 10:07] romreed commented on #691
@Ehesp Hello. This my code for sending
`'use strict';
const functions = require('firebase-functions');
const admin = require('firebase-admin');
admin.initializeApp(functions.config().firebase);

exports.touch = functions.database.ref('messages/{gid}/message/{messageid}').onWrite(
    event => {
                            admin.database().ref('userTokens/' + users[el]).once('value')

[2017-12-18 13:47] JayricMok opened #695 "how can remove notification still receive message"
I get notification from sender, if I click the notification I will receive the message data when `componentDidMount()`, if I swipe out the notification (remove). I reopen the app, message not receive.

    componentDidMount(){
      firebase.messaging().getInitialNotification().then((payload) => {
        console.log("Initial Message: ", payload);
      });
      firebase.messaging().onMessage((pa

[2017-12-18 14:08] ergunyasar commented on #694
@amsul I faced same problem and spent a lot of time regarding to that issue. I solve it like this. For ios I set a user default variable(boolean) then change its value after first run. If it is first run I simply sign out the user.
`
[FIRApp configure];

  NSUserDefaults *defaults = [NSUserDefaults standardUserDefaults];
  if (![defaults boolForKey:@"notFirstRun"]) {
    [defaults setBool:YES forK

[2017-12-18 14:24] ergunyasar opened #696 "push() no longer returns anything"
Hello,
.push() method of 2.x version of react-native-firebase was returning a promise and when its resolved, I was getting an object inside then function. This object had a "path" prop which gave me the full path of inserted object.

However, currently I'm using 3.1.0 and then function returns null to me. Object is still inserting to database I dont think there is a problem with that. I can observ

[2017-12-18 18:52] amsul commented on #694
@ergunyasar thanks! I'll def give that a shot

[2017-12-19 06:22] nagad814 commented on #252
Please open this.. i have apps waiting for this.

[2017-12-19 08:53] Ehesp commented on #696
I *think* the functionality was incorrect, so we fixed it to match the web SDK. `push` shouldn't be a promise, as it's just generating a new key.

[code]

[2017-12-19 08:57] Ehesp commented on #252
@nagad814 check latest release notes.

[2017-12-19 09:06] nagad814 commented on #252
I did read through them. i am not clear should i use cocoapods or not. if not how to install RNFB

[2017-12-19 09:18] chrisbianca commented on #252
@nagad814 I have just updated the release notes to make it clear that you should still use cocoapods for the Firebase SDK, but not for `react-native-firebase` itself

[2017-12-19 22:33] berkcoker commented on #613
Contacted Firebase about it, and it looks like it is a known issue that they are trying to address. FYI

[2017-12-20 05:00] peterdivvito opened #698 ".babelrc is being published"
### Issue

After upgrading to 3.2.0 my jest tests started failing with an error around invalid syntax

export default ....
^^^^^^

After pulling my hair out for a couple of hours I tracked the issue down to the .babelrc file deployed with your package. This babelrc file was being used instead of the one in the root of my project causing things to break.

I don't believe this should be a part of an

[2017-12-20 06:10] nighttiger1990 opened #699 "Can't setBadgeNumber"
**Issue**
How can i fix this?
Calling setBadgeNumber(1) get error
![25555316_2229767237049173_1775928528_n](https://user-images.githubusercontent.com/21042933/34193562-f4e4de9c-e586-11e7-81ec-05a9a47a55c5.png)
-My devices worked well with ShortcutBagder
**Environment**
Application Target Platform:
android 4.4.2
Development Operating System:
Windows 10 Fall Creator
Build Tools version:
25.0.1
React

[2017-12-20 06:23] brenmcnamara opened #700 "Inaccurate documentation"
Inaccurate documentation:

Looking [here](https://rnfirebase.io/docs/v3.1.*/firestore/reference/CollectionReference#onSnapshot)

Says the return value of `onSnapshot` is `void`, when it is actually an unsubscribe function

[2017-12-20 08:20] Frexuz commented on #683
Same here.
- xcode 9.2
- RN 0.49.3
- Firebase 3.1.1
- Firebase/Core 4.7.0 pod

[2017-12-20 09:53] tirrorex commented on #667
@chrisbianca it doesn't work.
Did you guys test your release on a swift project ?
I tried your method before (the one you are using in the 3.2 release) and the problem is the order of compilation, react-native must be compiled before react-native-firebase in order for this method to work.
I also had other issues and the only way i found to have something reliable is to NOT import react-native-fire

[2017-12-20 11:06] nighttiger1990 commented on #699
i resolved this by add: to ./app/build.gradle
`compile 'me.leolin:ShortcutBadger:1.1.18@aar'`

[2017-12-20 11:06] #699 closed

[2017-12-20 14:09] dennisbejencev-an opened #701 "Migrating problem from 2.2.1 to 3.1.1"
before migrating all worked good, when I made `npm install react-native-firebase@3.1.1`
I got http://prntscr.com/hq2i2k
my current versions
[code]
problem is here: http://prntscr.com/hq2okc
my Podfile.lock https://pastebin.com/xpNbxDa5

[2017-12-20 15:47] chrisbianca commented on #701
@dennisbejencev-an sounds like your native and JS code may be out of sync - have you correctly rebuilt the application and followed all the migration steps?

[2017-12-20 16:33] Gshock1 opened #702 "Error while trying to use firebase@3.1 with RN@0.49"
Hi,

I'm trying to import firebase to my react native application (android) but get this error:

`com.android.dex.DexException: Multiple dex files define Lcom/google/android/gms/internal/zzfgn;
      at com.android.dx.merge.DexMerger.readSortableTypes(DexMerger.java:596)
        at com.android.dx.merge.DexMerger.getSortedTypes(DexMerger.java:554)
   at com.android.dx.merge.DexMerger.mergeClassDefs

[2017-12-20 17:11] VincentCATILLON opened #703 "Use getInitialNotification on local notifications created by another SDK"
### Issue

We are using your package for a while now, and we want to implement custom redirection on notification tap depending on the notification data.

When we got notifications from FCM API, it's working like a charm to retrieve data attached to a notifications using the `getInitialNotification()` method. But on a native local notification created by another SDK/Library (our case), we got data

[2017-12-20 17:15] dennisbejencev-an commented on #701
yes, sorry, I had not completely updated Firebase sdk

[2017-12-20 17:15] #701 closed

[2017-12-20 22:39] fdnhkj opened #704 "Export User Flow type"
### Issue
I created a function to loginOrRegister from facebook login.
To add a Flow return type to its method signature, I would need the `User` type to be exported.
I am not sure how it has to be done (export User class from _dist/index.js_ ?, export an interface?, export a type?) but I would be happy to contribute if someone could give details.

_See `Promise<User>` in return type of function b

[2017-12-21 09:00] chrisbianca commented on #704
@fdnhkj Thanks, we're aware of this and haven't quite figured out the best approach yet either! We're open to suggestions...

[2017-12-21 09:03] chrisbianca commented on #703
@VincentCATILLON I don't think this is something that we can (or would) realistically support - we have no control over how a third party library might structure their notification data which could in turn break something internally to our library.

@Ehesp @Salakar I'm inclined to close this as won't fix. Thoughts?

[2017-12-21 09:10] chrisbianca commented on #700
Thanks for flagging this, I've updated the documentation for v3.2.*

[2017-12-21 09:10] #700 closed

[2017-12-21 09:19] VincentCATILLON commented on #703
Hi @chrisbianca, firstly, thanks for your answer.

It's not related to the notification structure, the data logged in Android activity has the same structure than the data triggered by Firebase.

The issue is that the data given in activity are not retrieved in the `getInitialNotification()` as it's done with Firebase notifications.

I'll try to do it with another RN package, but it seems to be a

[2017-12-21 09:32] chrisbianca commented on #698
@peterdivvito Sorry about this - we introduced babel to allow flow typings to work properly and forgot to ignore the configuration as part of the npm build.  I've updated this now so it will be fixed in the next release.

[2017-12-21 09:32] #698 closed

[2017-12-21 09:35] chrisbianca commented on #696
@ergunyasar This was changed as part of v3.0.0 to match the web SDK.  See the conversation here: https://github.com/invertase/react-native-firebase/issues/147

[2017-12-21 09:35] #696 closed

[2017-12-21 09:38] chrisbianca commented on #695
If I understand you, then you're removing the notification in the iOS or Android display but still expecting that you'll receive the notification when you next open the app?

This just isn't possible as the OS won't tell the app about the notification unless it is tapped to open it.  If you want to still show this in your app, you'll need to implement a store of outstanding notifications in your d

[2017-12-21 09:38] #695 closed

[2017-12-21 09:42] chrisbianca commented on #691
Your notification is missing the following properties for it to display in the OS:

[code]

We will be improving our FCM documentation as part of our next major release. In the meantime please refer to the official firebase documentation to learn more about the available FCM options.

[2017-12-21 09:42] #691 closed

[2017-12-21 09:46] chrisbianca commented on #690
@QQizi `createCustomToken` is only available in the admin SDKs (https://firebase.google.com/docs/reference/node/firebase.auth.Auth#createCustomToken) - you'll need to send the details to a server (or a firebase cloud function) and create the token there.

[2017-12-21 09:46] #690 closed

[2017-12-21 09:47] chrisbianca commented on #684
@rbsl-rimjhim other than the icon, this isn't supported at the moment. We plan on overhauling FCM in our next version and will try to add this going forward. In the meantime, please follow: https://github.com/invertase/react-native-firebase/issues/595

[2017-12-21 09:47] #684 closed

[2017-12-21 09:48] chrisbianca commented on #683
Thanks for flagging this - we will address this as part of the FCM overhaul that we plan on doing for the next major release: https://github.com/invertase/react-native-firebase/issues/595

[2017-12-21 09:48] #683 closed

[2017-12-21 09:52] JayricMok commented on #695
@chrisbianca what i want is when sender send the message (app in background), notification does received, but without clicking the notification and just open the app to getting the message from `getInitialNotification` or `onMessage`.

[2017-12-21 09:53] chrisbianca commented on #685
@pavanmehta91 This sounds like it is likely to be an issue with the underlying Android SDK. Are you able to add break points in the Android code to prove that you're not receiving the notification from the underlying SDK?

[2017-12-21 09:55] chrisbianca commented on #681
@Kernael This sounds like a timing issue.  What happens if you were to put a `setTimeout()` with a delay in before rescheduling the notification?

[2017-12-21 09:57] chrisbianca commented on #660
Closing in favour of https://github.com/invertase/react-native-firebase/issues/694 which has a workaround.

[2017-12-21 09:57] #660 closed

[2017-12-21 09:58] chrisbianca commented on #644
@sfratini Are you able to test the latest version of `react-native-firebase`? We've recently released a auth starter kit which covers off the scenario you describe and didn't come across this issue. It might be that we've now fixed it...

[2017-12-21 09:59] chrisbianca commented on #613
@berkcoker thanks for confirming, I'm glad it's nothing our end!

[2017-12-21 10:02] chrisbianca commented on #695
@JayricMok I'm afraid that's just not possible and out of our control. The notification is only available in `getInitialNotification` or `onMessage` if the notification was clicked or it was received whilst in the foreground

[2017-12-21 10:06] JayricMok commented on #695
@chrisbianca ok, forget the notification. For example, my app go offline, but sender still sending the message. how to receive message when app go online again without clicking the notification

[2017-12-21 10:29] chrisbianca commented on #703
I won't lie, FCM and local notifications is a bit of a mess in `react-native-firebase` - it's something we're aware of and are planning to address here: https://github.com/invertase/react-native-firebase/issues/595

There is some debate over how or even if we should support local notifications, as really we're only aiming to bring the full suite of Firebase functionality to React Native, and whils

[2017-12-21 10:33] thienlhh commented on #223
@hisokakei Your trick working well, it should be merged to new version. Thank you

[2017-12-21 11:30] rodolfobarretoweb commented on #278
@skizzo works man ! thanks so much

[2017-12-21 13:45] egunsoma commented on #452
Could you guys please create a step-by-step setup guide for this in the docs? It would be really helpful for most of us, since I haven't found any guide like this online. Thank you!

[2017-12-21 20:11] jwrubel commented on #466
Just leaving a note here for anyone else who might come across this issue. I also had the error with . In setting all this up I completely missed the fact that [phone auth doesn't work on an emulator](https://github.com/firebase/FirebaseUI-Android/issues/868#issuecomment-323131178). I'd started with iOS where phone auth works fine on the emulator, so I just figured it would work too on Android. Pl

[2017-12-22 14:01] pavanmehta91 commented on #685
I'll try and do that and let you know. Thanks.

[2017-12-22 15:31] Stas-Buzunko commented on #693
@Ehesp any updates? :)

[2017-12-23 02:39] mitchellmcm27 commented on #613
Thanks @berkcoker and @chrisbianca

[2017-12-23 12:02] akobylianskyi commented on #689
I have the same problem with integrating react-native-google-signin and react-native-firebase in my project. Everything was ok before I add cocoapods with firebase dependencies. react-native-google-signin module was added manually before and after adding firebase with pods iOS project started failing. After that I tried to add google-signin module using pods but the problem were not solved. I have

[2017-12-23 12:05] akobylianskyi opened #705 "Problem with integration of react-native-firebase and react-native-google-signin"
I have the problem with integration _react-native-google-signin_ and _react-native-firebase_ in my project. Everything was ok before I add cocoapods with firebase dependencies. _react-native-google-signin_ module was added manually before and after adding _firebase_ with pods iOS project started failing.
- After that I tried to add _google-signin_ module using pods but the problem was not solved.

[2017-12-23 12:21] akobylianskyi commented on #689
@Benjamin-Dewey Any news about your progress with that issue?

[2017-12-23 19:01] Benjamin-Dewey commented on #689
@akobylianskyi I was able to get things to work by doing the following:
1. Installation of `react-native-firebase` on iOS and Android following the instructions in the docs just like normal.
2. Installation of `react-native-google-signin` on Android described [here](https://github.com/devfd/react-native-google-signin/blob/master/android-guide.md).
2. **Manual** installation of `react-native-google

[2017-12-23 19:03] Benjamin-Dewey commented on #705
@akobylianskyi  see my [reply](https://github.com/invertase/react-native-firebase/issues/689#issuecomment-353742631).

[2017-12-24 06:06] haotangio opened #706 "Track screen view when using react-navigation"
On native platform, firebase analytics track screen by `android activity` or `ios viewcontroller`.
On `react-native`, screen navigation is usually achieved by library like `react-navigation`.

Can we make some changes to allow firebase log correct screen name configured in `react-navigation`?

[2017-12-24 16:25] Ehesp commented on #706
What arguments are you passing to the log?

[2017-12-24 19:06] jsgovea commented on #313
I am getting the same error, did you solve it?

[2017-12-25 09:30] peterhoang064 opened #707 "Problem with Cloud Messaging"
I finished settings up firebase cloud messaging, followed by https://rnfirebase.io/docs/v3.2.x/messaging/ios. Thank for your package and documentation. But when I try using firebase compose message to send a message, I received that message already, but there is no sound, no vibrate,  no popup notification on top. this make me confused. Anyone can help me explain this? Did I miss something?
This i

[2017-12-25 10:56] haotangio commented on #706
@Ehesp Is it possible if we just don't put any log?
Looks like for screen navigation on `native app`, `firebase analytics` automatically track the view of each screens. This is not the case for `react-native apps`.

[2017-12-25 11:43] Ehesp commented on #706
Normal react native apps all run on a single view controller /activity. You can track the page view via analytics manually, which takes 2 arguments. On my phone at the moment so can't check.

[2017-12-25 14:38] atlanteh opened #708 "Docs & code inconsistency?"
The docs say to add:
```compile "com.google.firebase:firebase-core:11.6.0"```

However in code I see that the firebase version is [11.4.2](https://github.com/invertase/react-native-firebase/blob/master/android/build.gradle#L2).

Is this a mistake? Which one should I use?

[2017-12-26 02:18] #707 closed

[2017-12-26 05:51] gazaret commented on #702
Hi @Gshock1, error occurs when duplicating android dependencies. In my case "react-native-device-info" contain duplicate com.google.android.gms.

I solved this with (in android/app/build.gradle):
[code]

also read this https://medium.com/@suchydan/how-to-solve-google-play-services-version-collision-in-gradle-dependencies-ef086ae5c75f

[2017-12-26 06:06] himanshug16 commented on #32
@Salakar . The link you provided is expired.Facing similar issue.Can you please direction to similar podfile?. Thanks in advance

[2017-12-26 16:33] Nitroman605 commented on #523
is it really fixed in v3.2.0 ? I do not see it in the change log  or in the commits for the release ?

Thank you guys for the amazing work .

[2017-12-26 22:23] neverlan opened #709 "cannot read property 'addListener' of undefined"
### Issue

After upgrading from 2.x to 3.x, I get "cannot read property 'addListener' of undefined" from this line in the onTokenRefresh func:

 onTokenRefresh(listener) {
    const rnListener = this._eventEmitter.addListener(EVENT_TYPE.RefreshToken, listener);
    return () => rnListener.remove();
  }

Worked as expected before.

### Environment

1. Application Target Platform: iOS

2. Developmen

[2017-12-27 04:51] windydang26 commented on #320
haizz sinichi52 :)

[2017-12-27 08:33] Ehesp commented on #709
Can we see your code usage?

[2017-12-27 08:34] Ehesp commented on #706
https://rnfirebase.io/docs/v3.2.x/analytics/reference/analytics#setCurrentScreen

`setCurrentScreen(screenName, screenClassOverride) returns void;`

[2017-12-27 08:34] #706 closed

[2017-12-27 08:34] Ehesp commented on #694
Going to close this one as it's something we can't fix.

[2017-12-27 08:34] #694 closed

[2017-12-27 08:35] Ehesp commented on #604
Going to close this one, please let us know if you have any further findings!

[2017-12-27 08:35] #604 closed

[2017-12-27 08:36] Ehesp commented on #644
Closing as we've heard nothing back. Please try the latest version and let us know if the problem still exists.

[2017-12-27 08:36] #644 closed

[2017-12-27 08:54] erezrokah commented on #706
`react-navigation` has a very nice guide on setting up screen tracking:
https://reactnavigation.org/docs/guides/screen-tracking

We use it with redux and use a middleware

[2017-12-27 10:36] Nitroman605 commented on #595
Thanks for the amazing works . I just wanted to ask if the issue  #523  got fixed in 3.2.0 ? I see it that is closed , but in the release change log and in the commits I do not see it's mentioned as fixed .

Thanks .

[2017-12-27 10:38] chrisbianca commented on #595
@Nitroman605 We've bumped this functionality to the v3.3.0 release as it's a significant piece of work, and we wanted to be able to get Crashlytics functionality added sooner than we'd have been able to otherwise.

[2017-12-27 15:31] hungdev commented on #158
@Munkh
i get same issue

[2017-12-27 20:27] volodyad opened #710 "Check whether offline data synced"
How can we now that all changes made offline is synced to the realtime database

[2017-12-27 20:50] 3210jr opened #711 "Batch init error _firebase2.default.firestore.batch is not a function"
### Issue

Hey guys,
I am trying to run a batch update using the line `const batch = firebase.firestore.batch();` but I am getting the following error:

[code]

Thanks!

### Environment

1. Application Target Platform: Android

2. Development Operating System: macOS Sierra

3. Build Tools:

4. React Native version: 0.49.5

5. RNFirebase Version:

6. Firebase Module: 3.2.0

[2017-12-27 21:38] JCMais commented on #153
I cannot for the love of me get this to work without using CocoaPods? Is there any detailed tutorial on how to get it working? It always throws linking errors.

[2017-12-27 23:46] JulienAtanasyan commented on #153
@JCMais can you give us some details, did you follow the two previous step?

[2017-12-28 03:31] munkhorgil commented on #158
@hungdev I resolved this by downloading Firebase SDK

[2017-12-28 11:22] Ehesp commented on #711
Transactions are not yet supported in RNFirebase. They're quite complex as they need custom implementation on both Android & iOS. It's one of the top on our priority list though, we'll keep you updated.

[2017-12-28 11:26] Ehesp commented on #708
Both are technically "supported", we are trying to keep up with releases across web/android/ios where we can.

Basically if you use a newer version (such as the new 11.8.0) which has a new feature or change, we may not have implemented this so you'll get an error.

You can check the change log here: https://firebase.google.com/support/release-notes/android

[2017-12-28 11:26] #708 closed

[2017-12-28 11:33] Ehesp commented on #711
Woops, I was wrong. `batch` is supported, but you're calling it incorrectly:

[code]

[2017-12-28 11:33] #711 closed

[2017-12-28 14:35] JCMais commented on #153
I got it to work. It was some conflicts between another modules I had installed, to be more specific, `react-native-fcm` and `react-native-google-signin`.

[2017-12-28 14:36] JCMais opened #712 "Do I need the whole Firebase SDK even if I'm using only some modules?"
I've correctly configured this package in the app I'm working on, without cocoapods, but from what I can see, it's necessary to have almost the whole Firebase SDK installed, is that really necessary?

The only module I could remove was the Invites one.

[2017-12-28 17:29] sibelius commented on #595
we can get a lot of code from here https://github.com/evollu/react-native-fcm

[2017-12-28 17:33] Nitroman605 commented on #595
@sibelius  I have a big concern with that idea is that That lib is not compatiable with https://github.com/wix/react-native-navigation Which many of people are using it (Even their own push notification lib did not work with their navigation for some people , including me ) .

invertase firebase messaging is the only lib that worked for me and some other who are using wix navigation .

[2017-12-28 18:32] evollu commented on #595
@chrisbianca @sibelius  I'm happy to merge our libraries to avoid duplicated work.
However react-native-fcm has grown from simple firebase bridging library into a push notification library so I wonder if it still fits the scope of react-native-firebase.
- it has a lot of code for local notifications which is independent of firebase cloud messaging
- for android it uses `custom_notification` to get

[2017-12-28 18:46] sibelius commented on #595
@evollu maybe we can move local notification logic to another package

[2017-12-28 18:50] evollu commented on #595
many things are shared between remote and local notif so I'm not sure.
but it is possible

[2017-12-28 19:36] Kishanjvaghela commented on #674
Still getting same error
Below is my App Gradle
[code]
Main Gradle
[code]

[2017-12-29 00:49] mdebo opened #713 "Upload to Firebase Storage: ref.putString is not a function"
Hi, I meet an error when trying to upload a base64 formatted string to firebase storage
Error: ref.putString is not a function
Here is my code:
        let storageRef = firebaseApp.storage().ref('pictures').child('test.jpg')
        storageRef.putString(data.data, 'base64').then(function(snapshot) {
        })
Maybe I'm doing something wrong?
Thank you.

 Environment
1. Application Target Platform

[2017-12-29 10:42] tsuijten commented on #489
Hi, I also have this issue. I have pinned it down to being a Firebase SDK bug when persistence is enabled. It occurs when running on a 32bit device (in my case a iPhone 5C).

When I retrieve a timestamp from the database in native (Swift) code I also get a negative number instead of the correct timestamp. So it's not a `react-native-firebase` bug, but a bug in the Firebase iOs SDK.

When I turn pe

[2017-12-29 21:45] 3210jr commented on #711
Thanks a lot. Also really good to know about transactions coming soon!

[2017-12-30 00:49] trinketmage commented on #466
I just ran into this problem. For android, after i switched to a new computer and installed the project by GIT.
For the release you need to your release-key.keystore as explain https://facebook.github.io/react-native/docs/signed-apk-android.html and add the SHA-1 fingerprint to your android app configuration in firebase console.
For the debug you need to run,
keytool -list -v -keystore ~/.android/

[2017-12-30 01:05] Cawfree commented on #446
I've encountered this problem using `"react-native-firebase": "^3.2.0"`. `FirebaseOptions.getProjectId() cannot be null` is thrown when I attempt to use `firebase.firestore().collection('foo').add({bar : true});`. Strangely enough, all functionality associated with the standard firebase database works as expected.

[2017-12-30 21:32] amsul opened #714 "Unable to fully use RNFirebase with Swift"
### Issue

Unable to set up a reference to `RNFIRMessaging` with an `AppDelegate` that is written in Swift.

Setting up `react-native-firebase` with Swift only requires the following addition to the bridging header:

[code]

And then a regular import in the `AppDelegate` file:

[code]

The core functionality works just fine. But trying to use any module beyond the core results in either being unab

[2017-12-31 00:03] amsul commented on #714
I switched my project to Objective-C and it still wouldn't work. Then I added `$(SRCROOT)/../node_modules/react-native-firebase/ios` to my header search paths with it set to `recursive` and it started working 🙌

[2017-12-31 00:03] #714 closed

[2017-12-31 08:34] sidferreira opened #715 "Android error: Execution failed for task ':react-native-firebase:lint'"
[code]
[code]

### Issue

Brand new project building in Android:

`app/build.gradle`:
[code]

`./build.gradle`
[code]

### Environment

1. Application Target Platform: `Android`

2. Development Operating System: `MacOS High Sierra`

3. Build Tools: `Xcode 9.2`

4. React Native version: `0.51`

5. RNFirebase Version: `3.2.0`

6. Firebase Module: `Core, Auth, Messaging, Crash, Crashlytics, Database

[2017-12-31 09:12] callagga commented on #613
I'm getting the "Error: Query.onSnapshot failed: First argument must be a function, observer or options." too.  A couple of questions:

a) So just to understand, we're still awaiting Firebase to correct before we can get granularity in the updates, so we can see both the initial offline response, and then when the app is online again if you want to pick up this 2nd update (so you could highlight w

[2018-01-02 00:46] ianataffinity opened #716 "NoClassDefFoundError -> Cannot resolve"
### Issue

Have installed firebase and react native firebase and running into this red screen on startup.
![image](https://user-images.githubusercontent.com/29443467/34472286-8e21593e-efb2-11e7-9eb1-518119046646.png)

Here is the dependencies in my build.gradle file:

    compile "com.google.android.gms:play-services-base:11.8.0"
    compile "com.google.firebase:firebase-core:11.8.0"
    compile "

[2018-01-02 07:21] Ehesp commented on #716
Can we see your code usage please?

On 2 Jan 2018 00:46, "Ian Briggs" <notifications@github.com> wrote:

[2018-01-02 08:26] Kottidev opened #717 "Create short dynamic link failure The operation couldn’t be completed. The service is currently unavailable."
### Issue

Some time i had crash in my app when service is unavailable :
This is my log :

### Environment

1. Application Target Platform:
iOS

2. Development Operating System:
macOS Sierra

3. Build Tools:

4. React Native version:
0.50.4

5. RNFirebase Version:
2.3.0

6. Firebase Module:
Dynamic Link

[2018-01-02 12:35] Ehesp commented on #717
Can we see your code usage please?

[2018-01-02 12:38] Kottidev commented on #717
[code]

[2018-01-02 19:32] reimertz opened #718 "Flow issues on 3.2.0"
### Issue

It seems Flow is not working properly. I get these issues when running flow.

[code]

[code]
### Environment

1. Application Target Platform:  Booth

2. Development Operating System:  macOS 10.13

4. React Native version:  0.50.4

5. RNFirebase Version: 3.2.0

6. Firebase Module: Auth

[2018-01-02 22:51] ianataffinity commented on #716
Found out the directory it was building into was wrong. A good project clean and restart fixed the issue.

[2018-01-02 22:51] #716 closed

[2018-01-03 08:21] callagga opened #719 "Error using CollectionReference onSnapshot when trying to pass options (with includeMetadataChanges) as first parameter"
I am getting a "Query.onSnapshot failed: First argument must be a function, observer or options" error when I modify my working code to include an options parameter for onSnapshot.

Q1 - Is there something I am doing wrong here or is this a Firebase issue as per https://github.com/invertase/react-native-firebase/issues/613?

Q2 - Note I am using includeMetadataChanges as mentioned in teh documenta

[2018-01-03 08:28] gaultierq opened #720 "v3.3.0 release date"
any idea when v3.3.0 will be released ?

[2018-01-03 08:42] #705 closed

[2018-01-03 08:43] Salakar commented on #720
@gaultierq most likely by the end of this month / early Feb.

[2018-01-03 08:43] #720 closed

[2018-01-03 08:51] chrisbianca commented on #719
@calclavia Try `includeDocumentMetadataChanges` - note that the `d` in `Metadata` is lowercase. If that works, I'll update the documentation

[2018-01-03 08:53] chrisbianca commented on #718
@reimertz Flow support is currently work in progress - we're aware there are some errors, but are doing our best to resolve them.  This situation will gradually improve over the coming weeks and months...

Please follow https://react-native-firebase.canny.io/feature-requests/p/add-flow-or-flow-typed-support-to-the-library for updates

[2018-01-03 08:53] #718 closed

[2018-01-03 08:56] chrisbianca commented on #712
@JCMais It certainly isn't with Cocoapods - you just need to add the pods that you require.  Unfortunately, we don't recommend the manual download approach (and neither do Google/Firebase) so haven't explored what this might mean.

Please create a feature request at https://react-native-firebase.canny.io/feature-requests if you'd like us to consider adding support for this, or alternatively consid

[2018-01-03 08:56] #712 closed

[2018-01-03 08:58] chrisbianca commented on #710
@volodyad please ask questions on Stack Overflow: https://stackoverflow.com/questions/tagged/react-native-firebase or on Discord: https://discord.gg/t6bdqMs

[2018-01-03 08:58] #710 closed

[2018-01-03 08:59] chrisbianca commented on #702
Closing as @gazaret 's suggestion is correct. Please re-open if this is still an issue with RNFirebase

[2018-01-03 08:59] #702 closed

[2018-01-03 09:31] gaultierq commented on #720
thx!

[2018-01-03 09:39] callagga commented on #719
still seem to get the same error with this

ie using:
[code]

getting
[code]

[2018-01-03 09:50] chrisbianca commented on #719
@callagga If you change `includeDocumentMetadataChanges` to be `true` does that work?  I think there might be a minor issue with how we're checking for presence of the flags

[2018-01-03 09:55] callagga commented on #719
if I put "true" in instead it does NOT throw the error any more, however it also doesn't seem to give me the subsequent 2nd update when the backend does update things (if this makes sense).   i.e. for the new row I add it shows it as "pending" however I don't see it change to "Not Pending" after a short secord (or after I reenable my network connection, in the case I create a new record whilst not

[2018-01-03 13:14] rochefort8 commented on #576
Same problem happened to me, and following information gave me a way to fix for me,

https://github.com/firebase/quickstart-ios/issues/5

Hope this help

[2018-01-03 16:19] lslima91 commented on #464
This is still an issue with verifyPhoneNumber.

using the example code is a good way to replicate it:
https://rnfirebase.io/docs/v3.2.x/auth/phone-auth#Example

[2018-01-03 16:33] lslima91 opened #721 "How to resend message code?"
Currently ForceResendingToken doesn't seem to be exposed to Js.

[2018-01-03 16:40] lslima91 opened #722 "verifyPhoneNumber - phoneAuthSnapshot with null values"
Only tested on Android, but following the example code (https://rnfirebase.io/docs/v3.2.x/auth/phone-auth#Example),

phoneAuthSnapshot returns null values, except for status which returns verified.

Is this related to the fact that I only received the first sms and then wasn't able to receive anymore?

[2018-01-03 18:12] jbienia opened #723 "Local notification not displaying in React Native Android App"
My local notifications are not displaying in the Android emulator. I'm able to send local notifications through the firebase console and they display properly. But when I use the code firebase.messaging().createLocalNotification({
            body: "body",
            icon: "ic_launcher",
            show_in_foreground: true,
            title: "title",
            local_notification: true,

[2018-01-04 10:51] vanishree1 commented on #512
We are using "react-native-firebase": "^3.2.0", still startAfter includes the boundary value, however using firestore queries directly returns correct data, has this been fixed as of yet, or is there a way to make firestore queries work in android(as this is why we used rn-firebase)

[2018-01-04 18:17] ShivaPrabhagar commented on #10
[Firebase/Core][I-COR000005] No app has been configured yet.
2018-01-04 23:27:39.905201+0530 messagingapp[345:42280] *** Terminating app due to uncaught exception 'com.firebase.core', reason: '`[FIRApp configure];` (`FirebaseApp.configure()` in Swift) could not find a valid GoogleService-Info.plist in your project. Please download one from https://console.firebase.google.com/.'

Hey guys . I did t

[2018-01-04 18:22] ShivaPrabhagar commented on #10
Could not locate configuration file: 'GoogleService-Info.plist'.
2018-01-04 23:27:39.651812+0530 messagingapp[345:42382] [Firebase/Core][I-COR000005] No app has been configured yet.
2018-01-04 23:27:39.905201+0530 messagingapp[345:42280] *** Terminating app due to uncaught exception 'com.firebase.core', reason: '`[FIRApp configure];` (`FirebaseApp.configure()` in Swift) could not find a valid Goog

[2018-01-05 03:27] littlehome-eugene opened #725 "RNFirebase core module was not found natively on Android"
### Issue

RNFirebase core module was not found natively on Android

https://github.com/invertase/react-native-firebase#supported-versions---react-native--firebase
table shows I've to use 11.6.2 for react-native 0.51

although node_modules/react-native-firebase/android/build.gradle has
buildscript {
  ext.firebaseVersion = '11.4.2'
}

Is that a problem?

* android/build.gradle
[code]

* android/ap

[2018-01-05 09:32] Ehesp commented on #10
@ShivaPrabhagar it seems you have't added the GoogleService-Info.plist file?

[2018-01-05 09:38] reznik789 commented on #723
I don't know why this functionality not described in documentation, maybe this functionality are in develop progress, but I also get this issue. I find solution using Android Monitor in Android Studio.

All what you need is change
`show_in_foreground: "true"`
to
`show_in_foreground: true`

[2018-01-05 09:56] littlehome-eugene commented on #725
I found

       @Override
       protected List<ReactPackage> getPackages() {
         return Arrays.<ReactPackage>asList(
           new MainReactPackage(),
           new RNFirebasePackage(),
           new AutoHeightWebViewPackage(),
           new RNFirebaseAnalyticsPackage()
                                            );
       }

code inside the function never gets executed .. is this normal

[2018-01-05 10:22] FacuAcosta commented on #614
I will just leave it here, in case someone comes and it's still struggling with this. Make sure that on `[yourproject]/Build Settings/Framework Search Paths` you have added `$(inherited)` both for Debug and Release with a `recursive` value.

Also, In my case it seems that `react-native link` wasn't working properly, so make sure that on `Build Phases/Link Binary with Libraries` you add `libRNFireb

[2018-01-05 10:23] Ehesp commented on #723
@reznik789 PR welcome :D

[2018-01-05 12:32] Stas-Buzunko commented on #693
@Ehesp @chrisbianca any updates?

[2018-01-05 16:26] jbienia commented on #723
@reznik789 Yeah I've tried that already. I don't get any result. I can see the data in the console, so the app is receiving the local notification, but it just won't display. Did you have to do anything specific to the emulator?
![screen shot 2018-01-05 at 8 24 04 am](https://user-images.githubusercontent.com/15094461/34617968-0d8f7138-f1f2-11e7-86c4-f6ec7d80b3ee.png)

[2018-01-05 16:39] jbienia commented on #723
It was the lack of an icon. You must have the icon set. Using the Android Device Monitor is really helpful and gives more information about notification errors. Local notifications are displaying properly. Love the library!!

[2018-01-05 16:39] #723 closed

[2018-01-05 18:47] AbdallahNofal commented on #414
I fixed this issue

Follow these steps:
1. Open xcode
2. Open folder "Recovered References" at the left sidebar.
3. Remove "libReact.a" from it.

[2018-01-05 18:59] jbienia commented on #73
You have to call unsubscribe() which is returned from the onMessage(). If you call unsubscribe then you must run the firebase.messaging().onMessage() again to listen for notifications. I check if unsubscribe has been set, if it has, then onMessage is subscribed or listening to something already, and want to unsubscribe to prepare it for the next notification.

`if(unsubscribe !== ""){
			unsubscri

[2018-01-05 21:25] callagga commented on #719
This is a bug (not just documentation) I think.  Ie no way to get all the firestore updates available...

[2018-01-06 00:53] callagga opened #727 "Exception not being caught for FireStore"
I was testing attempts to make an update when the security rules for FireStore to see how much error information is available in the return error, however I can not seem to successfully catch the error.

That is the error does get printing out to the console BUT it seems it's from the underlying library and my code does get a chance to "catch" it itself.   Also the line "console.log('After Add');"

[2018-01-06 03:29] nsarafa commented on #636
Why was this issue closed? Our team still sees these errors, and iOS declaring `build failed` on every install

[2018-01-06 08:23] callagga opened #728 "firestore callbacks to onSnapshot note coming through when device back on line"
I note that when subscribed in firestore via onSnapshot one does not get a callback (to fire the listener allocated in onSnapshot) for the cases:

a) when a device comes back on line, when updates were made whilst offline [note the firestore backend does seem to get the updates, but nothing bubbles up to the code to indicate this]

b) in general after an update (e.g. add) - so you get the initial

[2018-01-06 19:44] jacksontbryan commented on #619
I didn't have to do this in the past but I needed to add this to get offline to work in XCode:
[FIRDatabase database].persistenceEnabled = YES;

I already had in javascript:
const configurationOptions = {
  debug: true,
  persistence: true,
};

const firebase = RNFirebase.initializeApp(configurationOptions);

Using:
Firebase iOS SDK 4.8.0
RNFB: 3.2.0
RN: .50.3

[2018-01-07 11:27] Ehesp commented on #727
Try the following code. You can't catch a promise rejection inside a try catch block

[code]

[2018-01-07 11:27] #727 closed

[2018-01-07 12:25] callagga commented on #727
@Ehesp - thanks very much for pointing this out.  I've actually started using redux-saga and had this problem too - I don't suppose you know offhand the way to "fix" with the saga approach (i.e. want to be able to catch this same exception, but ideally via a redux-saga approach?)

Code:

[code]

Issue is the same, can't seem to catch the firebase "add" (from createItem) exception that comes back w

[2018-01-08 01:10] callagga commented on #727
this seems to work:

[code]

[2018-01-08 01:32] jemise111 commented on #561
@ziquanc Were you able to get that type of query working? For me on the latest version of rnfirebase the query succeeds but my results only respect my latitude range, not my longitude range. I'm wondering if this is a limitation of firestore or I'm doing something wrong, thanks!

[2018-01-08 05:29] eugenehp commented on #158
Still pops up for rn 0.51

[2018-01-08 06:52] callagga commented on #719
@chrisbianca - what do you think? Is this a bug in terms of not being able to get all the firestore updates available?

[2018-01-08 07:17] yasir-netlinks commented on #713
Hi, I am having the same issue on Android , trying to upload a base64 format to storage, any updates on this! thanx

[2018-01-08 07:21] skasanibanyan opened #731 "Device doesn't vibrate on receiving notification and heads up notification- android"
I was just trying the plugin for a new project as a POC.
I could integrate easily with all the documentation and it works well on an android device(hasn't tested yet for iOS).

I am receiving notification when the app is in background and I am notification sound works when i enable sound parameter in firebase console. But no matter what I do, the device doesn't vibrate.

I tried setting "vibrate"

[2018-01-08 08:42] Ehesp commented on #719
@callagga please hold on, we'll look at it when we can

[2018-01-08 17:00] kohchihao commented on #423
Hi, i'm facing this problem right now, nothing seems to work. i tried your method of deleting the derived data. and pod install. But it still have the same error. Any idea?

[2018-01-08 17:08] pisangGoreng opened #732 "How to get params from createDynamicLink for navigate"
at first, im generate link from createDynamicLink method
[code]

whem im, try the result link from createDynamicLink, my device open my apps.
But how to get params from dynamic link?

im try this, but no result
[code]

and
[code]

any idea to solve this?

Thanks

[2018-01-08 17:42] GeekRishabh opened #733 "Help: How can i check what is the reference for the query ?"
How can I pass firebaseRef in firestore and check which type of reference is it
something like `firebaseRef instanceof firebase.firestore.CollectionReference` or
`firebaseRef instanceof firebase.firestore.DocumentReference` it should return true or false depending on the firebaseRef value .

[2018-01-08 17:42] omer88 commented on #732
Hi @pisangGoreng ,
Could you please supply more details about the environment?
Is that the link you try to supply?
In addition, if it's android, what launchMode do you use?

[2018-01-08 19:37] gvillenave opened #734 "Phone auth broken with phone number in different country/timezone"
I'm not sure if this is a RNFirebase or a Firebase issue, but I figured I could start here :)

I just integrated Firebase phone auth into our React Native app, and when testing with my colleagues located in France we're experiencing the following error when validating the SMS code:

The interesting thing is that we tried different combinations:
* FR phone number with FR device: FAILS
* US phone nu

[2018-01-08 22:32] callagga commented on #719
ok thanks - got a response on the Google Firebase forum that confirms that firebase does pass back subsequent updates like I'm after, so getting "includeQueryMetadataChanges" is required, so it does seem to be a bug.  Response I got:

Questions

Responses

[2018-01-09 00:46] egunsoma commented on #452
I created a solution that works with App Center:
https://medium.com/@egunsoma/firebase-environments-with-react-native-dev-staging-prod-3832d7d22a80

[2018-01-09 03:17] markmoul10 opened #735 "startAfter() is behaving like startAt() on IOS"
### Issue

### I am trying to page a collection of documents and I noticed that the startAfter() method is behaving like startAt().

The code below is a snippet from one of my Redux actions.

lastDoc is the last document of the previous data request.

[code]

There are 7 docs in the collection. I have another method that fetches the first 6 docs of the collection when the component mounts. I save

[2018-01-09 03:24] pisangGoreng commented on #732
Hi @omer88

i try generate dynamic
[code]

from then result, i try to open from terminal
``
adb shell 'am start -W -a android.intent.action.VIEW -d "https://https*******.app.goo.gl?apn=com.******&ibi=com.example.ios&link=kucing%2Fjacky" com.*****'
``

after that, my apps will open.
Because i need parameter from that dynamic link, im try with firebase.links().getInitialLink().

but i cant get the r

[2018-01-09 03:48] uc-asa commented on #627
I have the same issue what should I do please suggest.

![image](https://user-images.githubusercontent.com/16412197/34704272-15bb5da2-f51e-11e7-995e-d8fbceb0d7fe.png)

[2018-01-09 07:45] omer88 commented on #732
I think that you should use a full link (e.g http://yourdomain/kucing/Fjacky) rather just kucing/Fjacky.
How did you configure the intent-filter at the manifest file to open such link?

[2018-01-09 07:59] pisangGoreng commented on #732
hi @omer88 i think, im hav missunderstanding.. before, im think if we want take parameter from dynamic link, we use method from firebase too.

right now, im use Linking from react native & can take parameter from dynamic link firebase.
this my reference: https://github.com/invertase/react-native-firebase/issues/304

in manifest, im use link from firebase console
[code]

Thanks

[2018-01-09 08:27] yoonsy opened #736 "Not installed natively by calling firebase.crashlytics()"
### Issue

[After installed Crashlytics](https://rnfirebase.io/docs/v3.2.x/crashlytics/ios), I tried to test that my application is set up correctly using below code.
[code]

However, it failed.

![kakaotalk_photo_2018-01-09-17-24-27_72](https://user-images.githubusercontent.com/3125897/34711222-f5f7b1fc-f561-11e7-9cc4-2853d4dc1b87.jpeg)

My `Podfile` is below.
[code]

### Environment

1. Applicat

[2018-01-09 10:31] chrisbianca commented on #719
Have you tried with `includeQueryMetadataChanges` as suggested by Firebase's response?
In your examples above, you have only spoken about using `includeDocumentMetadataChanges`.

[2018-01-09 10:41] Mamdouh-Symbyo opened #737 "iOS push notification not receive when app in background."
notification is received when app in foreground by `onMessage()` this function
[code]
but it not received when app in on background.

firebase libraries versions:
Using Firebase (4.0.4)
Using FirebaseAnalytics (4.0.2)
Using FirebaseAuth (4.0.0)
Using FirebaseCore (4.0.4)
Using FirebaseInstanceID (2.0.8)
Using FirebaseMessaging (2.0.0)

iOS device version:  11.2.2

[2018-01-09 10:50] Ehesp commented on #733
Hello - for questions and support please use our Discord chat: https://discord.gg/t6bdqMs or Stack Overflow: https://stackoverflow.com/questions/tagged/react-native-firebase

[2018-01-09 10:50] #733 closed

[2018-01-09 10:51] Ehesp commented on #733
For the record, I don't believe you can do this (and can't think of a reason you'd need to do this?).

[2018-01-09 11:05] omer88 commented on #732
Can you please try to change the host to your own domain?
For example, if your domain is example.com, try to configure:
`            <data android:host="example.com" android:scheme="http"/>
            <data android:host="example.com" android:scheme="https"/>`
The dynamic link is parsed so the app should have a filter for this link.
see: https://firebase.google.com/docs/dynamic-links/android/recei

[2018-01-09 11:36] Afsarunnisa commented on #727
I'm also facing the same issue, here is the code

async addTodo() {

    const item = { title: '123412341234' };
    try {
      console.log('About to Add');
      await firebase.firestore().collection('todos').add(item);
      console.log('After Add');   // <== Reached
    } catch (error) {
      console.log('Error Received');  // <== NOT Reached
      console.log(pf(error));
    }

Possible Unha

[2018-01-09 11:43] Ehesp commented on #727
@Afsarunnisa thats seems an issue with your code somewhere, whatever "pf" is?

I've never used redux-saga personally, it just makes things overly complicated especially when you're trying to use another state store like Firebase.

[2018-01-09 12:07] callagga commented on #719
setting includeQueryMetadataChanges to true does NOT help (should have mentioned I'd tried that) unfortunately.  So it does seem there is way to get all the firestore updates available...

[2018-01-09 12:11] chrisbianca commented on #719
Have you confirmed that the incorrect behaviour is consistent across iOS and Android?
This certainly does look like a bug, but, it would be good to understand if it's one or both platforms. Regardless of that though, the likelihood is that this is an underlying bug in the Firebase SDK...

[2018-01-09 12:15] callagga commented on #719
I'll have to get back to you re Android, as it was on IOS I have been testing.  I should point out this is on the IOS simulator too.

[2018-01-09 13:22] #725 closed

[2018-01-09 13:31] littlehome-eugene opened #738 "can't build ios, React/RCTEventEmitter.h not found"
### Issue

![image](https://user-images.githubusercontent.com/24217396/34722856-d761921a-f58b-11e7-9c64-e40fb4411270.png)

* Podfile

[code]

* package.json

     "react-native": "^0.51.0",
      "react-native-firebase": "^3.2.0",

My project was initially non-react-native project, and react-native was added.

It works fine without react-native-firebase.
I succeeded making react-native-firebase wo

[2018-01-09 13:52] stephenheron commented on #619
Yup was having the same issue as @jacksontbryan but once I added "[FIRDatabase database].persistenceEnabled = YES;" everything seemed to work offline again.

[2018-01-09 16:38] smart-mickey commented on #238
hi chrisbianca, can you tell me how to set up react-native-firebase in the podfile? Thanks

[2018-01-09 16:38] smart-mickey commented on #238
hi chrisbianca, can you tell me how to set up react-native-firebase in the podfile? Thanks

[2018-01-10 05:44] arminsal1 opened #739 "Firebase Storage image upload ignores contentType metadata"
### Issue

I'm trying to upload gifs from my app, but the content type is uploaded as image/jpeg even though I explicitly set it to image/gif when uploading a custom metadata.

My Code:
[code]

`this.state.image` is the uri retrieved from React Native Camera Roll Picker. I checked the logic and the app is detecting that it's a gif. It sets the extension properly, but the contentType when I check o

[2018-01-10 06:00] syafiqFiqq commented on #541
Just want to share my solution (for my future reference also)
using pod, React-Native version 0.49.5
[code]

[2018-01-10 07:01] rajeshzmoke commented on #530
facing the same issue as @sfratini
React native 0.51.0
React native Firebase
Android 7.1.1

And i would like to add another point that the above mentioned issue happens only on a MI device

[2018-01-10 09:58] Afsarunnisa opened #741 "How to add documents and collations using react native app ?"
Unable to add documents and collections using firestore from react native application. how can we add collection and documents in mango db kind of structure

[code]

We tried with react native like this

[code]

[2018-01-10 10:19] chrisbianca commented on #741
Hello - for questions and support please use our Discord chat: https://discord.gg/t6bdqMs or Stack Overflow: https://stackoverflow.com/questions/tagged/react-native-firebase

[2018-01-10 10:19] #741 closed

[2018-01-10 10:40] chrisbianca commented on #738
@littlehome-eugene Are you able to try using the latest version on the 3.2.x branch and see if that fixes your issue?

`npm install --save https://github.com/invertase/react-native-firebase#v3.2.x`

If it does then I can do a release later today.

[2018-01-10 12:46] littlehome-eugene commented on #738
└── react-native-firebase@3.2.1  (git+https://github.com/invertase/react-native-firebase.git#cfbef06776923c4785fcde709f6e52470990aa8b)

(i did `npm install --save https://github.com/invertase/react-native-firebase#v3.2.x`)

I removed RNFirebase.xproject from libraries folder and removed libRNFirebase.a from linked libraries and did `link` .
But as you can see, ios is not being linked?

[code]

[2018-01-10 12:57] chrisbianca commented on #738
That's very odd.  Once the library has been linked though, you won't need to re-link it, so having linked with 3.2.1, if you try running the install of the latest version, does this fix the missing RctEventEmitter errors?

So, now that it's linked, simply run:

`npm install --save https://github.com/invertase/react-native-firebase#v3.2.x`

And see if the app will now start up

[2018-01-10 13:06] AlokGupta007 commented on #230
Hi ,

I am getting following error.
![screenshot_1515589423](https://user-images.githubusercontent.com/8522143/34774397-2de491ba-f635-11e7-84b8-05381c1e8889.png)

[2018-01-10 13:23] littlehome-eugene commented on #738
ah I see, I removed libRNFirebase.a and re-linked but I don't see `libRNFirebase.a` under `Link binary with Libraries`

Is this ok?

I see compiling done well!

although I think without libRNFirebase.a I actually managed to build it fine previously..

And I see RNFirebase core module was not found error..

I'm trying with manually adding libRNFirebase.a now..

[2018-01-10 13:37] chrisbianca commented on #738
Ah, I've just noticed that you have `use_frameworks!` enabled which may be causing an issue.
Is there a reason you have this enabled?

[2018-01-10 13:45] littlehome-eugene commented on #738
I think it was because Alamorfire was using swift..

[2018-01-10 14:28] chrisbianca commented on #738
I think the issue here is that whilst `use_frameworks!` does work in the simplest cases, it's failing here because React is being specified as a pod.

I need to try and build a simple, reproducible example that I can experiment with, which might take me a little while...

[2018-01-10 15:07] littlehome-eugene commented on #738
Aye,

I made a quick example using facebook's sample

https://github.com/littlehome-eugene/iOS-2048

Added `use_frameworks!`
added Firebase/core to pod
did react-native link
did npm install --save react@16.0.0-beta.5 react-native react-native-firebase@3.2.1

[2018-01-10 17:55] odesey opened #742 "Compatible with AWS SNS (Amazon Push Notifications )?"
Firstly GREAT PACKAGE!!

I've tried many push notification packages and this one just works!

### Issue

I've completed the installation following the documentation and everything works when I send a test message from the firebase console, I see a PN on the phone / simulator.

However, my `onMessage` is NOT called:
[code]

My intent is to use AWS for push notifications, so I followed the tutorial

[2018-01-10 18:28] chrisbianca commented on #738
Thanks for the example.  I've just cloned and had a play round and noticed that even without RNFirebase (I removed the linked library) this doesn't actually build with the `use_frameworks` flag enabled?

[2018-01-10 18:54] chrisbianca commented on #738
Ok... so having got it to compile without RNFirebase, I've figured out what's going on.

The issue is that XCode is parallelising the build, and building RNFirebase at the same time as the Pods which it depends on.  As such, RNFirebase can't see the React headers as React hasn't finished building yet.

To fix it, can you try the following:

1) Edit the application scheme (Product > Scheme > Edit S

[2018-01-10 22:06] littlehome-eugene commented on #738
I'm still having the same error.

I unchecked the `parallize build` for both the top project and `RNFirebase`
I added `react` as a dependency to `RNFirebase` in the same `Edit scheme - build`

changed react version to 0.51 because of 0.52 type conversion bug of yoga.

I'm still seeing the header missing error on both my project and iOS-2048 project.

I commited the `NumberTileGame.xcworkspace` for

[2018-01-10 23:05] littlehome-eugene commented on #738
I see something is different with this toy example.

When I take out `libRNFirebase.a` , my project builds fine, but iOS-2048 doesn't..

I see iOS-2048 does compile without `use_frameworks` ..

So this sample project I made up is not a representative of what my project is having trouble with... it seems...

[2018-01-10 23:39] littlehome-eugene commented on #738
I've updated the previous post, I'm leaving this message just to make sure you get notified..

[2018-01-11 00:02] jemise111 commented on #596
@chrisbianca Would you be able to post a link to the issue you mentioned about? I think I may be experiencing a similar issue, thanks!

[2018-01-11 00:46] littlehome-eugene commented on #738
Oh I found another project that exhibits the same symptom as mine..

this one has `use_frameworks` and builds fine without libRNFirebase.a, and fails to build with it.

https://github.com/littlehome-eugene/swift-react-native-hybrid

[2018-01-11 07:35] beingshashi opened #743 "Multiple Firebase accounts within the same react native app."
Hi,
I have a ReactNative BasedApp. I have used google account "A" for FCM , which is working.
And until now , all firebase automatically moving to account "A".

Now we have requirement that , we want to show Firebase Analytics, Events to Account "B".

So we have used `initialiseApp` function. But has got not success.

I have got warning that , the app name which i added inside `initialiseApp` func

[2018-01-11 09:02] chrisbianca commented on #743
@beingshashi Analytics and FCM only work with the default App set up using your `.plist` or `.json` configuration file.  This is a restriction of the underlying SDKs.

In the future, for questions, please use our Discord chat: https://discord.gg/t6bdqMs or Stack Overflow: https://stackoverflow.com/questions/tagged/react-native-firebase

[2018-01-11 09:02] #743 closed

[2018-01-11 09:24] chrisbianca commented on #738
You're right, for some reason turning off parallelization makes no difference on this project.
I'm afraid I'm at a bit of a loss as to what to suggest now.

[2018-01-11 10:38] chrisbianca commented on #738
Ok, attempt number 3214...

1) Update to RNFirebase v3.2.2
2) Re-enable parallelize build if you've disabled it
3) Select the `RNFirebase.xcodeproj` library in the Xcode navigator
4) Select the `Build Phases` tab
5) Under Link Binary With Libraries, add the `Pods_{projectName}.framework` file

This seems to ensure that the Pods are built before RNFirebase.

Let me know if this works...

[2018-01-11 10:39] vvavepacket commented on #614
@FacuAcosta

Where can we find libRNFirebase.a?

[2018-01-11 12:05] Naveen-ICARUS opened #744 "[Android] PhoneAuth in Genymotion Emulator with Play Services"
### Issue

Hey. I knew that firebase phoneAuth require google play services to work. Recently Genymotion support Play Services by installing OpenGApps. So I successfully installed Google play services on my Genymotion emulator but still its not working. It says "This app is not authorized to use Firebase Authentication. Please verify that the correct package name and SHA-1 are configured in the Fi

[2018-01-11 12:58] littlehome-eugene commented on #738
@chrisbianca

It Works!

Thank you very much for the support!

[2018-01-11 13:25] priezz commented on #725
@littlehome-eugene, have you solved this issue? How?  I have the same problem with my releasebuld, but not with dev.

[2018-01-11 15:03] odesey commented on #742
Found the solution here:
https://stackoverflow.com/questions/38300450/fcm-with-aws-sns

The documentation should probably be updated with the information in the SO answer.

[2018-01-11 15:03] #742 closed

[2018-01-11 15:08] chrisbianca commented on #742
Glad you got it working. PRs for the docs are more than welcome!!

[2018-01-11 15:48] priezz commented on #682
Hi there! I would like to know if someone have solved this problem? I have the same sympthoms, but in production build only! In dev the things work totally fine.  How is it possible if gradle config is the same for release and for debug? Could be the problem in ExpoKit, which I use?

`RN 0.51, Expo SDK 24.0.0, RNFirebase 3.2.1`

[2018-01-11 16:12] odesey commented on #742
@chrisbianca I will submit one later today.

[2018-01-11 23:04] callagga commented on #727
Oh the pf was just for debugging:

import pf from 'pretty-format'

[2018-01-12 00:02] callagga commented on #719
(still haven't had a chance to setup/reproduce on Android)

All - anyone actually ever seen the 2nd expected response come back from firestore?

[2018-01-12 06:46] ritz078 opened #745 "Execution failed for task ':app:transformDexArchiveWithExternalLibsDexMergerForDebug'"
Whwn I am trying to build `firebase-config`, I get the following error

[code]

My app/build.gradle

[code]

If I remove firebase-config, it works fine.

1. Application Target Platform: android

2. Development Operating System: macOS high sierra

3. Build Tools: Android studio 3

4. React Native version: 0.52

5. RNFirebase Version: 3.2.2

6. Firebase Module: config

[2018-01-12 09:17] chrisbianca commented on #745
@ritz078 Is there a larger stack trace? Unfortunately without that we're not really able to help

[2018-01-12 09:19] chrisbianca commented on #744
As per: https://firebase.google.com/docs/auth/android/phone-auth#before-you-begin

`Also, note that phone number sign-in requires a physical device and won't work on an emulator.`

[2018-01-12 09:19] #744 closed

[2018-01-12 09:21] chrisbianca commented on #739
@arminsal1 Thanks for this - I believe the RNFirebase iOS library is detecting the underlying content type automatically and overriding your setting.  We'll investigate.

[2018-01-12 09:22] chrisbianca commented on #738
@littlehome-eugene I'm glad it finally works!!  I'll add some additional notes to the setup instructions.  Thanks for your help debugging.

[2018-01-12 09:22] #738 closed

[2018-01-12 09:27] chrisbianca commented on #738
See: https://github.com/invertase/react-native-firebase/releases/tag/v3.2.2 for reference

[2018-01-12 09:28] chrisbianca commented on #736
@yoonsy Can we see the contents of your `Podfile.lock`?

[2018-01-12 09:31] chrisbianca commented on #735
@markmoul10 What is the `saved` field? A timestamp, number, boolean?

[2018-01-12 09:32] markmoul10 commented on #735
On Fri, Jan 12, 2018 at 1:31 AM chrisbianca <notifications@github.com>
wrote:

It is a time stamp

[2018-01-12 09:36] chrisbianca commented on #734
@gvillenave Without wanting to shirk responsibility, I'm afraid to say that we have no control over this and it's going to be something going on in the underlying SDK...  We're just reporting the errors that we get back from the SDKs.  Probably best that you report it to Firebase.

I'm going to close this, but do let us know what they say, and re-open if they try and push it back on us!!

[2018-01-12 09:36] #734 closed

[2018-01-12 09:39] chrisbianca commented on #731
@skasanibanyan FCM support is a little shaky at the moment and we're planning on overhauling it in our next major release.  We've had lots of similar issues reported that we're closing off until we properly fix the functionality.

Keep track of this for updates: https://github.com/invertase/react-native-firebase/issues/595

[2018-01-12 09:39] #731 closed

[2018-01-12 09:39] chrisbianca commented on #737
@Mamdouh-Symbyo  FCM support is a little shaky at the moment and we're planning on overhauling it in our next major release.  We've had lots of similar issues reported that we're closing off until we properly fix the functionality.

Keep track of this for updates: https://github.com/invertase/react-native-firebase/issues/595

[2018-01-12 09:39] #737 closed

[2018-01-12 09:41] chrisbianca commented on #722
@lslima91 This is expected. When Android auto-verifies, sometimes the verificationId can be null.  If you follow the example and build the Phone auth credential as normal, then we handle this for you on the native side to ensure that the user will still be logged in / registered / linked.

[2018-01-12 09:41] #722 closed

[2018-01-12 09:42] chrisbianca commented on #721
@lslima91 You're right, we're missing this - I've marked it as a feature request which we'll look to add in the future.

[2018-01-12 09:44] chrisbianca commented on #719
FYI - I've updated the docs with the correct option names

[2018-01-12 09:51] chrisbianca commented on #717
The error makes it look like the promise callback is being called twice, which isn't supported by react native.

@omer88 Just taking a look at the code and I can see that most of the functions are surrounded by a try / catch block - what was the reasoning behind this?

My guess is that the inner handler is getting a rejection error, but the outer method is also throwing an exception.  Both than ca

[2018-01-12 09:54] chrisbianca commented on #715
@sidferreira Sorry for the delay on this. It looks like you've got a mismatch of library versions.

In your `build.gradle` you specify 11.6.0, but in the error message it's reporting 11.4.2.  I'm not sure where this might be coming from, but I'd suggest cleaning out your `build` and `app/build` directories, doing a search for 11.4.2 and making sure that all versions match correctly...

Please re-o

[2018-01-12 09:54] #715 closed

[2018-01-12 09:56] chrisbianca commented on #713
Currently `putString` and `putData` aren't supported by `react-native-firebase` as it's a little complicated with the RN bridge.

We have an open feature request for the latter here: https://react-native-firebase.canny.io/admin/board/feature-requests/p/firebase-storage-putdata-download-urls-without-touching-fs

Feel free to add another for `putString` or comment with a request for `putString` and

[2018-01-12 09:56] #713 closed

[2018-01-12 09:56] chrisbianca commented on #709
Closing due to lack of response.

[2018-01-12 09:56] #709 closed

[2018-01-12 10:01] jolinkomo-code commented on #736
Also getting the same error

[2018-01-12 10:03] chrisbianca commented on #681
Closing due to lack of response. Please re-open with more details if required.

[2018-01-12 10:03] #681 closed

[2018-01-12 10:05] chrisbianca commented on #659
@dannycochran did you ever hear back from Firebase? I'm going to close this as it's not something we have control over, but please do let us know what Firebase have to say...

[2018-01-12 10:05] #659 closed

[2018-01-12 10:08] chrisbianca commented on #568
I'm going to mark this as closed, as we've been unable to reproduce and our tests are all working correctly.

Please re-open with a reproducible example if you're still experiencing problems.

[2018-01-12 10:08] #568 closed

[2018-01-12 10:12] chrisbianca commented on #736
@jolinkomo-code Can I see your `Podfile.lock`?

[2018-01-12 10:14] jolinkomo-code commented on #736
PODS:
  - Firebase/Core (4.4.0):
    - FirebaseAnalytics (= 4.0.4)
    - FirebaseCore (= 4.0.9)
  - Firebase/Crash (4.4.0):
    - Firebase/Core
    - FirebaseCrash (= 2.0.2)
  - Firebase/Database (4.4.0):
    - Firebase/Core
    - FirebaseDatabase (= 4.1.1)
  - Firebase/Messaging (4.4.0):
    - Firebase/Core
    - FirebaseMessaging (= 2.0.5)
  - Firebase/Storage (4.4.0):
    - Firebase/Core
    -

[2018-01-12 10:15] chrisbianca commented on #596
@jemise111 Unfortunately, the link is on a private Firebase group so I can't link to it

[2018-01-12 10:17] jolinkomo-code commented on #736
argh, was missing pod 'Firebase/Firestore'

[2018-01-12 11:30] omer88 commented on #717
Hi @chrisbianca ,
I took a look at the code, I think I know what the problem is.
It's not the try/catch - although on second thought it's redundant and should be removed.
I'll create a PR to fix it.

[2018-01-12 11:31] chrisbianca commented on #717
Awesome, thanks @omer88 - shout if you need any help

[2018-01-12 12:06] FacuAcosta opened #746 "No DOCs references for Database"
There's no documentation on the DOCs for the Database module, as you can see in here:

[https://rnfirebase.io/docs/v3.2.x/database/reference/Database](url)

[2018-01-12 12:13] chrisbianca commented on #746
You can see them here: https://rnfirebase.io/docs/v3.2.x/database/reference/database

We've had a bit of an issue with the capitalisation on some of our docs that we are aware needs fixing.

[2018-01-12 12:13] #746 closed

[2018-01-12 13:48] littlehome-eugene commented on #738
Thank you again!! Glad I could help.

[2018-01-12 16:03] iamthehunta opened #747 "RN Linking causing crash on boot up due to [FIRApp configure]"
### Issue
When trying to deep link a non universal/dynamic link in safari when the app is running in the background the app crashes.  If I remove [FIRapp configure] from AppDelegate.m I do not have an issue deep linking using Linking.addEventListener().

### Environment

1. Application Target Platform:

2. Development Operating System:

3. Build Tools:

4. React Native version:

5. RNFirebase Vers

[2018-01-12 16:45] chrisbianca commented on #747
That doesn't help - we need to see the actual logs, which you can also find in XCode in the Report Navigator tab

[2018-01-12 16:57] iamthehunta commented on #747
the last two logs were...

2018-01-12 11:41:11.421908-0500 APP[6402:1823113] TIC Read Status [18:0x0]: 1:57
2018-01-12 11:41:11.421958-0500 APP[6402:1823113] TIC Read Status [18:0x0]: 1:57
(lldb)

[2018-01-12 18:53] gvillenave commented on #734
Thanks, that's what I thought! I opened an issue with Firebase and I will report back here with what they say.

[2018-01-12 20:51] victorsferreira opened #748 "Can't build for Android probably due to a conflict of Google Play Services"
I setup my app with 'react-native-firebase' to receive the notifications. The problem now is that I have to find a way to show the notifications in the UI

I installed 'react-native-push-notifications' and now I cant build the project anymore. I get the error at 96%

" UNEXPECTED TOP-LEVEL EXCEPTION:
com.android.dex.DexException: Multiple dex files define"

It seems to be a conflict with the versi

[2018-01-12 21:29] pisacode opened #749 "is it posibble to do whitelisting"
Hi
For security, can we add whitelisting as if we were developing with native ios or android app?

[2018-01-12 21:47] jmhuret commented on #557
Thank you @gusgard, that's not an obvious thing to do and it was just what I needed.

[2018-01-13 00:39] victorsferreira commented on #223
where is it documented?

[2018-01-13 10:00] nielsmadan commented on #538
I have the same problem and the workaround is not pretty (close modal, show ad, re-open modal).

A real fix would be great.

[2018-01-13 17:26] Ehesp commented on #748
FAQ has been done on this: https://rnfirebase.io/docs/v3.2.x/faqs#[Android]-Duplicate-Dex-Files-error-(build-time-error)

[2018-01-13 17:26] #748 closed

[2018-01-13 17:28] Ehesp commented on #736
@jolinkomo-code is this sorted? Your Podfile contains no reference to crashlytics?

[2018-01-13 19:46] IljaDaderko commented on #688
@chrisbianca just ran into same issue, since this was posted a month ago wanted to ask if you guys have and eta for next release that fixes this?

[2018-01-13 20:03] Ehesp commented on #688
@IljaDaderko It's already live, from 3.2.0

[2018-01-13 20:07] acmayberry commented on #595
@chrisbianca  I am still experiencing all of the behavior described by @ashour in #559 even though that issue has been marked closed.  I am using v3.2.2.

I still get undefined for getInitialNotification() when activating the app on iOS by clicking on a notification.

I still get caching of getInitialNotification() when starting or activating the app on Android i.e. every time I open or activate t

[2018-01-13 23:49] hmolotsi opened #751 "Exception calling signInWithPhoneNumber"
[phone-auth-source-file.txt](https://github.com/invertase/react-native-firebase/files/1628865/phone-auth-source-file.txt)

### Issue

Exception calling signInWithPhoneNumber (see attached file). This was working until recently and now causes a crash in our Android app.

Exception java.lang.IllegalArgumentException: Cannot create PhoneAuthCredential without either verificationProof, sessionInfo, or

[2018-01-13 23:52] digitaledge commented on #737
@Mamdouh-Symbyo
You need to upload your certificate to the firebase messaging settings.
Then enable push messages in xcode and it will work even when running the app in background and its closed.

[2018-01-14 07:49] IljaDaderko commented on #688
@Ehesp I'm still seeing errors like this `auth doesn't exist on firebase` and by looking at the master branch, index.d.ts is still located in `./lib/index.d.ts` as author mentioned.

[2018-01-14 11:34] pheromonez commented on #688
@IljaDaderko My original post was about the `Could not find a declaration file for module 'react-native-firebase'` error.
In your case, the typings are being brought in correctly however you may not be using the interface in the intended way. For instance, we use the `messaging` module in our application, and our code looks like this:
[code]

Change `messaging` to `auth` to access the `auth` modul

[2018-01-14 13:04] IljaDaderko commented on #688
@pheromonez you are right, that resolves it.

[2018-01-14 14:45] RevanScript opened #752 "Build fails. Dex issue"
Build fails with the following log:

[code]

Any idea? It usually happens when `multiDexEnabled true` is not set, but i have it in my `build.gradle`

[2018-01-14 15:01] RevanScript commented on #752
It compiled successfully when i uncommented `multiDexEnabled true` in `node_modules/react-native-firebase/android/build.gradle` lol

[2018-01-14 15:07] IljaDaderko opened #753 "Unable to log in via facebook sdk + signInWithCrdential"
### Issue

I'm not 100% positive on this, but I think that credential created via `auth.FacebookAuthProvider.credential(facebookToken);` might be wrong or missing something, alternatively something might be wrong with `auth().signInWithCredential`

### Environment

1. Application Target Platform: iOS

2. Development Operating System: macOS High Sierra

3. Build Tools: XCode Version 9.2, iOS 11

4.

[2018-01-14 16:55] Ehesp commented on #752
Hello, please see https://rnfirebase.io/docs/v3.2.x/faqs#[Android]-Duplicate-Dex-Files-error-(build-time-error)

[2018-01-14 16:58] Ehesp commented on #749
Please give some context - not sure what you mean?

[2018-01-14 18:28] ritz078 commented on #745
Here is the full stacktrace
<details>

[code]

</details>

[2018-01-14 21:48] pilot4u commented on #627
we are experiencing the same issue
tried integrating using:
pod "Firebase/Core"
as described here: https://rnfirebase.io/docs/v3.1.*/installation/ios#4.-Setup-Firebase-Pods
but the problem wasn't solved
anybody managed to solve this issue?

[2018-01-15 01:32] yoonsy commented on #736
@Ehesp @chrisbianca
Sorry for late response. Pasted my `Podfile.lock`.
Thank you in advance and for nice open source.

[code]

[2018-01-15 06:08] jolinkomo-code commented on #736
@Ehesp  yes its sorted. Im not using crashlytics.

[2018-01-15 07:50] pisacode commented on #749
Hi,

I am sorry to be very brief. I was looking for a solution to not expose API Keys, or even if I expose the keys I would like to protect the firebase account with whitelisting domains or adding a access restiriction with Bundle Ids or SHA like it is mentioned on this [link](https://firebase.google.com/support/guides/launch-checklist). However I then realize this plugin does not require initilia

[2018-01-15 07:55] Ehesp commented on #749
Thanks I see what you mean. The Web point there doesn't apply to native apps. The android and ios points aren't really rnfirebase related, it's something you'd do before releasing to production within Android Studio or Xcode. Cheers

[2018-01-15 07:55] #749 closed

[2018-01-15 08:03] chrisbianca commented on #717
Thanks for the fix @omer88.
@Kottidev we'll get a release out this week at some point with the fix in.

[2018-01-15 08:03] #717 closed

[2018-01-15 08:05] chrisbianca commented on #753
@IljaDaderko Have you enabled and configured Facebook login on the Firebase Auth dashboard? Can you check the native iOS logs - there should be a corresponding error which may have more information...

[2018-01-15 08:07] IljaDaderko commented on #753
Yep, all is configured in firebase and facebook's developer console. As soon as I get my hands on my laptop I'll drop some native logs here 👍

[2018-01-15 08:08] chrisbianca commented on #745
Please see: https://rnfirebase.io/docs/v3.2.x/faqs#[Android]-Duplicate-Dex-Files-error-(build-time-error)

[2018-01-15 08:08] #745 closed

[2018-01-15 10:45] rajeshzmoke commented on #734
im also facing this issue but in India.. The code sent is getting expired immediately

[2018-01-15 11:26] Naoto-Ida commented on #667
Any solutions for this? We also have a Swift-based project.

[2018-01-15 11:28] tirrorex commented on #667
@Naoto-Ida best solution i found so far was to copy paste the objective-c sources in my project

[2018-01-15 14:04] danielw93 commented on #579
Hey!
We're using this project in a typescript setup and I am currently slowly going through the definitions file and updating it piece by piece to the reflect the current master.
I am pretty new to TypeScript myself so it could take a while but I will keep you updated on the progress.

For now I have forked the project and I am working on a new branch `update-typings`

[2018-01-15 14:37] accordionpeas commented on #595
Hello, can I ask if #678 will be addressed in the v3.3.0 release? And if there is an estimate on when the release will be ready? Thanks for all your hard work on this.

[2018-01-15 15:02] IljaDaderko commented on #753
@chrisbianca alright just got it running. No error pops up at an actual "login" bit, but this shows up on application start:

[code]

[2018-01-15 16:17] afilp commented on #732
@omer88 The instructions here at the end show that we should enter google's link:

`` android:host="your.dynamic.links.domain.example.com``

https://rnfirebase.io/docs/v3.2.x/links/android

[2018-01-15 16:51] FacuAcosta commented on #753
I'm facing the same issue right now, what have you done to fix it?

[2018-01-15 17:08] IljaDaderko commented on #753
@FacuAcosta nothing at the moment, we are trying to find a cause.

[2018-01-15 18:02] IljaDaderko commented on #753
hmm, might be related but typescript gives this error for credential, looks like fbsdk doesn't generate `provider` property that firebase expects? At least according to their typings.

[code]

[2018-01-15 19:30] eugenecp opened #754 "Firestore offline persistence, fromCache is always false"
### Issue

I already set my internet access to Airplane Mode, however the metada fromCache is always false.

 ref.onSnapshot((qrySnapshot) => {
                console.log(qrySnapshot.metadata);
});

android log
01-15 11:26:09.518 15260  6986 I ReactNativeJS: { hasPendingWrites: false, fromCache: false }

### Environment

1. Application Target Platform:
Android

2. Development Operating System:
Wi

[2018-01-15 20:10] eugenecp commented on #754
(Update)
Forget it... All is good after I reinstall the react-native-firebase module.

[2018-01-15 23:00] gvillenave commented on #734
@rajeshzmoke could you also open an issue with Firebase support (https://firebase.google.com/support/contact/troubleshooting/)? Hopefully with more reports we can get the ball rolling on a fix sooner.

[2018-01-16 00:05] dolphinflow86 commented on #735
I have same issue as above only when I query on timestamp object. Android works fine but IOS. I did same query on unix time (ex : 1516059042977) and it has no problem at both Android and IOS.

[2018-01-16 00:18] markmoul10 commented on #735
@dolphinflow86  are you saving the unix time as a string or number?

[2018-01-16 00:44] dolphinflow86 commented on #735
@markmoul10  I saved unix time as a number.

[2018-01-16 03:40] anthonydito commented on #682
@priezz For me, this problem was solved by simply removing my app from the device/emulator and then reinstalling using `react-native run-android`.

[2018-01-16 05:22] ryota-murakami opened #755 "Deprecation: Calling 'initializeApp()' for apps that are already initialised natively is unnecessary, use 'firebase.app()' instead to access the already initialized default app instance."
### Issue
I'm facing `Deprecation: Calling 'initializeApp()' for apps that are already initialised natively is unnecessary, use 'firebase.app()' instead to access the already initialized default app instance.` warning.

![screen shot 2018-01-16 at 14 15 34](https://user-images.githubusercontent.com/5501268/34972886-dd9d0dee-fac7-11e7-9baa-a4ed0f53ed44.png)

that looks like following message into t

[2018-01-16 06:12] IljaDaderko commented on #755
Your firebase config is handled by files you download from them and place into your native projects i.e. Google-info.plist and google-services.json (I think they are called this way). react-native-firebase initialises an instant based on these in native during app bootstrap, so you don't have to do it. If you want to edit the configs you can do so easily in xCode / Android studio or even editor li

[2018-01-16 08:52] galikvalkin commented on #734
Hey, guys.
We've faced this problem too.
Looks like it happens only on android, because on iOS everything works fine.

[2018-01-16 08:59] chrisbianca commented on #755
@IljaDaderko explained this perfectly - since v3 it has not been necessary to initialise the default app as this is handled completely on the native side.

One thing I would point out, it isn't necessary to do `firebase.app().auth()`, you should just be able to run `firebase.auth()` which automatically returns the auth instance for the default application.

@IljaDaderko are you using Typescript? I

[2018-01-16 08:59] #755 closed

[2018-01-16 09:00] #754 closed

[2018-01-16 09:00] chrisbianca commented on #753
@IljaDaderko as per the other thread, I'd take it you're using Typescript? This looks like a typings error, rather than anything with the library itself...

[2018-01-16 10:35] Taimoormk opened #756 "Failed to initialize app. FirebaseOptions missing or invalid 'databaseURL' property."
Failed to initialize app. FirebaseOptions missing or invalid 'databaseURL' property.

Firebase is hooked up fine on iOS but on Android it throws up above mentioned error also attached as a screenshot. Following code I am using in various Android grade and MainApplication files;

**build.gradle**

// Top-level build file where you can add configuration options common to all sub-projects/modules.

b

[2018-01-16 10:50] IljaDaderko commented on #755
@chrisbianca yep, using typescript. Main reason for me using `firebase.app()` is that it has correct typings i.e. `firebase.app().auth()` passes ts, where as `firebase.auth()` doesn't

[2018-01-16 10:52] IljaDaderko commented on #753
@chrisbianca my last comment, yep, but this issue as a whole looks like something wrong with `signInWithCredential` to me. I checked fbsdk setup, firebase has enabled facebook login, I get token from facebook correctly, but my app errors at firebase login.

[2018-01-16 11:08] ZakherM commented on #232
There's a feature request on the expo canny.io
https://expo.canny.io/feature-requests/p/adding-react-native-firebase-to-expo
it deserves a vote.

[2018-01-16 11:27] pravinraut809 commented on #275
Plss ,, Someone get me the full code.....

[2018-01-16 11:41] muganwas commented on #674
I had the same error which was being cause by conflict in google play services
`compile "com.google.android.gms:play-services-base:11.6.0"`
`compile "com.google.android.gms:play-services-auth:10.6.1"`<--//had to change this to 11.6.0

[2018-01-16 12:58] IljaDaderko commented on #753
Oh my days I am such a noob, resolved my issue. Somehow a merge conflict occurred and firebase setup files were not updated and used old ones. Testing this in android gave error with more context, it failed because old app is in pending deletion process.

@FacuAcosta it is probably something else for you, but double check you have correct google plis tand json files for firebase. Make sure Faceboo

[2018-01-16 12:58] #753 closed

[2018-01-16 14:06] edlovejoy commented on #127
i had same issue and i did a temp fix where i went to the activity_login and add
android:text="email" plus the hint too. so the user have to delete this email before they put
in the new one..so if the login without any input then they will get the regular login error instead of
a crash..  because the text is not making the it empty any more.. but i will look into it further with a proper way to va

[2018-01-16 15:27] Ehesp commented on #275
@pravinraut809 it's basically above you.

[2018-01-16 15:28] Ehesp commented on #756
Is your json file from Firebase in the correct place?

[2018-01-16 15:30] Ehesp commented on #755
@IljaDaderko That's strange though, this line (https://github.com/invertase/react-native-firebase/blob/master/lib/index.d.ts#L30) suggests you should be able to access the `auth` by calling `auth()`

[2018-01-16 15:34] IljaDaderko commented on #755
@Ehesp I see, it doesn't seem to work for me ts wise, here is demonstration of what I am seeing currently, hope it gives more context

![Preview](https://media.giphy.com/media/26gN0vDpPe6SbMl32/giphy.gif)

[2018-01-16 15:37] Taimoormk commented on #756
Yes it is, to be on safe side, I copied it in android and android/app folders to make it work, but still no luck!

[2018-01-16 19:04] gvillenave commented on #734
@galikvalkin Thanks for the info, that's what I suspected. Out of curiosity, which country did you have the issue with, and did you open a ticket with Firebase support? I'm trying to gather as much data as I can to send them.

[2018-01-16 19:08] galikvalkin commented on #734
@gvillenave
We've opened ticket on Firebase support.
Country: Ukraine.

[2018-01-17 05:29] Metroninja opened #758 "'Firebase/Firestore' Podfile Addition breaking ios builds"
### Issue
When adding the `'Firebase/Firestore'` line to my Podfile (and of course run pod install), my `react-native run-ios` builds break with a large amount of unrelated errors.  The errors are overflowing my console logs they are so large, but posted some below.  The errors appear to be in core modules which is even more confusing.   Examples
[code]
Please note - I was using firebase auth with

[2018-01-17 06:33] butchmarshall opened #759 "remote config - always config/failure"
Admob, cloud messaging and analytics packages are all working nicely for me.

I'm now trying to use the remote config.

The example always throws to the error condition for me?  Is there something additional I need to set up in the firebase console?

I'm running react-native 0.51.0 & react-native-firebase 3.2.0.

[code]

[2018-01-17 08:09] pravinraut809 commented on #275
Sir,, want the full code ..

[2018-01-17 08:09] pravinraut809 commented on #275
Also for phone auth

[2018-01-17 08:22] omer88 commented on #732
Hi @afilp ,
What should actually be there is *your* domain (the one you have specified at link field on createDynamicLink / createShortDynamicLink)
The instructions are not so clear regarding this.

[2018-01-17 08:31] chrisbianca commented on #275
@pravinraut809 if you want a full code example, consider purchasing our auth starter kit which has everything set up for you: https://rnfirebase.io/kits/auth-starter

[2018-01-17 08:41] chrisbianca commented on #759
@butchmarshall What's the error?

[2018-01-17 08:42] chrisbianca commented on #758
There was an issue with the early version of Firestore pods which caused a gRPC conflict.  Can you send the content of your `Podfile.lock`?

[2018-01-17 08:43] chrisbianca commented on #756
Can I see how you're using initializeApp on the JS side?

[2018-01-17 09:06] chrisbianca commented on #751
@hmolotsi It doesn't look like you're listening for the `onAuthStateChanged` event to detect Android auto-verified numbers as per: https://rnfirebase.io/docs/v3.2.*/auth/phone-auth#3.-[Android]-Handle-Auto-Verification

[2018-01-17 10:34] Taimoormk commented on #756
Yes you may, following is the code I am using for android configuration;

//pluck values from your 'google-services.json' you created on the firebase console
const androidConfig = {
  clientId: '<clientID>',
  appId: '<appID>',
  apiKey: '<apiKey>',
  databseURL: '<databaseURL>',
  storageBucket: '<storageBucket>',
  messagingSenderId: '<messagingSenderID>',
  projectId: '<projectID>',
  persisten

[2018-01-17 10:36] chrisbianca commented on #756
I assume you are supplying a databaseURL and not sending it through as an empty string?

[2018-01-17 10:39] Taimoormk commented on #756
Yes you are correct, I actually placed placeholders within every string but for some reason it didn't come up in my last post, I am using all the configuration details from the google-services.json file supplied by Firebase console.

On the other note, same values are working fine with the iOS platform.

[2018-01-17 10:43] chrisbianca commented on #756
`databseURL` is spelt incorrectly, it should be `databaseURL`

[2018-01-17 10:48] Taimoormk commented on #756
Woopsy! good catch, cheers mate.

[2018-01-17 10:48] #756 closed

[2018-01-17 13:10] llvc opened #760 "Cannot get any response in signInWithPhoneNumber"
I am going to sign in with phone number. So I used signInWithPhoneNumber in firebase phone authentication. It works on iphone but not work on android.
In detail of problem, I cannot get any promise response of 'then' as well as 'catch'.
I waited for 30 mins but didn't get any response.
I run the app on Nox. but I got same error in real device.
And I followed all steps in doc
The code is

[code]

I

[2018-01-17 13:24] Ehesp commented on #760
Hello - could you check in Android logs for any errors / messages? Sounds like something native isn't returning which the logs will let us know about.

[2018-01-17 13:58] llvc commented on #760
I got `Sending code ...` on logcat. And I didn't get anything else.
I didn't use browser debug mode.
Informing one thing missed, I didn't specify  `apply plugin: 'com.google.gms.google-services'` in app/android/build.gradle

[code]

[2018-01-17 14:46] llvc commented on #760
I could solve this by revising android/app/build.gradle as following.

dependencies {
    compile(project(':react-native-firebase')) {
        transitive = false
    }
    compile "com.android.support:support-v4:26.1.0"
    compile "com.android.support:design:26.1.0"
    // Firebase dependencies
    compile "com.google.android.gms:play-services-base:11.6.0"
    compile "com.google.firebase:firebas

[2018-01-17 14:46] #760 closed

[2018-01-17 14:46] llvc commented on #760
I could solve this by updating android/app/build.gradle as following.

[code]

[2018-01-17 15:04] Salakar commented on #661
Hey all, looks like there was a firebase sdk release yesterday re https://github.com/firebase/firebase-ios-sdk/issues/233 - which in theory should fix this:
![image](https://user-images.githubusercontent.com/5347038/35049350-9ae440a0-fb97-11e7-9aa3-0ceb61eeb36a.png)

Can someone try updating their Links pod to the version mentioned there and see how they get on?

[2018-01-17 15:39] Salakar commented on #661
Turns out the pod hasn't been published yet, hopefully there end of the day...

[2018-01-17 16:57] marcoizzo opened #762 "reauthenticateWithCredential makes app crashes [iOS + Android]"
When reauthenticateWithCredential method is called, app crashes on iOS and Android.

I would like to change user password. This is my code:

[code]

Xcode log says:
`Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: 'Either IDToken or accessToken must be supplied.'`

On Android:
<img width="344" alt="schermata 2018-01-17 alle 17 53 36" src="https://user-images.githubu

[2018-01-17 17:03] Metroninja commented on #758
of course
[code]

[2018-01-17 18:21] OleksiyA commented on #661
Firebase iOS Release is delayed, expected release date Thursday January 18, 2018.
Please try new release and let me know did it fixed this issue.

[2018-01-17 18:39] Salakar commented on #661
No worries @OleksiyA , thanks for the update.

[2018-01-17 18:53] danmatthews commented on #758
Getting similar problems - can compile in `debug` build configuration no problem, but changing to `release` breaks the build with similar errors - lots of conflicting types.

Removing the firestore pod allows it to build in `release` perfectly, but i need firebase support.

Here's my podfile:
[code]

Thanks

[2018-01-17 19:01] Metroninja commented on #758
@danmatthews - give this a shot.  I hot patched a few files in react-native-google-signin since it's missing some key fixes and things are building again.  [Try implementing this fix](https://github.com/devfd/react-native-google-signin/pull/310/files) and see if you can build again.

[2018-01-17 19:03] danmatthews commented on #758
@Metroninja thanks i'll take a look, i didn't actually realise i had Google signin module enabled but it must come as part of Expo.

I'll take a look at this in an hour or so, thankyou!

[2018-01-17 19:32] soutot commented on #423
@kohchihao unfortunately, this was the only solution I found that worked for me.
You can try checking if any of these closed issues help you:
https://github.com/invertase/react-native-firebase/issues/354#issuecomment-324312296

https://github.com/invertase/react-native-firebase/issues/246#issuecomment-315043420

[2018-01-17 21:09] hmolotsi commented on #751
Thanks @chrisbianca

[2018-01-17 23:53] Kush5900 opened #763 "unable to handle notification click_action to navigate to notification screen or perform a custom action after notification click"
i'm using this library and react-navigation for navigating and i can push notification from server or console successfully whether its in foreground or background but i swear the documentation is not pretty clear how to open notification and navigate to the notification screen. these are my onMessage codes.

[code]
i'm running the version 3.2.2 of this library i think its the latest

[2018-01-18 02:55] Shinichi52 commented on #223
@sseyha i'm using react-native-fcm. it's working fine

[2018-01-18 08:35] #751 closed

[2018-01-18 08:38] chrisbianca commented on #758
I actually submitted a similar PR months ago, but it hasn't been looked at or merged: https://github.com/devfd/react-native-google-signin/pull/310!

With our auth starter kit, we ship it with a versioned dependency from the Invertase fork.

Try with:

`npm install --save https://github.com/invertase/react-native-google-signin.git#v0.12.1`

[2018-01-18 08:40] chrisbianca commented on #762
`reauthenticateWithCredential` needs a credential, not the email and password:
[code]

[2018-01-18 08:40] #762 closed

[2018-01-18 08:57] chrisbianca commented on #667
@tirrorex Take a look at the release notes for: https://github.com/invertase/react-native-firebase/releases/tag/v3.2.2

This made some header changes and talks through how to ensure that RN gets compiled before RNFirebase.  Let me know if it works for you and I'll update the documentation to add a section on how to get this working.

[2018-01-18 09:00] chrisbianca commented on #579
@danielw93 If you're happy that the type changes you've made are working then please feel free to submit a PR request of where you've got to. We'd prefer incremental updates as they're easier to look over!!  I've just had a look at your branch and in particular, your auth ones would be a great addition.

[2018-01-18 09:58] afilp commented on #732
@omer88 Thanks! This was indeed confusing on the instructions.

[2018-01-18 10:00] kohchihao commented on #423
Hi @soutot , it finally worked. For my case, it was because I copied the react-native-maps config to my podfile and it caused the app to have different version of React . Removing the react-native-maps config solved my problem.

[2018-01-18 10:17] tirrorex commented on #667
We are switching to a full react-native project (with react-native init so objective-c project) so i won't be able to try this for a while.

[2018-01-18 12:10] danmatthews commented on #758
Thanks guys, looks like it builds for release now and i can continue to keep developing.

I've submitted PR for the docs too [here](https://github.com/invertase/react-native-firebase-docs/pull/25) which could help others.

[2018-01-18 12:17] chrisbianca commented on #758
@danmatthews thanks, have merged the PR. I'll mark this issue as closed.

[2018-01-18 12:17] #758 closed

[2018-01-18 14:06] uppercase-army commented on #223
@hisokakei I've only added that flag after doing an initial build. Would I need to relink the plugin?

[2018-01-18 14:56] darioielardi commented on #676
I'm experiencing this too.

[2018-01-18 16:23] danielw93 commented on #579
Right! Didn't think about that.
I've isolated my changes for the `auth` module and submitted pull request #764

[2018-01-18 16:27] kevboh commented on #561
I'm also seeing latitude work but longitude not.

[2018-01-19 03:02] dannycochran commented on #659
@chrisbianca sorry for the slow reply. It's definitely out of your control. I didn't really get a ton of info from the Firebase team. Here's what I think is happening, though:

When the app is closed, and a resource gets deleted remotely (e.g. using the Firebase UI), Firebase still has the data on disk and has not received updated data from the server. When re-opening the app, there's a race condi

[2018-01-19 05:02] callagga opened #765 "android updates not getting to firestore backend, cached responses provided instead"
Background:  I'm successfully integrating to firestore via react-native-firebase for IOS.  When now aiming to get Android working the app is displaying rows I add via subscribing to updates, however it is all local, and not correcting through to the firestore backend.  I checked the documents returned and they have doc.metadata.fromCache = true, whereas when I run on IOS this is always false.    O

[2018-01-19 09:51] Rewieer opened #766 "The [[DEFAULT]] firebase app has not been initialized!"
### Issue

I've been running updates on my project lately and for some unknown reason I'm starting to get this error.
Here's my build.gradle file :
[code]

### Environment

1. Application Target Platform: Android
2. Development Operating System: Debian 9
3. Build Tools: 25.0.1
4. React Native version: 0.52.0
5. RNFirebase Version: 3.0.5

[2018-01-19 11:08] Ehesp commented on #765
is there anything coming through in the Android native logs?

[2018-01-19 11:15] callagga commented on #765
do you mean just "react-native log-android" logs?

If I add one item after another I see (copy/paste):
[code]

[2018-01-19 11:17] callagga commented on #765
If I run up the code on IOS however I get this:

IOS Log:
[code]

[2018-01-19 11:19] hisokakei commented on #223
@uppercase-army you need to rebuild your app to make it work as it changed native code.

The change is merged to master too. You may upgrade your library to master

[2018-01-19 11:24] Ehesp commented on #765
If you open your project in Android Studio, it will give you the full device logs in the "Logcat" tab at the bottom. I'm not sure what log-andoid filters out!

[2018-01-19 11:24] afilp commented on #732
@omer88 It is also confusing what to put for ``CUSTOM_URL_SCHEME`` on iOS. There is different wording on the Android compared to iOS, so if we want to use the same url for both it is kind of confusing.

In Android it mentions this:  ``your.dynamic.links.domain.example.com``
In iOS it mentions this: ``URL scheme field to either your **bundle identifier** or a unique value.``

So, if I want to use t

[2018-01-19 11:33] callagga commented on #765
oh ok - if I start the app, and then do a "reload" I see this:

The last entry seems suspicious:

[code]

[2018-01-19 11:36] callagga commented on #765
PS I didn't seem to pick up an error subscribing to updates in my code (ie. _firebase.firestore().collection('todos').onSnapshot_) in the sense I didn't see any console output corresponding to where I try to catch an error here:

`console.log('updatedListsSaga: Received error from onSnapshot list update');
`

[2018-01-19 11:48] Ehesp commented on #765
Hmm, we don't actually have any tests for the onSnapshot with the full list of args. Have you tried it with the 4th `onCompletion` argument at all?

I'm wondering whether the internal logic isn't handling your use case.

[2018-01-19 11:58] callagga commented on #765
I put in onCompletion and it doesn't seem to hit this console.log line:  That is:
[code]
Also the logcat output when all I do is keep adding new rows is:

[code]

[2018-01-19 21:13] victorsferreira opened #767 "FCM getToken always returning null and no notifications are received on Android"
"react": "16.2.0",
"react-native": "^0.52.0",
"react-native-firebase": "^3.2.2",
Platform: Android

I'm developing this app that will receive notifications from Firebase. After one week of development I stoped receiving new notifications. So I started debugging and I realized that the token it gets is always null now. Notifications are not received anymore.

The anonymous signin is alright, I get

[2018-01-19 23:05] georgevanderson commented on #735
Also receiving this error. To add more information, I did some testing and this only occurs on subcollection queries of descending order. For descending order StartAfter's at root level it works perfectly fine as well as ascending in a subcollection.

[2018-01-20 00:17] callagga commented on #719
FYI - was able to confirm the expected 2nd event operation directly here:

[code]

with console output:

[code]

[2018-01-20 02:53] nishp1 commented on #736
I m getting same error.

Here is my `Podfile.lock`.

[code]

Let me know what I can do on my end to help trace this further.

[2018-01-20 03:11] nishp1 commented on #736
Hmm, weird. After restarting XCode, it worked. Smh.

[2018-01-20 07:22] nilaybrahmbhatt opened #768 "big Image in Remote notification"
**#**How can I display notifications with an image sent from console side?****

![pushnotifyresult3](https://user-images.githubusercontent.com/6310631/35181042-97e728cc-fde0-11e7-8160-0176df73d571.gif)

1. Application Target Platform: 26
2. Development Operating System: windows
3. React Native version: 0.50
4. RNFirebase Version: 3.2.2
6. Firebase Module: messeging

[2018-01-20 08:08] callagga commented on #719
FYI - I swapped out "react-native-firebase" with just "firebase" in my react test app, and now the two events are coming through fine (only tried on IOS so far).  So when coming back online after changes offline you get the automatic synch under the bonnet happening which you can see (as it's the 2nd event that gives this)

[2018-01-20 09:19] ygweric commented on #516
https://rnfirebase.io/docs/v3.2.x/installation/ios

[code]

[2018-01-20 11:44] omer88 commented on #732
Hi @afilp ,
Did you mean `iosCustomScheme` ?
If so, it's an optional parameter which you have to provide in case of custom URL scheme, was defined to be something other than your app's bundle ID.
see: https://firebase.google.com/docs/reference/dynamic-links/link-shortener

[2018-01-20 11:47] Kush5900 commented on #763
i did managed to fix this! it was due to my dumbness

[2018-01-20 11:48] #763 closed

[2018-01-20 12:22] Ehesp commented on #768
This isn't currently possible - https://github.com/invertase/react-native-firebase/issues/595

[2018-01-20 12:22] #768 closed

[2018-01-20 12:40] inventrix commented on #294
Same problem when I want to run my application via Xcode. Error message is:

Argument list too long: recursive header expansion failed at /Users/bsevindi/Desktop/projects/aracqr/node_modules/react-native-firebase/ios/../../../ios/Pods/React/node_modules/yeoman-generator/node_modules/inquirer/lib.

My development environment is:
react-native-cli: 2.0.1
react-native: 0.52.0
react-native-firebase: ^3

[2018-01-21 00:48] callagga commented on #765
some update from firebase groups below

[code]

[2018-01-21 08:58] sukumardv3101 opened #769 "not showing notifications on ios device but in backend onmessaging function returning the notification message"
here is the code snippet.

import firebase from 'react-native-firebase';

const notif = firebase.messaging();

componentDidMount () {
    notif.requestPermissions();

     notif.getToken()
        .then(res => {
           console.log(res); // returing device token
        })
        .catch( err => {
          console.log(err)
        })

    if(!firebase.database().app._initialized){
           c

[2018-01-21 11:22] Ehesp commented on #769
Please follow the issue template.

[2018-01-21 11:22] #769 closed

[2018-01-21 12:49] Salakar commented on #766
@Rewieer could you provide us the full error + stack trace - so we can see where exactly the error is occurring, thanks

[2018-01-21 12:55] Salakar commented on #767
`fcm.getToken()` -> what is this and where is it coming from? Could you provide full example of code, thanks.

[2018-01-22 05:40] RileyDavidson-Evans commented on #568
I am also having this issue unforutnetly, non responsive query :
`
firebase.firestore().collection('Workouts')
      .where('userId', '==', firebase.auth().currentUser.uid)
      .orderBy('timestamp', 'desc')
      .onSnapshot((snapshot) => {
        const records = [];
        snapshot.forEach(record => records.push(record.data()))
        this.setState({ records });
      });
`

remove the order

[2018-01-22 08:02] Rewieer commented on #766
Solved the issue by removing `xmlns:tools="http://schemas.android.com/tools"` and `tools:node="replace"` from my AndroidManifest.xml, thanks you !

See [this](https://github.com/react-native-community/react-native-camera/issues/1086) for more information

[2018-01-22 08:43] chrisbianca commented on #765
@callagga this issue applies to the Firebase JS SDK, not the Android native SDK.

[2018-01-22 10:10] drailanjohngss commented on #632
@projekt86 how can I the RNFirebaseMessaging.h in the headers Libraries/RNFirebase -> Build Phases? I can't find it.

[2018-01-22 12:09] SandeshBG opened #770 "FCM Notification Banner is not shown in IOS device"
### Issue
I have been trying to implement fcm in one of the project I am working. In android the notification is shown correctly. But In IOS the banner is not shown. I am getting the message in the background. But notification banner is not displayed.

This is my code:

import firebase from 'react-native-firebase';

const notif = firebase.messaging();

componentDidMount () {
notif.requestPermissio

[2018-01-22 13:59] 6pm opened #772 "Remove Crashlytics or set this module optional"
After update from 3.1.0 to 3.2.2 I facing with build error - `This app relies on Crashlytics. Please sign up for access at https://fabric.io/sign_up,
                                                    install an Android build tool and ask a team member to invite you to this app's organization.`

I don't want use this analytics service because I prefer sentry.
Please remove it or set optionally

T

[2018-01-22 18:54] KimAM opened #773 "Build error with use_frameworks! in version 3.2.2"
Hi,

When adding `use_frameworks!` to our Podfile we get the following error when building:

[code]
I've followed all the steps in the release guide for version 3.2.0 and 3.2.2. Firebase is added as a dependency in the Podfile and we added react-native-firebase with `react-native link react-native-firebase`. We've also added our Pods_{projectName}.framework to Link Binary with Libraries inside RNF

[2018-01-22 20:44] Salakar commented on #772
@6pm can we see your build gradle? If you added the `transitive = false` as per docs you shouldn't be having Crashlytics included as part of your build.

![image](https://user-images.githubusercontent.com/5347038/35243487-f884c092-ffb4-11e7-926d-719244788424.png)

[2018-01-22 20:54] Salakar commented on #619
For future readers, this is documented here: https://rnfirebase.io/docs/v3.2.x/core/default-app#Enable-Database-Persistence

[2018-01-22 20:54] #619 closed

[2018-01-22 20:56] gvillenave commented on #751
@chrisbianca Is listening to onAuthStateChanged the only way to implement this flow on Android? I was under the impression that calling confirm manually should work as well. It's especially an issue for devices like tablets that don't necessarily have a phone number and people use a separate device to authenticate.

Thanks!

[2018-01-22 21:00] Salakar commented on #676
@connercms might be worth splitting up your logic there asynchronously using a library such as `async` - sounds like you have a lot of traffic going through the RN bridge all at once and locking up your JS thread.

Be worth updating to the latest version of RNFirebase as well - just in case there's an underlying firebase sdk issue that has since been fixed.

[2018-01-22 21:00] #676 closed

[2018-01-22 21:02] Salakar commented on #728
@callagga are you still facing this issue, which platform, what versions etc? Please fill out the issue template if you are still facing this issue - we're not mind readers =]

[2018-01-22 21:05] Salakar commented on #770
@SandeshBG not entirely sure where you've got half of this code from? `if(!firebase.database().app._initialized){` for example doesn't exist

Also please see https://github.com/invertase/react-native-firebase/issues/595

[2018-01-22 21:05] #770 closed

[2018-01-22 21:08] Salakar commented on #773
@KimAM that's a weird one, certainly sounds like xcode derrived data issue where it's not being cleared, if you try the below straight after nuking your build dir does it still occur?

![image](https://user-images.githubusercontent.com/5347038/35244535-57d3743c-ffb8-11e7-8886-2910d55f4d73.png)

[2018-01-23 03:44] dwmkerr commented on #758
@danmatthews @chrisbianca thanks for fixing this guys, this killed me for a few days, so relieved to be unblocked now! Hopefully the PR will go into `react-native-google-signin` soon. If not, the invertase fork may be the new standard to use!

[2018-01-23 04:33] drailanjohngss commented on #632
I solve this one by putting
```$(SRCROOT)/../node_modules/react-native-firebase/ios/RNFirebase/messaging```
in to the Header Search paths

[2018-01-23 07:34] matyasfodor commented on #294
@inventrix I have the same issue, I can confirm this bug

[2018-01-23 07:38] inventrix commented on #294
@matyasfodor, in my case I got "Argument list too long" after running "pod update". So I revert the changes that pod update made and the problem disappeared.

[2018-01-23 07:41] matyasfodor commented on #294
@inventrix I managed to solve it by removing `React` from `ios/Pods`.

[2018-01-23 09:20] IljaDaderko opened #774 "Typescript not working on `firebase.` unless used as `firebase.app().`"
### Issue

I was using `firebase.app().auth` previously until discovering that `app()` bit is no longer needed. Switching to `firebase.auth` causes typescript error below (not only for auth, but in general)

![example](https://camo.githubusercontent.com/577365d1cd23694bf237e375fb204d732d2ba394/68747470733a2f2f6d656469612e67697068792e636f6d2f6d656469612f3236674e3076447050653653624d6c33322f676970687

[2018-01-23 09:35] AmirTahani commented on #767
i have exactly the same problem

[2018-01-23 11:18] Ehesp commented on #774
@IljaDaderko does this happen on the other modules as well?

[2018-01-23 11:21] IljaDaderko commented on #774
@Ehesp indeed it does, judging by typescript suggestions a lot is missing, see screenshots for both `firebase.` and `firebase.app().` below (everything seems to be typed correctly for app())

![firebase](https://i.imgur.com/z6zKfFn.png)

![firebase.app()](https://i.imgur.com/6v15Brj.png)

[2018-01-23 11:55] FacuAcosta opened #775 "Unable to upload to multiple buckets"
Hi, we are using multiple buckets on our app. Since there is no documentation for the Storage on the Docs we are using the official one provided by Google. They say in there that for using a different bucket and not the default one, we need to use this function:

`var storage = firebase.app().storage("gs://my-custom-bucket");`
[](https://firebase.google.com/docs/storage/web/start)

While doing thi

[2018-01-23 12:01] Ehesp commented on #775
Hello, currently the string version of the URL doesn't work in RNFirebase. You can however pass the [App](https://rnfirebase.io/docs/v3.2.x/core/reference/App) instance you want.

[2018-01-23 12:30] K0ff33 opened #776 "Handling multiple storage buckets - uploading a file"
### Issue

I have a problem with uploading a file to a different bucket within the same account.

I've tried following the [official docs](https://firebase.google.com/docs/storage/web/start#use_multiple_storage_buckets) with the following code:
[code]
but receive the error: `Invalid FirebaseApp instance passed to firebase.storage(app <--)`

Also when trying to use:
[code]
the app crashes on iOS, w

[2018-01-23 12:36] K0ff33 commented on #776
Sorry, duplicate of #775

[2018-01-23 12:36] #776 closed

[2018-01-23 12:49] K0ff33 commented on #775
What is the best way to extend the current `App` instance with the new storage url without recreating the object?

Creating a completely new `App` instance resulted in having a user logged in to one (with default bucket) and not to the other one.

[2018-01-23 12:55] Salakar commented on #775
@K0ff33 https://github.com/invertase/react-native-firebase/pull/675 might be a good reference for you - this is how the multi-db by url support was implemented for database - technically the storage bucket url support should be very similar to this - if it helps.

[2018-01-23 14:56] abuammar commented on #313
where could i fined GoogleService-Info.plist

[2018-01-23 14:56] tirrorex commented on #294
Same here, i assume this has to do with an update since i had no issue to compile as of yesterday

[2018-01-23 20:10] KimAM commented on #773
Thanks for your reply! I took the step to manually link react-native (instead of using cocoapods) due to a problem with another library as well. Everything is working fine now.

[2018-01-23 20:10] #773 closed

[2018-01-24 08:54] Ehesp commented on #774
@pheromonez can you see what's going on here?

[2018-01-24 09:11] tirrorex commented on #294
@chrisbianca a quick fix that worked for me was to replace
${SRCROOT}/../../../ios/Pods/Headers/Public
by
"${SRCROOT}/../../../ios/Pods/Headers/Public/FirebaseCore" recursive

[2018-01-24 11:36] tirrorex commented on #736
I fixed by modifying the header and framework search path

[2018-01-24 13:03] pheromonez commented on #774
@Ehesp No problem, I'll submit a PR once I've got something ready

[2018-01-24 13:21] talhamuhammadashraf commented on #595
@chrisbianca  i am getting the message twice while its triggering once in the functions logs

[2018-01-24 13:29] talhamuhammadashraf opened #777 "Getting Notifications twice on a single trigger"
@chrisbianca i am getting message twice  on the devices while the function triggers once ,what could be the problem

[2018-01-24 13:32] DavideValdo opened #778 "[Android] NoClassDefFoundError: com.google.android.gms.ads.AdView"

[2018-01-24 13:35] #778 closed

[2018-01-24 14:21] abuammar commented on #313
@simplenotezy where can i find  GoogleService-Info.plist file.

[2018-01-24 14:22] abuammar commented on #313
@camel113 where can i find  GoogleService-Info.plist

[2018-01-24 14:53] #777 closed

[2018-01-24 14:55] Ehesp commented on #774
Awesome thanks very much!

[2018-01-24 18:13] Dezainer opened #779 "Problems with pagination(startAfter() in specific)"
Hello there guys,

I'm having a problem when attempting to do some pagination...
Variations happen and sometimes i get a warning and some times an error, but they are kind of the same

![screenshot_20180124-154909](https://user-images.githubusercontent.com/19918284/35348281-c493e536-011e-11e8-898d-bc83a2bd1495.png)

Anyways, it seems to be related to the **startAfter()** function of my query...
He

[2018-01-25 02:06] callagga commented on #728
actually perhaps close this one and reference:  https://github.com/invertase/react-native-firebase/issues/719#issuecomment-357191318

[2018-01-25 02:08] callagga commented on #719
Note whilst there is an issue in general re "react-native-firebase" once this is resolved currently there seems to be another specific issue for android as mentioned in comments https://github.com/invertase/react-native-firebase/issues/765, in the Firebase JS SDK.

[2018-01-25 10:26] AndreaStevanato opened #780 "iOS fails to build: React/RCTViewManager.h not found"
### Issue

I have build error `'React/RCTViewManager.h' file not found` after linking RNFirebase using `react-native link react-native-firebase`. I've started the project from scratch using the `react-native-maps` template. I think the issue can be related with React native maps that forces to import `React` via podfile

My Podfile
[code]

### Environment

1. Application Target Platform: iOS
2. De

[2018-01-25 10:43] Stas-Buzunko commented on #693
console.log output:
[code]

[2018-01-25 10:44] Stas-Buzunko commented on #693
xcode output (don't see any errors here)

2018-01-25 16:04:01.314186+0530 pivot3[412:100796] [Firebase/Analytics][I-ACS023007] Firebase Analytics v.40005000 started
2018-01-25 16:04:01.314720+0530 pivot3[412:100796] [Firebase/Analytics][I-ACS023008] To enable debug logging set the following application argument: -FIRAnalyticsDebugEnabled (see http://goo.gl/RfcP7r)
2018-01-25 4:04:01.377 [info][tid

[2018-01-25 10:45] Stas-Buzunko commented on #693
looks like method works and firebase responses with error.code
"auth/unknown" / "auth/internal-error"
but i have no idea what's wrong

[2018-01-25 10:53] chrisbianca commented on #693
Following discussion on discord, I'm closing this as it looks like an underlying native SDK issue.
Please let us know if you manage to resolve once speaking with Firebase directly.

[2018-01-25 13:14] goleador0322 opened #781 "_reactNativeFirebase2.default.auth(...).useDeviceLanguage is not a function"
I tried to use useDeviceLanguage function (like firebase.auth().userDeviceLanguage)

but, I got this error.
[code]

how can i fix this :( ?

Podfile.lock
[code]

yarn.lock
[code]

[2018-01-25 13:50] Ehesp commented on #781
Hello, `useDeviceLanguage` is unsupported as there's a bug with the iOS SDK. (Docs need updating!).

For now, I'd recommend using [languageCode](https://rnfirebase.io/docs/v3.2.x/auth/reference/auth#languageCode) and grabbing the language via another lib (e.g https://github.com/rebeccahughes/react-native-device-info)

[2018-01-25 13:55] Ehesp commented on #781
https://github.com/invertase/react-native-firebase-docs/commit/268aff770877c17bd5d815fae9fe541616e2d550

[2018-01-25 13:55] #781 closed

[2018-01-25 13:59] Ehesp commented on #779
Is there any reason you've not upgraded this lib? We're on 3.2.2 now and there's been quite a lot of bug fixes in Firestore in later versions.

[2018-01-25 14:00] Ehesp commented on #685
Please let us know if you've managed to debug and we'll reopen.

[2018-01-25 14:00] #685 closed

[2018-01-25 14:08] goleador0322 commented on #781
@Ehesp
omg, what a fast response !!
Thanks you, I will try to use languageCode

[2018-01-25 14:17] chrisbianca commented on #781
@goleador0322 Also, note that this hasn't yet been released - you'd need to install from the master branch for it to work. We're planning a release sometime in the next week.

[2018-01-25 14:23] goleador0322 commented on #781
@chrisbianca
ok, I understand! For now, I'm using languageCode function 💪
But, I am really looking forward to being able to use useDeviceLanguage 👏

[2018-01-25 14:27] Ehesp commented on #781
`languageCode` is on master (pending release), `useDeviceLanguage` won't be available until Firebase fix an issue with iOS.

[2018-01-25 14:29] goleador0322 commented on #781
sorry for my poor English.... 😢
I could understand completely. I will use languageCode 🥇

[2018-01-25 16:03] Dezainer commented on #779
Omg, i feel so silly haha. Thank you for your time, after an upgrade and a rebuild it's working perfectly! Again, thank you so much!

[2018-01-25 16:03] #779 closed

[2018-01-25 16:24] Ehesp commented on #759
Please let us know if you're still having issues.

[2018-01-25 16:24] #759 closed

[2018-01-25 17:41] FakhruddinAbdi commented on #614
@jwrubel i have updated my pod and installed it again.
@arcesoj i have commented out `use_frameworks` line from pod file
@ chris-rowe i have reseted configs from ios simulator
@Ehesp Im sure i have linked using `react-native link`

my rnFirebase version is "3.2.0"
pod version is "1.4.0"

Im using expo starter kit for my project.

WHY IM STILL GETTING THIS ERROR ????

[2018-01-25 18:14] chrisbianca commented on #614
@FakhruddinAbdi try bumping to 3.2.2, there were some header fixes which might help

[2018-01-25 18:21] FakhruddinAbdi commented on #614
I did @chrisbianca but still im getting the error :(

[2018-01-26 09:38] chrisbianca commented on #736
@tirrorex What changes did you need to make? Have you tried with v3.2.2?

[2018-01-26 09:38] chrisbianca commented on #732
Closing this as the conversation has gone stale. Please re-open if there are still issues.

[2018-01-26 09:38] #732 closed

[2018-01-26 09:40] chrisbianca commented on #704
@fdnhkj This will be fixed in the next release. You'll be able to do:

[code]

[2018-01-26 09:40] #704 closed

[2018-01-26 09:51] chrisbianca commented on #736
Agreed, we've wasted many a day trying to get the header and framework search paths working as reliably as possible across the vast number of ways that people can be using the library!

We're better than we were by a long way, but there's still a few edge cases.

I'm going to close this issue as I think some of this has gone away.

@tirrorex Please feel free to submit a PR or let me know what you

[2018-01-26 09:51] #736 closed

[2018-01-26 09:56] chrisbianca commented on #728
Closing in favour of #719

[2018-01-26 09:56] #728 closed

[2018-01-26 09:58] chrisbianca commented on #613
Closing as a Firebase issue.
There is a fix for the options issue in our next release.

[2018-01-26 09:58] #613 closed

[2018-01-26 09:58] chrisbianca commented on #599
See: https://github.com/invertase/react-native-firebase/pull/771

[2018-01-26 09:58] #599 closed

[2018-01-26 09:59] chrisbianca commented on #654
This will be released in our next version, either v3.2.3 or v3.3.0

[2018-01-26 09:59] #654 closed

[2018-01-26 10:00] chrisbianca commented on #780
@AndreaStevanato Can you try v3.2.2 and see if this helps? There were some changes to the header search paths which might resolve your issue.

[2018-01-26 11:07] chrisbianca commented on #682
I've just gone through and:

1) Setup a clean project using `react-native init`
2) Followed the installation instructions for `react-native firebase` including `react-native link`
3) Added `console.log('Firebase: ', firebase.app());`

And got the following:

`Firebase:  FirebaseApp {_name: "[DEFAULT]", _namespaces: {…}, _options: {…}, _initialized: true, _nativeInitialized: true, …}`

Everything w

[2018-01-26 11:07] #682 closed

[2018-01-26 11:11] chrisbianca commented on #719
@callagga Are you able to try the latest version of the Firebase pods (v4.8.1)?

There was a note in their release notes (https://firebase.google.com/support/release-notes/ios#4.8.1):

[code]

[2018-01-26 11:51] AndreaStevanato commented on #780
I've resolved unlinking `RNFirebase`
 and adding these two lines on Podfile:
[code]

[2018-01-26 11:51] #780 closed

[2018-01-26 11:56] chrisbianca commented on #679
@brunolemos Both these issues are now fixed and will be part of our next release. Either v3.2.3 or v3.3.0.

[2018-01-26 11:56] #679 closed

[2018-01-26 12:16] danielw93 commented on #774
What works for me is to first instantiate a firebase object (for example in an injection container like TSDI) `const firebase = new FireBase()`.
And then use the modules on that instance like `firebase.auth()`, `firebase.links()`, etc.
I always assumed that was intended behavior 😅

[2018-01-26 12:27] lucasmathioni opened #782 "No timeout in Firestore persist whitout internet."
When trying to update a doc in the firestore, when the device is without internet, there is no timeout or return, but in auth there is an exception (auth / unknown).
How do I get the firestore to return something like this?

Application Target Platform: Ios/Android
Development Operating System: Windows 10
React Native version: 0.50.3
RNFirebase Version: 3.1.0
Firebase Module: Firestore

[2018-01-26 12:44] IljaDaderko commented on #774
@danielw93 That did the trick for me, but docs show implementation that is more concise with web sdk: https://rnfirebase.io/docs/v3.2.x/installation/javascript in my opinion this is more friendly to web devs coming into react-native-firebase.

[2018-01-26 13:59] krystofcelba commented on #595
👍 for https://github.com/evollu/react-native-fcm , I don't think that code for local notifications on android is issue as react-native-firebase has implemented them too. I use react-native-fcm in app with react-native-navigation and it works like a charm. @Nitroman605

[2018-01-26 14:52] K0ff33 commented on #775
Unfortunately I'm not a mobile app developer but I'm doing my best in trying to debug the issue.

Some of my thoughts:
`firebase.storage().refFromURL("gs://my-custom-bucket/path-to.file")` can't be used to retrieve files from different bucket as the implementation in the Firebase SDK does not allow to pass a different bucket than the one in the current instance: [link to iOS SDK source code](https

[2018-01-26 17:11] brunolemos commented on #679
Awesome, thank you :)

[2018-01-26 17:25] lucasfernandes commented on #557
Hey guys, sorry reopening this thread, but I've made the steps 1 and 2 to enable silent notifications, but my react native app is crashing asking for configure the URL link is need for recaptcha mode. when I configure this url, everything runs fine, but in the middle of the process, firebase still opening the Verifying If you're not a robot.

I definitely need help with that...

[2018-01-26 19:23] kevboh commented on #568
I also just ran into this. I wish the "create an index" prompts + url would log as errors to the console like firebase admin does.

[2018-01-26 19:43] rtman commented on #568
If someone has the time please upload a sample for them to reproduce this issue, it's clearly a thing as it's happening to so many people. I'll try to get it done eventual, just busy right now.

[2018-01-26 19:48] Cawfree commented on #568
I'm still getting this issue for any query that uses `where` or `orderBy` in onSnapshot. Applying indexing on any field doesn't make any difference whatsoever. However, using a conventional `get()` request works just fine.

[2018-01-26 19:58] RileyDavidson-Evans commented on #568
@Cawfree Can you please post a code snippet of the snapshot query ?

[2018-01-26 20:04] Cawfree commented on #568
@RileyDavidson-Evans

Hey, here's an example:

`firebase.firestore().collection('table').where('deleted', '==', false).where('ready', '==', true).where('score', '>', 30)`

Just for total clarity, the `table` collection contains documents that have the fields `deleted`, `ready` and `score`, of types `boolean`, `boolean`, `integer` respectively.

I've tried setting up combinations of all kind of mec

[2018-01-26 20:05] rtman commented on #568
@RileyDavidson-Evans composite index also didn't work for me as discussed earlier in the thread

[2018-01-26 21:16] petermiles commented on #782
Are you enabling offline persistence?

More info here: https://firebase.google.com/docs/firestore/manage-data/enable-offline

[2018-01-26 23:14] gvillenave opened #785 "File upload to storage on Android doesn't return correct name metadata"
This might very well be an issue with the underlying Android SDK, but I'm starting here just to make sure.

When uploading a file to storage, the resolved file object contains metadata such as the name and bucket of the file. However, what I found was that on Android the `name` property only contains the file name, as opposed to the full path within the bucket. Example:
[code]
The above prints out

[2018-01-27 01:23] Salakar commented on #785
@gvillenave can confirm that this is a firebase iOS SDK issue, the correct behaviour should be returning just the name without path according to the firebase web & android sdk's - `fullPath`/`getPath` already provides the path with file name.

**iOS SDK** usage in **RNFirebase**: https://github.com/invertase/react-native-firebase/blob/master/ios/RNFirebase/storage/RNFirebaseStorage.m#L362

**Andro

[2018-01-27 04:32] esutton commented on #627
+1 Same issue on iOS. FirebaseCore/FirebaseCore.h not found

Install from latest did not help:
[code]

[2018-01-27 12:43] camel113 commented on #313
@abuammar /ios/your-app/GoogleService-Info.plist

[2018-01-27 18:08] gaffneyk commented on #614
@FakhruddinAbdi ensure your syntax is correct when importing and configuring the Firebase module in AppDelegate.m. I got this error due to a missing semicolon. I fixed that, then reset content and settings on the simulator and ran the app without errors.

[2018-01-27 18:14] FakhruddinAbdi commented on #614
Thanks @gaffneyk , i just remembered to mention that i don't have AppDelegate.m when i setup ios project using xcode. Instead it has created AppDelegate.swift.
When i added the codes there, it give me an error and i had to remove them.

[2018-01-27 18:25] FakhruddinAbdi commented on #614
@chrisbianca could you please let me know if i should follow same instruction in  AppDelegate.swift as the one wrote for AppDelegate.m in the README.md ?

[How does AppDelegate.swift replace AppDelegate.h and AppDelegate.m in Xcode 6.3](https://stackoverflow.com/questions/30388064/how-does-appdelegate-swift-replace-appdelegate-h-and-appdelegate-m-in-xcode-6-3)

[2018-01-27 20:10] meyer commented on #774
`firestore` also seems to be missing from type defs. I tried the `new Firebase` approach that @danielw93 suggested but got errors saying that `Firebase` is not a constructor. I’ve resorted to commonjs imports to skip type checking, which is definitely less than ideal:

[code]

@pheromonez let me know if there’s anything I can do to help with fixing type definitions.

I dug around a bit to see if I

[2018-01-28 08:01] FakhruddinAbdi commented on #614
here is my AppDelegate.swift

    import UIKit
    import CoreData
    import Firebase

     @UIApplicationMain
      class AppDelegate: UIResponder, UIApplicationDelegate {

    var window: UIWindow?

    func application(_ application: UIApplication, didFinishLaunchingWithOptions launchOptions: [UIApplicationLaunchOptionsKey: Any]?) -> Bool {
        // Override point for customization after app

[2018-01-28 10:06] bnap00 opened #786 "Problem creating new blank react native application after using RNFirebase"
### Issue
I was happy using RNFirebase. But when I tried to create new project, The problem I am facing is it is giving me RNFirebase error even if I have not added any other library with it.
I tried creating by 2 methods
`react-native init <projectname>` and `create-react-native-app my-project`
![whatsapp image 2018-01-28 at 3 27 57 pm](https://user-images.githubusercontent.com/10740210/35480999-

[2018-01-28 10:09] #786 closed

[2018-01-28 15:55] esutton commented on #627
Solved.

- Make sure your pods are updated and installed.
- Fix any pods errors.  I had a missing target target 'MyAppTests'.  Once I removed, all was  good.

Using:
[code]

My podfile is using:
[code]
One of these commands help fix the 'FirebaseCore.h' not found.
[code]

[2018-01-28 17:33] Ehesp commented on #774
@meyer there's currently a PR for Firestore

[2018-01-29 04:30] atchuthsai468 opened #787 "goes to first page after uploading image"
If i upload an image from gallery it
picking photos from gallery or taking a photo from camera  Redirecting to Homepage(without showing any error)

i'm using react-native-image-picker module
i tried to store image in firebase database

React Native version: 0.46.4
Platform: both
Development Operating System: MacOS,
Dev tools:Android Studio navigation crash for Android

[2018-01-29 05:46] pheromonez commented on #774
@Ehesp I've submitted a PR to improve the TS definitions. While going through the JS code I noticed that there's a `utils` package which is undocumented on https://rnfirebase.io/. Is this package intended for internal use only?

@meyer Thanks for the offer to help. This fix was fairly small, so I've been able to complete it, but there are a couple of modules that currently don't have any TS defini

[2018-01-29 08:31] chrisbianca commented on #787
@atchuthsai468 This doesn't seem to be react-native-firebase specific. If you can identify an error from your native logs which shows that this is being caused by this library then please re-open with details.

[2018-01-29 08:31] #787 closed

[2018-01-29 09:38] Ehesp commented on #774
@pheromonez yeah the `utils` directory is used for things like internal event emitters, common helpers and the like and isn't designed for public consumption.

[2018-01-29 09:52] IljaDaderko opened #789 "[Question] making email verification / password-reset links a dynamic links"
Hey guys, this is more of a question rather than an issue, I hope this doesn't pollute the issue list, but thought it would be good for future searches.

You have this section in your documentation: https://rnfirebase.io/docs/v3.2.x/auth/reference/ActionCodeSettings

This was mentioned in
https://rnfirebase.io/docs/v3.2.x/auth/reference/User#sendEmailVerification

Am I correct assuming that assumi

[2018-01-29 19:16] JonnyLinja opened #790 "Crashlytics for Android are all bunched under io.invertase.firebase.fabric.crashlytics.RNFirebaseCrashlytics.recordError"
### Issue

Crashlytics for Android are all bunched under io.invertase.firebase.fabric.crashlytics.RNFirebaseCrashlytics.recordError.

![image](https://user-images.githubusercontent.com/684861/35529372-da2b8f1e-04fe-11e8-9fd4-f0bade03ba3d.png)

### Expectation

It should split them up properly by error type and error code in the manner that iOS does it. Note that as it's React Native, the implement

[2018-01-29 20:52] escobar5 opened #791 "[Firebase Storage]: ref.getMetadata doesn't return property downloadURLs on iOS. returns relative url on Android"
### Issue

On iOS the getMetadata() object doesn't have the property downloadURLs

[Firebase docs](https://firebase.google.com/docs/reference/ios/firebasestorage/api/reference/Classes/FIRStorageMetadata#/c:objc(cs)FIRStorageMetadata(py)downloadURLs)

On Android it does return the property, but the url is relative (eg. /images/img.png)

I've tried getting the metadata using firebase's web sdk and i

[2018-01-30 03:50] atchuthsai468 opened #793 "crashing issue after uploading image from gallery or take photo from camera in firebase database"
photos from gallery or taking a photo from camera restarts the app without showing any error and redirecting to first page

[2018-01-30 05:26] Cawfree commented on #568
I might be wrong, but something I've noticed that seems to have an effect is the _order_ of the indexed fields defined on a manually created `index` on Firebase. i.e.

`firebase.firestore().collection('collection').where('user', '==', userId).orderBy('created', 'desc')`

Requires the corresponding index:
![index](https://imgur.com/a/4IgFt "Logo Title Text 1")

If the index on Firebase does not mat

[2018-01-30 06:06] pravinraut809 opened #794 "Firebase file is not there which contains the path ./../firebase"
### Issue

### Environment

1. Application Target Platform:

2. Development Operating System:

3. Build Tools:

4. React Native version:

5. RNFirebase Version:

6. Firebase Module:

[2018-01-30 06:11] hkxicor opened #795 "Firebase not working on Oneplus 5t Android 8.0"
### Issue
Firebase database not fetching data on Oneplus 5t Android 8.0
### Environment

1. Application Target Platform: Android 8.0

2. Development Operating System: Mac OS

3. Build Tools: buildToolVersion 26.0.1

4. React Native version:  0.49.5

5. RNFirebase Version: 3.1.0

6. Firebase Module: database

[2018-01-30 07:22] Ehesp commented on #793
Please follow the issue template.

[2018-01-30 07:22] #793 closed

[2018-01-30 07:26] Salakar commented on #795
@hkxicor this is most likely down to an out of date Google Play Services installation, try update it

[2018-01-30 07:26] Ehesp commented on #794
Please follow the issue template.

[2018-01-30 07:26] #794 closed

[2018-01-30 07:29] Ehesp commented on #774
Closing in favour of https://github.com/invertase/react-native-firebase/pull/788

[2018-01-30 07:29] #774 closed

[2018-01-30 07:37] IljaDaderko commented on #789
Closing as I was able to find: https://firebase.google.com/docs/auth/web/passing-state-in-email-actions which outlines exactly what I was asking here.

[2018-01-30 07:37] #789 closed

[2018-01-30 07:46] hkxicor commented on #795
@Salakar will update hare after updating **GooglePlayService** version

[2018-01-30 11:10] weerakkodylr commented on #725
Outside the MainApplication Class, there is another method as 'getPackages()'. You should add the additional packages there if you require them.

It solved the Issue for me.
I hope this helps.
[code]

[2018-01-30 13:50] weerakkodylr opened #797 "Returned records shows in reverse order even after using 'orderByKey()' and even with 'limitToFirst()'"
### Issue

I'm developing a game with React Native & Firebase. I have changed the setup today to use React-Native-Firebase instead of Firebase for Web.
`import firebase from 'react-native-firebase'`

After the changes I have noticed that data are displaying in reverse order.

e.g. `const tournamentsData = firebase.database().ref('/Game/Tournaments')`
which earlier retrieved the tournaments array a

[2018-01-30 14:53] yuoppp commented on #360
The problem is up in RN 0.52.2
I'll try to figure out what's happening out there

[2018-01-30 15:39] yuoppp commented on #360
[code]

The first log message is error, that tells us that FirebaseApp is not initialized. And the last log is initializing of Firebaseapp.

Firebaseapp initializing too late: 10 seconds after it was attempted to use

[2018-01-31 01:38] hegelstad commented on #737
@Mamdouh-Symbyo where do I upload the certificates?

[2018-01-31 07:01] atchuthsai468 opened #798 "crashing issue after uploading image from gallery or take photo from camera in firebase database"
photos from gallery or taking a photo from camera restarts the app without showing any error and redirecting to first page

I'm using react-native-image-picker module i tried to store image in firebase database

[2018-01-31 07:13] atchuthsai468 commented on #793
i didn't understand what you are telling @Ehesp

[2018-01-31 07:20] Ehesp commented on #798
There is a template to follow when you create your issue on GitHub. It allows us to help you by knowing which versions are in use, any helpful files etc.

We cannot help with no information, especially even an error. Please edit this issue with the information and I'll reopen.

[2018-01-31 07:20] #798 closed

[2018-01-31 07:22] Ehesp commented on #797
Hello thanks for the report. Could we see your code usage around making the database call.

[2018-01-31 07:25] atchuthsai468 commented on #798
If i upload an image from gallery it Redirecting to Homepage
picking photos from gallery restarts the app without showing any error, taking a photo from camera works fine.

i'm using react-native-image-picker module
i tried to store image in firebase database

React Native version: 0.46.4
Platform: both
Development Operating System: MacOS,
Dev tools:Android Studio navigation crash for Android
i go

[2018-01-31 08:27] chrisbianca commented on #798
There's nothing in that error log that suggests this is a problem with RNFirebase.

[2018-01-31 09:28] weerakkodylr commented on #797
Hi Ehesp,

Please find it below.
let me know if you need further information.
[code]

[2018-01-31 09:31] Ehesp commented on #797
@weerakkodylr how are you iterating over the returned payload out of interest? Firebase doesn't always give the data back in the order it is stored - a `snapshot.forEach` method is available to do this... Are you using it?

[2018-01-31 10:27] atchuthsai468 commented on #798
how to fix that problem @chrisbianca

[2018-01-31 10:29] yuoppp commented on #360
Okay. I don't know what was the problem.

Solved by:
1. completely removed all react-native-firebase references in **android/** folder: manualy unlinked the project, remove 'apply plugin' at the bottom of android/app/build.gradle file, removed gms dependency in android/build.gradle.
2. npm uninstall --save react-native-firebase
3. cd android && ./gradlew clean

Then installed the latest version as

[2018-01-31 10:39] FacuAcosta commented on #758
Why is this closed? I'm having the same issue and I'm not even using `react-native-google-signin`. When adding `pod Firebase/Firestore` it automatically adds all the gPRC pods, breaking the whole app.

[2018-01-31 11:14] danmatthews commented on #758
@FacuAcosta are you using an Ejected Expo app? (ExpoKit), or just plain `react-native`?

My problem was that ExpoKit's pods require the google sign in Pod, so it causes the same problem.

[2018-01-31 11:19] FacuAcosta commented on #758
@danmatthews That's the weird thing, I'm using a plain `react-native init` app, everything was perfectly working until I installed the Firestore Pod. If I clean the project and then I build it, it succeeds, but cleaning it gets rid of all those files and the Firestore module no longer works...

[2018-01-31 11:24] danmatthews commented on #758
Have you had a look in your `Podfile.lock` file? That's the only way i knew that the Google Signin Pod was being required in my project.

If it's not that, it could be the same problem but with another pod with those extra header search paths causing a problem.

And cleaning your project shouldn't clear away the required firebase/firestore libraries, it sounds like something else might be going on

[2018-01-31 11:31] FacuAcosta commented on #758
@danmatthews My `Podfile.lock` looks like this before adding Firestore, as long as I can see, there is no sign of gRPC or Google Signin at all. I've tried a million things, none of them seems to work and I really need this.

`PODS:
  - Bolts (1.9.0):
    - Bolts/AppLinks (= 1.9.0)
    - Bolts/Tasks (= 1.9.0)
  - Bolts/AppLinks (1.9.0):
    - Bolts/Tasks
  - Bolts/Tasks (1.9.0)
  - FBSDKCoreKit (4.

[2018-01-31 11:52] thedc89 opened #799 "putFile to Storage: Keep getting 'filePath replace is not a function"
I try baisc putFile with image taken with camera:

[code]

I keep getting the following message in simulator

I failed to find any similar issue here.
I'm quite new to react native as well, so maybe the problem lies elsewhere?

### Environment

1. Application Target Platform:
iOS

2. Development Operating System:
Mac OS High Sierra

3. Build Tools:
command line
XCode

4. React Native version:
reac

[2018-01-31 11:59] Salakar commented on #799
@thedc89 putFile expects a string of the full filePath as the first argument - you're sending it an object.

[2018-01-31 11:59] #799 closed

[2018-01-31 12:12] thedc89 commented on #799
Thank you, in fact adding uri to filePath solved the issue
`imageRef.putFile(filePath.uri)`

[2018-01-31 12:20] chrisbianca commented on #767
We need more information to be able to help with this further.  Please re-open with the information requested.

[2018-01-31 12:20] #767 closed

[2018-01-31 12:20] chrisbianca commented on #772
Closing due to lack of response. Please re-open with the information requested if it's still an issue.

[2018-01-31 12:20] #772 closed

[2018-01-31 12:21] chrisbianca commented on #661
I'm going to close this off, assuming as fixed by the latest firebase iOS SDK release. Please re-open if this isn't the case.

[2018-01-31 12:21] #661 closed

[2018-01-31 14:11] thedc89 opened #800 "Push() to database does not work"
When I run the following line with regular firebase library under react native

```firebase.database().ref(`/users/${email}`).push({ city, address, fileName });```

it works fine. When I use react-native-firebase instead it does nothing, database remains empty.

Is there any syntax change in react-native-firebase I am not aware of that changes how the `push()` method works?

I browsed other issues

[2018-01-31 14:24] #800 closed

[2018-01-31 16:12] weerakkodylr commented on #797
@Ehesp , thanks for looking in to this.

Actually Firebase does return the data in the same order always (for me). The time I spent with firebase DB (past 6 months with web version in React Native) and this ordering issue didn't happen even a single time. firebase for Web always return the order I requested in the query and I didn't want to do additional ordering in the app.

And the other thing i

[2018-01-31 17:31] JxianMa opened #801 "Anonymous login method error on Android"
### Issue

Anonymous login method:
[code]
on Android is returning an error `No async scheduler available`, working fine on iOS.

### Environment

1. Application Target Platform:
Android

2. Development Operating System:
macOS Sierra

3. Build Tools:
Android Studio v3.0.1, Android SDK 23.0.1

4. React Native version:
0.52.1

5. RNFirebase Version:
3.2.2

6. Firebase Module:
auth

[2018-01-31 17:38] Salakar commented on #801
@JxianMa This error sounds like it's coming from bluebird, which I guess it means signInAnonymously is throwing some error - you need to add a .catch() otherwise it's an uncaught exception - and then handle the exception - if it's a new firebase project then i'm guessing it's most likely anonymous auth has not been enabled on the firebase console.

[2018-01-31 17:38] #801 closed

[2018-01-31 17:52] adcuz commented on #758
What do your header search paths look like on the RNFirebase library? I have a detached ExpoKit project and was having the same issue up until a few minutes ago when I changed the order of the search paths to put the Pods headers after the Firebase specific entry:

![image](https://user-images.githubusercontent.com/244424/35638615-796d7b8a-06af-11e8-9483-70dd1ab3b21d.png)

[2018-01-31 19:52] JxianMa commented on #801
@Salakar Anonymous auth was enabled, I was actually following the documentation here: https://rnfirebase.io/docs/v3.2.x/auth/getting-started, but still get the same error after catch the error after signInAnonymously function

[2018-01-31 20:28] JxianMa commented on #801
Turns out to be related to React Native debugger. If I leave the debugger open, this error will gone.

[2018-01-31 20:36] Salakar commented on #801
Are you using bluebird or some other promise library in your browser project? If something only works in debugger then generally means there's a lib being used somewhere that's not compatible with RN js environment, e.g. window/document usages will only work in a browser, in this case the debugger

[2018-01-31 21:34] danmatthews commented on #758
Typical - i'm getting this error now, again, after having no problems since i last mentioned it.

Same compile errors as before - conflicting types etc. Works in debug, but not in release.

I'm using the invertase fork of the google sign-in (which resolved the issue before). Will try and soldier on and see if it's something strange like an NPM caching bug or something.

[2018-02-01 02:11] dannycochran commented on #780
Had the same issue and adding "ios" to the path worked for me:

[code]

[2018-02-01 03:54] atchuthsai468 opened #802 "crashing issue after uploading image from gallery or take photo from camera in firebase database"
case 1 :   while running(Very first time) the react native android application in android studio it throws an error

case 2 : If i upload an image from gallery it Redirecting to Homepage
picking photos from gallery or taking a photo from camera without showing any error and restarts the app

i'm using react-native-image-picker module
i tried to store image in firebase database

->React Native vers

[2018-02-01 10:32] StepanNaryshkov commented on #766
I have the same problem on ios (

[2018-02-01 14:11] IljaDaderko opened #805 "[3.2.4 update] RNFirebase core module was not found natively on ios"
### Issue

Updated to v 3.2.4 now getting red screen error

Not sure why, Pods for firebase are clearly installed, even went in updated and installed them again just to be sure. Pod file looks like this

[code]

Attempded various things to fix this and non worked:

1) removed node modules and package lock file, re-installed them
2) updated and nstalled pods
3) cleaned xCode project
4) reset simula

[2018-02-01 14:14] chrisbianca commented on #805
@IljaDaderko which version were you updating from? Can you show the code you're using which triggers this error?

[2018-02-01 14:17] IljaDaderko commented on #805
@chrisbianca sure thing.

Previous version is: `3.2.3`

This is triggered when I spin up my app instantly, so I would assume as soon as I include firebase. My current firebase set up is very simple

[code]

auth is latter on used for fb login, but since I can't get to that screen due to error, I don't think it is affecting anything, but just for good measuere here is fb login

[code]

[2018-02-01 14:22] chrisbianca commented on #805
And it was definitely working on v3.2.3?

Makes no sense if so as the only thing that's changed between the two versions was to fix a mis-spelling of the admob module which was causing similar errors.  And add a few types, but that won't affect anything code wise.

[2018-02-01 14:24] IljaDaderko commented on #805
@chrisbianca could you point me to peace of code that throws this error? I will look around it to see if I can figure this out. There is a chance it could've been `3.2.2` as I updated it recently and couldv'e been in the middle of simulation so still using `3.2.2` and thinking `3.2.3` update was successfull

[2018-02-01 14:27] chrisbianca commented on #805
It's the first line of the `constructor` in `lib/modules/firebase.js`:
[code]

[2018-02-01 14:39] IljaDaderko commented on #805
This is so strange, I mean it should be configured according to this right?

1) Pods installed
![pods](https://i.imgur.com/ot5U8cA.png)

2) Firebase included in AppDelegate.m
![app](https://i.imgur.com/m7b8Y8K.png)

And I ran `react-native link` again says everything is linked

[2018-02-01 14:45] IsracardTeam opened #806 "'dynamic_link_received' with no listeners registered"
I am Testing out Dynamic links .
Sometime i get this warning that says "Sending `dynamic_link_receivedz with no listeners registered`

This logs the message object correctly:

Firebase is initialized in my Root container. (this problem happens almost every time on the first install.

[code]
looks like firebase is initialized late.

any ideas ?

react-native: 0.51.0
yarn: v1.2.1
react-native-fireba

[2018-02-01 14:47] IljaDaderko commented on #805
@chrisbianca not sure if this is much help, but it runs fine on Android, so deff something pod related

[2018-02-01 14:59] IljaDaderko commented on #805
just importing `import firebase from "react-native-firebase";` works fine, it errors as soon as I introduce something like `firebase.auth`

[2018-02-01 15:14] IljaDaderko commented on #805
@chrisbianca only related change I can see from releases is https://github.com/invertase/react-native-firebase/compare/v3.2.3...master#diff-9ff5c11117635893f8e65ed5da08a815

Mentions native modules / constructors etc.. but its for admob which I don't even use. I will try setting this up with fresh react native project tomorrow and see if issue still persists

[2018-02-01 16:17] thedc89 opened #807 "Can't build release iOS version - error: linker command failed with exit code 1"
I'm struggling really hard with building the app under release schema in Xcode. Finally, the last error that occurs looks as follows:

http://i65.tinypic.com/35cisn9.png

[code]

I suspect this issue might come from Firebase. Has anyone here encountered such issue?

Note that it does not occur when in debug mode.

### Environment

Application Target Platform:
iOS

Development Operating System:
Mac

[2018-02-01 16:50] andr3a88 commented on #780
Example project here: [https://github.com/andr3a88/RNFirebaseMaps](https://github.com/andr3a88/RNFirebaseMaps)

[2018-02-01 19:26] IljaDaderko commented on #805
After a lot of fiddling I solved this one. There is a folder named `Recovered Refferences` that is auto generated by XCode apparently, for some odd reason when I ulled my project fresh it did not appear in XCode, this is where facebook sdk and react native firebase refferences were stored.

After I got home and opened it on another machine it was there and working, so I remoevd repository complete